       SUBROUTINE W2_E2SETUP                       
                                                  
C      Tile toplogy settings data structures      
#include "W2_EXCH2_TOPOLOGY.h"
                                                  
C      Tile settings table                        
       CALL W2_E2SETUP_1
       CALL W2_E2SETUP_2
       CALL W2_E2SETUP_3
       CALL W2_E2SETUP_4
       CALL W2_E2SETUP_5
       CALL W2_E2SETUP_6
       CALL W2_E2SETUP_7
       CALL W2_E2SETUP_8
       CALL W2_E2SETUP_9
       CALL W2_E2SETUP_10
       CALL W2_E2SETUP_11
       CALL W2_E2SETUP_12
       CALL W2_E2SETUP_13
       CALL W2_E2SETUP_14
       CALL W2_E2SETUP_15
       CALL W2_E2SETUP_16
       CALL W2_E2SETUP_17
       CALL W2_E2SETUP_18
       CALL W2_E2SETUP_19
       CALL W2_E2SETUP_20
       CALL W2_E2SETUP_21
       CALL W2_E2SETUP_22
       CALL W2_E2SETUP_23
       CALL W2_E2SETUP_24
       CALL W2_E2SETUP_25
       CALL W2_E2SETUP_26
       CALL W2_E2SETUP_27
       CALL W2_E2SETUP_28
       CALL W2_E2SETUP_29
       CALL W2_E2SETUP_30
       CALL W2_E2SETUP_31
       CALL W2_E2SETUP_32
       CALL W2_E2SETUP_33
       CALL W2_E2SETUP_34
       CALL W2_E2SETUP_35
       CALL W2_E2SETUP_36
       CALL W2_E2SETUP_37
       CALL W2_E2SETUP_38
       CALL W2_E2SETUP_39
       CALL W2_E2SETUP_40
       CALL W2_E2SETUP_41
       CALL W2_E2SETUP_42
       CALL W2_E2SETUP_43
       CALL W2_E2SETUP_44
       CALL W2_E2SETUP_45
       CALL W2_E2SETUP_46
       CALL W2_E2SETUP_47
       CALL W2_E2SETUP_48
       CALL W2_E2SETUP_49
       CALL W2_E2SETUP_50
       CALL W2_E2SETUP_51
       CALL W2_E2SETUP_52
       CALL W2_E2SETUP_53
       CALL W2_E2SETUP_54
       CALL W2_E2SETUP_55
       CALL W2_E2SETUP_56
       CALL W2_E2SETUP_57
       CALL W2_E2SETUP_58
       CALL W2_E2SETUP_59
       CALL W2_E2SETUP_60
       CALL W2_E2SETUP_61
       CALL W2_E2SETUP_62
       CALL W2_E2SETUP_63
       CALL W2_E2SETUP_64
       CALL W2_E2SETUP_65
       CALL W2_E2SETUP_66
       CALL W2_E2SETUP_67
       CALL W2_E2SETUP_68
       CALL W2_E2SETUP_69
       CALL W2_E2SETUP_70
       CALL W2_E2SETUP_71
       CALL W2_E2SETUP_72
       CALL W2_E2SETUP_73
       CALL W2_E2SETUP_74
       CALL W2_E2SETUP_75
       CALL W2_E2SETUP_76
       CALL W2_E2SETUP_77
       CALL W2_E2SETUP_78
       CALL W2_E2SETUP_79
       CALL W2_E2SETUP_80
       CALL W2_E2SETUP_81
       CALL W2_E2SETUP_82
       CALL W2_E2SETUP_83
       CALL W2_E2SETUP_84
       CALL W2_E2SETUP_85
       CALL W2_E2SETUP_86
       CALL W2_E2SETUP_87
       CALL W2_E2SETUP_88
       CALL W2_E2SETUP_89
       CALL W2_E2SETUP_90
       CALL W2_E2SETUP_91
       CALL W2_E2SETUP_92
       CALL W2_E2SETUP_93
       CALL W2_E2SETUP_94
       CALL W2_E2SETUP_95
       CALL W2_E2SETUP_96
       CALL W2_E2SETUP_97
       CALL W2_E2SETUP_98
       CALL W2_E2SETUP_99
       CALL W2_E2SETUP_100
       CALL W2_E2SETUP_101
       CALL W2_E2SETUP_102
       CALL W2_E2SETUP_103
       CALL W2_E2SETUP_104
       CALL W2_E2SETUP_105
       CALL W2_E2SETUP_106
       CALL W2_E2SETUP_107
       CALL W2_E2SETUP_108
       CALL W2_E2SETUP_109
       CALL W2_E2SETUP_110
       CALL W2_E2SETUP_111
       CALL W2_E2SETUP_112
       CALL W2_E2SETUP_113
       CALL W2_E2SETUP_114
       CALL W2_E2SETUP_115
       CALL W2_E2SETUP_116
       CALL W2_E2SETUP_117
       CALL W2_E2SETUP_118
       CALL W2_E2SETUP_119
       CALL W2_E2SETUP_120
       CALL W2_E2SETUP_121
       CALL W2_E2SETUP_122
       CALL W2_E2SETUP_123
       CALL W2_E2SETUP_124
       CALL W2_E2SETUP_125
       CALL W2_E2SETUP_126
       CALL W2_E2SETUP_127
       CALL W2_E2SETUP_128
       CALL W2_E2SETUP_129
       CALL W2_E2SETUP_130
       CALL W2_E2SETUP_131
       CALL W2_E2SETUP_132
       CALL W2_E2SETUP_133
       CALL W2_E2SETUP_134
       CALL W2_E2SETUP_135
       CALL W2_E2SETUP_136
       CALL W2_E2SETUP_137
       CALL W2_E2SETUP_138
       CALL W2_E2SETUP_139
       CALL W2_E2SETUP_140
       CALL W2_E2SETUP_141
       CALL W2_E2SETUP_142
       CALL W2_E2SETUP_143
       CALL W2_E2SETUP_144
       CALL W2_E2SETUP_145
       CALL W2_E2SETUP_146
       CALL W2_E2SETUP_147
       CALL W2_E2SETUP_148
       CALL W2_E2SETUP_149
       CALL W2_E2SETUP_150
       CALL W2_E2SETUP_151
       CALL W2_E2SETUP_152
       CALL W2_E2SETUP_153
       CALL W2_E2SETUP_154
       CALL W2_E2SETUP_155
       CALL W2_E2SETUP_156
       CALL W2_E2SETUP_157
       CALL W2_E2SETUP_158
       CALL W2_E2SETUP_159
       CALL W2_E2SETUP_160
       CALL W2_E2SETUP_161
       CALL W2_E2SETUP_162
       CALL W2_E2SETUP_163
       CALL W2_E2SETUP_164
       CALL W2_E2SETUP_165
       CALL W2_E2SETUP_166
       CALL W2_E2SETUP_167
       CALL W2_E2SETUP_168
       CALL W2_E2SETUP_169
       CALL W2_E2SETUP_170
       CALL W2_E2SETUP_171
       CALL W2_E2SETUP_172
       CALL W2_E2SETUP_173
       CALL W2_E2SETUP_174
       CALL W2_E2SETUP_175
       CALL W2_E2SETUP_176
       RETURN
       END
       SUBROUTINE W2_E2SETUP_1
C      Topology for tile 1
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(1)=8
       exch2_tny(1)=4
       exch2_tbasex(1)=0
       exch2_tbasey(1)=0
       exch2_txglobalo(1)=1
       exch2_tyglobalo(1)=1
       exch2_isWedge(1)=1
       exch2_isNedge(1)=0
       exch2_isEedge(1)=0
       exch2_isSedge(1)=1
       exch2_myFace(1)=1
       exch2_mydnx(1)=32
       exch2_mydny(1)=32
       exch2_nNeighbours(1)=4

       exch2_neighbourId(1,1)=5
       exch2_pi(1,1,1)=1
       exch2_pi(2,1,1)=0
       exch2_pj(1,1,1)=0
       exch2_pj(2,1,1)=1
       exch2_oi(1,1)=0
       exch2_oi_f(1,1)=0
       exch2_oj(1,1)=0
       exch2_oj_f(1,1)=0
       exch2_itlo_c(1,1)=0
       exch2_ithi_c(1,1)=9
       exch2_jtlo_c(1,1)=0
       exch2_jthi_c(1,1)=0
       exch2_opposingSend_record(1,1)=2

       exch2_neighbourId(2,1)=173
       exch2_pi(1,2,1)=1
       exch2_pi(2,2,1)=0
       exch2_pj(1,2,1)=0
       exch2_pj(2,2,1)=1
       exch2_oi(2,1)=0
       exch2_oi_f(2,1)=0
       exch2_oj(2,1)=-32
       exch2_oj_f(2,1)=-32
       exch2_itlo_c(2,1)=0
       exch2_ithi_c(2,1)=9
       exch2_jtlo_c(2,1)=5
       exch2_jthi_c(2,1)=5
       exch2_opposingSend_record(2,1)=1

       exch2_neighbourId(3,1)=2
       exch2_pi(1,3,1)=1
       exch2_pi(2,3,1)=0
       exch2_pj(1,3,1)=0
       exch2_pj(2,3,1)=1
       exch2_oi(3,1)=0
       exch2_oi_f(3,1)=0
       exch2_oj(3,1)=0
       exch2_oj_f(3,1)=0
       exch2_itlo_c(3,1)=0
       exch2_ithi_c(3,1)=0
       exch2_jtlo_c(3,1)=0
       exch2_jthi_c(3,1)=5
       exch2_opposingSend_record(3,1)=4

       exch2_neighbourId(4,1)=144
       exch2_pi(1,4,1)=0
       exch2_pi(2,4,1)=1
       exch2_pj(1,4,1)=-1
       exch2_pj(2,4,1)=0
       exch2_oi(4,1)=-32
       exch2_oi_f(4,1)=-32
       exch2_oj(4,1)=33
       exch2_oj_f(4,1)=34
       exch2_itlo_c(4,1)=4
       exch2_ithi_c(4,1)=9
       exch2_jtlo_c(4,1)=5
       exch2_jthi_c(4,1)=5
       exch2_opposingSend_record(4,1)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_2
C      Topology for tile 2
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(2)=8
       exch2_tny(2)=4
       exch2_tbasex(2)=8
       exch2_tbasey(2)=0
       exch2_txglobalo(2)=9
       exch2_tyglobalo(2)=1
       exch2_isWedge(2)=0
       exch2_isNedge(2)=0
       exch2_isEedge(2)=0
       exch2_isSedge(2)=1
       exch2_myFace(2)=1
       exch2_mydnx(2)=32
       exch2_mydny(2)=32
       exch2_nNeighbours(2)=4

       exch2_neighbourId(1,2)=6
       exch2_pi(1,1,2)=1
       exch2_pi(2,1,2)=0
       exch2_pj(1,1,2)=0
       exch2_pj(2,1,2)=1
       exch2_oi(1,2)=0
       exch2_oi_f(1,2)=0
       exch2_oj(1,2)=0
       exch2_oj_f(1,2)=0
       exch2_itlo_c(1,2)=0
       exch2_ithi_c(1,2)=9
       exch2_jtlo_c(1,2)=0
       exch2_jthi_c(1,2)=0
       exch2_opposingSend_record(1,2)=2

       exch2_neighbourId(2,2)=174
       exch2_pi(1,2,2)=1
       exch2_pi(2,2,2)=0
       exch2_pj(1,2,2)=0
       exch2_pj(2,2,2)=1
       exch2_oi(2,2)=0
       exch2_oi_f(2,2)=0
       exch2_oj(2,2)=-32
       exch2_oj_f(2,2)=-32
       exch2_itlo_c(2,2)=0
       exch2_ithi_c(2,2)=9
       exch2_jtlo_c(2,2)=5
       exch2_jthi_c(2,2)=5
       exch2_opposingSend_record(2,2)=1

       exch2_neighbourId(3,2)=3
       exch2_pi(1,3,2)=1
       exch2_pi(2,3,2)=0
       exch2_pj(1,3,2)=0
       exch2_pj(2,3,2)=1
       exch2_oi(3,2)=0
       exch2_oi_f(3,2)=0
       exch2_oj(3,2)=0
       exch2_oj_f(3,2)=0
       exch2_itlo_c(3,2)=0
       exch2_ithi_c(3,2)=0
       exch2_jtlo_c(3,2)=0
       exch2_jthi_c(3,2)=5
       exch2_opposingSend_record(3,2)=4

       exch2_neighbourId(4,2)=1
       exch2_pi(1,4,2)=1
       exch2_pi(2,4,2)=0
       exch2_pj(1,4,2)=0
       exch2_pj(2,4,2)=1
       exch2_oi(4,2)=0
       exch2_oi_f(4,2)=0
       exch2_oj(4,2)=0
       exch2_oj_f(4,2)=0
       exch2_itlo_c(4,2)=9
       exch2_ithi_c(4,2)=9
       exch2_jtlo_c(4,2)=0
       exch2_jthi_c(4,2)=5
       exch2_opposingSend_record(4,2)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_3
C      Topology for tile 3
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(3)=8
       exch2_tny(3)=4
       exch2_tbasex(3)=16
       exch2_tbasey(3)=0
       exch2_txglobalo(3)=17
       exch2_tyglobalo(3)=1
       exch2_isWedge(3)=0
       exch2_isNedge(3)=0
       exch2_isEedge(3)=0
       exch2_isSedge(3)=1
       exch2_myFace(3)=1
       exch2_mydnx(3)=32
       exch2_mydny(3)=32
       exch2_nNeighbours(3)=4

       exch2_neighbourId(1,3)=7
       exch2_pi(1,1,3)=1
       exch2_pi(2,1,3)=0
       exch2_pj(1,1,3)=0
       exch2_pj(2,1,3)=1
       exch2_oi(1,3)=0
       exch2_oi_f(1,3)=0
       exch2_oj(1,3)=0
       exch2_oj_f(1,3)=0
       exch2_itlo_c(1,3)=0
       exch2_ithi_c(1,3)=9
       exch2_jtlo_c(1,3)=0
       exch2_jthi_c(1,3)=0
       exch2_opposingSend_record(1,3)=2

       exch2_neighbourId(2,3)=175
       exch2_pi(1,2,3)=1
       exch2_pi(2,2,3)=0
       exch2_pj(1,2,3)=0
       exch2_pj(2,2,3)=1
       exch2_oi(2,3)=0
       exch2_oi_f(2,3)=0
       exch2_oj(2,3)=-32
       exch2_oj_f(2,3)=-32
       exch2_itlo_c(2,3)=0
       exch2_ithi_c(2,3)=9
       exch2_jtlo_c(2,3)=5
       exch2_jthi_c(2,3)=5
       exch2_opposingSend_record(2,3)=1

       exch2_neighbourId(3,3)=4
       exch2_pi(1,3,3)=1
       exch2_pi(2,3,3)=0
       exch2_pj(1,3,3)=0
       exch2_pj(2,3,3)=1
       exch2_oi(3,3)=0
       exch2_oi_f(3,3)=0
       exch2_oj(3,3)=0
       exch2_oj_f(3,3)=0
       exch2_itlo_c(3,3)=0
       exch2_ithi_c(3,3)=0
       exch2_jtlo_c(3,3)=0
       exch2_jthi_c(3,3)=5
       exch2_opposingSend_record(3,3)=4

       exch2_neighbourId(4,3)=2
       exch2_pi(1,4,3)=1
       exch2_pi(2,4,3)=0
       exch2_pj(1,4,3)=0
       exch2_pj(2,4,3)=1
       exch2_oi(4,3)=0
       exch2_oi_f(4,3)=0
       exch2_oj(4,3)=0
       exch2_oj_f(4,3)=0
       exch2_itlo_c(4,3)=9
       exch2_ithi_c(4,3)=9
       exch2_jtlo_c(4,3)=0
       exch2_jthi_c(4,3)=5
       exch2_opposingSend_record(4,3)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_4
C      Topology for tile 4
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(4)=8
       exch2_tny(4)=4
       exch2_tbasex(4)=24
       exch2_tbasey(4)=0
       exch2_txglobalo(4)=25
       exch2_tyglobalo(4)=1
       exch2_isWedge(4)=0
       exch2_isNedge(4)=0
       exch2_isEedge(4)=1
       exch2_isSedge(4)=1
       exch2_myFace(4)=1
       exch2_mydnx(4)=32
       exch2_mydny(4)=32
       exch2_nNeighbours(4)=4

       exch2_neighbourId(1,4)=8
       exch2_pi(1,1,4)=1
       exch2_pi(2,1,4)=0
       exch2_pj(1,1,4)=0
       exch2_pj(2,1,4)=1
       exch2_oi(1,4)=0
       exch2_oi_f(1,4)=0
       exch2_oj(1,4)=0
       exch2_oj_f(1,4)=0
       exch2_itlo_c(1,4)=0
       exch2_ithi_c(1,4)=9
       exch2_jtlo_c(1,4)=0
       exch2_jthi_c(1,4)=0
       exch2_opposingSend_record(1,4)=2

       exch2_neighbourId(2,4)=176
       exch2_pi(1,2,4)=1
       exch2_pi(2,2,4)=0
       exch2_pj(1,2,4)=0
       exch2_pj(2,2,4)=1
       exch2_oi(2,4)=0
       exch2_oi_f(2,4)=0
       exch2_oj(2,4)=-32
       exch2_oj_f(2,4)=-32
       exch2_itlo_c(2,4)=0
       exch2_ithi_c(2,4)=9
       exch2_jtlo_c(2,4)=5
       exch2_jthi_c(2,4)=5
       exch2_opposingSend_record(2,4)=1

       exch2_neighbourId(3,4)=31
       exch2_pi(1,3,4)=1
       exch2_pi(2,3,4)=0
       exch2_pj(1,3,4)=0
       exch2_pj(2,3,4)=1
       exch2_oi(3,4)=32
       exch2_oi_f(3,4)=32
       exch2_oj(3,4)=0
       exch2_oj_f(3,4)=0
       exch2_itlo_c(3,4)=0
       exch2_ithi_c(3,4)=0
       exch2_jtlo_c(3,4)=0
       exch2_jthi_c(3,4)=5
       exch2_opposingSend_record(3,4)=5

       exch2_neighbourId(4,4)=3
       exch2_pi(1,4,4)=1
       exch2_pi(2,4,4)=0
       exch2_pj(1,4,4)=0
       exch2_pj(2,4,4)=1
       exch2_oi(4,4)=0
       exch2_oi_f(4,4)=0
       exch2_oj(4,4)=0
       exch2_oj_f(4,4)=0
       exch2_itlo_c(4,4)=9
       exch2_ithi_c(4,4)=9
       exch2_jtlo_c(4,4)=0
       exch2_jthi_c(4,4)=5
       exch2_opposingSend_record(4,4)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_5
C      Topology for tile 5
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(5)=8
       exch2_tny(5)=4
       exch2_tbasex(5)=0
       exch2_tbasey(5)=4
       exch2_txglobalo(5)=1
       exch2_tyglobalo(5)=5
       exch2_isWedge(5)=1
       exch2_isNedge(5)=0
       exch2_isEedge(5)=0
       exch2_isSedge(5)=0
       exch2_myFace(5)=1
       exch2_mydnx(5)=32
       exch2_mydny(5)=32
       exch2_nNeighbours(5)=4

       exch2_neighbourId(1,5)=9
       exch2_pi(1,1,5)=1
       exch2_pi(2,1,5)=0
       exch2_pj(1,1,5)=0
       exch2_pj(2,1,5)=1
       exch2_oi(1,5)=0
       exch2_oi_f(1,5)=0
       exch2_oj(1,5)=0
       exch2_oj_f(1,5)=0
       exch2_itlo_c(1,5)=0
       exch2_ithi_c(1,5)=9
       exch2_jtlo_c(1,5)=0
       exch2_jthi_c(1,5)=0
       exch2_opposingSend_record(1,5)=2

       exch2_neighbourId(2,5)=1
       exch2_pi(1,2,5)=1
       exch2_pi(2,2,5)=0
       exch2_pj(1,2,5)=0
       exch2_pj(2,2,5)=1
       exch2_oi(2,5)=0
       exch2_oi_f(2,5)=0
       exch2_oj(2,5)=0
       exch2_oj_f(2,5)=0
       exch2_itlo_c(2,5)=1
       exch2_ithi_c(2,5)=8
       exch2_jtlo_c(2,5)=5
       exch2_jthi_c(2,5)=5
       exch2_opposingSend_record(2,5)=1

       exch2_neighbourId(3,5)=6
       exch2_pi(1,3,5)=1
       exch2_pi(2,3,5)=0
       exch2_pj(1,3,5)=0
       exch2_pj(2,3,5)=1
       exch2_oi(3,5)=0
       exch2_oi_f(3,5)=0
       exch2_oj(3,5)=0
       exch2_oj_f(3,5)=0
       exch2_itlo_c(3,5)=0
       exch2_ithi_c(3,5)=0
       exch2_jtlo_c(3,5)=0
       exch2_jthi_c(3,5)=5
       exch2_opposingSend_record(3,5)=4

       exch2_neighbourId(4,5)=144
       exch2_pi(1,4,5)=0
       exch2_pi(2,4,5)=1
       exch2_pj(1,4,5)=-1
       exch2_pj(2,4,5)=0
       exch2_oi(4,5)=-32
       exch2_oi_f(4,5)=-32
       exch2_oj(4,5)=33
       exch2_oj_f(4,5)=34
       exch2_itlo_c(4,5)=0
       exch2_ithi_c(4,5)=5
       exch2_jtlo_c(4,5)=5
       exch2_jthi_c(4,5)=5
       exch2_opposingSend_record(4,5)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_6
C      Topology for tile 6
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(6)=8
       exch2_tny(6)=4
       exch2_tbasex(6)=8
       exch2_tbasey(6)=4
       exch2_txglobalo(6)=9
       exch2_tyglobalo(6)=5
       exch2_isWedge(6)=0
       exch2_isNedge(6)=0
       exch2_isEedge(6)=0
       exch2_isSedge(6)=0
       exch2_myFace(6)=1
       exch2_mydnx(6)=32
       exch2_mydny(6)=32
       exch2_nNeighbours(6)=4

       exch2_neighbourId(1,6)=10
       exch2_pi(1,1,6)=1
       exch2_pi(2,1,6)=0
       exch2_pj(1,1,6)=0
       exch2_pj(2,1,6)=1
       exch2_oi(1,6)=0
       exch2_oi_f(1,6)=0
       exch2_oj(1,6)=0
       exch2_oj_f(1,6)=0
       exch2_itlo_c(1,6)=0
       exch2_ithi_c(1,6)=9
       exch2_jtlo_c(1,6)=0
       exch2_jthi_c(1,6)=0
       exch2_opposingSend_record(1,6)=2

       exch2_neighbourId(2,6)=2
       exch2_pi(1,2,6)=1
       exch2_pi(2,2,6)=0
       exch2_pj(1,2,6)=0
       exch2_pj(2,2,6)=1
       exch2_oi(2,6)=0
       exch2_oi_f(2,6)=0
       exch2_oj(2,6)=0
       exch2_oj_f(2,6)=0
       exch2_itlo_c(2,6)=1
       exch2_ithi_c(2,6)=8
       exch2_jtlo_c(2,6)=5
       exch2_jthi_c(2,6)=5
       exch2_opposingSend_record(2,6)=1

       exch2_neighbourId(3,6)=7
       exch2_pi(1,3,6)=1
       exch2_pi(2,3,6)=0
       exch2_pj(1,3,6)=0
       exch2_pj(2,3,6)=1
       exch2_oi(3,6)=0
       exch2_oi_f(3,6)=0
       exch2_oj(3,6)=0
       exch2_oj_f(3,6)=0
       exch2_itlo_c(3,6)=0
       exch2_ithi_c(3,6)=0
       exch2_jtlo_c(3,6)=0
       exch2_jthi_c(3,6)=5
       exch2_opposingSend_record(3,6)=4

       exch2_neighbourId(4,6)=5
       exch2_pi(1,4,6)=1
       exch2_pi(2,4,6)=0
       exch2_pj(1,4,6)=0
       exch2_pj(2,4,6)=1
       exch2_oi(4,6)=0
       exch2_oi_f(4,6)=0
       exch2_oj(4,6)=0
       exch2_oj_f(4,6)=0
       exch2_itlo_c(4,6)=9
       exch2_ithi_c(4,6)=9
       exch2_jtlo_c(4,6)=0
       exch2_jthi_c(4,6)=5
       exch2_opposingSend_record(4,6)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_7
C      Topology for tile 7
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(7)=8
       exch2_tny(7)=4
       exch2_tbasex(7)=16
       exch2_tbasey(7)=4
       exch2_txglobalo(7)=17
       exch2_tyglobalo(7)=5
       exch2_isWedge(7)=0
       exch2_isNedge(7)=0
       exch2_isEedge(7)=0
       exch2_isSedge(7)=0
       exch2_myFace(7)=1
       exch2_mydnx(7)=32
       exch2_mydny(7)=32
       exch2_nNeighbours(7)=4

       exch2_neighbourId(1,7)=11
       exch2_pi(1,1,7)=1
       exch2_pi(2,1,7)=0
       exch2_pj(1,1,7)=0
       exch2_pj(2,1,7)=1
       exch2_oi(1,7)=0
       exch2_oi_f(1,7)=0
       exch2_oj(1,7)=0
       exch2_oj_f(1,7)=0
       exch2_itlo_c(1,7)=0
       exch2_ithi_c(1,7)=9
       exch2_jtlo_c(1,7)=0
       exch2_jthi_c(1,7)=0
       exch2_opposingSend_record(1,7)=2

       exch2_neighbourId(2,7)=3
       exch2_pi(1,2,7)=1
       exch2_pi(2,2,7)=0
       exch2_pj(1,2,7)=0
       exch2_pj(2,2,7)=1
       exch2_oi(2,7)=0
       exch2_oi_f(2,7)=0
       exch2_oj(2,7)=0
       exch2_oj_f(2,7)=0
       exch2_itlo_c(2,7)=1
       exch2_ithi_c(2,7)=8
       exch2_jtlo_c(2,7)=5
       exch2_jthi_c(2,7)=5
       exch2_opposingSend_record(2,7)=1

       exch2_neighbourId(3,7)=8
       exch2_pi(1,3,7)=1
       exch2_pi(2,3,7)=0
       exch2_pj(1,3,7)=0
       exch2_pj(2,3,7)=1
       exch2_oi(3,7)=0
       exch2_oi_f(3,7)=0
       exch2_oj(3,7)=0
       exch2_oj_f(3,7)=0
       exch2_itlo_c(3,7)=0
       exch2_ithi_c(3,7)=0
       exch2_jtlo_c(3,7)=0
       exch2_jthi_c(3,7)=5
       exch2_opposingSend_record(3,7)=4

       exch2_neighbourId(4,7)=6
       exch2_pi(1,4,7)=1
       exch2_pi(2,4,7)=0
       exch2_pj(1,4,7)=0
       exch2_pj(2,4,7)=1
       exch2_oi(4,7)=0
       exch2_oi_f(4,7)=0
       exch2_oj(4,7)=0
       exch2_oj_f(4,7)=0
       exch2_itlo_c(4,7)=9
       exch2_ithi_c(4,7)=9
       exch2_jtlo_c(4,7)=0
       exch2_jthi_c(4,7)=5
       exch2_opposingSend_record(4,7)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_8
C      Topology for tile 8
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(8)=8
       exch2_tny(8)=4
       exch2_tbasex(8)=24
       exch2_tbasey(8)=4
       exch2_txglobalo(8)=25
       exch2_tyglobalo(8)=5
       exch2_isWedge(8)=0
       exch2_isNedge(8)=0
       exch2_isEedge(8)=1
       exch2_isSedge(8)=0
       exch2_myFace(8)=1
       exch2_mydnx(8)=32
       exch2_mydny(8)=32
       exch2_nNeighbours(8)=4

       exch2_neighbourId(1,8)=12
       exch2_pi(1,1,8)=1
       exch2_pi(2,1,8)=0
       exch2_pj(1,1,8)=0
       exch2_pj(2,1,8)=1
       exch2_oi(1,8)=0
       exch2_oi_f(1,8)=0
       exch2_oj(1,8)=0
       exch2_oj_f(1,8)=0
       exch2_itlo_c(1,8)=0
       exch2_ithi_c(1,8)=9
       exch2_jtlo_c(1,8)=0
       exch2_jthi_c(1,8)=0
       exch2_opposingSend_record(1,8)=2

       exch2_neighbourId(2,8)=4
       exch2_pi(1,2,8)=1
       exch2_pi(2,2,8)=0
       exch2_pj(1,2,8)=0
       exch2_pj(2,2,8)=1
       exch2_oi(2,8)=0
       exch2_oi_f(2,8)=0
       exch2_oj(2,8)=0
       exch2_oj_f(2,8)=0
       exch2_itlo_c(2,8)=1
       exch2_ithi_c(2,8)=8
       exch2_jtlo_c(2,8)=5
       exch2_jthi_c(2,8)=5
       exch2_opposingSend_record(2,8)=1

       exch2_neighbourId(3,8)=35
       exch2_pi(1,3,8)=1
       exch2_pi(2,3,8)=0
       exch2_pj(1,3,8)=0
       exch2_pj(2,3,8)=1
       exch2_oi(3,8)=32
       exch2_oi_f(3,8)=32
       exch2_oj(3,8)=0
       exch2_oj_f(3,8)=0
       exch2_itlo_c(3,8)=0
       exch2_ithi_c(3,8)=0
       exch2_jtlo_c(3,8)=0
       exch2_jthi_c(3,8)=5
       exch2_opposingSend_record(3,8)=4

       exch2_neighbourId(4,8)=7
       exch2_pi(1,4,8)=1
       exch2_pi(2,4,8)=0
       exch2_pj(1,4,8)=0
       exch2_pj(2,4,8)=1
       exch2_oi(4,8)=0
       exch2_oi_f(4,8)=0
       exch2_oj(4,8)=0
       exch2_oj_f(4,8)=0
       exch2_itlo_c(4,8)=9
       exch2_ithi_c(4,8)=9
       exch2_jtlo_c(4,8)=0
       exch2_jthi_c(4,8)=5
       exch2_opposingSend_record(4,8)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_9
C      Topology for tile 9
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(9)=8
       exch2_tny(9)=4
       exch2_tbasex(9)=0
       exch2_tbasey(9)=8
       exch2_txglobalo(9)=1
       exch2_tyglobalo(9)=9
       exch2_isWedge(9)=1
       exch2_isNedge(9)=0
       exch2_isEedge(9)=0
       exch2_isSedge(9)=0
       exch2_myFace(9)=1
       exch2_mydnx(9)=32
       exch2_mydny(9)=32
       exch2_nNeighbours(9)=3

       exch2_neighbourId(1,9)=13
       exch2_pi(1,1,9)=1
       exch2_pi(2,1,9)=0
       exch2_pj(1,1,9)=0
       exch2_pj(2,1,9)=1
       exch2_oi(1,9)=0
       exch2_oi_f(1,9)=0
       exch2_oj(1,9)=0
       exch2_oj_f(1,9)=0
       exch2_itlo_c(1,9)=0
       exch2_ithi_c(1,9)=9
       exch2_jtlo_c(1,9)=0
       exch2_jthi_c(1,9)=0
       exch2_opposingSend_record(1,9)=2

       exch2_neighbourId(2,9)=5
       exch2_pi(1,2,9)=1
       exch2_pi(2,2,9)=0
       exch2_pj(1,2,9)=0
       exch2_pj(2,2,9)=1
       exch2_oi(2,9)=0
       exch2_oi_f(2,9)=0
       exch2_oj(2,9)=0
       exch2_oj_f(2,9)=0
       exch2_itlo_c(2,9)=1
       exch2_ithi_c(2,9)=8
       exch2_jtlo_c(2,9)=5
       exch2_jthi_c(2,9)=5
       exch2_opposingSend_record(2,9)=1

       exch2_neighbourId(3,9)=10
       exch2_pi(1,3,9)=1
       exch2_pi(2,3,9)=0
       exch2_pj(1,3,9)=0
       exch2_pj(2,3,9)=1
       exch2_oi(3,9)=0
       exch2_oi_f(3,9)=0
       exch2_oj(3,9)=0
       exch2_oj_f(3,9)=0
       exch2_itlo_c(3,9)=0
       exch2_ithi_c(3,9)=0
       exch2_jtlo_c(3,9)=0
       exch2_jthi_c(3,9)=5
       exch2_opposingSend_record(3,9)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_10
C      Topology for tile 10
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(10)=8
       exch2_tny(10)=4
       exch2_tbasex(10)=8
       exch2_tbasey(10)=8
       exch2_txglobalo(10)=9
       exch2_tyglobalo(10)=9
       exch2_isWedge(10)=0
       exch2_isNedge(10)=0
       exch2_isEedge(10)=0
       exch2_isSedge(10)=0
       exch2_myFace(10)=1
       exch2_mydnx(10)=32
       exch2_mydny(10)=32
       exch2_nNeighbours(10)=4

       exch2_neighbourId(1,10)=14
       exch2_pi(1,1,10)=1
       exch2_pi(2,1,10)=0
       exch2_pj(1,1,10)=0
       exch2_pj(2,1,10)=1
       exch2_oi(1,10)=0
       exch2_oi_f(1,10)=0
       exch2_oj(1,10)=0
       exch2_oj_f(1,10)=0
       exch2_itlo_c(1,10)=0
       exch2_ithi_c(1,10)=9
       exch2_jtlo_c(1,10)=0
       exch2_jthi_c(1,10)=0
       exch2_opposingSend_record(1,10)=2

       exch2_neighbourId(2,10)=6
       exch2_pi(1,2,10)=1
       exch2_pi(2,2,10)=0
       exch2_pj(1,2,10)=0
       exch2_pj(2,2,10)=1
       exch2_oi(2,10)=0
       exch2_oi_f(2,10)=0
       exch2_oj(2,10)=0
       exch2_oj_f(2,10)=0
       exch2_itlo_c(2,10)=1
       exch2_ithi_c(2,10)=8
       exch2_jtlo_c(2,10)=5
       exch2_jthi_c(2,10)=5
       exch2_opposingSend_record(2,10)=1

       exch2_neighbourId(3,10)=11
       exch2_pi(1,3,10)=1
       exch2_pi(2,3,10)=0
       exch2_pj(1,3,10)=0
       exch2_pj(2,3,10)=1
       exch2_oi(3,10)=0
       exch2_oi_f(3,10)=0
       exch2_oj(3,10)=0
       exch2_oj_f(3,10)=0
       exch2_itlo_c(3,10)=0
       exch2_ithi_c(3,10)=0
       exch2_jtlo_c(3,10)=0
       exch2_jthi_c(3,10)=5
       exch2_opposingSend_record(3,10)=4

       exch2_neighbourId(4,10)=9
       exch2_pi(1,4,10)=1
       exch2_pi(2,4,10)=0
       exch2_pj(1,4,10)=0
       exch2_pj(2,4,10)=1
       exch2_oi(4,10)=0
       exch2_oi_f(4,10)=0
       exch2_oj(4,10)=0
       exch2_oj_f(4,10)=0
       exch2_itlo_c(4,10)=9
       exch2_ithi_c(4,10)=9
       exch2_jtlo_c(4,10)=0
       exch2_jthi_c(4,10)=5
       exch2_opposingSend_record(4,10)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_11
C      Topology for tile 11
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(11)=8
       exch2_tny(11)=4
       exch2_tbasex(11)=16
       exch2_tbasey(11)=8
       exch2_txglobalo(11)=17
       exch2_tyglobalo(11)=9
       exch2_isWedge(11)=0
       exch2_isNedge(11)=0
       exch2_isEedge(11)=0
       exch2_isSedge(11)=0
       exch2_myFace(11)=1
       exch2_mydnx(11)=32
       exch2_mydny(11)=32
       exch2_nNeighbours(11)=4

       exch2_neighbourId(1,11)=15
       exch2_pi(1,1,11)=1
       exch2_pi(2,1,11)=0
       exch2_pj(1,1,11)=0
       exch2_pj(2,1,11)=1
       exch2_oi(1,11)=0
       exch2_oi_f(1,11)=0
       exch2_oj(1,11)=0
       exch2_oj_f(1,11)=0
       exch2_itlo_c(1,11)=0
       exch2_ithi_c(1,11)=9
       exch2_jtlo_c(1,11)=0
       exch2_jthi_c(1,11)=0
       exch2_opposingSend_record(1,11)=2

       exch2_neighbourId(2,11)=7
       exch2_pi(1,2,11)=1
       exch2_pi(2,2,11)=0
       exch2_pj(1,2,11)=0
       exch2_pj(2,2,11)=1
       exch2_oi(2,11)=0
       exch2_oi_f(2,11)=0
       exch2_oj(2,11)=0
       exch2_oj_f(2,11)=0
       exch2_itlo_c(2,11)=1
       exch2_ithi_c(2,11)=8
       exch2_jtlo_c(2,11)=5
       exch2_jthi_c(2,11)=5
       exch2_opposingSend_record(2,11)=1

       exch2_neighbourId(3,11)=12
       exch2_pi(1,3,11)=1
       exch2_pi(2,3,11)=0
       exch2_pj(1,3,11)=0
       exch2_pj(2,3,11)=1
       exch2_oi(3,11)=0
       exch2_oi_f(3,11)=0
       exch2_oj(3,11)=0
       exch2_oj_f(3,11)=0
       exch2_itlo_c(3,11)=0
       exch2_ithi_c(3,11)=0
       exch2_jtlo_c(3,11)=0
       exch2_jthi_c(3,11)=5
       exch2_opposingSend_record(3,11)=4

       exch2_neighbourId(4,11)=10
       exch2_pi(1,4,11)=1
       exch2_pi(2,4,11)=0
       exch2_pj(1,4,11)=0
       exch2_pj(2,4,11)=1
       exch2_oi(4,11)=0
       exch2_oi_f(4,11)=0
       exch2_oj(4,11)=0
       exch2_oj_f(4,11)=0
       exch2_itlo_c(4,11)=9
       exch2_ithi_c(4,11)=9
       exch2_jtlo_c(4,11)=0
       exch2_jthi_c(4,11)=5
       exch2_opposingSend_record(4,11)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_12
C      Topology for tile 12
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(12)=8
       exch2_tny(12)=4
       exch2_tbasex(12)=24
       exch2_tbasey(12)=8
       exch2_txglobalo(12)=25
       exch2_tyglobalo(12)=9
       exch2_isWedge(12)=0
       exch2_isNedge(12)=0
       exch2_isEedge(12)=1
       exch2_isSedge(12)=0
       exch2_myFace(12)=1
       exch2_mydnx(12)=32
       exch2_mydny(12)=32
       exch2_nNeighbours(12)=4

       exch2_neighbourId(1,12)=16
       exch2_pi(1,1,12)=1
       exch2_pi(2,1,12)=0
       exch2_pj(1,1,12)=0
       exch2_pj(2,1,12)=1
       exch2_oi(1,12)=0
       exch2_oi_f(1,12)=0
       exch2_oj(1,12)=0
       exch2_oj_f(1,12)=0
       exch2_itlo_c(1,12)=0
       exch2_ithi_c(1,12)=9
       exch2_jtlo_c(1,12)=0
       exch2_jthi_c(1,12)=0
       exch2_opposingSend_record(1,12)=1

       exch2_neighbourId(2,12)=8
       exch2_pi(1,2,12)=1
       exch2_pi(2,2,12)=0
       exch2_pj(1,2,12)=0
       exch2_pj(2,2,12)=1
       exch2_oi(2,12)=0
       exch2_oi_f(2,12)=0
       exch2_oj(2,12)=0
       exch2_oj_f(2,12)=0
       exch2_itlo_c(2,12)=1
       exch2_ithi_c(2,12)=8
       exch2_jtlo_c(2,12)=5
       exch2_jthi_c(2,12)=5
       exch2_opposingSend_record(2,12)=1

       exch2_neighbourId(3,12)=38
       exch2_pi(1,3,12)=1
       exch2_pi(2,3,12)=0
       exch2_pj(1,3,12)=0
       exch2_pj(2,3,12)=1
       exch2_oi(3,12)=32
       exch2_oi_f(3,12)=32
       exch2_oj(3,12)=0
       exch2_oj_f(3,12)=0
       exch2_itlo_c(3,12)=0
       exch2_ithi_c(3,12)=0
       exch2_jtlo_c(3,12)=0
       exch2_jthi_c(3,12)=5
       exch2_opposingSend_record(3,12)=4

       exch2_neighbourId(4,12)=11
       exch2_pi(1,4,12)=1
       exch2_pi(2,4,12)=0
       exch2_pj(1,4,12)=0
       exch2_pj(2,4,12)=1
       exch2_oi(4,12)=0
       exch2_oi_f(4,12)=0
       exch2_oj(4,12)=0
       exch2_oj_f(4,12)=0
       exch2_itlo_c(4,12)=9
       exch2_ithi_c(4,12)=9
       exch2_jtlo_c(4,12)=0
       exch2_jthi_c(4,12)=5
       exch2_opposingSend_record(4,12)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_13
C      Topology for tile 13
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(13)=8
       exch2_tny(13)=4
       exch2_tbasex(13)=0
       exch2_tbasey(13)=12
       exch2_txglobalo(13)=1
       exch2_tyglobalo(13)=13
       exch2_isWedge(13)=1
       exch2_isNedge(13)=0
       exch2_isEedge(13)=0
       exch2_isSedge(13)=0
       exch2_myFace(13)=1
       exch2_mydnx(13)=32
       exch2_mydny(13)=32
       exch2_nNeighbours(13)=3

       exch2_neighbourId(1,13)=17
       exch2_pi(1,1,13)=1
       exch2_pi(2,1,13)=0
       exch2_pj(1,1,13)=0
       exch2_pj(2,1,13)=1
       exch2_oi(1,13)=0
       exch2_oi_f(1,13)=0
       exch2_oj(1,13)=0
       exch2_oj_f(1,13)=0
       exch2_itlo_c(1,13)=0
       exch2_ithi_c(1,13)=9
       exch2_jtlo_c(1,13)=0
       exch2_jthi_c(1,13)=0
       exch2_opposingSend_record(1,13)=2

       exch2_neighbourId(2,13)=9
       exch2_pi(1,2,13)=1
       exch2_pi(2,2,13)=0
       exch2_pj(1,2,13)=0
       exch2_pj(2,2,13)=1
       exch2_oi(2,13)=0
       exch2_oi_f(2,13)=0
       exch2_oj(2,13)=0
       exch2_oj_f(2,13)=0
       exch2_itlo_c(2,13)=1
       exch2_ithi_c(2,13)=8
       exch2_jtlo_c(2,13)=5
       exch2_jthi_c(2,13)=5
       exch2_opposingSend_record(2,13)=1

       exch2_neighbourId(3,13)=14
       exch2_pi(1,3,13)=1
       exch2_pi(2,3,13)=0
       exch2_pj(1,3,13)=0
       exch2_pj(2,3,13)=1
       exch2_oi(3,13)=0
       exch2_oi_f(3,13)=0
       exch2_oj(3,13)=0
       exch2_oj_f(3,13)=0
       exch2_itlo_c(3,13)=0
       exch2_ithi_c(3,13)=0
       exch2_jtlo_c(3,13)=0
       exch2_jthi_c(3,13)=5
       exch2_opposingSend_record(3,13)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_14
C      Topology for tile 14
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(14)=8
       exch2_tny(14)=4
       exch2_tbasex(14)=8
       exch2_tbasey(14)=12
       exch2_txglobalo(14)=9
       exch2_tyglobalo(14)=13
       exch2_isWedge(14)=0
       exch2_isNedge(14)=0
       exch2_isEedge(14)=0
       exch2_isSedge(14)=0
       exch2_myFace(14)=1
       exch2_mydnx(14)=32
       exch2_mydny(14)=32
       exch2_nNeighbours(14)=4

       exch2_neighbourId(1,14)=18
       exch2_pi(1,1,14)=1
       exch2_pi(2,1,14)=0
       exch2_pj(1,1,14)=0
       exch2_pj(2,1,14)=1
       exch2_oi(1,14)=0
       exch2_oi_f(1,14)=0
       exch2_oj(1,14)=0
       exch2_oj_f(1,14)=0
       exch2_itlo_c(1,14)=0
       exch2_ithi_c(1,14)=9
       exch2_jtlo_c(1,14)=0
       exch2_jthi_c(1,14)=0
       exch2_opposingSend_record(1,14)=2

       exch2_neighbourId(2,14)=10
       exch2_pi(1,2,14)=1
       exch2_pi(2,2,14)=0
       exch2_pj(1,2,14)=0
       exch2_pj(2,2,14)=1
       exch2_oi(2,14)=0
       exch2_oi_f(2,14)=0
       exch2_oj(2,14)=0
       exch2_oj_f(2,14)=0
       exch2_itlo_c(2,14)=1
       exch2_ithi_c(2,14)=8
       exch2_jtlo_c(2,14)=5
       exch2_jthi_c(2,14)=5
       exch2_opposingSend_record(2,14)=1

       exch2_neighbourId(3,14)=15
       exch2_pi(1,3,14)=1
       exch2_pi(2,3,14)=0
       exch2_pj(1,3,14)=0
       exch2_pj(2,3,14)=1
       exch2_oi(3,14)=0
       exch2_oi_f(3,14)=0
       exch2_oj(3,14)=0
       exch2_oj_f(3,14)=0
       exch2_itlo_c(3,14)=0
       exch2_ithi_c(3,14)=0
       exch2_jtlo_c(3,14)=0
       exch2_jthi_c(3,14)=5
       exch2_opposingSend_record(3,14)=4

       exch2_neighbourId(4,14)=13
       exch2_pi(1,4,14)=1
       exch2_pi(2,4,14)=0
       exch2_pj(1,4,14)=0
       exch2_pj(2,4,14)=1
       exch2_oi(4,14)=0
       exch2_oi_f(4,14)=0
       exch2_oj(4,14)=0
       exch2_oj_f(4,14)=0
       exch2_itlo_c(4,14)=9
       exch2_ithi_c(4,14)=9
       exch2_jtlo_c(4,14)=0
       exch2_jthi_c(4,14)=5
       exch2_opposingSend_record(4,14)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_15
C      Topology for tile 15
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(15)=8
       exch2_tny(15)=4
       exch2_tbasex(15)=16
       exch2_tbasey(15)=12
       exch2_txglobalo(15)=17
       exch2_tyglobalo(15)=13
       exch2_isWedge(15)=0
       exch2_isNedge(15)=0
       exch2_isEedge(15)=0
       exch2_isSedge(15)=0
       exch2_myFace(15)=1
       exch2_mydnx(15)=32
       exch2_mydny(15)=32
       exch2_nNeighbours(15)=4

       exch2_neighbourId(1,15)=19
       exch2_pi(1,1,15)=1
       exch2_pi(2,1,15)=0
       exch2_pj(1,1,15)=0
       exch2_pj(2,1,15)=1
       exch2_oi(1,15)=0
       exch2_oi_f(1,15)=0
       exch2_oj(1,15)=0
       exch2_oj_f(1,15)=0
       exch2_itlo_c(1,15)=0
       exch2_ithi_c(1,15)=9
       exch2_jtlo_c(1,15)=0
       exch2_jthi_c(1,15)=0
       exch2_opposingSend_record(1,15)=1

       exch2_neighbourId(2,15)=11
       exch2_pi(1,2,15)=1
       exch2_pi(2,2,15)=0
       exch2_pj(1,2,15)=0
       exch2_pj(2,2,15)=1
       exch2_oi(2,15)=0
       exch2_oi_f(2,15)=0
       exch2_oj(2,15)=0
       exch2_oj_f(2,15)=0
       exch2_itlo_c(2,15)=1
       exch2_ithi_c(2,15)=8
       exch2_jtlo_c(2,15)=5
       exch2_jthi_c(2,15)=5
       exch2_opposingSend_record(2,15)=1

       exch2_neighbourId(3,15)=16
       exch2_pi(1,3,15)=1
       exch2_pi(2,3,15)=0
       exch2_pj(1,3,15)=0
       exch2_pj(2,3,15)=1
       exch2_oi(3,15)=0
       exch2_oi_f(3,15)=0
       exch2_oj(3,15)=0
       exch2_oj_f(3,15)=0
       exch2_itlo_c(3,15)=0
       exch2_ithi_c(3,15)=0
       exch2_jtlo_c(3,15)=0
       exch2_jthi_c(3,15)=5
       exch2_opposingSend_record(3,15)=3

       exch2_neighbourId(4,15)=14
       exch2_pi(1,4,15)=1
       exch2_pi(2,4,15)=0
       exch2_pj(1,4,15)=0
       exch2_pj(2,4,15)=1
       exch2_oi(4,15)=0
       exch2_oi_f(4,15)=0
       exch2_oj(4,15)=0
       exch2_oj_f(4,15)=0
       exch2_itlo_c(4,15)=9
       exch2_ithi_c(4,15)=9
       exch2_jtlo_c(4,15)=0
       exch2_jthi_c(4,15)=5
       exch2_opposingSend_record(4,15)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_16
C      Topology for tile 16
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(16)=8
       exch2_tny(16)=4
       exch2_tbasex(16)=24
       exch2_tbasey(16)=12
       exch2_txglobalo(16)=25
       exch2_tyglobalo(16)=13
       exch2_isWedge(16)=0
       exch2_isNedge(16)=0
       exch2_isEedge(16)=1
       exch2_isSedge(16)=0
       exch2_myFace(16)=1
       exch2_mydnx(16)=32
       exch2_mydny(16)=32
       exch2_nNeighbours(16)=3

       exch2_neighbourId(1,16)=12
       exch2_pi(1,1,16)=1
       exch2_pi(2,1,16)=0
       exch2_pj(1,1,16)=0
       exch2_pj(2,1,16)=1
       exch2_oi(1,16)=0
       exch2_oi_f(1,16)=0
       exch2_oj(1,16)=0
       exch2_oj_f(1,16)=0
       exch2_itlo_c(1,16)=1
       exch2_ithi_c(1,16)=8
       exch2_jtlo_c(1,16)=5
       exch2_jthi_c(1,16)=5
       exch2_opposingSend_record(1,16)=1

       exch2_neighbourId(2,16)=42
       exch2_pi(1,2,16)=1
       exch2_pi(2,2,16)=0
       exch2_pj(1,2,16)=0
       exch2_pj(2,2,16)=1
       exch2_oi(2,16)=32
       exch2_oi_f(2,16)=32
       exch2_oj(2,16)=0
       exch2_oj_f(2,16)=0
       exch2_itlo_c(2,16)=0
       exch2_ithi_c(2,16)=0
       exch2_jtlo_c(2,16)=0
       exch2_jthi_c(2,16)=5
       exch2_opposingSend_record(2,16)=4

       exch2_neighbourId(3,16)=15
       exch2_pi(1,3,16)=1
       exch2_pi(2,3,16)=0
       exch2_pj(1,3,16)=0
       exch2_pj(2,3,16)=1
       exch2_oi(3,16)=0
       exch2_oi_f(3,16)=0
       exch2_oj(3,16)=0
       exch2_oj_f(3,16)=0
       exch2_itlo_c(3,16)=9
       exch2_ithi_c(3,16)=9
       exch2_jtlo_c(3,16)=0
       exch2_jthi_c(3,16)=5
       exch2_opposingSend_record(3,16)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_17
C      Topology for tile 17
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(17)=8
       exch2_tny(17)=4
       exch2_tbasex(17)=0
       exch2_tbasey(17)=16
       exch2_txglobalo(17)=1
       exch2_tyglobalo(17)=17
       exch2_isWedge(17)=1
       exch2_isNedge(17)=0
       exch2_isEedge(17)=0
       exch2_isSedge(17)=0
       exch2_myFace(17)=1
       exch2_mydnx(17)=32
       exch2_mydny(17)=32
       exch2_nNeighbours(17)=4

       exch2_neighbourId(1,17)=20
       exch2_pi(1,1,17)=1
       exch2_pi(2,1,17)=0
       exch2_pj(1,1,17)=0
       exch2_pj(2,1,17)=1
       exch2_oi(1,17)=0
       exch2_oi_f(1,17)=0
       exch2_oj(1,17)=0
       exch2_oj_f(1,17)=0
       exch2_itlo_c(1,17)=0
       exch2_ithi_c(1,17)=9
       exch2_jtlo_c(1,17)=0
       exch2_jthi_c(1,17)=0
       exch2_opposingSend_record(1,17)=2

       exch2_neighbourId(2,17)=13
       exch2_pi(1,2,17)=1
       exch2_pi(2,2,17)=0
       exch2_pj(1,2,17)=0
       exch2_pj(2,2,17)=1
       exch2_oi(2,17)=0
       exch2_oi_f(2,17)=0
       exch2_oj(2,17)=0
       exch2_oj_f(2,17)=0
       exch2_itlo_c(2,17)=1
       exch2_ithi_c(2,17)=8
       exch2_jtlo_c(2,17)=5
       exch2_jthi_c(2,17)=5
       exch2_opposingSend_record(2,17)=1

       exch2_neighbourId(3,17)=18
       exch2_pi(1,3,17)=1
       exch2_pi(2,3,17)=0
       exch2_pj(1,3,17)=0
       exch2_pj(2,3,17)=1
       exch2_oi(3,17)=0
       exch2_oi_f(3,17)=0
       exch2_oj(3,17)=0
       exch2_oj_f(3,17)=0
       exch2_itlo_c(3,17)=0
       exch2_ithi_c(3,17)=0
       exch2_jtlo_c(3,17)=0
       exch2_jthi_c(3,17)=5
       exch2_opposingSend_record(3,17)=4

       exch2_neighbourId(4,17)=143
       exch2_pi(1,4,17)=0
       exch2_pi(2,4,17)=1
       exch2_pj(1,4,17)=-1
       exch2_pj(2,4,17)=0
       exch2_oi(4,17)=-32
       exch2_oi_f(4,17)=-32
       exch2_oj(4,17)=33
       exch2_oj_f(4,17)=34
       exch2_itlo_c(4,17)=4
       exch2_ithi_c(4,17)=9
       exch2_jtlo_c(4,17)=5
       exch2_jthi_c(4,17)=5
       exch2_opposingSend_record(4,17)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_18
C      Topology for tile 18
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(18)=8
       exch2_tny(18)=4
       exch2_tbasex(18)=8
       exch2_tbasey(18)=16
       exch2_txglobalo(18)=9
       exch2_tyglobalo(18)=17
       exch2_isWedge(18)=0
       exch2_isNedge(18)=0
       exch2_isEedge(18)=0
       exch2_isSedge(18)=0
       exch2_myFace(18)=1
       exch2_mydnx(18)=32
       exch2_mydny(18)=32
       exch2_nNeighbours(18)=4

       exch2_neighbourId(1,18)=21
       exch2_pi(1,1,18)=1
       exch2_pi(2,1,18)=0
       exch2_pj(1,1,18)=0
       exch2_pj(2,1,18)=1
       exch2_oi(1,18)=0
       exch2_oi_f(1,18)=0
       exch2_oj(1,18)=0
       exch2_oj_f(1,18)=0
       exch2_itlo_c(1,18)=0
       exch2_ithi_c(1,18)=9
       exch2_jtlo_c(1,18)=0
       exch2_jthi_c(1,18)=0
       exch2_opposingSend_record(1,18)=2

       exch2_neighbourId(2,18)=14
       exch2_pi(1,2,18)=1
       exch2_pi(2,2,18)=0
       exch2_pj(1,2,18)=0
       exch2_pj(2,2,18)=1
       exch2_oi(2,18)=0
       exch2_oi_f(2,18)=0
       exch2_oj(2,18)=0
       exch2_oj_f(2,18)=0
       exch2_itlo_c(2,18)=1
       exch2_ithi_c(2,18)=8
       exch2_jtlo_c(2,18)=5
       exch2_jthi_c(2,18)=5
       exch2_opposingSend_record(2,18)=1

       exch2_neighbourId(3,18)=19
       exch2_pi(1,3,18)=1
       exch2_pi(2,3,18)=0
       exch2_pj(1,3,18)=0
       exch2_pj(2,3,18)=1
       exch2_oi(3,18)=0
       exch2_oi_f(3,18)=0
       exch2_oj(3,18)=0
       exch2_oj_f(3,18)=0
       exch2_itlo_c(3,18)=0
       exch2_ithi_c(3,18)=0
       exch2_jtlo_c(3,18)=0
       exch2_jthi_c(3,18)=5
       exch2_opposingSend_record(3,18)=2

       exch2_neighbourId(4,18)=17
       exch2_pi(1,4,18)=1
       exch2_pi(2,4,18)=0
       exch2_pj(1,4,18)=0
       exch2_pj(2,4,18)=1
       exch2_oi(4,18)=0
       exch2_oi_f(4,18)=0
       exch2_oj(4,18)=0
       exch2_oj_f(4,18)=0
       exch2_itlo_c(4,18)=9
       exch2_ithi_c(4,18)=9
       exch2_jtlo_c(4,18)=0
       exch2_jthi_c(4,18)=5
       exch2_opposingSend_record(4,18)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_19
C      Topology for tile 19
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(19)=8
       exch2_tny(19)=4
       exch2_tbasex(19)=16
       exch2_tbasey(19)=16
       exch2_txglobalo(19)=17
       exch2_tyglobalo(19)=17
       exch2_isWedge(19)=0
       exch2_isNedge(19)=0
       exch2_isEedge(19)=0
       exch2_isSedge(19)=0
       exch2_myFace(19)=1
       exch2_mydnx(19)=32
       exch2_mydny(19)=32
       exch2_nNeighbours(19)=2

       exch2_neighbourId(1,19)=15
       exch2_pi(1,1,19)=1
       exch2_pi(2,1,19)=0
       exch2_pj(1,1,19)=0
       exch2_pj(2,1,19)=1
       exch2_oi(1,19)=0
       exch2_oi_f(1,19)=0
       exch2_oj(1,19)=0
       exch2_oj_f(1,19)=0
       exch2_itlo_c(1,19)=1
       exch2_ithi_c(1,19)=8
       exch2_jtlo_c(1,19)=5
       exch2_jthi_c(1,19)=5
       exch2_opposingSend_record(1,19)=1

       exch2_neighbourId(2,19)=18
       exch2_pi(1,2,19)=1
       exch2_pi(2,2,19)=0
       exch2_pj(1,2,19)=0
       exch2_pj(2,2,19)=1
       exch2_oi(2,19)=0
       exch2_oi_f(2,19)=0
       exch2_oj(2,19)=0
       exch2_oj_f(2,19)=0
       exch2_itlo_c(2,19)=9
       exch2_ithi_c(2,19)=9
       exch2_jtlo_c(2,19)=0
       exch2_jthi_c(2,19)=5
       exch2_opposingSend_record(2,19)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_20
C      Topology for tile 20
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(20)=8
       exch2_tny(20)=4
       exch2_tbasex(20)=0
       exch2_tbasey(20)=20
       exch2_txglobalo(20)=1
       exch2_tyglobalo(20)=21
       exch2_isWedge(20)=1
       exch2_isNedge(20)=0
       exch2_isEedge(20)=0
       exch2_isSedge(20)=0
       exch2_myFace(20)=1
       exch2_mydnx(20)=32
       exch2_mydny(20)=32
       exch2_nNeighbours(20)=4

       exch2_neighbourId(1,20)=23
       exch2_pi(1,1,20)=1
       exch2_pi(2,1,20)=0
       exch2_pj(1,1,20)=0
       exch2_pj(2,1,20)=1
       exch2_oi(1,20)=0
       exch2_oi_f(1,20)=0
       exch2_oj(1,20)=0
       exch2_oj_f(1,20)=0
       exch2_itlo_c(1,20)=0
       exch2_ithi_c(1,20)=9
       exch2_jtlo_c(1,20)=0
       exch2_jthi_c(1,20)=0
       exch2_opposingSend_record(1,20)=2

       exch2_neighbourId(2,20)=17
       exch2_pi(1,2,20)=1
       exch2_pi(2,2,20)=0
       exch2_pj(1,2,20)=0
       exch2_pj(2,2,20)=1
       exch2_oi(2,20)=0
       exch2_oi_f(2,20)=0
       exch2_oj(2,20)=0
       exch2_oj_f(2,20)=0
       exch2_itlo_c(2,20)=1
       exch2_ithi_c(2,20)=8
       exch2_jtlo_c(2,20)=5
       exch2_jthi_c(2,20)=5
       exch2_opposingSend_record(2,20)=1

       exch2_neighbourId(3,20)=21
       exch2_pi(1,3,20)=1
       exch2_pi(2,3,20)=0
       exch2_pj(1,3,20)=0
       exch2_pj(2,3,20)=1
       exch2_oi(3,20)=0
       exch2_oi_f(3,20)=0
       exch2_oj(3,20)=0
       exch2_oj_f(3,20)=0
       exch2_itlo_c(3,20)=0
       exch2_ithi_c(3,20)=0
       exch2_jtlo_c(3,20)=0
       exch2_jthi_c(3,20)=5
       exch2_opposingSend_record(3,20)=3

       exch2_neighbourId(4,20)=143
       exch2_pi(1,4,20)=0
       exch2_pi(2,4,20)=1
       exch2_pj(1,4,20)=-1
       exch2_pj(2,4,20)=0
       exch2_oi(4,20)=-32
       exch2_oi_f(4,20)=-32
       exch2_oj(4,20)=33
       exch2_oj_f(4,20)=34
       exch2_itlo_c(4,20)=0
       exch2_ithi_c(4,20)=5
       exch2_jtlo_c(4,20)=5
       exch2_jthi_c(4,20)=5
       exch2_opposingSend_record(4,20)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_21
C      Topology for tile 21
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(21)=8
       exch2_tny(21)=4
       exch2_tbasex(21)=8
       exch2_tbasey(21)=20
       exch2_txglobalo(21)=9
       exch2_tyglobalo(21)=21
       exch2_isWedge(21)=0
       exch2_isNedge(21)=0
       exch2_isEedge(21)=0
       exch2_isSedge(21)=0
       exch2_myFace(21)=1
       exch2_mydnx(21)=32
       exch2_mydny(21)=32
       exch2_nNeighbours(21)=3

       exch2_neighbourId(1,21)=24
       exch2_pi(1,1,21)=1
       exch2_pi(2,1,21)=0
       exch2_pj(1,1,21)=0
       exch2_pj(2,1,21)=1
       exch2_oi(1,21)=0
       exch2_oi_f(1,21)=0
       exch2_oj(1,21)=0
       exch2_oj_f(1,21)=0
       exch2_itlo_c(1,21)=0
       exch2_ithi_c(1,21)=9
       exch2_jtlo_c(1,21)=0
       exch2_jthi_c(1,21)=0
       exch2_opposingSend_record(1,21)=2

       exch2_neighbourId(2,21)=18
       exch2_pi(1,2,21)=1
       exch2_pi(2,2,21)=0
       exch2_pj(1,2,21)=0
       exch2_pj(2,2,21)=1
       exch2_oi(2,21)=0
       exch2_oi_f(2,21)=0
       exch2_oj(2,21)=0
       exch2_oj_f(2,21)=0
       exch2_itlo_c(2,21)=1
       exch2_ithi_c(2,21)=8
       exch2_jtlo_c(2,21)=5
       exch2_jthi_c(2,21)=5
       exch2_opposingSend_record(2,21)=1

       exch2_neighbourId(3,21)=20
       exch2_pi(1,3,21)=1
       exch2_pi(2,3,21)=0
       exch2_pj(1,3,21)=0
       exch2_pj(2,3,21)=1
       exch2_oi(3,21)=0
       exch2_oi_f(3,21)=0
       exch2_oj(3,21)=0
       exch2_oj_f(3,21)=0
       exch2_itlo_c(3,21)=9
       exch2_ithi_c(3,21)=9
       exch2_jtlo_c(3,21)=0
       exch2_jthi_c(3,21)=5
       exch2_opposingSend_record(3,21)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_22
C      Topology for tile 22
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(22)=8
       exch2_tny(22)=4
       exch2_tbasex(22)=24
       exch2_tbasey(22)=20
       exch2_txglobalo(22)=25
       exch2_tyglobalo(22)=21
       exch2_isWedge(22)=0
       exch2_isNedge(22)=0
       exch2_isEedge(22)=1
       exch2_isSedge(22)=0
       exch2_myFace(22)=1
       exch2_mydnx(22)=32
       exch2_mydny(22)=32
       exch2_nNeighbours(22)=2

       exch2_neighbourId(1,22)=26
       exch2_pi(1,1,22)=1
       exch2_pi(2,1,22)=0
       exch2_pj(1,1,22)=0
       exch2_pj(2,1,22)=1
       exch2_oi(1,22)=0
       exch2_oi_f(1,22)=0
       exch2_oj(1,22)=0
       exch2_oj_f(1,22)=0
       exch2_itlo_c(1,22)=0
       exch2_ithi_c(1,22)=9
       exch2_jtlo_c(1,22)=0
       exch2_jthi_c(1,22)=0
       exch2_opposingSend_record(1,22)=2

       exch2_neighbourId(2,22)=50
       exch2_pi(1,2,22)=1
       exch2_pi(2,2,22)=0
       exch2_pj(1,2,22)=0
       exch2_pj(2,2,22)=1
       exch2_oi(2,22)=32
       exch2_oi_f(2,22)=32
       exch2_oj(2,22)=0
       exch2_oj_f(2,22)=0
       exch2_itlo_c(2,22)=0
       exch2_ithi_c(2,22)=0
       exch2_jtlo_c(2,22)=0
       exch2_jthi_c(2,22)=5
       exch2_opposingSend_record(2,22)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_23
C      Topology for tile 23
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(23)=8
       exch2_tny(23)=4
       exch2_tbasex(23)=0
       exch2_tbasey(23)=24
       exch2_txglobalo(23)=1
       exch2_tyglobalo(23)=25
       exch2_isWedge(23)=1
       exch2_isNedge(23)=0
       exch2_isEedge(23)=0
       exch2_isSedge(23)=0
       exch2_myFace(23)=1
       exch2_mydnx(23)=32
       exch2_mydny(23)=32
       exch2_nNeighbours(23)=4

       exch2_neighbourId(1,23)=27
       exch2_pi(1,1,23)=1
       exch2_pi(2,1,23)=0
       exch2_pj(1,1,23)=0
       exch2_pj(2,1,23)=1
       exch2_oi(1,23)=0
       exch2_oi_f(1,23)=0
       exch2_oj(1,23)=0
       exch2_oj_f(1,23)=0
       exch2_itlo_c(1,23)=0
       exch2_ithi_c(1,23)=9
       exch2_jtlo_c(1,23)=0
       exch2_jthi_c(1,23)=0
       exch2_opposingSend_record(1,23)=3

       exch2_neighbourId(2,23)=20
       exch2_pi(1,2,23)=1
       exch2_pi(2,2,23)=0
       exch2_pj(1,2,23)=0
       exch2_pj(2,2,23)=1
       exch2_oi(2,23)=0
       exch2_oi_f(2,23)=0
       exch2_oj(2,23)=0
       exch2_oj_f(2,23)=0
       exch2_itlo_c(2,23)=1
       exch2_ithi_c(2,23)=8
       exch2_jtlo_c(2,23)=5
       exch2_jthi_c(2,23)=5
       exch2_opposingSend_record(2,23)=1

       exch2_neighbourId(3,23)=24
       exch2_pi(1,3,23)=1
       exch2_pi(2,3,23)=0
       exch2_pj(1,3,23)=0
       exch2_pj(2,3,23)=1
       exch2_oi(3,23)=0
       exch2_oi_f(3,23)=0
       exch2_oj(3,23)=0
       exch2_oj_f(3,23)=0
       exch2_itlo_c(3,23)=0
       exch2_ithi_c(3,23)=0
       exch2_jtlo_c(3,23)=0
       exch2_jthi_c(3,23)=5
       exch2_opposingSend_record(3,23)=4

       exch2_neighbourId(4,23)=142
       exch2_pi(1,4,23)=0
       exch2_pi(2,4,23)=1
       exch2_pj(1,4,23)=-1
       exch2_pj(2,4,23)=0
       exch2_oi(4,23)=-32
       exch2_oi_f(4,23)=-32
       exch2_oj(4,23)=33
       exch2_oj_f(4,23)=34
       exch2_itlo_c(4,23)=4
       exch2_ithi_c(4,23)=9
       exch2_jtlo_c(4,23)=5
       exch2_jthi_c(4,23)=5
       exch2_opposingSend_record(4,23)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_24
C      Topology for tile 24
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(24)=8
       exch2_tny(24)=4
       exch2_tbasex(24)=8
       exch2_tbasey(24)=24
       exch2_txglobalo(24)=9
       exch2_tyglobalo(24)=25
       exch2_isWedge(24)=0
       exch2_isNedge(24)=0
       exch2_isEedge(24)=0
       exch2_isSedge(24)=0
       exch2_myFace(24)=1
       exch2_mydnx(24)=32
       exch2_mydny(24)=32
       exch2_nNeighbours(24)=4

       exch2_neighbourId(1,24)=28
       exch2_pi(1,1,24)=1
       exch2_pi(2,1,24)=0
       exch2_pj(1,1,24)=0
       exch2_pj(2,1,24)=1
       exch2_oi(1,24)=0
       exch2_oi_f(1,24)=0
       exch2_oj(1,24)=0
       exch2_oj_f(1,24)=0
       exch2_itlo_c(1,24)=0
       exch2_ithi_c(1,24)=9
       exch2_jtlo_c(1,24)=0
       exch2_jthi_c(1,24)=0
       exch2_opposingSend_record(1,24)=3

       exch2_neighbourId(2,24)=21
       exch2_pi(1,2,24)=1
       exch2_pi(2,2,24)=0
       exch2_pj(1,2,24)=0
       exch2_pj(2,2,24)=1
       exch2_oi(2,24)=0
       exch2_oi_f(2,24)=0
       exch2_oj(2,24)=0
       exch2_oj_f(2,24)=0
       exch2_itlo_c(2,24)=1
       exch2_ithi_c(2,24)=8
       exch2_jtlo_c(2,24)=5
       exch2_jthi_c(2,24)=5
       exch2_opposingSend_record(2,24)=1

       exch2_neighbourId(3,24)=25
       exch2_pi(1,3,24)=1
       exch2_pi(2,3,24)=0
       exch2_pj(1,3,24)=0
       exch2_pj(2,3,24)=1
       exch2_oi(3,24)=0
       exch2_oi_f(3,24)=0
       exch2_oj(3,24)=0
       exch2_oj_f(3,24)=0
       exch2_itlo_c(3,24)=0
       exch2_ithi_c(3,24)=0
       exch2_jtlo_c(3,24)=0
       exch2_jthi_c(3,24)=5
       exch2_opposingSend_record(3,24)=3

       exch2_neighbourId(4,24)=23
       exch2_pi(1,4,24)=1
       exch2_pi(2,4,24)=0
       exch2_pj(1,4,24)=0
       exch2_pj(2,4,24)=1
       exch2_oi(4,24)=0
       exch2_oi_f(4,24)=0
       exch2_oj(4,24)=0
       exch2_oj_f(4,24)=0
       exch2_itlo_c(4,24)=9
       exch2_ithi_c(4,24)=9
       exch2_jtlo_c(4,24)=0
       exch2_jthi_c(4,24)=5
       exch2_opposingSend_record(4,24)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_25
C      Topology for tile 25
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(25)=8
       exch2_tny(25)=4
       exch2_tbasex(25)=16
       exch2_tbasey(25)=24
       exch2_txglobalo(25)=17
       exch2_tyglobalo(25)=25
       exch2_isWedge(25)=0
       exch2_isNedge(25)=0
       exch2_isEedge(25)=0
       exch2_isSedge(25)=0
       exch2_myFace(25)=1
       exch2_mydnx(25)=32
       exch2_mydny(25)=32
       exch2_nNeighbours(25)=3

       exch2_neighbourId(1,25)=29
       exch2_pi(1,1,25)=1
       exch2_pi(2,1,25)=0
       exch2_pj(1,1,25)=0
       exch2_pj(2,1,25)=1
       exch2_oi(1,25)=0
       exch2_oi_f(1,25)=0
       exch2_oj(1,25)=0
       exch2_oj_f(1,25)=0
       exch2_itlo_c(1,25)=0
       exch2_ithi_c(1,25)=9
       exch2_jtlo_c(1,25)=0
       exch2_jthi_c(1,25)=0
       exch2_opposingSend_record(1,25)=3

       exch2_neighbourId(2,25)=26
       exch2_pi(1,2,25)=1
       exch2_pi(2,2,25)=0
       exch2_pj(1,2,25)=0
       exch2_pj(2,2,25)=1
       exch2_oi(2,25)=0
       exch2_oi_f(2,25)=0
       exch2_oj(2,25)=0
       exch2_oj_f(2,25)=0
       exch2_itlo_c(2,25)=0
       exch2_ithi_c(2,25)=0
       exch2_jtlo_c(2,25)=0
       exch2_jthi_c(2,25)=5
       exch2_opposingSend_record(2,25)=4

       exch2_neighbourId(3,25)=24
       exch2_pi(1,3,25)=1
       exch2_pi(2,3,25)=0
       exch2_pj(1,3,25)=0
       exch2_pj(2,3,25)=1
       exch2_oi(3,25)=0
       exch2_oi_f(3,25)=0
       exch2_oj(3,25)=0
       exch2_oj_f(3,25)=0
       exch2_itlo_c(3,25)=9
       exch2_ithi_c(3,25)=9
       exch2_jtlo_c(3,25)=0
       exch2_jthi_c(3,25)=5
       exch2_opposingSend_record(3,25)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_26
C      Topology for tile 26
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(26)=8
       exch2_tny(26)=4
       exch2_tbasex(26)=24
       exch2_tbasey(26)=24
       exch2_txglobalo(26)=25
       exch2_tyglobalo(26)=25
       exch2_isWedge(26)=0
       exch2_isNedge(26)=0
       exch2_isEedge(26)=1
       exch2_isSedge(26)=0
       exch2_myFace(26)=1
       exch2_mydnx(26)=32
       exch2_mydny(26)=32
       exch2_nNeighbours(26)=4

       exch2_neighbourId(1,26)=30
       exch2_pi(1,1,26)=1
       exch2_pi(2,1,26)=0
       exch2_pj(1,1,26)=0
       exch2_pj(2,1,26)=1
       exch2_oi(1,26)=0
       exch2_oi_f(1,26)=0
       exch2_oj(1,26)=0
       exch2_oj_f(1,26)=0
       exch2_itlo_c(1,26)=0
       exch2_ithi_c(1,26)=9
       exch2_jtlo_c(1,26)=0
       exch2_jthi_c(1,26)=0
       exch2_opposingSend_record(1,26)=2

       exch2_neighbourId(2,26)=22
       exch2_pi(1,2,26)=1
       exch2_pi(2,2,26)=0
       exch2_pj(1,2,26)=0
       exch2_pj(2,2,26)=1
       exch2_oi(2,26)=0
       exch2_oi_f(2,26)=0
       exch2_oj(2,26)=0
       exch2_oj_f(2,26)=0
       exch2_itlo_c(2,26)=1
       exch2_ithi_c(2,26)=8
       exch2_jtlo_c(2,26)=5
       exch2_jthi_c(2,26)=5
       exch2_opposingSend_record(2,26)=1

       exch2_neighbourId(3,26)=54
       exch2_pi(1,3,26)=1
       exch2_pi(2,3,26)=0
       exch2_pj(1,3,26)=0
       exch2_pj(2,3,26)=1
       exch2_oi(3,26)=32
       exch2_oi_f(3,26)=32
       exch2_oj(3,26)=0
       exch2_oj_f(3,26)=0
       exch2_itlo_c(3,26)=0
       exch2_ithi_c(3,26)=0
       exch2_jtlo_c(3,26)=0
       exch2_jthi_c(3,26)=5
       exch2_opposingSend_record(3,26)=3

       exch2_neighbourId(4,26)=25
       exch2_pi(1,4,26)=1
       exch2_pi(2,4,26)=0
       exch2_pj(1,4,26)=0
       exch2_pj(2,4,26)=1
       exch2_oi(4,26)=0
       exch2_oi_f(4,26)=0
       exch2_oj(4,26)=0
       exch2_oj_f(4,26)=0
       exch2_itlo_c(4,26)=9
       exch2_ithi_c(4,26)=9
       exch2_jtlo_c(4,26)=0
       exch2_jthi_c(4,26)=5
       exch2_opposingSend_record(4,26)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_27
C      Topology for tile 27
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(27)=8
       exch2_tny(27)=4
       exch2_tbasex(27)=0
       exch2_tbasey(27)=28
       exch2_txglobalo(27)=1
       exch2_tyglobalo(27)=29
       exch2_isWedge(27)=1
       exch2_isNedge(27)=1
       exch2_isEedge(27)=0
       exch2_isSedge(27)=0
       exch2_myFace(27)=1
       exch2_mydnx(27)=32
       exch2_mydny(27)=32
       exch2_nNeighbours(27)=5

       exch2_neighbourId(1,27)=77
       exch2_pi(1,1,27)=0
       exch2_pi(2,1,27)=-1
       exch2_pj(1,1,27)=1
       exch2_pj(2,1,27)=0
       exch2_oi(1,27)=33
       exch2_oi_f(1,27)=34
       exch2_oj(1,27)=32
       exch2_oj_f(1,27)=32
       exch2_itlo_c(1,27)=0
       exch2_ithi_c(1,27)=0
       exch2_jtlo_c(1,27)=0
       exch2_jthi_c(1,27)=5
       exch2_opposingSend_record(1,27)=4

       exch2_neighbourId(2,27)=80
       exch2_pi(1,2,27)=0
       exch2_pi(2,2,27)=-1
       exch2_pj(1,2,27)=1
       exch2_pj(2,2,27)=0
       exch2_oi(2,27)=33
       exch2_oi_f(2,27)=34
       exch2_oj(2,27)=32
       exch2_oj_f(2,27)=32
       exch2_itlo_c(2,27)=0
       exch2_ithi_c(2,27)=0
       exch2_jtlo_c(2,27)=0
       exch2_jthi_c(2,27)=5
       exch2_opposingSend_record(2,27)=5

       exch2_neighbourId(3,27)=23
       exch2_pi(1,3,27)=1
       exch2_pi(2,3,27)=0
       exch2_pj(1,3,27)=0
       exch2_pj(2,3,27)=1
       exch2_oi(3,27)=0
       exch2_oi_f(3,27)=0
       exch2_oj(3,27)=0
       exch2_oj_f(3,27)=0
       exch2_itlo_c(3,27)=1
       exch2_ithi_c(3,27)=8
       exch2_jtlo_c(3,27)=5
       exch2_jthi_c(3,27)=5
       exch2_opposingSend_record(3,27)=1

       exch2_neighbourId(4,27)=28
       exch2_pi(1,4,27)=1
       exch2_pi(2,4,27)=0
       exch2_pj(1,4,27)=0
       exch2_pj(2,4,27)=1
       exch2_oi(4,27)=0
       exch2_oi_f(4,27)=0
       exch2_oj(4,27)=0
       exch2_oj_f(4,27)=0
       exch2_itlo_c(4,27)=0
       exch2_ithi_c(4,27)=0
       exch2_jtlo_c(4,27)=0
       exch2_jthi_c(4,27)=5
       exch2_opposingSend_record(4,27)=5

       exch2_neighbourId(5,27)=142
       exch2_pi(1,5,27)=0
       exch2_pi(2,5,27)=1
       exch2_pj(1,5,27)=-1
       exch2_pj(2,5,27)=0
       exch2_oi(5,27)=-32
       exch2_oi_f(5,27)=-32
       exch2_oj(5,27)=33
       exch2_oj_f(5,27)=34
       exch2_itlo_c(5,27)=0
       exch2_ithi_c(5,27)=5
       exch2_jtlo_c(5,27)=5
       exch2_jthi_c(5,27)=5
       exch2_opposingSend_record(5,27)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_28
C      Topology for tile 28
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(28)=8
       exch2_tny(28)=4
       exch2_tbasex(28)=8
       exch2_tbasey(28)=28
       exch2_txglobalo(28)=9
       exch2_tyglobalo(28)=29
       exch2_isWedge(28)=0
       exch2_isNedge(28)=1
       exch2_isEedge(28)=0
       exch2_isSedge(28)=0
       exch2_myFace(28)=1
       exch2_mydnx(28)=32
       exch2_mydny(28)=32
       exch2_nNeighbours(28)=5

       exch2_neighbourId(1,28)=69
       exch2_pi(1,1,28)=0
       exch2_pi(2,1,28)=-1
       exch2_pj(1,1,28)=1
       exch2_pj(2,1,28)=0
       exch2_oi(1,28)=33
       exch2_oi_f(1,28)=34
       exch2_oj(1,28)=32
       exch2_oj_f(1,28)=32
       exch2_itlo_c(1,28)=0
       exch2_ithi_c(1,28)=0
       exch2_jtlo_c(1,28)=0
       exch2_jthi_c(1,28)=5
       exch2_opposingSend_record(1,28)=4

       exch2_neighbourId(2,28)=73
       exch2_pi(1,2,28)=0
       exch2_pi(2,2,28)=-1
       exch2_pj(1,2,28)=1
       exch2_pj(2,2,28)=0
       exch2_oi(2,28)=33
       exch2_oi_f(2,28)=34
       exch2_oj(2,28)=32
       exch2_oj_f(2,28)=32
       exch2_itlo_c(2,28)=0
       exch2_ithi_c(2,28)=0
       exch2_jtlo_c(2,28)=0
       exch2_jthi_c(2,28)=5
       exch2_opposingSend_record(2,28)=4

       exch2_neighbourId(3,28)=24
       exch2_pi(1,3,28)=1
       exch2_pi(2,3,28)=0
       exch2_pj(1,3,28)=0
       exch2_pj(2,3,28)=1
       exch2_oi(3,28)=0
       exch2_oi_f(3,28)=0
       exch2_oj(3,28)=0
       exch2_oj_f(3,28)=0
       exch2_itlo_c(3,28)=1
       exch2_ithi_c(3,28)=8
       exch2_jtlo_c(3,28)=5
       exch2_jthi_c(3,28)=5
       exch2_opposingSend_record(3,28)=1

       exch2_neighbourId(4,28)=29
       exch2_pi(1,4,28)=1
       exch2_pi(2,4,28)=0
       exch2_pj(1,4,28)=0
       exch2_pj(2,4,28)=1
       exch2_oi(4,28)=0
       exch2_oi_f(4,28)=0
       exch2_oj(4,28)=0
       exch2_oj_f(4,28)=0
       exch2_itlo_c(4,28)=0
       exch2_ithi_c(4,28)=0
       exch2_jtlo_c(4,28)=0
       exch2_jthi_c(4,28)=5
       exch2_opposingSend_record(4,28)=5

       exch2_neighbourId(5,28)=27
       exch2_pi(1,5,28)=1
       exch2_pi(2,5,28)=0
       exch2_pj(1,5,28)=0
       exch2_pj(2,5,28)=1
       exch2_oi(5,28)=0
       exch2_oi_f(5,28)=0
       exch2_oj(5,28)=0
       exch2_oj_f(5,28)=0
       exch2_itlo_c(5,28)=9
       exch2_ithi_c(5,28)=9
       exch2_jtlo_c(5,28)=0
       exch2_jthi_c(5,28)=5
       exch2_opposingSend_record(5,28)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_29
C      Topology for tile 29
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(29)=8
       exch2_tny(29)=4
       exch2_tbasex(29)=16
       exch2_tbasey(29)=28
       exch2_txglobalo(29)=17
       exch2_tyglobalo(29)=29
       exch2_isWedge(29)=0
       exch2_isNedge(29)=1
       exch2_isEedge(29)=0
       exch2_isSedge(29)=0
       exch2_myFace(29)=1
       exch2_mydnx(29)=32
       exch2_mydny(29)=32
       exch2_nNeighbours(29)=5

       exch2_neighbourId(1,29)=61
       exch2_pi(1,1,29)=0
       exch2_pi(2,1,29)=-1
       exch2_pj(1,1,29)=1
       exch2_pj(2,1,29)=0
       exch2_oi(1,29)=33
       exch2_oi_f(1,29)=34
       exch2_oj(1,29)=32
       exch2_oj_f(1,29)=32
       exch2_itlo_c(1,29)=0
       exch2_ithi_c(1,29)=0
       exch2_jtlo_c(1,29)=0
       exch2_jthi_c(1,29)=5
       exch2_opposingSend_record(1,29)=4

       exch2_neighbourId(2,29)=65
       exch2_pi(1,2,29)=0
       exch2_pi(2,2,29)=-1
       exch2_pj(1,2,29)=1
       exch2_pj(2,2,29)=0
       exch2_oi(2,29)=33
       exch2_oi_f(2,29)=34
       exch2_oj(2,29)=32
       exch2_oj_f(2,29)=32
       exch2_itlo_c(2,29)=0
       exch2_ithi_c(2,29)=0
       exch2_jtlo_c(2,29)=0
       exch2_jthi_c(2,29)=5
       exch2_opposingSend_record(2,29)=4

       exch2_neighbourId(3,29)=25
       exch2_pi(1,3,29)=1
       exch2_pi(2,3,29)=0
       exch2_pj(1,3,29)=0
       exch2_pj(2,3,29)=1
       exch2_oi(3,29)=0
       exch2_oi_f(3,29)=0
       exch2_oj(3,29)=0
       exch2_oj_f(3,29)=0
       exch2_itlo_c(3,29)=1
       exch2_ithi_c(3,29)=8
       exch2_jtlo_c(3,29)=5
       exch2_jthi_c(3,29)=5
       exch2_opposingSend_record(3,29)=1

       exch2_neighbourId(4,29)=30
       exch2_pi(1,4,29)=1
       exch2_pi(2,4,29)=0
       exch2_pj(1,4,29)=0
       exch2_pj(2,4,29)=1
       exch2_oi(4,29)=0
       exch2_oi_f(4,29)=0
       exch2_oj(4,29)=0
       exch2_oj_f(4,29)=0
       exch2_itlo_c(4,29)=0
       exch2_ithi_c(4,29)=0
       exch2_jtlo_c(4,29)=0
       exch2_jthi_c(4,29)=5
       exch2_opposingSend_record(4,29)=3

       exch2_neighbourId(5,29)=28
       exch2_pi(1,5,29)=1
       exch2_pi(2,5,29)=0
       exch2_pj(1,5,29)=0
       exch2_pj(2,5,29)=1
       exch2_oi(5,29)=0
       exch2_oi_f(5,29)=0
       exch2_oj(5,29)=0
       exch2_oj_f(5,29)=0
       exch2_itlo_c(5,29)=9
       exch2_ithi_c(5,29)=9
       exch2_jtlo_c(5,29)=0
       exch2_jthi_c(5,29)=5
       exch2_opposingSend_record(5,29)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_30
C      Topology for tile 30
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(30)=8
       exch2_tny(30)=4
       exch2_tbasex(30)=24
       exch2_tbasey(30)=28
       exch2_txglobalo(30)=25
       exch2_tyglobalo(30)=29
       exch2_isWedge(30)=0
       exch2_isNedge(30)=1
       exch2_isEedge(30)=1
       exch2_isSedge(30)=0
       exch2_myFace(30)=1
       exch2_mydnx(30)=32
       exch2_mydny(30)=32
       exch2_nNeighbours(30)=3

       exch2_neighbourId(1,30)=59
       exch2_pi(1,1,30)=0
       exch2_pi(2,1,30)=-1
       exch2_pj(1,1,30)=1
       exch2_pj(2,1,30)=0
       exch2_oi(1,30)=33
       exch2_oi_f(1,30)=34
       exch2_oj(1,30)=32
       exch2_oj_f(1,30)=32
       exch2_itlo_c(1,30)=0
       exch2_ithi_c(1,30)=0
       exch2_jtlo_c(1,30)=0
       exch2_jthi_c(1,30)=5
       exch2_opposingSend_record(1,30)=2

       exch2_neighbourId(2,30)=26
       exch2_pi(1,2,30)=1
       exch2_pi(2,2,30)=0
       exch2_pj(1,2,30)=0
       exch2_pj(2,2,30)=1
       exch2_oi(2,30)=0
       exch2_oi_f(2,30)=0
       exch2_oj(2,30)=0
       exch2_oj_f(2,30)=0
       exch2_itlo_c(2,30)=1
       exch2_ithi_c(2,30)=8
       exch2_jtlo_c(2,30)=5
       exch2_jthi_c(2,30)=5
       exch2_opposingSend_record(2,30)=1

       exch2_neighbourId(3,30)=29
       exch2_pi(1,3,30)=1
       exch2_pi(2,3,30)=0
       exch2_pj(1,3,30)=0
       exch2_pj(2,3,30)=1
       exch2_oi(3,30)=0
       exch2_oi_f(3,30)=0
       exch2_oj(3,30)=0
       exch2_oj_f(3,30)=0
       exch2_itlo_c(3,30)=9
       exch2_ithi_c(3,30)=9
       exch2_jtlo_c(3,30)=0
       exch2_jthi_c(3,30)=5
       exch2_opposingSend_record(3,30)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_31
C      Topology for tile 31
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(31)=8
       exch2_tny(31)=4
       exch2_tbasex(31)=0
       exch2_tbasey(31)=0
       exch2_txglobalo(31)=33
       exch2_tyglobalo(31)=1
       exch2_isWedge(31)=1
       exch2_isNedge(31)=0
       exch2_isEedge(31)=0
       exch2_isSedge(31)=1
       exch2_myFace(31)=2
       exch2_mydnx(31)=32
       exch2_mydny(31)=32
       exch2_nNeighbours(31)=5

       exch2_neighbourId(1,31)=35
       exch2_pi(1,1,31)=1
       exch2_pi(2,1,31)=0
       exch2_pj(1,1,31)=0
       exch2_pj(2,1,31)=1
       exch2_oi(1,31)=0
       exch2_oi_f(1,31)=0
       exch2_oj(1,31)=0
       exch2_oj_f(1,31)=0
       exch2_itlo_c(1,31)=0
       exch2_ithi_c(1,31)=9
       exch2_jtlo_c(1,31)=0
       exch2_jthi_c(1,31)=0
       exch2_opposingSend_record(1,31)=2

       exch2_neighbourId(2,31)=172
       exch2_pi(1,2,31)=0
       exch2_pi(2,2,31)=-1
       exch2_pj(1,2,31)=1
       exch2_pj(2,2,31)=0
       exch2_oi(2,31)=33
       exch2_oi_f(2,31)=34
       exch2_oj(2,31)=-32
       exch2_oj_f(2,31)=-32
       exch2_itlo_c(2,31)=9
       exch2_ithi_c(2,31)=9
       exch2_jtlo_c(2,31)=0
       exch2_jthi_c(2,31)=5
       exch2_opposingSend_record(2,31)=3

       exch2_neighbourId(3,31)=176
       exch2_pi(1,3,31)=0
       exch2_pi(2,3,31)=-1
       exch2_pj(1,3,31)=1
       exch2_pj(2,3,31)=0
       exch2_oi(3,31)=33
       exch2_oi_f(3,31)=34
       exch2_oj(3,31)=-32
       exch2_oj_f(3,31)=-32
       exch2_itlo_c(3,31)=9
       exch2_ithi_c(3,31)=9
       exch2_jtlo_c(3,31)=0
       exch2_jthi_c(3,31)=5
       exch2_opposingSend_record(3,31)=3

       exch2_neighbourId(4,31)=32
       exch2_pi(1,4,31)=1
       exch2_pi(2,4,31)=0
       exch2_pj(1,4,31)=0
       exch2_pj(2,4,31)=1
       exch2_oi(4,31)=0
       exch2_oi_f(4,31)=0
       exch2_oj(4,31)=0
       exch2_oj_f(4,31)=0
       exch2_itlo_c(4,31)=0
       exch2_ithi_c(4,31)=0
       exch2_jtlo_c(4,31)=0
       exch2_jthi_c(4,31)=5
       exch2_opposingSend_record(4,31)=5

       exch2_neighbourId(5,31)=4
       exch2_pi(1,5,31)=1
       exch2_pi(2,5,31)=0
       exch2_pj(1,5,31)=0
       exch2_pj(2,5,31)=1
       exch2_oi(5,31)=-32
       exch2_oi_f(5,31)=-32
       exch2_oj(5,31)=0
       exch2_oj_f(5,31)=0
       exch2_itlo_c(5,31)=9
       exch2_ithi_c(5,31)=9
       exch2_jtlo_c(5,31)=0
       exch2_jthi_c(5,31)=5
       exch2_opposingSend_record(5,31)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_32
C      Topology for tile 32
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(32)=8
       exch2_tny(32)=4
       exch2_tbasex(32)=8
       exch2_tbasey(32)=0
       exch2_txglobalo(32)=41
       exch2_tyglobalo(32)=1
       exch2_isWedge(32)=0
       exch2_isNedge(32)=0
       exch2_isEedge(32)=0
       exch2_isSedge(32)=1
       exch2_myFace(32)=2
       exch2_mydnx(32)=32
       exch2_mydny(32)=32
       exch2_nNeighbours(32)=5

       exch2_neighbourId(1,32)=36
       exch2_pi(1,1,32)=1
       exch2_pi(2,1,32)=0
       exch2_pj(1,1,32)=0
       exch2_pj(2,1,32)=1
       exch2_oi(1,32)=0
       exch2_oi_f(1,32)=0
       exch2_oj(1,32)=0
       exch2_oj_f(1,32)=0
       exch2_itlo_c(1,32)=0
       exch2_ithi_c(1,32)=9
       exch2_jtlo_c(1,32)=0
       exch2_jthi_c(1,32)=0
       exch2_opposingSend_record(1,32)=2

       exch2_neighbourId(2,32)=164
       exch2_pi(1,2,32)=0
       exch2_pi(2,2,32)=-1
       exch2_pj(1,2,32)=1
       exch2_pj(2,2,32)=0
       exch2_oi(2,32)=33
       exch2_oi_f(2,32)=34
       exch2_oj(2,32)=-32
       exch2_oj_f(2,32)=-32
       exch2_itlo_c(2,32)=9
       exch2_ithi_c(2,32)=9
       exch2_jtlo_c(2,32)=0
       exch2_jthi_c(2,32)=5
       exch2_opposingSend_record(2,32)=3

       exch2_neighbourId(3,32)=168
       exch2_pi(1,3,32)=0
       exch2_pi(2,3,32)=-1
       exch2_pj(1,3,32)=1
       exch2_pj(2,3,32)=0
       exch2_oi(3,32)=33
       exch2_oi_f(3,32)=34
       exch2_oj(3,32)=-32
       exch2_oj_f(3,32)=-32
       exch2_itlo_c(3,32)=9
       exch2_ithi_c(3,32)=9
       exch2_jtlo_c(3,32)=0
       exch2_jthi_c(3,32)=5
       exch2_opposingSend_record(3,32)=3

       exch2_neighbourId(4,32)=33
       exch2_pi(1,4,32)=1
       exch2_pi(2,4,32)=0
       exch2_pj(1,4,32)=0
       exch2_pj(2,4,32)=1
       exch2_oi(4,32)=0
       exch2_oi_f(4,32)=0
       exch2_oj(4,32)=0
       exch2_oj_f(4,32)=0
       exch2_itlo_c(4,32)=0
       exch2_ithi_c(4,32)=0
       exch2_jtlo_c(4,32)=0
       exch2_jthi_c(4,32)=5
       exch2_opposingSend_record(4,32)=5

       exch2_neighbourId(5,32)=31
       exch2_pi(1,5,32)=1
       exch2_pi(2,5,32)=0
       exch2_pj(1,5,32)=0
       exch2_pj(2,5,32)=1
       exch2_oi(5,32)=0
       exch2_oi_f(5,32)=0
       exch2_oj(5,32)=0
       exch2_oj_f(5,32)=0
       exch2_itlo_c(5,32)=9
       exch2_ithi_c(5,32)=9
       exch2_jtlo_c(5,32)=0
       exch2_jthi_c(5,32)=5
       exch2_opposingSend_record(5,32)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_33
C      Topology for tile 33
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(33)=8
       exch2_tny(33)=4
       exch2_tbasex(33)=16
       exch2_tbasey(33)=0
       exch2_txglobalo(33)=49
       exch2_tyglobalo(33)=1
       exch2_isWedge(33)=0
       exch2_isNedge(33)=0
       exch2_isEedge(33)=0
       exch2_isSedge(33)=1
       exch2_myFace(33)=2
       exch2_mydnx(33)=32
       exch2_mydny(33)=32
       exch2_nNeighbours(33)=5

       exch2_neighbourId(1,33)=37
       exch2_pi(1,1,33)=1
       exch2_pi(2,1,33)=0
       exch2_pj(1,1,33)=0
       exch2_pj(2,1,33)=1
       exch2_oi(1,33)=0
       exch2_oi_f(1,33)=0
       exch2_oj(1,33)=0
       exch2_oj_f(1,33)=0
       exch2_itlo_c(1,33)=0
       exch2_ithi_c(1,33)=9
       exch2_jtlo_c(1,33)=0
       exch2_jthi_c(1,33)=0
       exch2_opposingSend_record(1,33)=2

       exch2_neighbourId(2,33)=156
       exch2_pi(1,2,33)=0
       exch2_pi(2,2,33)=-1
       exch2_pj(1,2,33)=1
       exch2_pj(2,2,33)=0
       exch2_oi(2,33)=33
       exch2_oi_f(2,33)=34
       exch2_oj(2,33)=-32
       exch2_oj_f(2,33)=-32
       exch2_itlo_c(2,33)=9
       exch2_ithi_c(2,33)=9
       exch2_jtlo_c(2,33)=0
       exch2_jthi_c(2,33)=5
       exch2_opposingSend_record(2,33)=3

       exch2_neighbourId(3,33)=160
       exch2_pi(1,3,33)=0
       exch2_pi(2,3,33)=-1
       exch2_pj(1,3,33)=1
       exch2_pj(2,3,33)=0
       exch2_oi(3,33)=33
       exch2_oi_f(3,33)=34
       exch2_oj(3,33)=-32
       exch2_oj_f(3,33)=-32
       exch2_itlo_c(3,33)=9
       exch2_ithi_c(3,33)=9
       exch2_jtlo_c(3,33)=0
       exch2_jthi_c(3,33)=5
       exch2_opposingSend_record(3,33)=3

       exch2_neighbourId(4,33)=34
       exch2_pi(1,4,33)=1
       exch2_pi(2,4,33)=0
       exch2_pj(1,4,33)=0
       exch2_pj(2,4,33)=1
       exch2_oi(4,33)=0
       exch2_oi_f(4,33)=0
       exch2_oj(4,33)=0
       exch2_oj_f(4,33)=0
       exch2_itlo_c(4,33)=0
       exch2_ithi_c(4,33)=0
       exch2_jtlo_c(4,33)=0
       exch2_jthi_c(4,33)=5
       exch2_opposingSend_record(4,33)=4

       exch2_neighbourId(5,33)=32
       exch2_pi(1,5,33)=1
       exch2_pi(2,5,33)=0
       exch2_pj(1,5,33)=0
       exch2_pj(2,5,33)=1
       exch2_oi(5,33)=0
       exch2_oi_f(5,33)=0
       exch2_oj(5,33)=0
       exch2_oj_f(5,33)=0
       exch2_itlo_c(5,33)=9
       exch2_ithi_c(5,33)=9
       exch2_jtlo_c(5,33)=0
       exch2_jthi_c(5,33)=5
       exch2_opposingSend_record(5,33)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_34
C      Topology for tile 34
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(34)=8
       exch2_tny(34)=4
       exch2_tbasex(34)=24
       exch2_tbasey(34)=0
       exch2_txglobalo(34)=57
       exch2_tyglobalo(34)=1
       exch2_isWedge(34)=0
       exch2_isNedge(34)=0
       exch2_isEedge(34)=1
       exch2_isSedge(34)=1
       exch2_myFace(34)=2
       exch2_mydnx(34)=32
       exch2_mydny(34)=32
       exch2_nNeighbours(34)=4

       exch2_neighbourId(1,34)=148
       exch2_pi(1,1,34)=0
       exch2_pi(2,1,34)=-1
       exch2_pj(1,1,34)=1
       exch2_pj(2,1,34)=0
       exch2_oi(1,34)=33
       exch2_oi_f(1,34)=34
       exch2_oj(1,34)=-32
       exch2_oj_f(1,34)=-32
       exch2_itlo_c(1,34)=9
       exch2_ithi_c(1,34)=9
       exch2_jtlo_c(1,34)=0
       exch2_jthi_c(1,34)=5
       exch2_opposingSend_record(1,34)=4

       exch2_neighbourId(2,34)=152
       exch2_pi(1,2,34)=0
       exch2_pi(2,2,34)=-1
       exch2_pj(1,2,34)=1
       exch2_pj(2,2,34)=0
       exch2_oi(2,34)=33
       exch2_oi_f(2,34)=34
       exch2_oj(2,34)=-32
       exch2_oj_f(2,34)=-32
       exch2_itlo_c(2,34)=9
       exch2_ithi_c(2,34)=9
       exch2_jtlo_c(2,34)=0
       exch2_jthi_c(2,34)=5
       exch2_opposingSend_record(2,34)=3

       exch2_neighbourId(3,34)=86
       exch2_pi(1,3,34)=0
       exch2_pi(2,3,34)=1
       exch2_pj(1,3,34)=-1
       exch2_pj(2,3,34)=0
       exch2_oi(3,34)=32
       exch2_oi_f(3,34)=32
       exch2_oj(3,34)=33
       exch2_oj_f(3,34)=34
       exch2_itlo_c(3,34)=4
       exch2_ithi_c(3,34)=9
       exch2_jtlo_c(3,34)=0
       exch2_jthi_c(3,34)=0
       exch2_opposingSend_record(3,34)=2

       exch2_neighbourId(4,34)=33
       exch2_pi(1,4,34)=1
       exch2_pi(2,4,34)=0
       exch2_pj(1,4,34)=0
       exch2_pj(2,4,34)=1
       exch2_oi(4,34)=0
       exch2_oi_f(4,34)=0
       exch2_oj(4,34)=0
       exch2_oj_f(4,34)=0
       exch2_itlo_c(4,34)=9
       exch2_ithi_c(4,34)=9
       exch2_jtlo_c(4,34)=0
       exch2_jthi_c(4,34)=5
       exch2_opposingSend_record(4,34)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_35
C      Topology for tile 35
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(35)=8
       exch2_tny(35)=4
       exch2_tbasex(35)=0
       exch2_tbasey(35)=4
       exch2_txglobalo(35)=33
       exch2_tyglobalo(35)=5
       exch2_isWedge(35)=1
       exch2_isNedge(35)=0
       exch2_isEedge(35)=0
       exch2_isSedge(35)=0
       exch2_myFace(35)=2
       exch2_mydnx(35)=32
       exch2_mydny(35)=32
       exch2_nNeighbours(35)=4

       exch2_neighbourId(1,35)=38
       exch2_pi(1,1,35)=1
       exch2_pi(2,1,35)=0
       exch2_pj(1,1,35)=0
       exch2_pj(2,1,35)=1
       exch2_oi(1,35)=0
       exch2_oi_f(1,35)=0
       exch2_oj(1,35)=0
       exch2_oj_f(1,35)=0
       exch2_itlo_c(1,35)=0
       exch2_ithi_c(1,35)=9
       exch2_jtlo_c(1,35)=0
       exch2_jthi_c(1,35)=0
       exch2_opposingSend_record(1,35)=2

       exch2_neighbourId(2,35)=31
       exch2_pi(1,2,35)=1
       exch2_pi(2,2,35)=0
       exch2_pj(1,2,35)=0
       exch2_pj(2,2,35)=1
       exch2_oi(2,35)=0
       exch2_oi_f(2,35)=0
       exch2_oj(2,35)=0
       exch2_oj_f(2,35)=0
       exch2_itlo_c(2,35)=1
       exch2_ithi_c(2,35)=8
       exch2_jtlo_c(2,35)=5
       exch2_jthi_c(2,35)=5
       exch2_opposingSend_record(2,35)=1

       exch2_neighbourId(3,35)=36
       exch2_pi(1,3,35)=1
       exch2_pi(2,3,35)=0
       exch2_pj(1,3,35)=0
       exch2_pj(2,3,35)=1
       exch2_oi(3,35)=0
       exch2_oi_f(3,35)=0
       exch2_oj(3,35)=0
       exch2_oj_f(3,35)=0
       exch2_itlo_c(3,35)=0
       exch2_ithi_c(3,35)=0
       exch2_jtlo_c(3,35)=0
       exch2_jthi_c(3,35)=5
       exch2_opposingSend_record(3,35)=4

       exch2_neighbourId(4,35)=8
       exch2_pi(1,4,35)=1
       exch2_pi(2,4,35)=0
       exch2_pj(1,4,35)=0
       exch2_pj(2,4,35)=1
       exch2_oi(4,35)=-32
       exch2_oi_f(4,35)=-32
       exch2_oj(4,35)=0
       exch2_oj_f(4,35)=0
       exch2_itlo_c(4,35)=9
       exch2_ithi_c(4,35)=9
       exch2_jtlo_c(4,35)=0
       exch2_jthi_c(4,35)=5
       exch2_opposingSend_record(4,35)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_36
C      Topology for tile 36
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(36)=8
       exch2_tny(36)=4
       exch2_tbasex(36)=8
       exch2_tbasey(36)=4
       exch2_txglobalo(36)=41
       exch2_tyglobalo(36)=5
       exch2_isWedge(36)=0
       exch2_isNedge(36)=0
       exch2_isEedge(36)=0
       exch2_isSedge(36)=0
       exch2_myFace(36)=2
       exch2_mydnx(36)=32
       exch2_mydny(36)=32
       exch2_nNeighbours(36)=4

       exch2_neighbourId(1,36)=39
       exch2_pi(1,1,36)=1
       exch2_pi(2,1,36)=0
       exch2_pj(1,1,36)=0
       exch2_pj(2,1,36)=1
       exch2_oi(1,36)=0
       exch2_oi_f(1,36)=0
       exch2_oj(1,36)=0
       exch2_oj_f(1,36)=0
       exch2_itlo_c(1,36)=0
       exch2_ithi_c(1,36)=9
       exch2_jtlo_c(1,36)=0
       exch2_jthi_c(1,36)=0
       exch2_opposingSend_record(1,36)=2

       exch2_neighbourId(2,36)=32
       exch2_pi(1,2,36)=1
       exch2_pi(2,2,36)=0
       exch2_pj(1,2,36)=0
       exch2_pj(2,2,36)=1
       exch2_oi(2,36)=0
       exch2_oi_f(2,36)=0
       exch2_oj(2,36)=0
       exch2_oj_f(2,36)=0
       exch2_itlo_c(2,36)=1
       exch2_ithi_c(2,36)=8
       exch2_jtlo_c(2,36)=5
       exch2_jthi_c(2,36)=5
       exch2_opposingSend_record(2,36)=1

       exch2_neighbourId(3,36)=37
       exch2_pi(1,3,36)=1
       exch2_pi(2,3,36)=0
       exch2_pj(1,3,36)=0
       exch2_pj(2,3,36)=1
       exch2_oi(3,36)=0
       exch2_oi_f(3,36)=0
       exch2_oj(3,36)=0
       exch2_oj_f(3,36)=0
       exch2_itlo_c(3,36)=0
       exch2_ithi_c(3,36)=0
       exch2_jtlo_c(3,36)=0
       exch2_jthi_c(3,36)=5
       exch2_opposingSend_record(3,36)=3

       exch2_neighbourId(4,36)=35
       exch2_pi(1,4,36)=1
       exch2_pi(2,4,36)=0
       exch2_pj(1,4,36)=0
       exch2_pj(2,4,36)=1
       exch2_oi(4,36)=0
       exch2_oi_f(4,36)=0
       exch2_oj(4,36)=0
       exch2_oj_f(4,36)=0
       exch2_itlo_c(4,36)=9
       exch2_ithi_c(4,36)=9
       exch2_jtlo_c(4,36)=0
       exch2_jthi_c(4,36)=5
       exch2_opposingSend_record(4,36)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_37
C      Topology for tile 37
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(37)=8
       exch2_tny(37)=4
       exch2_tbasex(37)=16
       exch2_tbasey(37)=4
       exch2_txglobalo(37)=49
       exch2_tyglobalo(37)=5
       exch2_isWedge(37)=0
       exch2_isNedge(37)=0
       exch2_isEedge(37)=0
       exch2_isSedge(37)=0
       exch2_myFace(37)=2
       exch2_mydnx(37)=32
       exch2_mydny(37)=32
       exch2_nNeighbours(37)=3

       exch2_neighbourId(1,37)=40
       exch2_pi(1,1,37)=1
       exch2_pi(2,1,37)=0
       exch2_pj(1,1,37)=0
       exch2_pj(2,1,37)=1
       exch2_oi(1,37)=0
       exch2_oi_f(1,37)=0
       exch2_oj(1,37)=0
       exch2_oj_f(1,37)=0
       exch2_itlo_c(1,37)=0
       exch2_ithi_c(1,37)=9
       exch2_jtlo_c(1,37)=0
       exch2_jthi_c(1,37)=0
       exch2_opposingSend_record(1,37)=2

       exch2_neighbourId(2,37)=33
       exch2_pi(1,2,37)=1
       exch2_pi(2,2,37)=0
       exch2_pj(1,2,37)=0
       exch2_pj(2,2,37)=1
       exch2_oi(2,37)=0
       exch2_oi_f(2,37)=0
       exch2_oj(2,37)=0
       exch2_oj_f(2,37)=0
       exch2_itlo_c(2,37)=1
       exch2_ithi_c(2,37)=8
       exch2_jtlo_c(2,37)=5
       exch2_jthi_c(2,37)=5
       exch2_opposingSend_record(2,37)=1

       exch2_neighbourId(3,37)=36
       exch2_pi(1,3,37)=1
       exch2_pi(2,3,37)=0
       exch2_pj(1,3,37)=0
       exch2_pj(2,3,37)=1
       exch2_oi(3,37)=0
       exch2_oi_f(3,37)=0
       exch2_oj(3,37)=0
       exch2_oj_f(3,37)=0
       exch2_itlo_c(3,37)=9
       exch2_ithi_c(3,37)=9
       exch2_jtlo_c(3,37)=0
       exch2_jthi_c(3,37)=5
       exch2_opposingSend_record(3,37)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_38
C      Topology for tile 38
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(38)=8
       exch2_tny(38)=4
       exch2_tbasex(38)=0
       exch2_tbasey(38)=8
       exch2_txglobalo(38)=33
       exch2_tyglobalo(38)=9
       exch2_isWedge(38)=1
       exch2_isNedge(38)=0
       exch2_isEedge(38)=0
       exch2_isSedge(38)=0
       exch2_myFace(38)=2
       exch2_mydnx(38)=32
       exch2_mydny(38)=32
       exch2_nNeighbours(38)=4

       exch2_neighbourId(1,38)=42
       exch2_pi(1,1,38)=1
       exch2_pi(2,1,38)=0
       exch2_pj(1,1,38)=0
       exch2_pj(2,1,38)=1
       exch2_oi(1,38)=0
       exch2_oi_f(1,38)=0
       exch2_oj(1,38)=0
       exch2_oj_f(1,38)=0
       exch2_itlo_c(1,38)=0
       exch2_ithi_c(1,38)=9
       exch2_jtlo_c(1,38)=0
       exch2_jthi_c(1,38)=0
       exch2_opposingSend_record(1,38)=2

       exch2_neighbourId(2,38)=35
       exch2_pi(1,2,38)=1
       exch2_pi(2,2,38)=0
       exch2_pj(1,2,38)=0
       exch2_pj(2,2,38)=1
       exch2_oi(2,38)=0
       exch2_oi_f(2,38)=0
       exch2_oj(2,38)=0
       exch2_oj_f(2,38)=0
       exch2_itlo_c(2,38)=1
       exch2_ithi_c(2,38)=8
       exch2_jtlo_c(2,38)=5
       exch2_jthi_c(2,38)=5
       exch2_opposingSend_record(2,38)=1

       exch2_neighbourId(3,38)=39
       exch2_pi(1,3,38)=1
       exch2_pi(2,3,38)=0
       exch2_pj(1,3,38)=0
       exch2_pj(2,3,38)=1
       exch2_oi(3,38)=0
       exch2_oi_f(3,38)=0
       exch2_oj(3,38)=0
       exch2_oj_f(3,38)=0
       exch2_itlo_c(3,38)=0
       exch2_ithi_c(3,38)=0
       exch2_jtlo_c(3,38)=0
       exch2_jthi_c(3,38)=5
       exch2_opposingSend_record(3,38)=4

       exch2_neighbourId(4,38)=12
       exch2_pi(1,4,38)=1
       exch2_pi(2,4,38)=0
       exch2_pj(1,4,38)=0
       exch2_pj(2,4,38)=1
       exch2_oi(4,38)=-32
       exch2_oi_f(4,38)=-32
       exch2_oj(4,38)=0
       exch2_oj_f(4,38)=0
       exch2_itlo_c(4,38)=9
       exch2_ithi_c(4,38)=9
       exch2_jtlo_c(4,38)=0
       exch2_jthi_c(4,38)=5
       exch2_opposingSend_record(4,38)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_39
C      Topology for tile 39
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(39)=8
       exch2_tny(39)=4
       exch2_tbasex(39)=8
       exch2_tbasey(39)=8
       exch2_txglobalo(39)=41
       exch2_tyglobalo(39)=9
       exch2_isWedge(39)=0
       exch2_isNedge(39)=0
       exch2_isEedge(39)=0
       exch2_isSedge(39)=0
       exch2_myFace(39)=2
       exch2_mydnx(39)=32
       exch2_mydny(39)=32
       exch2_nNeighbours(39)=4

       exch2_neighbourId(1,39)=43
       exch2_pi(1,1,39)=1
       exch2_pi(2,1,39)=0
       exch2_pj(1,1,39)=0
       exch2_pj(2,1,39)=1
       exch2_oi(1,39)=0
       exch2_oi_f(1,39)=0
       exch2_oj(1,39)=0
       exch2_oj_f(1,39)=0
       exch2_itlo_c(1,39)=0
       exch2_ithi_c(1,39)=9
       exch2_jtlo_c(1,39)=0
       exch2_jthi_c(1,39)=0
       exch2_opposingSend_record(1,39)=2

       exch2_neighbourId(2,39)=36
       exch2_pi(1,2,39)=1
       exch2_pi(2,2,39)=0
       exch2_pj(1,2,39)=0
       exch2_pj(2,2,39)=1
       exch2_oi(2,39)=0
       exch2_oi_f(2,39)=0
       exch2_oj(2,39)=0
       exch2_oj_f(2,39)=0
       exch2_itlo_c(2,39)=1
       exch2_ithi_c(2,39)=8
       exch2_jtlo_c(2,39)=5
       exch2_jthi_c(2,39)=5
       exch2_opposingSend_record(2,39)=1

       exch2_neighbourId(3,39)=40
       exch2_pi(1,3,39)=1
       exch2_pi(2,3,39)=0
       exch2_pj(1,3,39)=0
       exch2_pj(2,3,39)=1
       exch2_oi(3,39)=0
       exch2_oi_f(3,39)=0
       exch2_oj(3,39)=0
       exch2_oj_f(3,39)=0
       exch2_itlo_c(3,39)=0
       exch2_ithi_c(3,39)=0
       exch2_jtlo_c(3,39)=0
       exch2_jthi_c(3,39)=5
       exch2_opposingSend_record(3,39)=4

       exch2_neighbourId(4,39)=38
       exch2_pi(1,4,39)=1
       exch2_pi(2,4,39)=0
       exch2_pj(1,4,39)=0
       exch2_pj(2,4,39)=1
       exch2_oi(4,39)=0
       exch2_oi_f(4,39)=0
       exch2_oj(4,39)=0
       exch2_oj_f(4,39)=0
       exch2_itlo_c(4,39)=9
       exch2_ithi_c(4,39)=9
       exch2_jtlo_c(4,39)=0
       exch2_jthi_c(4,39)=5
       exch2_opposingSend_record(4,39)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_40
C      Topology for tile 40
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(40)=8
       exch2_tny(40)=4
       exch2_tbasex(40)=16
       exch2_tbasey(40)=8
       exch2_txglobalo(40)=49
       exch2_tyglobalo(40)=9
       exch2_isWedge(40)=0
       exch2_isNedge(40)=0
       exch2_isEedge(40)=0
       exch2_isSedge(40)=0
       exch2_myFace(40)=2
       exch2_mydnx(40)=32
       exch2_mydny(40)=32
       exch2_nNeighbours(40)=4

       exch2_neighbourId(1,40)=44
       exch2_pi(1,1,40)=1
       exch2_pi(2,1,40)=0
       exch2_pj(1,1,40)=0
       exch2_pj(2,1,40)=1
       exch2_oi(1,40)=0
       exch2_oi_f(1,40)=0
       exch2_oj(1,40)=0
       exch2_oj_f(1,40)=0
       exch2_itlo_c(1,40)=0
       exch2_ithi_c(1,40)=9
       exch2_jtlo_c(1,40)=0
       exch2_jthi_c(1,40)=0
       exch2_opposingSend_record(1,40)=2

       exch2_neighbourId(2,40)=37
       exch2_pi(1,2,40)=1
       exch2_pi(2,2,40)=0
       exch2_pj(1,2,40)=0
       exch2_pj(2,2,40)=1
       exch2_oi(2,40)=0
       exch2_oi_f(2,40)=0
       exch2_oj(2,40)=0
       exch2_oj_f(2,40)=0
       exch2_itlo_c(2,40)=1
       exch2_ithi_c(2,40)=8
       exch2_jtlo_c(2,40)=5
       exch2_jthi_c(2,40)=5
       exch2_opposingSend_record(2,40)=1

       exch2_neighbourId(3,40)=41
       exch2_pi(1,3,40)=1
       exch2_pi(2,3,40)=0
       exch2_pj(1,3,40)=0
       exch2_pj(2,3,40)=1
       exch2_oi(3,40)=0
       exch2_oi_f(3,40)=0
       exch2_oj(3,40)=0
       exch2_oj_f(3,40)=0
       exch2_itlo_c(3,40)=0
       exch2_ithi_c(3,40)=0
       exch2_jtlo_c(3,40)=0
       exch2_jthi_c(3,40)=5
       exch2_opposingSend_record(3,40)=3

       exch2_neighbourId(4,40)=39
       exch2_pi(1,4,40)=1
       exch2_pi(2,4,40)=0
       exch2_pj(1,4,40)=0
       exch2_pj(2,4,40)=1
       exch2_oi(4,40)=0
       exch2_oi_f(4,40)=0
       exch2_oj(4,40)=0
       exch2_oj_f(4,40)=0
       exch2_itlo_c(4,40)=9
       exch2_ithi_c(4,40)=9
       exch2_jtlo_c(4,40)=0
       exch2_jthi_c(4,40)=5
       exch2_opposingSend_record(4,40)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_41
C      Topology for tile 41
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(41)=8
       exch2_tny(41)=4
       exch2_tbasex(41)=24
       exch2_tbasey(41)=8
       exch2_txglobalo(41)=57
       exch2_tyglobalo(41)=9
       exch2_isWedge(41)=0
       exch2_isNedge(41)=0
       exch2_isEedge(41)=1
       exch2_isSedge(41)=0
       exch2_myFace(41)=2
       exch2_mydnx(41)=32
       exch2_mydny(41)=32
       exch2_nNeighbours(41)=3

       exch2_neighbourId(1,41)=45
       exch2_pi(1,1,41)=1
       exch2_pi(2,1,41)=0
       exch2_pj(1,1,41)=0
       exch2_pj(2,1,41)=1
       exch2_oi(1,41)=0
       exch2_oi_f(1,41)=0
       exch2_oj(1,41)=0
       exch2_oj_f(1,41)=0
       exch2_itlo_c(1,41)=0
       exch2_ithi_c(1,41)=9
       exch2_jtlo_c(1,41)=0
       exch2_jthi_c(1,41)=0
       exch2_opposingSend_record(1,41)=2

       exch2_neighbourId(2,41)=85
       exch2_pi(1,2,41)=0
       exch2_pi(2,2,41)=1
       exch2_pj(1,2,41)=-1
       exch2_pj(2,2,41)=0
       exch2_oi(2,41)=32
       exch2_oi_f(2,41)=32
       exch2_oj(2,41)=33
       exch2_oj_f(2,41)=34
       exch2_itlo_c(2,41)=4
       exch2_ithi_c(2,41)=9
       exch2_jtlo_c(2,41)=0
       exch2_jthi_c(2,41)=0
       exch2_opposingSend_record(2,41)=2

       exch2_neighbourId(3,41)=40
       exch2_pi(1,3,41)=1
       exch2_pi(2,3,41)=0
       exch2_pj(1,3,41)=0
       exch2_pj(2,3,41)=1
       exch2_oi(3,41)=0
       exch2_oi_f(3,41)=0
       exch2_oj(3,41)=0
       exch2_oj_f(3,41)=0
       exch2_itlo_c(3,41)=9
       exch2_ithi_c(3,41)=9
       exch2_jtlo_c(3,41)=0
       exch2_jthi_c(3,41)=5
       exch2_opposingSend_record(3,41)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_42
C      Topology for tile 42
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(42)=8
       exch2_tny(42)=4
       exch2_tbasex(42)=0
       exch2_tbasey(42)=12
       exch2_txglobalo(42)=33
       exch2_tyglobalo(42)=13
       exch2_isWedge(42)=1
       exch2_isNedge(42)=0
       exch2_isEedge(42)=0
       exch2_isSedge(42)=0
       exch2_myFace(42)=2
       exch2_mydnx(42)=32
       exch2_mydny(42)=32
       exch2_nNeighbours(42)=4

       exch2_neighbourId(1,42)=46
       exch2_pi(1,1,42)=1
       exch2_pi(2,1,42)=0
       exch2_pj(1,1,42)=0
       exch2_pj(2,1,42)=1
       exch2_oi(1,42)=0
       exch2_oi_f(1,42)=0
       exch2_oj(1,42)=0
       exch2_oj_f(1,42)=0
       exch2_itlo_c(1,42)=0
       exch2_ithi_c(1,42)=9
       exch2_jtlo_c(1,42)=0
       exch2_jthi_c(1,42)=0
       exch2_opposingSend_record(1,42)=2

       exch2_neighbourId(2,42)=38
       exch2_pi(1,2,42)=1
       exch2_pi(2,2,42)=0
       exch2_pj(1,2,42)=0
       exch2_pj(2,2,42)=1
       exch2_oi(2,42)=0
       exch2_oi_f(2,42)=0
       exch2_oj(2,42)=0
       exch2_oj_f(2,42)=0
       exch2_itlo_c(2,42)=1
       exch2_ithi_c(2,42)=8
       exch2_jtlo_c(2,42)=5
       exch2_jthi_c(2,42)=5
       exch2_opposingSend_record(2,42)=1

       exch2_neighbourId(3,42)=43
       exch2_pi(1,3,42)=1
       exch2_pi(2,3,42)=0
       exch2_pj(1,3,42)=0
       exch2_pj(2,3,42)=1
       exch2_oi(3,42)=0
       exch2_oi_f(3,42)=0
       exch2_oj(3,42)=0
       exch2_oj_f(3,42)=0
       exch2_itlo_c(3,42)=0
       exch2_ithi_c(3,42)=0
       exch2_jtlo_c(3,42)=0
       exch2_jthi_c(3,42)=5
       exch2_opposingSend_record(3,42)=4

       exch2_neighbourId(4,42)=16
       exch2_pi(1,4,42)=1
       exch2_pi(2,4,42)=0
       exch2_pj(1,4,42)=0
       exch2_pj(2,4,42)=1
       exch2_oi(4,42)=-32
       exch2_oi_f(4,42)=-32
       exch2_oj(4,42)=0
       exch2_oj_f(4,42)=0
       exch2_itlo_c(4,42)=9
       exch2_ithi_c(4,42)=9
       exch2_jtlo_c(4,42)=0
       exch2_jthi_c(4,42)=5
       exch2_opposingSend_record(4,42)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_43
C      Topology for tile 43
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(43)=8
       exch2_tny(43)=4
       exch2_tbasex(43)=8
       exch2_tbasey(43)=12
       exch2_txglobalo(43)=41
       exch2_tyglobalo(43)=13
       exch2_isWedge(43)=0
       exch2_isNedge(43)=0
       exch2_isEedge(43)=0
       exch2_isSedge(43)=0
       exch2_myFace(43)=2
       exch2_mydnx(43)=32
       exch2_mydny(43)=32
       exch2_nNeighbours(43)=4

       exch2_neighbourId(1,43)=47
       exch2_pi(1,1,43)=1
       exch2_pi(2,1,43)=0
       exch2_pj(1,1,43)=0
       exch2_pj(2,1,43)=1
       exch2_oi(1,43)=0
       exch2_oi_f(1,43)=0
       exch2_oj(1,43)=0
       exch2_oj_f(1,43)=0
       exch2_itlo_c(1,43)=0
       exch2_ithi_c(1,43)=9
       exch2_jtlo_c(1,43)=0
       exch2_jthi_c(1,43)=0
       exch2_opposingSend_record(1,43)=2

       exch2_neighbourId(2,43)=39
       exch2_pi(1,2,43)=1
       exch2_pi(2,2,43)=0
       exch2_pj(1,2,43)=0
       exch2_pj(2,2,43)=1
       exch2_oi(2,43)=0
       exch2_oi_f(2,43)=0
       exch2_oj(2,43)=0
       exch2_oj_f(2,43)=0
       exch2_itlo_c(2,43)=1
       exch2_ithi_c(2,43)=8
       exch2_jtlo_c(2,43)=5
       exch2_jthi_c(2,43)=5
       exch2_opposingSend_record(2,43)=1

       exch2_neighbourId(3,43)=44
       exch2_pi(1,3,43)=1
       exch2_pi(2,3,43)=0
       exch2_pj(1,3,43)=0
       exch2_pj(2,3,43)=1
       exch2_oi(3,43)=0
       exch2_oi_f(3,43)=0
       exch2_oj(3,43)=0
       exch2_oj_f(3,43)=0
       exch2_itlo_c(3,43)=0
       exch2_ithi_c(3,43)=0
       exch2_jtlo_c(3,43)=0
       exch2_jthi_c(3,43)=5
       exch2_opposingSend_record(3,43)=4

       exch2_neighbourId(4,43)=42
       exch2_pi(1,4,43)=1
       exch2_pi(2,4,43)=0
       exch2_pj(1,4,43)=0
       exch2_pj(2,4,43)=1
       exch2_oi(4,43)=0
       exch2_oi_f(4,43)=0
       exch2_oj(4,43)=0
       exch2_oj_f(4,43)=0
       exch2_itlo_c(4,43)=9
       exch2_ithi_c(4,43)=9
       exch2_jtlo_c(4,43)=0
       exch2_jthi_c(4,43)=5
       exch2_opposingSend_record(4,43)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_44
C      Topology for tile 44
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(44)=8
       exch2_tny(44)=4
       exch2_tbasex(44)=16
       exch2_tbasey(44)=12
       exch2_txglobalo(44)=49
       exch2_tyglobalo(44)=13
       exch2_isWedge(44)=0
       exch2_isNedge(44)=0
       exch2_isEedge(44)=0
       exch2_isSedge(44)=0
       exch2_myFace(44)=2
       exch2_mydnx(44)=32
       exch2_mydny(44)=32
       exch2_nNeighbours(44)=4

       exch2_neighbourId(1,44)=48
       exch2_pi(1,1,44)=1
       exch2_pi(2,1,44)=0
       exch2_pj(1,1,44)=0
       exch2_pj(2,1,44)=1
       exch2_oi(1,44)=0
       exch2_oi_f(1,44)=0
       exch2_oj(1,44)=0
       exch2_oj_f(1,44)=0
       exch2_itlo_c(1,44)=0
       exch2_ithi_c(1,44)=9
       exch2_jtlo_c(1,44)=0
       exch2_jthi_c(1,44)=0
       exch2_opposingSend_record(1,44)=2

       exch2_neighbourId(2,44)=40
       exch2_pi(1,2,44)=1
       exch2_pi(2,2,44)=0
       exch2_pj(1,2,44)=0
       exch2_pj(2,2,44)=1
       exch2_oi(2,44)=0
       exch2_oi_f(2,44)=0
       exch2_oj(2,44)=0
       exch2_oj_f(2,44)=0
       exch2_itlo_c(2,44)=1
       exch2_ithi_c(2,44)=8
       exch2_jtlo_c(2,44)=5
       exch2_jthi_c(2,44)=5
       exch2_opposingSend_record(2,44)=1

       exch2_neighbourId(3,44)=45
       exch2_pi(1,3,44)=1
       exch2_pi(2,3,44)=0
       exch2_pj(1,3,44)=0
       exch2_pj(2,3,44)=1
       exch2_oi(3,44)=0
       exch2_oi_f(3,44)=0
       exch2_oj(3,44)=0
       exch2_oj_f(3,44)=0
       exch2_itlo_c(3,44)=0
       exch2_ithi_c(3,44)=0
       exch2_jtlo_c(3,44)=0
       exch2_jthi_c(3,44)=5
       exch2_opposingSend_record(3,44)=4

       exch2_neighbourId(4,44)=43
       exch2_pi(1,4,44)=1
       exch2_pi(2,4,44)=0
       exch2_pj(1,4,44)=0
       exch2_pj(2,4,44)=1
       exch2_oi(4,44)=0
       exch2_oi_f(4,44)=0
       exch2_oj(4,44)=0
       exch2_oj_f(4,44)=0
       exch2_itlo_c(4,44)=9
       exch2_ithi_c(4,44)=9
       exch2_jtlo_c(4,44)=0
       exch2_jthi_c(4,44)=5
       exch2_opposingSend_record(4,44)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_45
C      Topology for tile 45
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(45)=8
       exch2_tny(45)=4
       exch2_tbasex(45)=24
       exch2_tbasey(45)=12
       exch2_txglobalo(45)=57
       exch2_tyglobalo(45)=13
       exch2_isWedge(45)=0
       exch2_isNedge(45)=0
       exch2_isEedge(45)=1
       exch2_isSedge(45)=0
       exch2_myFace(45)=2
       exch2_mydnx(45)=32
       exch2_mydny(45)=32
       exch2_nNeighbours(45)=4

       exch2_neighbourId(1,45)=49
       exch2_pi(1,1,45)=1
       exch2_pi(2,1,45)=0
       exch2_pj(1,1,45)=0
       exch2_pj(2,1,45)=1
       exch2_oi(1,45)=0
       exch2_oi_f(1,45)=0
       exch2_oj(1,45)=0
       exch2_oj_f(1,45)=0
       exch2_itlo_c(1,45)=0
       exch2_ithi_c(1,45)=9
       exch2_jtlo_c(1,45)=0
       exch2_jthi_c(1,45)=0
       exch2_opposingSend_record(1,45)=2

       exch2_neighbourId(2,45)=41
       exch2_pi(1,2,45)=1
       exch2_pi(2,2,45)=0
       exch2_pj(1,2,45)=0
       exch2_pj(2,2,45)=1
       exch2_oi(2,45)=0
       exch2_oi_f(2,45)=0
       exch2_oj(2,45)=0
       exch2_oj_f(2,45)=0
       exch2_itlo_c(2,45)=1
       exch2_ithi_c(2,45)=8
       exch2_jtlo_c(2,45)=5
       exch2_jthi_c(2,45)=5
       exch2_opposingSend_record(2,45)=1

       exch2_neighbourId(3,45)=85
       exch2_pi(1,3,45)=0
       exch2_pi(2,3,45)=1
       exch2_pj(1,3,45)=-1
       exch2_pj(2,3,45)=0
       exch2_oi(3,45)=32
       exch2_oi_f(3,45)=32
       exch2_oj(3,45)=33
       exch2_oj_f(3,45)=34
       exch2_itlo_c(3,45)=0
       exch2_ithi_c(3,45)=5
       exch2_jtlo_c(3,45)=0
       exch2_jthi_c(3,45)=0
       exch2_opposingSend_record(3,45)=3

       exch2_neighbourId(4,45)=44
       exch2_pi(1,4,45)=1
       exch2_pi(2,4,45)=0
       exch2_pj(1,4,45)=0
       exch2_pj(2,4,45)=1
       exch2_oi(4,45)=0
       exch2_oi_f(4,45)=0
       exch2_oj(4,45)=0
       exch2_oj_f(4,45)=0
       exch2_itlo_c(4,45)=9
       exch2_ithi_c(4,45)=9
       exch2_jtlo_c(4,45)=0
       exch2_jthi_c(4,45)=5
       exch2_opposingSend_record(4,45)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_46
C      Topology for tile 46
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(46)=8
       exch2_tny(46)=4
       exch2_tbasex(46)=0
       exch2_tbasey(46)=16
       exch2_txglobalo(46)=33
       exch2_tyglobalo(46)=17
       exch2_isWedge(46)=1
       exch2_isNedge(46)=0
       exch2_isEedge(46)=0
       exch2_isSedge(46)=0
       exch2_myFace(46)=2
       exch2_mydnx(46)=32
       exch2_mydny(46)=32
       exch2_nNeighbours(46)=3

       exch2_neighbourId(1,46)=50
       exch2_pi(1,1,46)=1
       exch2_pi(2,1,46)=0
       exch2_pj(1,1,46)=0
       exch2_pj(2,1,46)=1
       exch2_oi(1,46)=0
       exch2_oi_f(1,46)=0
       exch2_oj(1,46)=0
       exch2_oj_f(1,46)=0
       exch2_itlo_c(1,46)=0
       exch2_ithi_c(1,46)=9
       exch2_jtlo_c(1,46)=0
       exch2_jthi_c(1,46)=0
       exch2_opposingSend_record(1,46)=2

       exch2_neighbourId(2,46)=42
       exch2_pi(1,2,46)=1
       exch2_pi(2,2,46)=0
       exch2_pj(1,2,46)=0
       exch2_pj(2,2,46)=1
       exch2_oi(2,46)=0
       exch2_oi_f(2,46)=0
       exch2_oj(2,46)=0
       exch2_oj_f(2,46)=0
       exch2_itlo_c(2,46)=1
       exch2_ithi_c(2,46)=8
       exch2_jtlo_c(2,46)=5
       exch2_jthi_c(2,46)=5
       exch2_opposingSend_record(2,46)=1

       exch2_neighbourId(3,46)=47
       exch2_pi(1,3,46)=1
       exch2_pi(2,3,46)=0
       exch2_pj(1,3,46)=0
       exch2_pj(2,3,46)=1
       exch2_oi(3,46)=0
       exch2_oi_f(3,46)=0
       exch2_oj(3,46)=0
       exch2_oj_f(3,46)=0
       exch2_itlo_c(3,46)=0
       exch2_ithi_c(3,46)=0
       exch2_jtlo_c(3,46)=0
       exch2_jthi_c(3,46)=5
       exch2_opposingSend_record(3,46)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_47
C      Topology for tile 47
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(47)=8
       exch2_tny(47)=4
       exch2_tbasex(47)=8
       exch2_tbasey(47)=16
       exch2_txglobalo(47)=41
       exch2_tyglobalo(47)=17
       exch2_isWedge(47)=0
       exch2_isNedge(47)=0
       exch2_isEedge(47)=0
       exch2_isSedge(47)=0
       exch2_myFace(47)=2
       exch2_mydnx(47)=32
       exch2_mydny(47)=32
       exch2_nNeighbours(47)=4

       exch2_neighbourId(1,47)=51
       exch2_pi(1,1,47)=1
       exch2_pi(2,1,47)=0
       exch2_pj(1,1,47)=0
       exch2_pj(2,1,47)=1
       exch2_oi(1,47)=0
       exch2_oi_f(1,47)=0
       exch2_oj(1,47)=0
       exch2_oj_f(1,47)=0
       exch2_itlo_c(1,47)=0
       exch2_ithi_c(1,47)=9
       exch2_jtlo_c(1,47)=0
       exch2_jthi_c(1,47)=0
       exch2_opposingSend_record(1,47)=2

       exch2_neighbourId(2,47)=43
       exch2_pi(1,2,47)=1
       exch2_pi(2,2,47)=0
       exch2_pj(1,2,47)=0
       exch2_pj(2,2,47)=1
       exch2_oi(2,47)=0
       exch2_oi_f(2,47)=0
       exch2_oj(2,47)=0
       exch2_oj_f(2,47)=0
       exch2_itlo_c(2,47)=1
       exch2_ithi_c(2,47)=8
       exch2_jtlo_c(2,47)=5
       exch2_jthi_c(2,47)=5
       exch2_opposingSend_record(2,47)=1

       exch2_neighbourId(3,47)=48
       exch2_pi(1,3,47)=1
       exch2_pi(2,3,47)=0
       exch2_pj(1,3,47)=0
       exch2_pj(2,3,47)=1
       exch2_oi(3,47)=0
       exch2_oi_f(3,47)=0
       exch2_oj(3,47)=0
       exch2_oj_f(3,47)=0
       exch2_itlo_c(3,47)=0
       exch2_ithi_c(3,47)=0
       exch2_jtlo_c(3,47)=0
       exch2_jthi_c(3,47)=5
       exch2_opposingSend_record(3,47)=4

       exch2_neighbourId(4,47)=46
       exch2_pi(1,4,47)=1
       exch2_pi(2,4,47)=0
       exch2_pj(1,4,47)=0
       exch2_pj(2,4,47)=1
       exch2_oi(4,47)=0
       exch2_oi_f(4,47)=0
       exch2_oj(4,47)=0
       exch2_oj_f(4,47)=0
       exch2_itlo_c(4,47)=9
       exch2_ithi_c(4,47)=9
       exch2_jtlo_c(4,47)=0
       exch2_jthi_c(4,47)=5
       exch2_opposingSend_record(4,47)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_48
C      Topology for tile 48
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(48)=8
       exch2_tny(48)=4
       exch2_tbasex(48)=16
       exch2_tbasey(48)=16
       exch2_txglobalo(48)=49
       exch2_tyglobalo(48)=17
       exch2_isWedge(48)=0
       exch2_isNedge(48)=0
       exch2_isEedge(48)=0
       exch2_isSedge(48)=0
       exch2_myFace(48)=2
       exch2_mydnx(48)=32
       exch2_mydny(48)=32
       exch2_nNeighbours(48)=4

       exch2_neighbourId(1,48)=52
       exch2_pi(1,1,48)=1
       exch2_pi(2,1,48)=0
       exch2_pj(1,1,48)=0
       exch2_pj(2,1,48)=1
       exch2_oi(1,48)=0
       exch2_oi_f(1,48)=0
       exch2_oj(1,48)=0
       exch2_oj_f(1,48)=0
       exch2_itlo_c(1,48)=0
       exch2_ithi_c(1,48)=9
       exch2_jtlo_c(1,48)=0
       exch2_jthi_c(1,48)=0
       exch2_opposingSend_record(1,48)=1

       exch2_neighbourId(2,48)=44
       exch2_pi(1,2,48)=1
       exch2_pi(2,2,48)=0
       exch2_pj(1,2,48)=0
       exch2_pj(2,2,48)=1
       exch2_oi(2,48)=0
       exch2_oi_f(2,48)=0
       exch2_oj(2,48)=0
       exch2_oj_f(2,48)=0
       exch2_itlo_c(2,48)=1
       exch2_ithi_c(2,48)=8
       exch2_jtlo_c(2,48)=5
       exch2_jthi_c(2,48)=5
       exch2_opposingSend_record(2,48)=1

       exch2_neighbourId(3,48)=49
       exch2_pi(1,3,48)=1
       exch2_pi(2,3,48)=0
       exch2_pj(1,3,48)=0
       exch2_pj(2,3,48)=1
       exch2_oi(3,48)=0
       exch2_oi_f(3,48)=0
       exch2_oj(3,48)=0
       exch2_oj_f(3,48)=0
       exch2_itlo_c(3,48)=0
       exch2_ithi_c(3,48)=0
       exch2_jtlo_c(3,48)=0
       exch2_jthi_c(3,48)=5
       exch2_opposingSend_record(3,48)=4

       exch2_neighbourId(4,48)=47
       exch2_pi(1,4,48)=1
       exch2_pi(2,4,48)=0
       exch2_pj(1,4,48)=0
       exch2_pj(2,4,48)=1
       exch2_oi(4,48)=0
       exch2_oi_f(4,48)=0
       exch2_oj(4,48)=0
       exch2_oj_f(4,48)=0
       exch2_itlo_c(4,48)=9
       exch2_ithi_c(4,48)=9
       exch2_jtlo_c(4,48)=0
       exch2_jthi_c(4,48)=5
       exch2_opposingSend_record(4,48)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_49
C      Topology for tile 49
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(49)=8
       exch2_tny(49)=4
       exch2_tbasex(49)=24
       exch2_tbasey(49)=16
       exch2_txglobalo(49)=57
       exch2_tyglobalo(49)=17
       exch2_isWedge(49)=0
       exch2_isNedge(49)=0
       exch2_isEedge(49)=1
       exch2_isSedge(49)=0
       exch2_myFace(49)=2
       exch2_mydnx(49)=32
       exch2_mydny(49)=32
       exch2_nNeighbours(49)=4

       exch2_neighbourId(1,49)=53
       exch2_pi(1,1,49)=1
       exch2_pi(2,1,49)=0
       exch2_pj(1,1,49)=0
       exch2_pj(2,1,49)=1
       exch2_oi(1,49)=0
       exch2_oi_f(1,49)=0
       exch2_oj(1,49)=0
       exch2_oj_f(1,49)=0
       exch2_itlo_c(1,49)=0
       exch2_ithi_c(1,49)=9
       exch2_jtlo_c(1,49)=0
       exch2_jthi_c(1,49)=0
       exch2_opposingSend_record(1,49)=2

       exch2_neighbourId(2,49)=45
       exch2_pi(1,2,49)=1
       exch2_pi(2,2,49)=0
       exch2_pj(1,2,49)=0
       exch2_pj(2,2,49)=1
       exch2_oi(2,49)=0
       exch2_oi_f(2,49)=0
       exch2_oj(2,49)=0
       exch2_oj_f(2,49)=0
       exch2_itlo_c(2,49)=1
       exch2_ithi_c(2,49)=8
       exch2_jtlo_c(2,49)=5
       exch2_jthi_c(2,49)=5
       exch2_opposingSend_record(2,49)=1

       exch2_neighbourId(3,49)=84
       exch2_pi(1,3,49)=0
       exch2_pi(2,3,49)=1
       exch2_pj(1,3,49)=-1
       exch2_pj(2,3,49)=0
       exch2_oi(3,49)=32
       exch2_oi_f(3,49)=32
       exch2_oj(3,49)=33
       exch2_oj_f(3,49)=34
       exch2_itlo_c(3,49)=4
       exch2_ithi_c(3,49)=9
       exch2_jtlo_c(3,49)=0
       exch2_jthi_c(3,49)=0
       exch2_opposingSend_record(3,49)=2

       exch2_neighbourId(4,49)=48
       exch2_pi(1,4,49)=1
       exch2_pi(2,4,49)=0
       exch2_pj(1,4,49)=0
       exch2_pj(2,4,49)=1
       exch2_oi(4,49)=0
       exch2_oi_f(4,49)=0
       exch2_oj(4,49)=0
       exch2_oj_f(4,49)=0
       exch2_itlo_c(4,49)=9
       exch2_ithi_c(4,49)=9
       exch2_jtlo_c(4,49)=0
       exch2_jthi_c(4,49)=5
       exch2_opposingSend_record(4,49)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_50
C      Topology for tile 50
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(50)=8
       exch2_tny(50)=4
       exch2_tbasex(50)=0
       exch2_tbasey(50)=20
       exch2_txglobalo(50)=33
       exch2_tyglobalo(50)=21
       exch2_isWedge(50)=1
       exch2_isNedge(50)=0
       exch2_isEedge(50)=0
       exch2_isSedge(50)=0
       exch2_myFace(50)=2
       exch2_mydnx(50)=32
       exch2_mydny(50)=32
       exch2_nNeighbours(50)=4

       exch2_neighbourId(1,50)=54
       exch2_pi(1,1,50)=1
       exch2_pi(2,1,50)=0
       exch2_pj(1,1,50)=0
       exch2_pj(2,1,50)=1
       exch2_oi(1,50)=0
       exch2_oi_f(1,50)=0
       exch2_oj(1,50)=0
       exch2_oj_f(1,50)=0
       exch2_itlo_c(1,50)=0
       exch2_ithi_c(1,50)=9
       exch2_jtlo_c(1,50)=0
       exch2_jthi_c(1,50)=0
       exch2_opposingSend_record(1,50)=1

       exch2_neighbourId(2,50)=46
       exch2_pi(1,2,50)=1
       exch2_pi(2,2,50)=0
       exch2_pj(1,2,50)=0
       exch2_pj(2,2,50)=1
       exch2_oi(2,50)=0
       exch2_oi_f(2,50)=0
       exch2_oj(2,50)=0
       exch2_oj_f(2,50)=0
       exch2_itlo_c(2,50)=1
       exch2_ithi_c(2,50)=8
       exch2_jtlo_c(2,50)=5
       exch2_jthi_c(2,50)=5
       exch2_opposingSend_record(2,50)=1

       exch2_neighbourId(3,50)=51
       exch2_pi(1,3,50)=1
       exch2_pi(2,3,50)=0
       exch2_pj(1,3,50)=0
       exch2_pj(2,3,50)=1
       exch2_oi(3,50)=0
       exch2_oi_f(3,50)=0
       exch2_oj(3,50)=0
       exch2_oj_f(3,50)=0
       exch2_itlo_c(3,50)=0
       exch2_ithi_c(3,50)=0
       exch2_jtlo_c(3,50)=0
       exch2_jthi_c(3,50)=5
       exch2_opposingSend_record(3,50)=4

       exch2_neighbourId(4,50)=22
       exch2_pi(1,4,50)=1
       exch2_pi(2,4,50)=0
       exch2_pj(1,4,50)=0
       exch2_pj(2,4,50)=1
       exch2_oi(4,50)=-32
       exch2_oi_f(4,50)=-32
       exch2_oj(4,50)=0
       exch2_oj_f(4,50)=0
       exch2_itlo_c(4,50)=9
       exch2_ithi_c(4,50)=9
       exch2_jtlo_c(4,50)=0
       exch2_jthi_c(4,50)=5
       exch2_opposingSend_record(4,50)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_51
C      Topology for tile 51
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(51)=8
       exch2_tny(51)=4
       exch2_tbasex(51)=8
       exch2_tbasey(51)=20
       exch2_txglobalo(51)=41
       exch2_tyglobalo(51)=21
       exch2_isWedge(51)=0
       exch2_isNedge(51)=0
       exch2_isEedge(51)=0
       exch2_isSedge(51)=0
       exch2_myFace(51)=2
       exch2_mydnx(51)=32
       exch2_mydny(51)=32
       exch2_nNeighbours(51)=4

       exch2_neighbourId(1,51)=55
       exch2_pi(1,1,51)=1
       exch2_pi(2,1,51)=0
       exch2_pj(1,1,51)=0
       exch2_pj(2,1,51)=1
       exch2_oi(1,51)=0
       exch2_oi_f(1,51)=0
       exch2_oj(1,51)=0
       exch2_oj_f(1,51)=0
       exch2_itlo_c(1,51)=0
       exch2_ithi_c(1,51)=9
       exch2_jtlo_c(1,51)=0
       exch2_jthi_c(1,51)=0
       exch2_opposingSend_record(1,51)=1

       exch2_neighbourId(2,51)=47
       exch2_pi(1,2,51)=1
       exch2_pi(2,2,51)=0
       exch2_pj(1,2,51)=0
       exch2_pj(2,2,51)=1
       exch2_oi(2,51)=0
       exch2_oi_f(2,51)=0
       exch2_oj(2,51)=0
       exch2_oj_f(2,51)=0
       exch2_itlo_c(2,51)=1
       exch2_ithi_c(2,51)=8
       exch2_jtlo_c(2,51)=5
       exch2_jthi_c(2,51)=5
       exch2_opposingSend_record(2,51)=1

       exch2_neighbourId(3,51)=52
       exch2_pi(1,3,51)=1
       exch2_pi(2,3,51)=0
       exch2_pj(1,3,51)=0
       exch2_pj(2,3,51)=1
       exch2_oi(3,51)=0
       exch2_oi_f(3,51)=0
       exch2_oj(3,51)=0
       exch2_oj_f(3,51)=0
       exch2_itlo_c(3,51)=0
       exch2_ithi_c(3,51)=0
       exch2_jtlo_c(3,51)=0
       exch2_jthi_c(3,51)=5
       exch2_opposingSend_record(3,51)=3

       exch2_neighbourId(4,51)=50
       exch2_pi(1,4,51)=1
       exch2_pi(2,4,51)=0
       exch2_pj(1,4,51)=0
       exch2_pj(2,4,51)=1
       exch2_oi(4,51)=0
       exch2_oi_f(4,51)=0
       exch2_oj(4,51)=0
       exch2_oj_f(4,51)=0
       exch2_itlo_c(4,51)=9
       exch2_ithi_c(4,51)=9
       exch2_jtlo_c(4,51)=0
       exch2_jthi_c(4,51)=5
       exch2_opposingSend_record(4,51)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_52
C      Topology for tile 52
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(52)=8
       exch2_tny(52)=4
       exch2_tbasex(52)=16
       exch2_tbasey(52)=20
       exch2_txglobalo(52)=49
       exch2_tyglobalo(52)=21
       exch2_isWedge(52)=0
       exch2_isNedge(52)=0
       exch2_isEedge(52)=0
       exch2_isSedge(52)=0
       exch2_myFace(52)=2
       exch2_mydnx(52)=32
       exch2_mydny(52)=32
       exch2_nNeighbours(52)=3

       exch2_neighbourId(1,52)=48
       exch2_pi(1,1,52)=1
       exch2_pi(2,1,52)=0
       exch2_pj(1,1,52)=0
       exch2_pj(2,1,52)=1
       exch2_oi(1,52)=0
       exch2_oi_f(1,52)=0
       exch2_oj(1,52)=0
       exch2_oj_f(1,52)=0
       exch2_itlo_c(1,52)=1
       exch2_ithi_c(1,52)=8
       exch2_jtlo_c(1,52)=5
       exch2_jthi_c(1,52)=5
       exch2_opposingSend_record(1,52)=1

       exch2_neighbourId(2,52)=53
       exch2_pi(1,2,52)=1
       exch2_pi(2,2,52)=0
       exch2_pj(1,2,52)=0
       exch2_pj(2,2,52)=1
       exch2_oi(2,52)=0
       exch2_oi_f(2,52)=0
       exch2_oj(2,52)=0
       exch2_oj_f(2,52)=0
       exch2_itlo_c(2,52)=0
       exch2_ithi_c(2,52)=0
       exch2_jtlo_c(2,52)=0
       exch2_jthi_c(2,52)=5
       exch2_opposingSend_record(2,52)=4

       exch2_neighbourId(3,52)=51
       exch2_pi(1,3,52)=1
       exch2_pi(2,3,52)=0
       exch2_pj(1,3,52)=0
       exch2_pj(2,3,52)=1
       exch2_oi(3,52)=0
       exch2_oi_f(3,52)=0
       exch2_oj(3,52)=0
       exch2_oj_f(3,52)=0
       exch2_itlo_c(3,52)=9
       exch2_ithi_c(3,52)=9
       exch2_jtlo_c(3,52)=0
       exch2_jthi_c(3,52)=5
       exch2_opposingSend_record(3,52)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_53
C      Topology for tile 53
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(53)=8
       exch2_tny(53)=4
       exch2_tbasex(53)=24
       exch2_tbasey(53)=20
       exch2_txglobalo(53)=57
       exch2_tyglobalo(53)=21
       exch2_isWedge(53)=0
       exch2_isNedge(53)=0
       exch2_isEedge(53)=1
       exch2_isSedge(53)=0
       exch2_myFace(53)=2
       exch2_mydnx(53)=32
       exch2_mydny(53)=32
       exch2_nNeighbours(53)=4

       exch2_neighbourId(1,53)=56
       exch2_pi(1,1,53)=1
       exch2_pi(2,1,53)=0
       exch2_pj(1,1,53)=0
       exch2_pj(2,1,53)=1
       exch2_oi(1,53)=0
       exch2_oi_f(1,53)=0
       exch2_oj(1,53)=0
       exch2_oj_f(1,53)=0
       exch2_itlo_c(1,53)=0
       exch2_ithi_c(1,53)=9
       exch2_jtlo_c(1,53)=0
       exch2_jthi_c(1,53)=0
       exch2_opposingSend_record(1,53)=2

       exch2_neighbourId(2,53)=49
       exch2_pi(1,2,53)=1
       exch2_pi(2,2,53)=0
       exch2_pj(1,2,53)=0
       exch2_pj(2,2,53)=1
       exch2_oi(2,53)=0
       exch2_oi_f(2,53)=0
       exch2_oj(2,53)=0
       exch2_oj_f(2,53)=0
       exch2_itlo_c(2,53)=1
       exch2_ithi_c(2,53)=8
       exch2_jtlo_c(2,53)=5
       exch2_jthi_c(2,53)=5
       exch2_opposingSend_record(2,53)=1

       exch2_neighbourId(3,53)=84
       exch2_pi(1,3,53)=0
       exch2_pi(2,3,53)=1
       exch2_pj(1,3,53)=-1
       exch2_pj(2,3,53)=0
       exch2_oi(3,53)=32
       exch2_oi_f(3,53)=32
       exch2_oj(3,53)=33
       exch2_oj_f(3,53)=34
       exch2_itlo_c(3,53)=0
       exch2_ithi_c(3,53)=5
       exch2_jtlo_c(3,53)=0
       exch2_jthi_c(3,53)=0
       exch2_opposingSend_record(3,53)=3

       exch2_neighbourId(4,53)=52
       exch2_pi(1,4,53)=1
       exch2_pi(2,4,53)=0
       exch2_pj(1,4,53)=0
       exch2_pj(2,4,53)=1
       exch2_oi(4,53)=0
       exch2_oi_f(4,53)=0
       exch2_oj(4,53)=0
       exch2_oj_f(4,53)=0
       exch2_itlo_c(4,53)=9
       exch2_ithi_c(4,53)=9
       exch2_jtlo_c(4,53)=0
       exch2_jthi_c(4,53)=5
       exch2_opposingSend_record(4,53)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_54
C      Topology for tile 54
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(54)=8
       exch2_tny(54)=4
       exch2_tbasex(54)=0
       exch2_tbasey(54)=24
       exch2_txglobalo(54)=33
       exch2_tyglobalo(54)=25
       exch2_isWedge(54)=1
       exch2_isNedge(54)=0
       exch2_isEedge(54)=0
       exch2_isSedge(54)=0
       exch2_myFace(54)=2
       exch2_mydnx(54)=32
       exch2_mydny(54)=32
       exch2_nNeighbours(54)=3

       exch2_neighbourId(1,54)=50
       exch2_pi(1,1,54)=1
       exch2_pi(2,1,54)=0
       exch2_pj(1,1,54)=0
       exch2_pj(2,1,54)=1
       exch2_oi(1,54)=0
       exch2_oi_f(1,54)=0
       exch2_oj(1,54)=0
       exch2_oj_f(1,54)=0
       exch2_itlo_c(1,54)=1
       exch2_ithi_c(1,54)=8
       exch2_jtlo_c(1,54)=5
       exch2_jthi_c(1,54)=5
       exch2_opposingSend_record(1,54)=1

       exch2_neighbourId(2,54)=55
       exch2_pi(1,2,54)=1
       exch2_pi(2,2,54)=0
       exch2_pj(1,2,54)=0
       exch2_pj(2,2,54)=1
       exch2_oi(2,54)=0
       exch2_oi_f(2,54)=0
       exch2_oj(2,54)=0
       exch2_oj_f(2,54)=0
       exch2_itlo_c(2,54)=0
       exch2_ithi_c(2,54)=0
       exch2_jtlo_c(2,54)=0
       exch2_jthi_c(2,54)=5
       exch2_opposingSend_record(2,54)=2

       exch2_neighbourId(3,54)=26
       exch2_pi(1,3,54)=1
       exch2_pi(2,3,54)=0
       exch2_pj(1,3,54)=0
       exch2_pj(2,3,54)=1
       exch2_oi(3,54)=-32
       exch2_oi_f(3,54)=-32
       exch2_oj(3,54)=0
       exch2_oj_f(3,54)=0
       exch2_itlo_c(3,54)=9
       exch2_ithi_c(3,54)=9
       exch2_jtlo_c(3,54)=0
       exch2_jthi_c(3,54)=5
       exch2_opposingSend_record(3,54)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_55
C      Topology for tile 55
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(55)=8
       exch2_tny(55)=4
       exch2_tbasex(55)=8
       exch2_tbasey(55)=24
       exch2_txglobalo(55)=41
       exch2_tyglobalo(55)=25
       exch2_isWedge(55)=0
       exch2_isNedge(55)=0
       exch2_isEedge(55)=0
       exch2_isSedge(55)=0
       exch2_myFace(55)=2
       exch2_mydnx(55)=32
       exch2_mydny(55)=32
       exch2_nNeighbours(55)=2

       exch2_neighbourId(1,55)=51
       exch2_pi(1,1,55)=1
       exch2_pi(2,1,55)=0
       exch2_pj(1,1,55)=0
       exch2_pj(2,1,55)=1
       exch2_oi(1,55)=0
       exch2_oi_f(1,55)=0
       exch2_oj(1,55)=0
       exch2_oj_f(1,55)=0
       exch2_itlo_c(1,55)=1
       exch2_ithi_c(1,55)=8
       exch2_jtlo_c(1,55)=5
       exch2_jthi_c(1,55)=5
       exch2_opposingSend_record(1,55)=1

       exch2_neighbourId(2,55)=54
       exch2_pi(1,2,55)=1
       exch2_pi(2,2,55)=0
       exch2_pj(1,2,55)=0
       exch2_pj(2,2,55)=1
       exch2_oi(2,55)=0
       exch2_oi_f(2,55)=0
       exch2_oj(2,55)=0
       exch2_oj_f(2,55)=0
       exch2_itlo_c(2,55)=9
       exch2_ithi_c(2,55)=9
       exch2_jtlo_c(2,55)=0
       exch2_jthi_c(2,55)=5
       exch2_opposingSend_record(2,55)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_56
C      Topology for tile 56
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(56)=8
       exch2_tny(56)=4
       exch2_tbasex(56)=24
       exch2_tbasey(56)=24
       exch2_txglobalo(56)=57
       exch2_tyglobalo(56)=25
       exch2_isWedge(56)=0
       exch2_isNedge(56)=0
       exch2_isEedge(56)=1
       exch2_isSedge(56)=0
       exch2_myFace(56)=2
       exch2_mydnx(56)=32
       exch2_mydny(56)=32
       exch2_nNeighbours(56)=3

       exch2_neighbourId(1,56)=57
       exch2_pi(1,1,56)=1
       exch2_pi(2,1,56)=0
       exch2_pj(1,1,56)=0
       exch2_pj(2,1,56)=1
       exch2_oi(1,56)=0
       exch2_oi_f(1,56)=0
       exch2_oj(1,56)=0
       exch2_oj_f(1,56)=0
       exch2_itlo_c(1,56)=0
       exch2_ithi_c(1,56)=9
       exch2_jtlo_c(1,56)=0
       exch2_jthi_c(1,56)=0
       exch2_opposingSend_record(1,56)=2

       exch2_neighbourId(2,56)=53
       exch2_pi(1,2,56)=1
       exch2_pi(2,2,56)=0
       exch2_pj(1,2,56)=0
       exch2_pj(2,2,56)=1
       exch2_oi(2,56)=0
       exch2_oi_f(2,56)=0
       exch2_oj(2,56)=0
       exch2_oj_f(2,56)=0
       exch2_itlo_c(2,56)=1
       exch2_ithi_c(2,56)=8
       exch2_jtlo_c(2,56)=5
       exch2_jthi_c(2,56)=5
       exch2_opposingSend_record(2,56)=1

       exch2_neighbourId(3,56)=83
       exch2_pi(1,3,56)=0
       exch2_pi(2,3,56)=1
       exch2_pj(1,3,56)=-1
       exch2_pj(2,3,56)=0
       exch2_oi(3,56)=32
       exch2_oi_f(3,56)=32
       exch2_oj(3,56)=33
       exch2_oj_f(3,56)=34
       exch2_itlo_c(3,56)=4
       exch2_ithi_c(3,56)=9
       exch2_jtlo_c(3,56)=0
       exch2_jthi_c(3,56)=0
       exch2_opposingSend_record(3,56)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_57
C      Topology for tile 57
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(57)=8
       exch2_tny(57)=4
       exch2_tbasex(57)=24
       exch2_tbasey(57)=28
       exch2_txglobalo(57)=57
       exch2_tyglobalo(57)=29
       exch2_isWedge(57)=0
       exch2_isNedge(57)=1
       exch2_isEedge(57)=1
       exch2_isSedge(57)=0
       exch2_myFace(57)=2
       exch2_mydnx(57)=32
       exch2_mydny(57)=32
       exch2_nNeighbours(57)=3

       exch2_neighbourId(1,57)=58
       exch2_pi(1,1,57)=1
       exch2_pi(2,1,57)=0
       exch2_pj(1,1,57)=0
       exch2_pj(2,1,57)=1
       exch2_oi(1,57)=0
       exch2_oi_f(1,57)=0
       exch2_oj(1,57)=32
       exch2_oj_f(1,57)=32
       exch2_itlo_c(1,57)=0
       exch2_ithi_c(1,57)=9
       exch2_jtlo_c(1,57)=0
       exch2_jthi_c(1,57)=0
       exch2_opposingSend_record(1,57)=2

       exch2_neighbourId(2,57)=56
       exch2_pi(1,2,57)=1
       exch2_pi(2,2,57)=0
       exch2_pj(1,2,57)=0
       exch2_pj(2,2,57)=1
       exch2_oi(2,57)=0
       exch2_oi_f(2,57)=0
       exch2_oj(2,57)=0
       exch2_oj_f(2,57)=0
       exch2_itlo_c(2,57)=1
       exch2_ithi_c(2,57)=8
       exch2_jtlo_c(2,57)=5
       exch2_jthi_c(2,57)=5
       exch2_opposingSend_record(2,57)=1

       exch2_neighbourId(3,57)=83
       exch2_pi(1,3,57)=0
       exch2_pi(2,3,57)=1
       exch2_pj(1,3,57)=-1
       exch2_pj(2,3,57)=0
       exch2_oi(3,57)=32
       exch2_oi_f(3,57)=32
       exch2_oj(3,57)=33
       exch2_oj_f(3,57)=34
       exch2_itlo_c(3,57)=0
       exch2_ithi_c(3,57)=5
       exch2_jtlo_c(3,57)=0
       exch2_jthi_c(3,57)=0
       exch2_opposingSend_record(3,57)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_58
C      Topology for tile 58
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(58)=8
       exch2_tny(58)=4
       exch2_tbasex(58)=24
       exch2_tbasey(58)=0
       exch2_txglobalo(58)=89
       exch2_tyglobalo(58)=1
       exch2_isWedge(58)=0
       exch2_isNedge(58)=0
       exch2_isEedge(58)=1
       exch2_isSedge(58)=1
       exch2_myFace(58)=3
       exch2_mydnx(58)=32
       exch2_mydny(58)=32
       exch2_nNeighbours(58)=3

       exch2_neighbourId(1,58)=60
       exch2_pi(1,1,58)=1
       exch2_pi(2,1,58)=0
       exch2_pj(1,1,58)=0
       exch2_pj(2,1,58)=1
       exch2_oi(1,58)=0
       exch2_oi_f(1,58)=0
       exch2_oj(1,58)=0
       exch2_oj_f(1,58)=0
       exch2_itlo_c(1,58)=0
       exch2_ithi_c(1,58)=9
       exch2_jtlo_c(1,58)=0
       exch2_jthi_c(1,58)=0
       exch2_opposingSend_record(1,58)=2

       exch2_neighbourId(2,58)=57
       exch2_pi(1,2,58)=1
       exch2_pi(2,2,58)=0
       exch2_pj(1,2,58)=0
       exch2_pj(2,2,58)=1
       exch2_oi(2,58)=0
       exch2_oi_f(2,58)=0
       exch2_oj(2,58)=-32
       exch2_oj_f(2,58)=-32
       exch2_itlo_c(2,58)=0
       exch2_ithi_c(2,58)=9
       exch2_jtlo_c(2,58)=5
       exch2_jthi_c(2,58)=5
       exch2_opposingSend_record(2,58)=1

       exch2_neighbourId(3,58)=83
       exch2_pi(1,3,58)=1
       exch2_pi(2,3,58)=0
       exch2_pj(1,3,58)=0
       exch2_pj(2,3,58)=1
       exch2_oi(3,58)=32
       exch2_oi_f(3,58)=32
       exch2_oj(3,58)=0
       exch2_oj_f(3,58)=0
       exch2_itlo_c(3,58)=0
       exch2_ithi_c(3,58)=0
       exch2_jtlo_c(3,58)=0
       exch2_jthi_c(3,58)=5
       exch2_opposingSend_record(3,58)=5
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_59
C      Topology for tile 59
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(59)=8
       exch2_tny(59)=4
       exch2_tbasex(59)=0
       exch2_tbasey(59)=4
       exch2_txglobalo(59)=65
       exch2_tyglobalo(59)=5
       exch2_isWedge(59)=1
       exch2_isNedge(59)=0
       exch2_isEedge(59)=0
       exch2_isSedge(59)=0
       exch2_myFace(59)=3
       exch2_mydnx(59)=32
       exch2_mydny(59)=32
       exch2_nNeighbours(59)=2

       exch2_neighbourId(1,59)=61
       exch2_pi(1,1,59)=1
       exch2_pi(2,1,59)=0
       exch2_pj(1,1,59)=0
       exch2_pj(2,1,59)=1
       exch2_oi(1,59)=0
       exch2_oi_f(1,59)=0
       exch2_oj(1,59)=0
       exch2_oj_f(1,59)=0
       exch2_itlo_c(1,59)=0
       exch2_ithi_c(1,59)=9
       exch2_jtlo_c(1,59)=0
       exch2_jthi_c(1,59)=0
       exch2_opposingSend_record(1,59)=2

       exch2_neighbourId(2,59)=30
       exch2_pi(1,2,59)=0
       exch2_pi(2,2,59)=1
       exch2_pj(1,2,59)=-1
       exch2_pj(2,2,59)=0
       exch2_oi(2,59)=-32
       exch2_oi_f(2,59)=-32
       exch2_oj(2,59)=33
       exch2_oj_f(2,59)=34
       exch2_itlo_c(2,59)=0
       exch2_ithi_c(2,59)=5
       exch2_jtlo_c(2,59)=5
       exch2_jthi_c(2,59)=5
       exch2_opposingSend_record(2,59)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_60
C      Topology for tile 60
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(60)=8
       exch2_tny(60)=4
       exch2_tbasex(60)=24
       exch2_tbasey(60)=4
       exch2_txglobalo(60)=89
       exch2_tyglobalo(60)=5
       exch2_isWedge(60)=0
       exch2_isNedge(60)=0
       exch2_isEedge(60)=1
       exch2_isSedge(60)=0
       exch2_myFace(60)=3
       exch2_mydnx(60)=32
       exch2_mydny(60)=32
       exch2_nNeighbours(60)=3

       exch2_neighbourId(1,60)=64
       exch2_pi(1,1,60)=1
       exch2_pi(2,1,60)=0
       exch2_pj(1,1,60)=0
       exch2_pj(2,1,60)=1
       exch2_oi(1,60)=0
       exch2_oi_f(1,60)=0
       exch2_oj(1,60)=0
       exch2_oj_f(1,60)=0
       exch2_itlo_c(1,60)=0
       exch2_ithi_c(1,60)=9
       exch2_jtlo_c(1,60)=0
       exch2_jthi_c(1,60)=0
       exch2_opposingSend_record(1,60)=2

       exch2_neighbourId(2,60)=58
       exch2_pi(1,2,60)=1
       exch2_pi(2,2,60)=0
       exch2_pj(1,2,60)=0
       exch2_pj(2,2,60)=1
       exch2_oi(2,60)=0
       exch2_oi_f(2,60)=0
       exch2_oj(2,60)=0
       exch2_oj_f(2,60)=0
       exch2_itlo_c(2,60)=1
       exch2_ithi_c(2,60)=8
       exch2_jtlo_c(2,60)=5
       exch2_jthi_c(2,60)=5
       exch2_opposingSend_record(2,60)=1

       exch2_neighbourId(3,60)=87
       exch2_pi(1,3,60)=1
       exch2_pi(2,3,60)=0
       exch2_pj(1,3,60)=0
       exch2_pj(2,3,60)=1
       exch2_oi(3,60)=32
       exch2_oi_f(3,60)=32
       exch2_oj(3,60)=0
       exch2_oj_f(3,60)=0
       exch2_itlo_c(3,60)=0
       exch2_ithi_c(3,60)=0
       exch2_jtlo_c(3,60)=0
       exch2_jthi_c(3,60)=5
       exch2_opposingSend_record(3,60)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_61
C      Topology for tile 61
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(61)=8
       exch2_tny(61)=4
       exch2_tbasex(61)=0
       exch2_tbasey(61)=8
       exch2_txglobalo(61)=65
       exch2_tyglobalo(61)=9
       exch2_isWedge(61)=1
       exch2_isNedge(61)=0
       exch2_isEedge(61)=0
       exch2_isSedge(61)=0
       exch2_myFace(61)=3
       exch2_mydnx(61)=32
       exch2_mydny(61)=32
       exch2_nNeighbours(61)=4

       exch2_neighbourId(1,61)=65
       exch2_pi(1,1,61)=1
       exch2_pi(2,1,61)=0
       exch2_pj(1,1,61)=0
       exch2_pj(2,1,61)=1
       exch2_oi(1,61)=0
       exch2_oi_f(1,61)=0
       exch2_oj(1,61)=0
       exch2_oj_f(1,61)=0
       exch2_itlo_c(1,61)=0
       exch2_ithi_c(1,61)=9
       exch2_jtlo_c(1,61)=0
       exch2_jthi_c(1,61)=0
       exch2_opposingSend_record(1,61)=2

       exch2_neighbourId(2,61)=59
       exch2_pi(1,2,61)=1
       exch2_pi(2,2,61)=0
       exch2_pj(1,2,61)=0
       exch2_pj(2,2,61)=1
       exch2_oi(2,61)=0
       exch2_oi_f(2,61)=0
       exch2_oj(2,61)=0
       exch2_oj_f(2,61)=0
       exch2_itlo_c(2,61)=1
       exch2_ithi_c(2,61)=8
       exch2_jtlo_c(2,61)=5
       exch2_jthi_c(2,61)=5
       exch2_opposingSend_record(2,61)=1

       exch2_neighbourId(3,61)=62
       exch2_pi(1,3,61)=1
       exch2_pi(2,3,61)=0
       exch2_pj(1,3,61)=0
       exch2_pj(2,3,61)=1
       exch2_oi(3,61)=0
       exch2_oi_f(3,61)=0
       exch2_oj(3,61)=0
       exch2_oj_f(3,61)=0
       exch2_itlo_c(3,61)=0
       exch2_ithi_c(3,61)=0
       exch2_jtlo_c(3,61)=0
       exch2_jthi_c(3,61)=5
       exch2_opposingSend_record(3,61)=3

       exch2_neighbourId(4,61)=29
       exch2_pi(1,4,61)=0
       exch2_pi(2,4,61)=1
       exch2_pj(1,4,61)=-1
       exch2_pj(2,4,61)=0
       exch2_oi(4,61)=-32
       exch2_oi_f(4,61)=-32
       exch2_oj(4,61)=33
       exch2_oj_f(4,61)=34
       exch2_itlo_c(4,61)=4
       exch2_ithi_c(4,61)=9
       exch2_jtlo_c(4,61)=5
       exch2_jthi_c(4,61)=5
       exch2_opposingSend_record(4,61)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_62
C      Topology for tile 62
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(62)=8
       exch2_tny(62)=4
       exch2_tbasex(62)=8
       exch2_tbasey(62)=8
       exch2_txglobalo(62)=73
       exch2_tyglobalo(62)=9
       exch2_isWedge(62)=0
       exch2_isNedge(62)=0
       exch2_isEedge(62)=0
       exch2_isSedge(62)=0
       exch2_myFace(62)=3
       exch2_mydnx(62)=32
       exch2_mydny(62)=32
       exch2_nNeighbours(62)=3

       exch2_neighbourId(1,62)=66
       exch2_pi(1,1,62)=1
       exch2_pi(2,1,62)=0
       exch2_pj(1,1,62)=0
       exch2_pj(2,1,62)=1
       exch2_oi(1,62)=0
       exch2_oi_f(1,62)=0
       exch2_oj(1,62)=0
       exch2_oj_f(1,62)=0
       exch2_itlo_c(1,62)=0
       exch2_ithi_c(1,62)=9
       exch2_jtlo_c(1,62)=0
       exch2_jthi_c(1,62)=0
       exch2_opposingSend_record(1,62)=2

       exch2_neighbourId(2,62)=63
       exch2_pi(1,2,62)=1
       exch2_pi(2,2,62)=0
       exch2_pj(1,2,62)=0
       exch2_pj(2,2,62)=1
       exch2_oi(2,62)=0
       exch2_oi_f(2,62)=0
       exch2_oj(2,62)=0
       exch2_oj_f(2,62)=0
       exch2_itlo_c(2,62)=0
       exch2_ithi_c(2,62)=0
       exch2_jtlo_c(2,62)=0
       exch2_jthi_c(2,62)=5
       exch2_opposingSend_record(2,62)=3

       exch2_neighbourId(3,62)=61
       exch2_pi(1,3,62)=1
       exch2_pi(2,3,62)=0
       exch2_pj(1,3,62)=0
       exch2_pj(2,3,62)=1
       exch2_oi(3,62)=0
       exch2_oi_f(3,62)=0
       exch2_oj(3,62)=0
       exch2_oj_f(3,62)=0
       exch2_itlo_c(3,62)=9
       exch2_ithi_c(3,62)=9
       exch2_jtlo_c(3,62)=0
       exch2_jthi_c(3,62)=5
       exch2_opposingSend_record(3,62)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_63
C      Topology for tile 63
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(63)=8
       exch2_tny(63)=4
       exch2_tbasex(63)=16
       exch2_tbasey(63)=8
       exch2_txglobalo(63)=81
       exch2_tyglobalo(63)=9
       exch2_isWedge(63)=0
       exch2_isNedge(63)=0
       exch2_isEedge(63)=0
       exch2_isSedge(63)=0
       exch2_myFace(63)=3
       exch2_mydnx(63)=32
       exch2_mydny(63)=32
       exch2_nNeighbours(63)=3

       exch2_neighbourId(1,63)=67
       exch2_pi(1,1,63)=1
       exch2_pi(2,1,63)=0
       exch2_pj(1,1,63)=0
       exch2_pj(2,1,63)=1
       exch2_oi(1,63)=0
       exch2_oi_f(1,63)=0
       exch2_oj(1,63)=0
       exch2_oj_f(1,63)=0
       exch2_itlo_c(1,63)=0
       exch2_ithi_c(1,63)=9
       exch2_jtlo_c(1,63)=0
       exch2_jthi_c(1,63)=0
       exch2_opposingSend_record(1,63)=2

       exch2_neighbourId(2,63)=64
       exch2_pi(1,2,63)=1
       exch2_pi(2,2,63)=0
       exch2_pj(1,2,63)=0
       exch2_pj(2,2,63)=1
       exch2_oi(2,63)=0
       exch2_oi_f(2,63)=0
       exch2_oj(2,63)=0
       exch2_oj_f(2,63)=0
       exch2_itlo_c(2,63)=0
       exch2_ithi_c(2,63)=0
       exch2_jtlo_c(2,63)=0
       exch2_jthi_c(2,63)=5
       exch2_opposingSend_record(2,63)=4

       exch2_neighbourId(3,63)=62
       exch2_pi(1,3,63)=1
       exch2_pi(2,3,63)=0
       exch2_pj(1,3,63)=0
       exch2_pj(2,3,63)=1
       exch2_oi(3,63)=0
       exch2_oi_f(3,63)=0
       exch2_oj(3,63)=0
       exch2_oj_f(3,63)=0
       exch2_itlo_c(3,63)=9
       exch2_ithi_c(3,63)=9
       exch2_jtlo_c(3,63)=0
       exch2_jthi_c(3,63)=5
       exch2_opposingSend_record(3,63)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_64
C      Topology for tile 64
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(64)=8
       exch2_tny(64)=4
       exch2_tbasex(64)=24
       exch2_tbasey(64)=8
       exch2_txglobalo(64)=89
       exch2_tyglobalo(64)=9
       exch2_isWedge(64)=0
       exch2_isNedge(64)=0
       exch2_isEedge(64)=1
       exch2_isSedge(64)=0
       exch2_myFace(64)=3
       exch2_mydnx(64)=32
       exch2_mydny(64)=32
       exch2_nNeighbours(64)=4

       exch2_neighbourId(1,64)=68
       exch2_pi(1,1,64)=1
       exch2_pi(2,1,64)=0
       exch2_pj(1,1,64)=0
       exch2_pj(2,1,64)=1
       exch2_oi(1,64)=0
       exch2_oi_f(1,64)=0
       exch2_oj(1,64)=0
       exch2_oj_f(1,64)=0
       exch2_itlo_c(1,64)=0
       exch2_ithi_c(1,64)=9
       exch2_jtlo_c(1,64)=0
       exch2_jthi_c(1,64)=0
       exch2_opposingSend_record(1,64)=2

       exch2_neighbourId(2,64)=60
       exch2_pi(1,2,64)=1
       exch2_pi(2,2,64)=0
       exch2_pj(1,2,64)=0
       exch2_pj(2,2,64)=1
       exch2_oi(2,64)=0
       exch2_oi_f(2,64)=0
       exch2_oj(2,64)=0
       exch2_oj_f(2,64)=0
       exch2_itlo_c(2,64)=1
       exch2_ithi_c(2,64)=8
       exch2_jtlo_c(2,64)=5
       exch2_jthi_c(2,64)=5
       exch2_opposingSend_record(2,64)=1

       exch2_neighbourId(3,64)=91
       exch2_pi(1,3,64)=1
       exch2_pi(2,3,64)=0
       exch2_pj(1,3,64)=0
       exch2_pj(2,3,64)=1
       exch2_oi(3,64)=32
       exch2_oi_f(3,64)=32
       exch2_oj(3,64)=0
       exch2_oj_f(3,64)=0
       exch2_itlo_c(3,64)=0
       exch2_ithi_c(3,64)=0
       exch2_jtlo_c(3,64)=0
       exch2_jthi_c(3,64)=5
       exch2_opposingSend_record(3,64)=4

       exch2_neighbourId(4,64)=63
       exch2_pi(1,4,64)=1
       exch2_pi(2,4,64)=0
       exch2_pj(1,4,64)=0
       exch2_pj(2,4,64)=1
       exch2_oi(4,64)=0
       exch2_oi_f(4,64)=0
       exch2_oj(4,64)=0
       exch2_oj_f(4,64)=0
       exch2_itlo_c(4,64)=9
       exch2_ithi_c(4,64)=9
       exch2_jtlo_c(4,64)=0
       exch2_jthi_c(4,64)=5
       exch2_opposingSend_record(4,64)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_65
C      Topology for tile 65
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(65)=8
       exch2_tny(65)=4
       exch2_tbasex(65)=0
       exch2_tbasey(65)=12
       exch2_txglobalo(65)=65
       exch2_tyglobalo(65)=13
       exch2_isWedge(65)=1
       exch2_isNedge(65)=0
       exch2_isEedge(65)=0
       exch2_isSedge(65)=0
       exch2_myFace(65)=3
       exch2_mydnx(65)=32
       exch2_mydny(65)=32
       exch2_nNeighbours(65)=4

       exch2_neighbourId(1,65)=69
       exch2_pi(1,1,65)=1
       exch2_pi(2,1,65)=0
       exch2_pj(1,1,65)=0
       exch2_pj(2,1,65)=1
       exch2_oi(1,65)=0
       exch2_oi_f(1,65)=0
       exch2_oj(1,65)=0
       exch2_oj_f(1,65)=0
       exch2_itlo_c(1,65)=0
       exch2_ithi_c(1,65)=9
       exch2_jtlo_c(1,65)=0
       exch2_jthi_c(1,65)=0
       exch2_opposingSend_record(1,65)=2

       exch2_neighbourId(2,65)=61
       exch2_pi(1,2,65)=1
       exch2_pi(2,2,65)=0
       exch2_pj(1,2,65)=0
       exch2_pj(2,2,65)=1
       exch2_oi(2,65)=0
       exch2_oi_f(2,65)=0
       exch2_oj(2,65)=0
       exch2_oj_f(2,65)=0
       exch2_itlo_c(2,65)=1
       exch2_ithi_c(2,65)=8
       exch2_jtlo_c(2,65)=5
       exch2_jthi_c(2,65)=5
       exch2_opposingSend_record(2,65)=1

       exch2_neighbourId(3,65)=66
       exch2_pi(1,3,65)=1
       exch2_pi(2,3,65)=0
       exch2_pj(1,3,65)=0
       exch2_pj(2,3,65)=1
       exch2_oi(3,65)=0
       exch2_oi_f(3,65)=0
       exch2_oj(3,65)=0
       exch2_oj_f(3,65)=0
       exch2_itlo_c(3,65)=0
       exch2_ithi_c(3,65)=0
       exch2_jtlo_c(3,65)=0
       exch2_jthi_c(3,65)=5
       exch2_opposingSend_record(3,65)=4

       exch2_neighbourId(4,65)=29
       exch2_pi(1,4,65)=0
       exch2_pi(2,4,65)=1
       exch2_pj(1,4,65)=-1
       exch2_pj(2,4,65)=0
       exch2_oi(4,65)=-32
       exch2_oi_f(4,65)=-32
       exch2_oj(4,65)=33
       exch2_oj_f(4,65)=34
       exch2_itlo_c(4,65)=0
       exch2_ithi_c(4,65)=5
       exch2_jtlo_c(4,65)=5
       exch2_jthi_c(4,65)=5
       exch2_opposingSend_record(4,65)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_66
C      Topology for tile 66
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(66)=8
       exch2_tny(66)=4
       exch2_tbasex(66)=8
       exch2_tbasey(66)=12
       exch2_txglobalo(66)=73
       exch2_tyglobalo(66)=13
       exch2_isWedge(66)=0
       exch2_isNedge(66)=0
       exch2_isEedge(66)=0
       exch2_isSedge(66)=0
       exch2_myFace(66)=3
       exch2_mydnx(66)=32
       exch2_mydny(66)=32
       exch2_nNeighbours(66)=4

       exch2_neighbourId(1,66)=70
       exch2_pi(1,1,66)=1
       exch2_pi(2,1,66)=0
       exch2_pj(1,1,66)=0
       exch2_pj(2,1,66)=1
       exch2_oi(1,66)=0
       exch2_oi_f(1,66)=0
       exch2_oj(1,66)=0
       exch2_oj_f(1,66)=0
       exch2_itlo_c(1,66)=0
       exch2_ithi_c(1,66)=9
       exch2_jtlo_c(1,66)=0
       exch2_jthi_c(1,66)=0
       exch2_opposingSend_record(1,66)=2

       exch2_neighbourId(2,66)=62
       exch2_pi(1,2,66)=1
       exch2_pi(2,2,66)=0
       exch2_pj(1,2,66)=0
       exch2_pj(2,2,66)=1
       exch2_oi(2,66)=0
       exch2_oi_f(2,66)=0
       exch2_oj(2,66)=0
       exch2_oj_f(2,66)=0
       exch2_itlo_c(2,66)=1
       exch2_ithi_c(2,66)=8
       exch2_jtlo_c(2,66)=5
       exch2_jthi_c(2,66)=5
       exch2_opposingSend_record(2,66)=1

       exch2_neighbourId(3,66)=67
       exch2_pi(1,3,66)=1
       exch2_pi(2,3,66)=0
       exch2_pj(1,3,66)=0
       exch2_pj(2,3,66)=1
       exch2_oi(3,66)=0
       exch2_oi_f(3,66)=0
       exch2_oj(3,66)=0
       exch2_oj_f(3,66)=0
       exch2_itlo_c(3,66)=0
       exch2_ithi_c(3,66)=0
       exch2_jtlo_c(3,66)=0
       exch2_jthi_c(3,66)=5
       exch2_opposingSend_record(3,66)=4

       exch2_neighbourId(4,66)=65
       exch2_pi(1,4,66)=1
       exch2_pi(2,4,66)=0
       exch2_pj(1,4,66)=0
       exch2_pj(2,4,66)=1
       exch2_oi(4,66)=0
       exch2_oi_f(4,66)=0
       exch2_oj(4,66)=0
       exch2_oj_f(4,66)=0
       exch2_itlo_c(4,66)=9
       exch2_ithi_c(4,66)=9
       exch2_jtlo_c(4,66)=0
       exch2_jthi_c(4,66)=5
       exch2_opposingSend_record(4,66)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_67
C      Topology for tile 67
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(67)=8
       exch2_tny(67)=4
       exch2_tbasex(67)=16
       exch2_tbasey(67)=12
       exch2_txglobalo(67)=81
       exch2_tyglobalo(67)=13
       exch2_isWedge(67)=0
       exch2_isNedge(67)=0
       exch2_isEedge(67)=0
       exch2_isSedge(67)=0
       exch2_myFace(67)=3
       exch2_mydnx(67)=32
       exch2_mydny(67)=32
       exch2_nNeighbours(67)=4

       exch2_neighbourId(1,67)=71
       exch2_pi(1,1,67)=1
       exch2_pi(2,1,67)=0
       exch2_pj(1,1,67)=0
       exch2_pj(2,1,67)=1
       exch2_oi(1,67)=0
       exch2_oi_f(1,67)=0
       exch2_oj(1,67)=0
       exch2_oj_f(1,67)=0
       exch2_itlo_c(1,67)=0
       exch2_ithi_c(1,67)=9
       exch2_jtlo_c(1,67)=0
       exch2_jthi_c(1,67)=0
       exch2_opposingSend_record(1,67)=2

       exch2_neighbourId(2,67)=63
       exch2_pi(1,2,67)=1
       exch2_pi(2,2,67)=0
       exch2_pj(1,2,67)=0
       exch2_pj(2,2,67)=1
       exch2_oi(2,67)=0
       exch2_oi_f(2,67)=0
       exch2_oj(2,67)=0
       exch2_oj_f(2,67)=0
       exch2_itlo_c(2,67)=1
       exch2_ithi_c(2,67)=8
       exch2_jtlo_c(2,67)=5
       exch2_jthi_c(2,67)=5
       exch2_opposingSend_record(2,67)=1

       exch2_neighbourId(3,67)=68
       exch2_pi(1,3,67)=1
       exch2_pi(2,3,67)=0
       exch2_pj(1,3,67)=0
       exch2_pj(2,3,67)=1
       exch2_oi(3,67)=0
       exch2_oi_f(3,67)=0
       exch2_oj(3,67)=0
       exch2_oj_f(3,67)=0
       exch2_itlo_c(3,67)=0
       exch2_ithi_c(3,67)=0
       exch2_jtlo_c(3,67)=0
       exch2_jthi_c(3,67)=5
       exch2_opposingSend_record(3,67)=4

       exch2_neighbourId(4,67)=66
       exch2_pi(1,4,67)=1
       exch2_pi(2,4,67)=0
       exch2_pj(1,4,67)=0
       exch2_pj(2,4,67)=1
       exch2_oi(4,67)=0
       exch2_oi_f(4,67)=0
       exch2_oj(4,67)=0
       exch2_oj_f(4,67)=0
       exch2_itlo_c(4,67)=9
       exch2_ithi_c(4,67)=9
       exch2_jtlo_c(4,67)=0
       exch2_jthi_c(4,67)=5
       exch2_opposingSend_record(4,67)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_68
C      Topology for tile 68
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(68)=8
       exch2_tny(68)=4
       exch2_tbasex(68)=24
       exch2_tbasey(68)=12
       exch2_txglobalo(68)=89
       exch2_tyglobalo(68)=13
       exch2_isWedge(68)=0
       exch2_isNedge(68)=0
       exch2_isEedge(68)=1
       exch2_isSedge(68)=0
       exch2_myFace(68)=3
       exch2_mydnx(68)=32
       exch2_mydny(68)=32
       exch2_nNeighbours(68)=4

       exch2_neighbourId(1,68)=72
       exch2_pi(1,1,68)=1
       exch2_pi(2,1,68)=0
       exch2_pj(1,1,68)=0
       exch2_pj(2,1,68)=1
       exch2_oi(1,68)=0
       exch2_oi_f(1,68)=0
       exch2_oj(1,68)=0
       exch2_oj_f(1,68)=0
       exch2_itlo_c(1,68)=0
       exch2_ithi_c(1,68)=9
       exch2_jtlo_c(1,68)=0
       exch2_jthi_c(1,68)=0
       exch2_opposingSend_record(1,68)=2

       exch2_neighbourId(2,68)=64
       exch2_pi(1,2,68)=1
       exch2_pi(2,2,68)=0
       exch2_pj(1,2,68)=0
       exch2_pj(2,2,68)=1
       exch2_oi(2,68)=0
       exch2_oi_f(2,68)=0
       exch2_oj(2,68)=0
       exch2_oj_f(2,68)=0
       exch2_itlo_c(2,68)=1
       exch2_ithi_c(2,68)=8
       exch2_jtlo_c(2,68)=5
       exch2_jthi_c(2,68)=5
       exch2_opposingSend_record(2,68)=1

       exch2_neighbourId(3,68)=95
       exch2_pi(1,3,68)=1
       exch2_pi(2,3,68)=0
       exch2_pj(1,3,68)=0
       exch2_pj(2,3,68)=1
       exch2_oi(3,68)=32
       exch2_oi_f(3,68)=32
       exch2_oj(3,68)=0
       exch2_oj_f(3,68)=0
       exch2_itlo_c(3,68)=0
       exch2_ithi_c(3,68)=0
       exch2_jtlo_c(3,68)=0
       exch2_jthi_c(3,68)=5
       exch2_opposingSend_record(3,68)=4

       exch2_neighbourId(4,68)=67
       exch2_pi(1,4,68)=1
       exch2_pi(2,4,68)=0
       exch2_pj(1,4,68)=0
       exch2_pj(2,4,68)=1
       exch2_oi(4,68)=0
       exch2_oi_f(4,68)=0
       exch2_oj(4,68)=0
       exch2_oj_f(4,68)=0
       exch2_itlo_c(4,68)=9
       exch2_ithi_c(4,68)=9
       exch2_jtlo_c(4,68)=0
       exch2_jthi_c(4,68)=5
       exch2_opposingSend_record(4,68)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_69
C      Topology for tile 69
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(69)=8
       exch2_tny(69)=4
       exch2_tbasex(69)=0
       exch2_tbasey(69)=16
       exch2_txglobalo(69)=65
       exch2_tyglobalo(69)=17
       exch2_isWedge(69)=1
       exch2_isNedge(69)=0
       exch2_isEedge(69)=0
       exch2_isSedge(69)=0
       exch2_myFace(69)=3
       exch2_mydnx(69)=32
       exch2_mydny(69)=32
       exch2_nNeighbours(69)=4

       exch2_neighbourId(1,69)=73
       exch2_pi(1,1,69)=1
       exch2_pi(2,1,69)=0
       exch2_pj(1,1,69)=0
       exch2_pj(2,1,69)=1
       exch2_oi(1,69)=0
       exch2_oi_f(1,69)=0
       exch2_oj(1,69)=0
       exch2_oj_f(1,69)=0
       exch2_itlo_c(1,69)=0
       exch2_ithi_c(1,69)=9
       exch2_jtlo_c(1,69)=0
       exch2_jthi_c(1,69)=0
       exch2_opposingSend_record(1,69)=2

       exch2_neighbourId(2,69)=65
       exch2_pi(1,2,69)=1
       exch2_pi(2,2,69)=0
       exch2_pj(1,2,69)=0
       exch2_pj(2,2,69)=1
       exch2_oi(2,69)=0
       exch2_oi_f(2,69)=0
       exch2_oj(2,69)=0
       exch2_oj_f(2,69)=0
       exch2_itlo_c(2,69)=1
       exch2_ithi_c(2,69)=8
       exch2_jtlo_c(2,69)=5
       exch2_jthi_c(2,69)=5
       exch2_opposingSend_record(2,69)=1

       exch2_neighbourId(3,69)=70
       exch2_pi(1,3,69)=1
       exch2_pi(2,3,69)=0
       exch2_pj(1,3,69)=0
       exch2_pj(2,3,69)=1
       exch2_oi(3,69)=0
       exch2_oi_f(3,69)=0
       exch2_oj(3,69)=0
       exch2_oj_f(3,69)=0
       exch2_itlo_c(3,69)=0
       exch2_ithi_c(3,69)=0
       exch2_jtlo_c(3,69)=0
       exch2_jthi_c(3,69)=5
       exch2_opposingSend_record(3,69)=4

       exch2_neighbourId(4,69)=28
       exch2_pi(1,4,69)=0
       exch2_pi(2,4,69)=1
       exch2_pj(1,4,69)=-1
       exch2_pj(2,4,69)=0
       exch2_oi(4,69)=-32
       exch2_oi_f(4,69)=-32
       exch2_oj(4,69)=33
       exch2_oj_f(4,69)=34
       exch2_itlo_c(4,69)=4
       exch2_ithi_c(4,69)=9
       exch2_jtlo_c(4,69)=5
       exch2_jthi_c(4,69)=5
       exch2_opposingSend_record(4,69)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_70
C      Topology for tile 70
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(70)=8
       exch2_tny(70)=4
       exch2_tbasex(70)=8
       exch2_tbasey(70)=16
       exch2_txglobalo(70)=73
       exch2_tyglobalo(70)=17
       exch2_isWedge(70)=0
       exch2_isNedge(70)=0
       exch2_isEedge(70)=0
       exch2_isSedge(70)=0
       exch2_myFace(70)=3
       exch2_mydnx(70)=32
       exch2_mydny(70)=32
       exch2_nNeighbours(70)=4

       exch2_neighbourId(1,70)=74
       exch2_pi(1,1,70)=1
       exch2_pi(2,1,70)=0
       exch2_pj(1,1,70)=0
       exch2_pj(2,1,70)=1
       exch2_oi(1,70)=0
       exch2_oi_f(1,70)=0
       exch2_oj(1,70)=0
       exch2_oj_f(1,70)=0
       exch2_itlo_c(1,70)=0
       exch2_ithi_c(1,70)=9
       exch2_jtlo_c(1,70)=0
       exch2_jthi_c(1,70)=0
       exch2_opposingSend_record(1,70)=2

       exch2_neighbourId(2,70)=66
       exch2_pi(1,2,70)=1
       exch2_pi(2,2,70)=0
       exch2_pj(1,2,70)=0
       exch2_pj(2,2,70)=1
       exch2_oi(2,70)=0
       exch2_oi_f(2,70)=0
       exch2_oj(2,70)=0
       exch2_oj_f(2,70)=0
       exch2_itlo_c(2,70)=1
       exch2_ithi_c(2,70)=8
       exch2_jtlo_c(2,70)=5
       exch2_jthi_c(2,70)=5
       exch2_opposingSend_record(2,70)=1

       exch2_neighbourId(3,70)=71
       exch2_pi(1,3,70)=1
       exch2_pi(2,3,70)=0
       exch2_pj(1,3,70)=0
       exch2_pj(2,3,70)=1
       exch2_oi(3,70)=0
       exch2_oi_f(3,70)=0
       exch2_oj(3,70)=0
       exch2_oj_f(3,70)=0
       exch2_itlo_c(3,70)=0
       exch2_ithi_c(3,70)=0
       exch2_jtlo_c(3,70)=0
       exch2_jthi_c(3,70)=5
       exch2_opposingSend_record(3,70)=4

       exch2_neighbourId(4,70)=69
       exch2_pi(1,4,70)=1
       exch2_pi(2,4,70)=0
       exch2_pj(1,4,70)=0
       exch2_pj(2,4,70)=1
       exch2_oi(4,70)=0
       exch2_oi_f(4,70)=0
       exch2_oj(4,70)=0
       exch2_oj_f(4,70)=0
       exch2_itlo_c(4,70)=9
       exch2_ithi_c(4,70)=9
       exch2_jtlo_c(4,70)=0
       exch2_jthi_c(4,70)=5
       exch2_opposingSend_record(4,70)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_71
C      Topology for tile 71
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(71)=8
       exch2_tny(71)=4
       exch2_tbasex(71)=16
       exch2_tbasey(71)=16
       exch2_txglobalo(71)=81
       exch2_tyglobalo(71)=17
       exch2_isWedge(71)=0
       exch2_isNedge(71)=0
       exch2_isEedge(71)=0
       exch2_isSedge(71)=0
       exch2_myFace(71)=3
       exch2_mydnx(71)=32
       exch2_mydny(71)=32
       exch2_nNeighbours(71)=4

       exch2_neighbourId(1,71)=75
       exch2_pi(1,1,71)=1
       exch2_pi(2,1,71)=0
       exch2_pj(1,1,71)=0
       exch2_pj(2,1,71)=1
       exch2_oi(1,71)=0
       exch2_oi_f(1,71)=0
       exch2_oj(1,71)=0
       exch2_oj_f(1,71)=0
       exch2_itlo_c(1,71)=0
       exch2_ithi_c(1,71)=9
       exch2_jtlo_c(1,71)=0
       exch2_jthi_c(1,71)=0
       exch2_opposingSend_record(1,71)=1

       exch2_neighbourId(2,71)=67
       exch2_pi(1,2,71)=1
       exch2_pi(2,2,71)=0
       exch2_pj(1,2,71)=0
       exch2_pj(2,2,71)=1
       exch2_oi(2,71)=0
       exch2_oi_f(2,71)=0
       exch2_oj(2,71)=0
       exch2_oj_f(2,71)=0
       exch2_itlo_c(2,71)=1
       exch2_ithi_c(2,71)=8
       exch2_jtlo_c(2,71)=5
       exch2_jthi_c(2,71)=5
       exch2_opposingSend_record(2,71)=1

       exch2_neighbourId(3,71)=72
       exch2_pi(1,3,71)=1
       exch2_pi(2,3,71)=0
       exch2_pj(1,3,71)=0
       exch2_pj(2,3,71)=1
       exch2_oi(3,71)=0
       exch2_oi_f(3,71)=0
       exch2_oj(3,71)=0
       exch2_oj_f(3,71)=0
       exch2_itlo_c(3,71)=0
       exch2_ithi_c(3,71)=0
       exch2_jtlo_c(3,71)=0
       exch2_jthi_c(3,71)=5
       exch2_opposingSend_record(3,71)=4

       exch2_neighbourId(4,71)=70
       exch2_pi(1,4,71)=1
       exch2_pi(2,4,71)=0
       exch2_pj(1,4,71)=0
       exch2_pj(2,4,71)=1
       exch2_oi(4,71)=0
       exch2_oi_f(4,71)=0
       exch2_oj(4,71)=0
       exch2_oj_f(4,71)=0
       exch2_itlo_c(4,71)=9
       exch2_ithi_c(4,71)=9
       exch2_jtlo_c(4,71)=0
       exch2_jthi_c(4,71)=5
       exch2_opposingSend_record(4,71)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_72
C      Topology for tile 72
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(72)=8
       exch2_tny(72)=4
       exch2_tbasex(72)=24
       exch2_tbasey(72)=16
       exch2_txglobalo(72)=89
       exch2_tyglobalo(72)=17
       exch2_isWedge(72)=0
       exch2_isNedge(72)=0
       exch2_isEedge(72)=1
       exch2_isSedge(72)=0
       exch2_myFace(72)=3
       exch2_mydnx(72)=32
       exch2_mydny(72)=32
       exch2_nNeighbours(72)=4

       exch2_neighbourId(1,72)=76
       exch2_pi(1,1,72)=1
       exch2_pi(2,1,72)=0
       exch2_pj(1,1,72)=0
       exch2_pj(2,1,72)=1
       exch2_oi(1,72)=0
       exch2_oi_f(1,72)=0
       exch2_oj(1,72)=0
       exch2_oj_f(1,72)=0
       exch2_itlo_c(1,72)=0
       exch2_ithi_c(1,72)=9
       exch2_jtlo_c(1,72)=0
       exch2_jthi_c(1,72)=0
       exch2_opposingSend_record(1,72)=2

       exch2_neighbourId(2,72)=68
       exch2_pi(1,2,72)=1
       exch2_pi(2,2,72)=0
       exch2_pj(1,2,72)=0
       exch2_pj(2,2,72)=1
       exch2_oi(2,72)=0
       exch2_oi_f(2,72)=0
       exch2_oj(2,72)=0
       exch2_oj_f(2,72)=0
       exch2_itlo_c(2,72)=1
       exch2_ithi_c(2,72)=8
       exch2_jtlo_c(2,72)=5
       exch2_jthi_c(2,72)=5
       exch2_opposingSend_record(2,72)=1

       exch2_neighbourId(3,72)=99
       exch2_pi(1,3,72)=1
       exch2_pi(2,3,72)=0
       exch2_pj(1,3,72)=0
       exch2_pj(2,3,72)=1
       exch2_oi(3,72)=32
       exch2_oi_f(3,72)=32
       exch2_oj(3,72)=0
       exch2_oj_f(3,72)=0
       exch2_itlo_c(3,72)=0
       exch2_ithi_c(3,72)=0
       exch2_jtlo_c(3,72)=0
       exch2_jthi_c(3,72)=5
       exch2_opposingSend_record(3,72)=4

       exch2_neighbourId(4,72)=71
       exch2_pi(1,4,72)=1
       exch2_pi(2,4,72)=0
       exch2_pj(1,4,72)=0
       exch2_pj(2,4,72)=1
       exch2_oi(4,72)=0
       exch2_oi_f(4,72)=0
       exch2_oj(4,72)=0
       exch2_oj_f(4,72)=0
       exch2_itlo_c(4,72)=9
       exch2_ithi_c(4,72)=9
       exch2_jtlo_c(4,72)=0
       exch2_jthi_c(4,72)=5
       exch2_opposingSend_record(4,72)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_73
C      Topology for tile 73
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(73)=8
       exch2_tny(73)=4
       exch2_tbasex(73)=0
       exch2_tbasey(73)=20
       exch2_txglobalo(73)=65
       exch2_tyglobalo(73)=21
       exch2_isWedge(73)=1
       exch2_isNedge(73)=0
       exch2_isEedge(73)=0
       exch2_isSedge(73)=0
       exch2_myFace(73)=3
       exch2_mydnx(73)=32
       exch2_mydny(73)=32
       exch2_nNeighbours(73)=4

       exch2_neighbourId(1,73)=77
       exch2_pi(1,1,73)=1
       exch2_pi(2,1,73)=0
       exch2_pj(1,1,73)=0
       exch2_pj(2,1,73)=1
       exch2_oi(1,73)=0
       exch2_oi_f(1,73)=0
       exch2_oj(1,73)=0
       exch2_oj_f(1,73)=0
       exch2_itlo_c(1,73)=0
       exch2_ithi_c(1,73)=9
       exch2_jtlo_c(1,73)=0
       exch2_jthi_c(1,73)=0
       exch2_opposingSend_record(1,73)=2

       exch2_neighbourId(2,73)=69
       exch2_pi(1,2,73)=1
       exch2_pi(2,2,73)=0
       exch2_pj(1,2,73)=0
       exch2_pj(2,2,73)=1
       exch2_oi(2,73)=0
       exch2_oi_f(2,73)=0
       exch2_oj(2,73)=0
       exch2_oj_f(2,73)=0
       exch2_itlo_c(2,73)=1
       exch2_ithi_c(2,73)=8
       exch2_jtlo_c(2,73)=5
       exch2_jthi_c(2,73)=5
       exch2_opposingSend_record(2,73)=1

       exch2_neighbourId(3,73)=74
       exch2_pi(1,3,73)=1
       exch2_pi(2,3,73)=0
       exch2_pj(1,3,73)=0
       exch2_pj(2,3,73)=1
       exch2_oi(3,73)=0
       exch2_oi_f(3,73)=0
       exch2_oj(3,73)=0
       exch2_oj_f(3,73)=0
       exch2_itlo_c(3,73)=0
       exch2_ithi_c(3,73)=0
       exch2_jtlo_c(3,73)=0
       exch2_jthi_c(3,73)=5
       exch2_opposingSend_record(3,73)=4

       exch2_neighbourId(4,73)=28
       exch2_pi(1,4,73)=0
       exch2_pi(2,4,73)=1
       exch2_pj(1,4,73)=-1
       exch2_pj(2,4,73)=0
       exch2_oi(4,73)=-32
       exch2_oi_f(4,73)=-32
       exch2_oj(4,73)=33
       exch2_oj_f(4,73)=34
       exch2_itlo_c(4,73)=0
       exch2_ithi_c(4,73)=5
       exch2_jtlo_c(4,73)=5
       exch2_jthi_c(4,73)=5
       exch2_opposingSend_record(4,73)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_74
C      Topology for tile 74
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(74)=8
       exch2_tny(74)=4
       exch2_tbasex(74)=8
       exch2_tbasey(74)=20
       exch2_txglobalo(74)=73
       exch2_tyglobalo(74)=21
       exch2_isWedge(74)=0
       exch2_isNedge(74)=0
       exch2_isEedge(74)=0
       exch2_isSedge(74)=0
       exch2_myFace(74)=3
       exch2_mydnx(74)=32
       exch2_mydny(74)=32
       exch2_nNeighbours(74)=4

       exch2_neighbourId(1,74)=78
       exch2_pi(1,1,74)=1
       exch2_pi(2,1,74)=0
       exch2_pj(1,1,74)=0
       exch2_pj(2,1,74)=1
       exch2_oi(1,74)=0
       exch2_oi_f(1,74)=0
       exch2_oj(1,74)=0
       exch2_oj_f(1,74)=0
       exch2_itlo_c(1,74)=0
       exch2_ithi_c(1,74)=9
       exch2_jtlo_c(1,74)=0
       exch2_jthi_c(1,74)=0
       exch2_opposingSend_record(1,74)=2

       exch2_neighbourId(2,74)=70
       exch2_pi(1,2,74)=1
       exch2_pi(2,2,74)=0
       exch2_pj(1,2,74)=0
       exch2_pj(2,2,74)=1
       exch2_oi(2,74)=0
       exch2_oi_f(2,74)=0
       exch2_oj(2,74)=0
       exch2_oj_f(2,74)=0
       exch2_itlo_c(2,74)=1
       exch2_ithi_c(2,74)=8
       exch2_jtlo_c(2,74)=5
       exch2_jthi_c(2,74)=5
       exch2_opposingSend_record(2,74)=1

       exch2_neighbourId(3,74)=75
       exch2_pi(1,3,74)=1
       exch2_pi(2,3,74)=0
       exch2_pj(1,3,74)=0
       exch2_pj(2,3,74)=1
       exch2_oi(3,74)=0
       exch2_oi_f(3,74)=0
       exch2_oj(3,74)=0
       exch2_oj_f(3,74)=0
       exch2_itlo_c(3,74)=0
       exch2_ithi_c(3,74)=0
       exch2_jtlo_c(3,74)=0
       exch2_jthi_c(3,74)=5
       exch2_opposingSend_record(3,74)=3

       exch2_neighbourId(4,74)=73
       exch2_pi(1,4,74)=1
       exch2_pi(2,4,74)=0
       exch2_pj(1,4,74)=0
       exch2_pj(2,4,74)=1
       exch2_oi(4,74)=0
       exch2_oi_f(4,74)=0
       exch2_oj(4,74)=0
       exch2_oj_f(4,74)=0
       exch2_itlo_c(4,74)=9
       exch2_ithi_c(4,74)=9
       exch2_jtlo_c(4,74)=0
       exch2_jthi_c(4,74)=5
       exch2_opposingSend_record(4,74)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_75
C      Topology for tile 75
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(75)=8
       exch2_tny(75)=4
       exch2_tbasex(75)=16
       exch2_tbasey(75)=20
       exch2_txglobalo(75)=81
       exch2_tyglobalo(75)=21
       exch2_isWedge(75)=0
       exch2_isNedge(75)=0
       exch2_isEedge(75)=0
       exch2_isSedge(75)=0
       exch2_myFace(75)=3
       exch2_mydnx(75)=32
       exch2_mydny(75)=32
       exch2_nNeighbours(75)=3

       exch2_neighbourId(1,75)=71
       exch2_pi(1,1,75)=1
       exch2_pi(2,1,75)=0
       exch2_pj(1,1,75)=0
       exch2_pj(2,1,75)=1
       exch2_oi(1,75)=0
       exch2_oi_f(1,75)=0
       exch2_oj(1,75)=0
       exch2_oj_f(1,75)=0
       exch2_itlo_c(1,75)=1
       exch2_ithi_c(1,75)=8
       exch2_jtlo_c(1,75)=5
       exch2_jthi_c(1,75)=5
       exch2_opposingSend_record(1,75)=1

       exch2_neighbourId(2,75)=76
       exch2_pi(1,2,75)=1
       exch2_pi(2,2,75)=0
       exch2_pj(1,2,75)=0
       exch2_pj(2,2,75)=1
       exch2_oi(2,75)=0
       exch2_oi_f(2,75)=0
       exch2_oj(2,75)=0
       exch2_oj_f(2,75)=0
       exch2_itlo_c(2,75)=0
       exch2_ithi_c(2,75)=0
       exch2_jtlo_c(2,75)=0
       exch2_jthi_c(2,75)=5
       exch2_opposingSend_record(2,75)=4

       exch2_neighbourId(3,75)=74
       exch2_pi(1,3,75)=1
       exch2_pi(2,3,75)=0
       exch2_pj(1,3,75)=0
       exch2_pj(2,3,75)=1
       exch2_oi(3,75)=0
       exch2_oi_f(3,75)=0
       exch2_oj(3,75)=0
       exch2_oj_f(3,75)=0
       exch2_itlo_c(3,75)=9
       exch2_ithi_c(3,75)=9
       exch2_jtlo_c(3,75)=0
       exch2_jthi_c(3,75)=5
       exch2_opposingSend_record(3,75)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_76
C      Topology for tile 76
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(76)=8
       exch2_tny(76)=4
       exch2_tbasex(76)=24
       exch2_tbasey(76)=20
       exch2_txglobalo(76)=89
       exch2_tyglobalo(76)=21
       exch2_isWedge(76)=0
       exch2_isNedge(76)=0
       exch2_isEedge(76)=1
       exch2_isSedge(76)=0
       exch2_myFace(76)=3
       exch2_mydnx(76)=32
       exch2_mydny(76)=32
       exch2_nNeighbours(76)=4

       exch2_neighbourId(1,76)=79
       exch2_pi(1,1,76)=1
       exch2_pi(2,1,76)=0
       exch2_pj(1,1,76)=0
       exch2_pj(2,1,76)=1
       exch2_oi(1,76)=0
       exch2_oi_f(1,76)=0
       exch2_oj(1,76)=0
       exch2_oj_f(1,76)=0
       exch2_itlo_c(1,76)=0
       exch2_ithi_c(1,76)=9
       exch2_jtlo_c(1,76)=0
       exch2_jthi_c(1,76)=0
       exch2_opposingSend_record(1,76)=2

       exch2_neighbourId(2,76)=72
       exch2_pi(1,2,76)=1
       exch2_pi(2,2,76)=0
       exch2_pj(1,2,76)=0
       exch2_pj(2,2,76)=1
       exch2_oi(2,76)=0
       exch2_oi_f(2,76)=0
       exch2_oj(2,76)=0
       exch2_oj_f(2,76)=0
       exch2_itlo_c(2,76)=1
       exch2_ithi_c(2,76)=8
       exch2_jtlo_c(2,76)=5
       exch2_jthi_c(2,76)=5
       exch2_opposingSend_record(2,76)=1

       exch2_neighbourId(3,76)=103
       exch2_pi(1,3,76)=1
       exch2_pi(2,3,76)=0
       exch2_pj(1,3,76)=0
       exch2_pj(2,3,76)=1
       exch2_oi(3,76)=32
       exch2_oi_f(3,76)=32
       exch2_oj(3,76)=0
       exch2_oj_f(3,76)=0
       exch2_itlo_c(3,76)=0
       exch2_ithi_c(3,76)=0
       exch2_jtlo_c(3,76)=0
       exch2_jthi_c(3,76)=5
       exch2_opposingSend_record(3,76)=4

       exch2_neighbourId(4,76)=75
       exch2_pi(1,4,76)=1
       exch2_pi(2,4,76)=0
       exch2_pj(1,4,76)=0
       exch2_pj(2,4,76)=1
       exch2_oi(4,76)=0
       exch2_oi_f(4,76)=0
       exch2_oj(4,76)=0
       exch2_oj_f(4,76)=0
       exch2_itlo_c(4,76)=9
       exch2_ithi_c(4,76)=9
       exch2_jtlo_c(4,76)=0
       exch2_jthi_c(4,76)=5
       exch2_opposingSend_record(4,76)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_77
C      Topology for tile 77
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(77)=8
       exch2_tny(77)=4
       exch2_tbasex(77)=0
       exch2_tbasey(77)=24
       exch2_txglobalo(77)=65
       exch2_tyglobalo(77)=25
       exch2_isWedge(77)=1
       exch2_isNedge(77)=0
       exch2_isEedge(77)=0
       exch2_isSedge(77)=0
       exch2_myFace(77)=3
       exch2_mydnx(77)=32
       exch2_mydny(77)=32
       exch2_nNeighbours(77)=4

       exch2_neighbourId(1,77)=80
       exch2_pi(1,1,77)=1
       exch2_pi(2,1,77)=0
       exch2_pj(1,1,77)=0
       exch2_pj(2,1,77)=1
       exch2_oi(1,77)=0
       exch2_oi_f(1,77)=0
       exch2_oj(1,77)=0
       exch2_oj_f(1,77)=0
       exch2_itlo_c(1,77)=0
       exch2_ithi_c(1,77)=9
       exch2_jtlo_c(1,77)=0
       exch2_jthi_c(1,77)=0
       exch2_opposingSend_record(1,77)=3

       exch2_neighbourId(2,77)=73
       exch2_pi(1,2,77)=1
       exch2_pi(2,2,77)=0
       exch2_pj(1,2,77)=0
       exch2_pj(2,2,77)=1
       exch2_oi(2,77)=0
       exch2_oi_f(2,77)=0
       exch2_oj(2,77)=0
       exch2_oj_f(2,77)=0
       exch2_itlo_c(2,77)=1
       exch2_ithi_c(2,77)=8
       exch2_jtlo_c(2,77)=5
       exch2_jthi_c(2,77)=5
       exch2_opposingSend_record(2,77)=1

       exch2_neighbourId(3,77)=78
       exch2_pi(1,3,77)=1
       exch2_pi(2,3,77)=0
       exch2_pj(1,3,77)=0
       exch2_pj(2,3,77)=1
       exch2_oi(3,77)=0
       exch2_oi_f(3,77)=0
       exch2_oj(3,77)=0
       exch2_oj_f(3,77)=0
       exch2_itlo_c(3,77)=0
       exch2_ithi_c(3,77)=0
       exch2_jtlo_c(3,77)=0
       exch2_jthi_c(3,77)=5
       exch2_opposingSend_record(3,77)=3

       exch2_neighbourId(4,77)=27
       exch2_pi(1,4,77)=0
       exch2_pi(2,4,77)=1
       exch2_pj(1,4,77)=-1
       exch2_pj(2,4,77)=0
       exch2_oi(4,77)=-32
       exch2_oi_f(4,77)=-32
       exch2_oj(4,77)=33
       exch2_oj_f(4,77)=34
       exch2_itlo_c(4,77)=4
       exch2_ithi_c(4,77)=9
       exch2_jtlo_c(4,77)=5
       exch2_jthi_c(4,77)=5
       exch2_opposingSend_record(4,77)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_78
C      Topology for tile 78
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(78)=8
       exch2_tny(78)=4
       exch2_tbasex(78)=8
       exch2_tbasey(78)=24
       exch2_txglobalo(78)=73
       exch2_tyglobalo(78)=25
       exch2_isWedge(78)=0
       exch2_isNedge(78)=0
       exch2_isEedge(78)=0
       exch2_isSedge(78)=0
       exch2_myFace(78)=3
       exch2_mydnx(78)=32
       exch2_mydny(78)=32
       exch2_nNeighbours(78)=3

       exch2_neighbourId(1,78)=81
       exch2_pi(1,1,78)=1
       exch2_pi(2,1,78)=0
       exch2_pj(1,1,78)=0
       exch2_pj(2,1,78)=1
       exch2_oi(1,78)=0
       exch2_oi_f(1,78)=0
       exch2_oj(1,78)=0
       exch2_oj_f(1,78)=0
       exch2_itlo_c(1,78)=0
       exch2_ithi_c(1,78)=9
       exch2_jtlo_c(1,78)=0
       exch2_jthi_c(1,78)=0
       exch2_opposingSend_record(1,78)=3

       exch2_neighbourId(2,78)=74
       exch2_pi(1,2,78)=1
       exch2_pi(2,2,78)=0
       exch2_pj(1,2,78)=0
       exch2_pj(2,2,78)=1
       exch2_oi(2,78)=0
       exch2_oi_f(2,78)=0
       exch2_oj(2,78)=0
       exch2_oj_f(2,78)=0
       exch2_itlo_c(2,78)=1
       exch2_ithi_c(2,78)=8
       exch2_jtlo_c(2,78)=5
       exch2_jthi_c(2,78)=5
       exch2_opposingSend_record(2,78)=1

       exch2_neighbourId(3,78)=77
       exch2_pi(1,3,78)=1
       exch2_pi(2,3,78)=0
       exch2_pj(1,3,78)=0
       exch2_pj(2,3,78)=1
       exch2_oi(3,78)=0
       exch2_oi_f(3,78)=0
       exch2_oj(3,78)=0
       exch2_oj_f(3,78)=0
       exch2_itlo_c(3,78)=9
       exch2_ithi_c(3,78)=9
       exch2_jtlo_c(3,78)=0
       exch2_jthi_c(3,78)=5
       exch2_opposingSend_record(3,78)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_79
C      Topology for tile 79
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(79)=8
       exch2_tny(79)=4
       exch2_tbasex(79)=24
       exch2_tbasey(79)=24
       exch2_txglobalo(79)=89
       exch2_tyglobalo(79)=25
       exch2_isWedge(79)=0
       exch2_isNedge(79)=0
       exch2_isEedge(79)=1
       exch2_isSedge(79)=0
       exch2_myFace(79)=3
       exch2_mydnx(79)=32
       exch2_mydny(79)=32
       exch2_nNeighbours(79)=3

       exch2_neighbourId(1,79)=82
       exch2_pi(1,1,79)=1
       exch2_pi(2,1,79)=0
       exch2_pj(1,1,79)=0
       exch2_pj(2,1,79)=1
       exch2_oi(1,79)=0
       exch2_oi_f(1,79)=0
       exch2_oj(1,79)=0
       exch2_oj_f(1,79)=0
       exch2_itlo_c(1,79)=0
       exch2_ithi_c(1,79)=9
       exch2_jtlo_c(1,79)=0
       exch2_jthi_c(1,79)=0
       exch2_opposingSend_record(1,79)=3

       exch2_neighbourId(2,79)=76
       exch2_pi(1,2,79)=1
       exch2_pi(2,2,79)=0
       exch2_pj(1,2,79)=0
       exch2_pj(2,2,79)=1
       exch2_oi(2,79)=0
       exch2_oi_f(2,79)=0
       exch2_oj(2,79)=0
       exch2_oj_f(2,79)=0
       exch2_itlo_c(2,79)=1
       exch2_ithi_c(2,79)=8
       exch2_jtlo_c(2,79)=5
       exch2_jthi_c(2,79)=5
       exch2_opposingSend_record(2,79)=1

       exch2_neighbourId(3,79)=107
       exch2_pi(1,3,79)=1
       exch2_pi(2,3,79)=0
       exch2_pj(1,3,79)=0
       exch2_pj(2,3,79)=1
       exch2_oi(3,79)=32
       exch2_oi_f(3,79)=32
       exch2_oj(3,79)=0
       exch2_oj_f(3,79)=0
       exch2_itlo_c(3,79)=0
       exch2_ithi_c(3,79)=0
       exch2_jtlo_c(3,79)=0
       exch2_jthi_c(3,79)=5
       exch2_opposingSend_record(3,79)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_80
C      Topology for tile 80
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(80)=8
       exch2_tny(80)=4
       exch2_tbasex(80)=0
       exch2_tbasey(80)=28
       exch2_txglobalo(80)=65
       exch2_tyglobalo(80)=29
       exch2_isWedge(80)=1
       exch2_isNedge(80)=1
       exch2_isEedge(80)=0
       exch2_isSedge(80)=0
       exch2_myFace(80)=3
       exch2_mydnx(80)=32
       exch2_mydny(80)=32
       exch2_nNeighbours(80)=5

       exch2_neighbourId(1,80)=139
       exch2_pi(1,1,80)=0
       exch2_pi(2,1,80)=-1
       exch2_pj(1,1,80)=1
       exch2_pj(2,1,80)=0
       exch2_oi(1,80)=33
       exch2_oi_f(1,80)=34
       exch2_oj(1,80)=32
       exch2_oj_f(1,80)=32
       exch2_itlo_c(1,80)=0
       exch2_ithi_c(1,80)=0
       exch2_jtlo_c(1,80)=0
       exch2_jthi_c(1,80)=5
       exch2_opposingSend_record(1,80)=4

       exch2_neighbourId(2,80)=142
       exch2_pi(1,2,80)=0
       exch2_pi(2,2,80)=-1
       exch2_pj(1,2,80)=1
       exch2_pj(2,2,80)=0
       exch2_oi(2,80)=33
       exch2_oi_f(2,80)=34
       exch2_oj(2,80)=32
       exch2_oj_f(2,80)=32
       exch2_itlo_c(2,80)=0
       exch2_ithi_c(2,80)=0
       exch2_jtlo_c(2,80)=0
       exch2_jthi_c(2,80)=5
       exch2_opposingSend_record(2,80)=5

       exch2_neighbourId(3,80)=77
       exch2_pi(1,3,80)=1
       exch2_pi(2,3,80)=0
       exch2_pj(1,3,80)=0
       exch2_pj(2,3,80)=1
       exch2_oi(3,80)=0
       exch2_oi_f(3,80)=0
       exch2_oj(3,80)=0
       exch2_oj_f(3,80)=0
       exch2_itlo_c(3,80)=1
       exch2_ithi_c(3,80)=8
       exch2_jtlo_c(3,80)=5
       exch2_jthi_c(3,80)=5
       exch2_opposingSend_record(3,80)=1

       exch2_neighbourId(4,80)=81
       exch2_pi(1,4,80)=1
       exch2_pi(2,4,80)=0
       exch2_pj(1,4,80)=0
       exch2_pj(2,4,80)=1
       exch2_oi(4,80)=0
       exch2_oi_f(4,80)=0
       exch2_oj(4,80)=0
       exch2_oj_f(4,80)=0
       exch2_itlo_c(4,80)=0
       exch2_ithi_c(4,80)=0
       exch2_jtlo_c(4,80)=0
       exch2_jthi_c(4,80)=5
       exch2_opposingSend_record(4,80)=4

       exch2_neighbourId(5,80)=27
       exch2_pi(1,5,80)=0
       exch2_pi(2,5,80)=1
       exch2_pj(1,5,80)=-1
       exch2_pj(2,5,80)=0
       exch2_oi(5,80)=-32
       exch2_oi_f(5,80)=-32
       exch2_oj(5,80)=33
       exch2_oj_f(5,80)=34
       exch2_itlo_c(5,80)=0
       exch2_ithi_c(5,80)=5
       exch2_jtlo_c(5,80)=5
       exch2_jthi_c(5,80)=5
       exch2_opposingSend_record(5,80)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_81
C      Topology for tile 81
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(81)=8
       exch2_tny(81)=4
       exch2_tbasex(81)=8
       exch2_tbasey(81)=28
       exch2_txglobalo(81)=73
       exch2_tyglobalo(81)=29
       exch2_isWedge(81)=0
       exch2_isNedge(81)=1
       exch2_isEedge(81)=0
       exch2_isSedge(81)=0
       exch2_myFace(81)=3
       exch2_mydnx(81)=32
       exch2_mydny(81)=32
       exch2_nNeighbours(81)=4

       exch2_neighbourId(1,81)=131
       exch2_pi(1,1,81)=0
       exch2_pi(2,1,81)=-1
       exch2_pj(1,1,81)=1
       exch2_pj(2,1,81)=0
       exch2_oi(1,81)=33
       exch2_oi_f(1,81)=34
       exch2_oj(1,81)=32
       exch2_oj_f(1,81)=32
       exch2_itlo_c(1,81)=0
       exch2_ithi_c(1,81)=0
       exch2_jtlo_c(1,81)=0
       exch2_jthi_c(1,81)=5
       exch2_opposingSend_record(1,81)=4

       exch2_neighbourId(2,81)=135
       exch2_pi(1,2,81)=0
       exch2_pi(2,2,81)=-1
       exch2_pj(1,2,81)=1
       exch2_pj(2,2,81)=0
       exch2_oi(2,81)=33
       exch2_oi_f(2,81)=34
       exch2_oj(2,81)=32
       exch2_oj_f(2,81)=32
       exch2_itlo_c(2,81)=0
       exch2_ithi_c(2,81)=0
       exch2_jtlo_c(2,81)=0
       exch2_jthi_c(2,81)=5
       exch2_opposingSend_record(2,81)=4

       exch2_neighbourId(3,81)=78
       exch2_pi(1,3,81)=1
       exch2_pi(2,3,81)=0
       exch2_pj(1,3,81)=0
       exch2_pj(2,3,81)=1
       exch2_oi(3,81)=0
       exch2_oi_f(3,81)=0
       exch2_oj(3,81)=0
       exch2_oj_f(3,81)=0
       exch2_itlo_c(3,81)=1
       exch2_ithi_c(3,81)=8
       exch2_jtlo_c(3,81)=5
       exch2_jthi_c(3,81)=5
       exch2_opposingSend_record(3,81)=1

       exch2_neighbourId(4,81)=80
       exch2_pi(1,4,81)=1
       exch2_pi(2,4,81)=0
       exch2_pj(1,4,81)=0
       exch2_pj(2,4,81)=1
       exch2_oi(4,81)=0
       exch2_oi_f(4,81)=0
       exch2_oj(4,81)=0
       exch2_oj_f(4,81)=0
       exch2_itlo_c(4,81)=9
       exch2_ithi_c(4,81)=9
       exch2_jtlo_c(4,81)=0
       exch2_jthi_c(4,81)=5
       exch2_opposingSend_record(4,81)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_82
C      Topology for tile 82
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(82)=8
       exch2_tny(82)=4
       exch2_tbasex(82)=24
       exch2_tbasey(82)=28
       exch2_txglobalo(82)=89
       exch2_tyglobalo(82)=29
       exch2_isWedge(82)=0
       exch2_isNedge(82)=1
       exch2_isEedge(82)=1
       exch2_isSedge(82)=0
       exch2_myFace(82)=3
       exch2_mydnx(82)=32
       exch2_mydny(82)=32
       exch2_nNeighbours(82)=4

       exch2_neighbourId(1,82)=115
       exch2_pi(1,1,82)=0
       exch2_pi(2,1,82)=-1
       exch2_pj(1,1,82)=1
       exch2_pj(2,1,82)=0
       exch2_oi(1,82)=33
       exch2_oi_f(1,82)=34
       exch2_oj(1,82)=32
       exch2_oj_f(1,82)=32
       exch2_itlo_c(1,82)=0
       exch2_ithi_c(1,82)=0
       exch2_jtlo_c(1,82)=0
       exch2_jthi_c(1,82)=5
       exch2_opposingSend_record(1,82)=4

       exch2_neighbourId(2,82)=119
       exch2_pi(1,2,82)=0
       exch2_pi(2,2,82)=-1
       exch2_pj(1,2,82)=1
       exch2_pj(2,2,82)=0
       exch2_oi(2,82)=33
       exch2_oi_f(2,82)=34
       exch2_oj(2,82)=32
       exch2_oj_f(2,82)=32
       exch2_itlo_c(2,82)=0
       exch2_ithi_c(2,82)=0
       exch2_jtlo_c(2,82)=0
       exch2_jthi_c(2,82)=5
       exch2_opposingSend_record(2,82)=4

       exch2_neighbourId(3,82)=79
       exch2_pi(1,3,82)=1
       exch2_pi(2,3,82)=0
       exch2_pj(1,3,82)=0
       exch2_pj(2,3,82)=1
       exch2_oi(3,82)=0
       exch2_oi_f(3,82)=0
       exch2_oj(3,82)=0
       exch2_oj_f(3,82)=0
       exch2_itlo_c(3,82)=1
       exch2_ithi_c(3,82)=8
       exch2_jtlo_c(3,82)=5
       exch2_jthi_c(3,82)=5
       exch2_opposingSend_record(3,82)=1

       exch2_neighbourId(4,82)=111
       exch2_pi(1,4,82)=1
       exch2_pi(2,4,82)=0
       exch2_pj(1,4,82)=0
       exch2_pj(2,4,82)=1
       exch2_oi(4,82)=32
       exch2_oi_f(4,82)=32
       exch2_oj(4,82)=0
       exch2_oj_f(4,82)=0
       exch2_itlo_c(4,82)=0
       exch2_ithi_c(4,82)=0
       exch2_jtlo_c(4,82)=0
       exch2_jthi_c(4,82)=5
       exch2_opposingSend_record(4,82)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_83
C      Topology for tile 83
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(83)=8
       exch2_tny(83)=4
       exch2_tbasex(83)=0
       exch2_tbasey(83)=0
       exch2_txglobalo(83)=97
       exch2_tyglobalo(83)=1
       exch2_isWedge(83)=1
       exch2_isNedge(83)=0
       exch2_isEedge(83)=0
       exch2_isSedge(83)=1
       exch2_myFace(83)=4
       exch2_mydnx(83)=32
       exch2_mydny(83)=32
       exch2_nNeighbours(83)=5

       exch2_neighbourId(1,83)=87
       exch2_pi(1,1,83)=1
       exch2_pi(2,1,83)=0
       exch2_pj(1,1,83)=0
       exch2_pj(2,1,83)=1
       exch2_oi(1,83)=0
       exch2_oi_f(1,83)=0
       exch2_oj(1,83)=0
       exch2_oj_f(1,83)=0
       exch2_itlo_c(1,83)=0
       exch2_ithi_c(1,83)=9
       exch2_jtlo_c(1,83)=0
       exch2_jthi_c(1,83)=0
       exch2_opposingSend_record(1,83)=2

       exch2_neighbourId(2,83)=56
       exch2_pi(1,2,83)=0
       exch2_pi(2,2,83)=-1
       exch2_pj(1,2,83)=1
       exch2_pj(2,2,83)=0
       exch2_oi(2,83)=33
       exch2_oi_f(2,83)=34
       exch2_oj(2,83)=-32
       exch2_oj_f(2,83)=-32
       exch2_itlo_c(2,83)=9
       exch2_ithi_c(2,83)=9
       exch2_jtlo_c(2,83)=0
       exch2_jthi_c(2,83)=5
       exch2_opposingSend_record(2,83)=3

       exch2_neighbourId(3,83)=57
       exch2_pi(1,3,83)=0
       exch2_pi(2,3,83)=-1
       exch2_pj(1,3,83)=1
       exch2_pj(2,3,83)=0
       exch2_oi(3,83)=33
       exch2_oi_f(3,83)=34
       exch2_oj(3,83)=-32
       exch2_oj_f(3,83)=-32
       exch2_itlo_c(3,83)=9
       exch2_ithi_c(3,83)=9
       exch2_jtlo_c(3,83)=0
       exch2_jthi_c(3,83)=5
       exch2_opposingSend_record(3,83)=3

       exch2_neighbourId(4,83)=84
       exch2_pi(1,4,83)=1
       exch2_pi(2,4,83)=0
       exch2_pj(1,4,83)=0
       exch2_pj(2,4,83)=1
       exch2_oi(4,83)=0
       exch2_oi_f(4,83)=0
       exch2_oj(4,83)=0
       exch2_oj_f(4,83)=0
       exch2_itlo_c(4,83)=0
       exch2_ithi_c(4,83)=0
       exch2_jtlo_c(4,83)=0
       exch2_jthi_c(4,83)=5
       exch2_opposingSend_record(4,83)=5

       exch2_neighbourId(5,83)=58
       exch2_pi(1,5,83)=1
       exch2_pi(2,5,83)=0
       exch2_pj(1,5,83)=0
       exch2_pj(2,5,83)=1
       exch2_oi(5,83)=-32
       exch2_oi_f(5,83)=-32
       exch2_oj(5,83)=0
       exch2_oj_f(5,83)=0
       exch2_itlo_c(5,83)=9
       exch2_ithi_c(5,83)=9
       exch2_jtlo_c(5,83)=0
       exch2_jthi_c(5,83)=5
       exch2_opposingSend_record(5,83)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_84
C      Topology for tile 84
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(84)=8
       exch2_tny(84)=4
       exch2_tbasex(84)=8
       exch2_tbasey(84)=0
       exch2_txglobalo(84)=105
       exch2_tyglobalo(84)=1
       exch2_isWedge(84)=0
       exch2_isNedge(84)=0
       exch2_isEedge(84)=0
       exch2_isSedge(84)=1
       exch2_myFace(84)=4
       exch2_mydnx(84)=32
       exch2_mydny(84)=32
       exch2_nNeighbours(84)=5

       exch2_neighbourId(1,84)=88
       exch2_pi(1,1,84)=1
       exch2_pi(2,1,84)=0
       exch2_pj(1,1,84)=0
       exch2_pj(2,1,84)=1
       exch2_oi(1,84)=0
       exch2_oi_f(1,84)=0
       exch2_oj(1,84)=0
       exch2_oj_f(1,84)=0
       exch2_itlo_c(1,84)=0
       exch2_ithi_c(1,84)=9
       exch2_jtlo_c(1,84)=0
       exch2_jthi_c(1,84)=0
       exch2_opposingSend_record(1,84)=2

       exch2_neighbourId(2,84)=49
       exch2_pi(1,2,84)=0
       exch2_pi(2,2,84)=-1
       exch2_pj(1,2,84)=1
       exch2_pj(2,2,84)=0
       exch2_oi(2,84)=33
       exch2_oi_f(2,84)=34
       exch2_oj(2,84)=-32
       exch2_oj_f(2,84)=-32
       exch2_itlo_c(2,84)=9
       exch2_ithi_c(2,84)=9
       exch2_jtlo_c(2,84)=0
       exch2_jthi_c(2,84)=5
       exch2_opposingSend_record(2,84)=3

       exch2_neighbourId(3,84)=53
       exch2_pi(1,3,84)=0
       exch2_pi(2,3,84)=-1
       exch2_pj(1,3,84)=1
       exch2_pj(2,3,84)=0
       exch2_oi(3,84)=33
       exch2_oi_f(3,84)=34
       exch2_oj(3,84)=-32
       exch2_oj_f(3,84)=-32
       exch2_itlo_c(3,84)=9
       exch2_ithi_c(3,84)=9
       exch2_jtlo_c(3,84)=0
       exch2_jthi_c(3,84)=5
       exch2_opposingSend_record(3,84)=3

       exch2_neighbourId(4,84)=85
       exch2_pi(1,4,84)=1
       exch2_pi(2,4,84)=0
       exch2_pj(1,4,84)=0
       exch2_pj(2,4,84)=1
       exch2_oi(4,84)=0
       exch2_oi_f(4,84)=0
       exch2_oj(4,84)=0
       exch2_oj_f(4,84)=0
       exch2_itlo_c(4,84)=0
       exch2_ithi_c(4,84)=0
       exch2_jtlo_c(4,84)=0
       exch2_jthi_c(4,84)=5
       exch2_opposingSend_record(4,84)=5

       exch2_neighbourId(5,84)=83
       exch2_pi(1,5,84)=1
       exch2_pi(2,5,84)=0
       exch2_pj(1,5,84)=0
       exch2_pj(2,5,84)=1
       exch2_oi(5,84)=0
       exch2_oi_f(5,84)=0
       exch2_oj(5,84)=0
       exch2_oj_f(5,84)=0
       exch2_itlo_c(5,84)=9
       exch2_ithi_c(5,84)=9
       exch2_jtlo_c(5,84)=0
       exch2_jthi_c(5,84)=5
       exch2_opposingSend_record(5,84)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_85
C      Topology for tile 85
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(85)=8
       exch2_tny(85)=4
       exch2_tbasex(85)=16
       exch2_tbasey(85)=0
       exch2_txglobalo(85)=113
       exch2_tyglobalo(85)=1
       exch2_isWedge(85)=0
       exch2_isNedge(85)=0
       exch2_isEedge(85)=0
       exch2_isSedge(85)=1
       exch2_myFace(85)=4
       exch2_mydnx(85)=32
       exch2_mydny(85)=32
       exch2_nNeighbours(85)=5

       exch2_neighbourId(1,85)=89
       exch2_pi(1,1,85)=1
       exch2_pi(2,1,85)=0
       exch2_pj(1,1,85)=0
       exch2_pj(2,1,85)=1
       exch2_oi(1,85)=0
       exch2_oi_f(1,85)=0
       exch2_oj(1,85)=0
       exch2_oj_f(1,85)=0
       exch2_itlo_c(1,85)=0
       exch2_ithi_c(1,85)=9
       exch2_jtlo_c(1,85)=0
       exch2_jthi_c(1,85)=0
       exch2_opposingSend_record(1,85)=2

       exch2_neighbourId(2,85)=41
       exch2_pi(1,2,85)=0
       exch2_pi(2,2,85)=-1
       exch2_pj(1,2,85)=1
       exch2_pj(2,2,85)=0
       exch2_oi(2,85)=33
       exch2_oi_f(2,85)=34
       exch2_oj(2,85)=-32
       exch2_oj_f(2,85)=-32
       exch2_itlo_c(2,85)=9
       exch2_ithi_c(2,85)=9
       exch2_jtlo_c(2,85)=0
       exch2_jthi_c(2,85)=5
       exch2_opposingSend_record(2,85)=2

       exch2_neighbourId(3,85)=45
       exch2_pi(1,3,85)=0
       exch2_pi(2,3,85)=-1
       exch2_pj(1,3,85)=1
       exch2_pj(2,3,85)=0
       exch2_oi(3,85)=33
       exch2_oi_f(3,85)=34
       exch2_oj(3,85)=-32
       exch2_oj_f(3,85)=-32
       exch2_itlo_c(3,85)=9
       exch2_ithi_c(3,85)=9
       exch2_jtlo_c(3,85)=0
       exch2_jthi_c(3,85)=5
       exch2_opposingSend_record(3,85)=3

       exch2_neighbourId(4,85)=86
       exch2_pi(1,4,85)=1
       exch2_pi(2,4,85)=0
       exch2_pj(1,4,85)=0
       exch2_pj(2,4,85)=1
       exch2_oi(4,85)=0
       exch2_oi_f(4,85)=0
       exch2_oj(4,85)=0
       exch2_oj_f(4,85)=0
       exch2_itlo_c(4,85)=0
       exch2_ithi_c(4,85)=0
       exch2_jtlo_c(4,85)=0
       exch2_jthi_c(4,85)=5
       exch2_opposingSend_record(4,85)=4

       exch2_neighbourId(5,85)=84
       exch2_pi(1,5,85)=1
       exch2_pi(2,5,85)=0
       exch2_pj(1,5,85)=0
       exch2_pj(2,5,85)=1
       exch2_oi(5,85)=0
       exch2_oi_f(5,85)=0
       exch2_oj(5,85)=0
       exch2_oj_f(5,85)=0
       exch2_itlo_c(5,85)=9
       exch2_ithi_c(5,85)=9
       exch2_jtlo_c(5,85)=0
       exch2_jthi_c(5,85)=5
       exch2_opposingSend_record(5,85)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_86
C      Topology for tile 86
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(86)=8
       exch2_tny(86)=4
       exch2_tbasex(86)=24
       exch2_tbasey(86)=0
       exch2_txglobalo(86)=121
       exch2_tyglobalo(86)=1
       exch2_isWedge(86)=0
       exch2_isNedge(86)=0
       exch2_isEedge(86)=1
       exch2_isSedge(86)=1
       exch2_myFace(86)=4
       exch2_mydnx(86)=32
       exch2_mydny(86)=32
       exch2_nNeighbours(86)=4

       exch2_neighbourId(1,86)=90
       exch2_pi(1,1,86)=1
       exch2_pi(2,1,86)=0
       exch2_pj(1,1,86)=0
       exch2_pj(2,1,86)=1
       exch2_oi(1,86)=0
       exch2_oi_f(1,86)=0
       exch2_oj(1,86)=0
       exch2_oj_f(1,86)=0
       exch2_itlo_c(1,86)=0
       exch2_ithi_c(1,86)=9
       exch2_jtlo_c(1,86)=0
       exch2_jthi_c(1,86)=0
       exch2_opposingSend_record(1,86)=2

       exch2_neighbourId(2,86)=34
       exch2_pi(1,2,86)=0
       exch2_pi(2,2,86)=-1
       exch2_pj(1,2,86)=1
       exch2_pj(2,2,86)=0
       exch2_oi(2,86)=33
       exch2_oi_f(2,86)=34
       exch2_oj(2,86)=-32
       exch2_oj_f(2,86)=-32
       exch2_itlo_c(2,86)=9
       exch2_ithi_c(2,86)=9
       exch2_jtlo_c(2,86)=0
       exch2_jthi_c(2,86)=5
       exch2_opposingSend_record(2,86)=3

       exch2_neighbourId(3,86)=148
       exch2_pi(1,3,86)=0
       exch2_pi(2,3,86)=1
       exch2_pj(1,3,86)=-1
       exch2_pj(2,3,86)=0
       exch2_oi(3,86)=32
       exch2_oi_f(3,86)=32
       exch2_oj(3,86)=33
       exch2_oj_f(3,86)=34
       exch2_itlo_c(3,86)=4
       exch2_ithi_c(3,86)=9
       exch2_jtlo_c(3,86)=0
       exch2_jthi_c(3,86)=0
       exch2_opposingSend_record(3,86)=2

       exch2_neighbourId(4,86)=85
       exch2_pi(1,4,86)=1
       exch2_pi(2,4,86)=0
       exch2_pj(1,4,86)=0
       exch2_pj(2,4,86)=1
       exch2_oi(4,86)=0
       exch2_oi_f(4,86)=0
       exch2_oj(4,86)=0
       exch2_oj_f(4,86)=0
       exch2_itlo_c(4,86)=9
       exch2_ithi_c(4,86)=9
       exch2_jtlo_c(4,86)=0
       exch2_jthi_c(4,86)=5
       exch2_opposingSend_record(4,86)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_87
C      Topology for tile 87
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(87)=8
       exch2_tny(87)=4
       exch2_tbasex(87)=0
       exch2_tbasey(87)=4
       exch2_txglobalo(87)=97
       exch2_tyglobalo(87)=5
       exch2_isWedge(87)=1
       exch2_isNedge(87)=0
       exch2_isEedge(87)=0
       exch2_isSedge(87)=0
       exch2_myFace(87)=4
       exch2_mydnx(87)=32
       exch2_mydny(87)=32
       exch2_nNeighbours(87)=4

       exch2_neighbourId(1,87)=91
       exch2_pi(1,1,87)=1
       exch2_pi(2,1,87)=0
       exch2_pj(1,1,87)=0
       exch2_pj(2,1,87)=1
       exch2_oi(1,87)=0
       exch2_oi_f(1,87)=0
       exch2_oj(1,87)=0
       exch2_oj_f(1,87)=0
       exch2_itlo_c(1,87)=0
       exch2_ithi_c(1,87)=9
       exch2_jtlo_c(1,87)=0
       exch2_jthi_c(1,87)=0
       exch2_opposingSend_record(1,87)=2

       exch2_neighbourId(2,87)=83
       exch2_pi(1,2,87)=1
       exch2_pi(2,2,87)=0
       exch2_pj(1,2,87)=0
       exch2_pj(2,2,87)=1
       exch2_oi(2,87)=0
       exch2_oi_f(2,87)=0
       exch2_oj(2,87)=0
       exch2_oj_f(2,87)=0
       exch2_itlo_c(2,87)=1
       exch2_ithi_c(2,87)=8
       exch2_jtlo_c(2,87)=5
       exch2_jthi_c(2,87)=5
       exch2_opposingSend_record(2,87)=1

       exch2_neighbourId(3,87)=88
       exch2_pi(1,3,87)=1
       exch2_pi(2,3,87)=0
       exch2_pj(1,3,87)=0
       exch2_pj(2,3,87)=1
       exch2_oi(3,87)=0
       exch2_oi_f(3,87)=0
       exch2_oj(3,87)=0
       exch2_oj_f(3,87)=0
       exch2_itlo_c(3,87)=0
       exch2_ithi_c(3,87)=0
       exch2_jtlo_c(3,87)=0
       exch2_jthi_c(3,87)=5
       exch2_opposingSend_record(3,87)=4

       exch2_neighbourId(4,87)=60
       exch2_pi(1,4,87)=1
       exch2_pi(2,4,87)=0
       exch2_pj(1,4,87)=0
       exch2_pj(2,4,87)=1
       exch2_oi(4,87)=-32
       exch2_oi_f(4,87)=-32
       exch2_oj(4,87)=0
       exch2_oj_f(4,87)=0
       exch2_itlo_c(4,87)=9
       exch2_ithi_c(4,87)=9
       exch2_jtlo_c(4,87)=0
       exch2_jthi_c(4,87)=5
       exch2_opposingSend_record(4,87)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_88
C      Topology for tile 88
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(88)=8
       exch2_tny(88)=4
       exch2_tbasex(88)=8
       exch2_tbasey(88)=4
       exch2_txglobalo(88)=105
       exch2_tyglobalo(88)=5
       exch2_isWedge(88)=0
       exch2_isNedge(88)=0
       exch2_isEedge(88)=0
       exch2_isSedge(88)=0
       exch2_myFace(88)=4
       exch2_mydnx(88)=32
       exch2_mydny(88)=32
       exch2_nNeighbours(88)=4

       exch2_neighbourId(1,88)=92
       exch2_pi(1,1,88)=1
       exch2_pi(2,1,88)=0
       exch2_pj(1,1,88)=0
       exch2_pj(2,1,88)=1
       exch2_oi(1,88)=0
       exch2_oi_f(1,88)=0
       exch2_oj(1,88)=0
       exch2_oj_f(1,88)=0
       exch2_itlo_c(1,88)=0
       exch2_ithi_c(1,88)=9
       exch2_jtlo_c(1,88)=0
       exch2_jthi_c(1,88)=0
       exch2_opposingSend_record(1,88)=2

       exch2_neighbourId(2,88)=84
       exch2_pi(1,2,88)=1
       exch2_pi(2,2,88)=0
       exch2_pj(1,2,88)=0
       exch2_pj(2,2,88)=1
       exch2_oi(2,88)=0
       exch2_oi_f(2,88)=0
       exch2_oj(2,88)=0
       exch2_oj_f(2,88)=0
       exch2_itlo_c(2,88)=1
       exch2_ithi_c(2,88)=8
       exch2_jtlo_c(2,88)=5
       exch2_jthi_c(2,88)=5
       exch2_opposingSend_record(2,88)=1

       exch2_neighbourId(3,88)=89
       exch2_pi(1,3,88)=1
       exch2_pi(2,3,88)=0
       exch2_pj(1,3,88)=0
       exch2_pj(2,3,88)=1
       exch2_oi(3,88)=0
       exch2_oi_f(3,88)=0
       exch2_oj(3,88)=0
       exch2_oj_f(3,88)=0
       exch2_itlo_c(3,88)=0
       exch2_ithi_c(3,88)=0
       exch2_jtlo_c(3,88)=0
       exch2_jthi_c(3,88)=5
       exch2_opposingSend_record(3,88)=4

       exch2_neighbourId(4,88)=87
       exch2_pi(1,4,88)=1
       exch2_pi(2,4,88)=0
       exch2_pj(1,4,88)=0
       exch2_pj(2,4,88)=1
       exch2_oi(4,88)=0
       exch2_oi_f(4,88)=0
       exch2_oj(4,88)=0
       exch2_oj_f(4,88)=0
       exch2_itlo_c(4,88)=9
       exch2_ithi_c(4,88)=9
       exch2_jtlo_c(4,88)=0
       exch2_jthi_c(4,88)=5
       exch2_opposingSend_record(4,88)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_89
C      Topology for tile 89
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(89)=8
       exch2_tny(89)=4
       exch2_tbasex(89)=16
       exch2_tbasey(89)=4
       exch2_txglobalo(89)=113
       exch2_tyglobalo(89)=5
       exch2_isWedge(89)=0
       exch2_isNedge(89)=0
       exch2_isEedge(89)=0
       exch2_isSedge(89)=0
       exch2_myFace(89)=4
       exch2_mydnx(89)=32
       exch2_mydny(89)=32
       exch2_nNeighbours(89)=4

       exch2_neighbourId(1,89)=93
       exch2_pi(1,1,89)=1
       exch2_pi(2,1,89)=0
       exch2_pj(1,1,89)=0
       exch2_pj(2,1,89)=1
       exch2_oi(1,89)=0
       exch2_oi_f(1,89)=0
       exch2_oj(1,89)=0
       exch2_oj_f(1,89)=0
       exch2_itlo_c(1,89)=0
       exch2_ithi_c(1,89)=9
       exch2_jtlo_c(1,89)=0
       exch2_jthi_c(1,89)=0
       exch2_opposingSend_record(1,89)=2

       exch2_neighbourId(2,89)=85
       exch2_pi(1,2,89)=1
       exch2_pi(2,2,89)=0
       exch2_pj(1,2,89)=0
       exch2_pj(2,2,89)=1
       exch2_oi(2,89)=0
       exch2_oi_f(2,89)=0
       exch2_oj(2,89)=0
       exch2_oj_f(2,89)=0
       exch2_itlo_c(2,89)=1
       exch2_ithi_c(2,89)=8
       exch2_jtlo_c(2,89)=5
       exch2_jthi_c(2,89)=5
       exch2_opposingSend_record(2,89)=1

       exch2_neighbourId(3,89)=90
       exch2_pi(1,3,89)=1
       exch2_pi(2,3,89)=0
       exch2_pj(1,3,89)=0
       exch2_pj(2,3,89)=1
       exch2_oi(3,89)=0
       exch2_oi_f(3,89)=0
       exch2_oj(3,89)=0
       exch2_oj_f(3,89)=0
       exch2_itlo_c(3,89)=0
       exch2_ithi_c(3,89)=0
       exch2_jtlo_c(3,89)=0
       exch2_jthi_c(3,89)=5
       exch2_opposingSend_record(3,89)=4

       exch2_neighbourId(4,89)=88
       exch2_pi(1,4,89)=1
       exch2_pi(2,4,89)=0
       exch2_pj(1,4,89)=0
       exch2_pj(2,4,89)=1
       exch2_oi(4,89)=0
       exch2_oi_f(4,89)=0
       exch2_oj(4,89)=0
       exch2_oj_f(4,89)=0
       exch2_itlo_c(4,89)=9
       exch2_ithi_c(4,89)=9
       exch2_jtlo_c(4,89)=0
       exch2_jthi_c(4,89)=5
       exch2_opposingSend_record(4,89)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_90
C      Topology for tile 90
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(90)=8
       exch2_tny(90)=4
       exch2_tbasex(90)=24
       exch2_tbasey(90)=4
       exch2_txglobalo(90)=121
       exch2_tyglobalo(90)=5
       exch2_isWedge(90)=0
       exch2_isNedge(90)=0
       exch2_isEedge(90)=1
       exch2_isSedge(90)=0
       exch2_myFace(90)=4
       exch2_mydnx(90)=32
       exch2_mydny(90)=32
       exch2_nNeighbours(90)=4

       exch2_neighbourId(1,90)=94
       exch2_pi(1,1,90)=1
       exch2_pi(2,1,90)=0
       exch2_pj(1,1,90)=0
       exch2_pj(2,1,90)=1
       exch2_oi(1,90)=0
       exch2_oi_f(1,90)=0
       exch2_oj(1,90)=0
       exch2_oj_f(1,90)=0
       exch2_itlo_c(1,90)=0
       exch2_ithi_c(1,90)=9
       exch2_jtlo_c(1,90)=0
       exch2_jthi_c(1,90)=0
       exch2_opposingSend_record(1,90)=2

       exch2_neighbourId(2,90)=86
       exch2_pi(1,2,90)=1
       exch2_pi(2,2,90)=0
       exch2_pj(1,2,90)=0
       exch2_pj(2,2,90)=1
       exch2_oi(2,90)=0
       exch2_oi_f(2,90)=0
       exch2_oj(2,90)=0
       exch2_oj_f(2,90)=0
       exch2_itlo_c(2,90)=1
       exch2_ithi_c(2,90)=8
       exch2_jtlo_c(2,90)=5
       exch2_jthi_c(2,90)=5
       exch2_opposingSend_record(2,90)=1

       exch2_neighbourId(3,90)=148
       exch2_pi(1,3,90)=0
       exch2_pi(2,3,90)=1
       exch2_pj(1,3,90)=-1
       exch2_pj(2,3,90)=0
       exch2_oi(3,90)=32
       exch2_oi_f(3,90)=32
       exch2_oj(3,90)=33
       exch2_oj_f(3,90)=34
       exch2_itlo_c(3,90)=0
       exch2_ithi_c(3,90)=5
       exch2_jtlo_c(3,90)=0
       exch2_jthi_c(3,90)=0
       exch2_opposingSend_record(3,90)=3

       exch2_neighbourId(4,90)=89
       exch2_pi(1,4,90)=1
       exch2_pi(2,4,90)=0
       exch2_pj(1,4,90)=0
       exch2_pj(2,4,90)=1
       exch2_oi(4,90)=0
       exch2_oi_f(4,90)=0
       exch2_oj(4,90)=0
       exch2_oj_f(4,90)=0
       exch2_itlo_c(4,90)=9
       exch2_ithi_c(4,90)=9
       exch2_jtlo_c(4,90)=0
       exch2_jthi_c(4,90)=5
       exch2_opposingSend_record(4,90)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_91
C      Topology for tile 91
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(91)=8
       exch2_tny(91)=4
       exch2_tbasex(91)=0
       exch2_tbasey(91)=8
       exch2_txglobalo(91)=97
       exch2_tyglobalo(91)=9
       exch2_isWedge(91)=1
       exch2_isNedge(91)=0
       exch2_isEedge(91)=0
       exch2_isSedge(91)=0
       exch2_myFace(91)=4
       exch2_mydnx(91)=32
       exch2_mydny(91)=32
       exch2_nNeighbours(91)=4

       exch2_neighbourId(1,91)=95
       exch2_pi(1,1,91)=1
       exch2_pi(2,1,91)=0
       exch2_pj(1,1,91)=0
       exch2_pj(2,1,91)=1
       exch2_oi(1,91)=0
       exch2_oi_f(1,91)=0
       exch2_oj(1,91)=0
       exch2_oj_f(1,91)=0
       exch2_itlo_c(1,91)=0
       exch2_ithi_c(1,91)=9
       exch2_jtlo_c(1,91)=0
       exch2_jthi_c(1,91)=0
       exch2_opposingSend_record(1,91)=2

       exch2_neighbourId(2,91)=87
       exch2_pi(1,2,91)=1
       exch2_pi(2,2,91)=0
       exch2_pj(1,2,91)=0
       exch2_pj(2,2,91)=1
       exch2_oi(2,91)=0
       exch2_oi_f(2,91)=0
       exch2_oj(2,91)=0
       exch2_oj_f(2,91)=0
       exch2_itlo_c(2,91)=1
       exch2_ithi_c(2,91)=8
       exch2_jtlo_c(2,91)=5
       exch2_jthi_c(2,91)=5
       exch2_opposingSend_record(2,91)=1

       exch2_neighbourId(3,91)=92
       exch2_pi(1,3,91)=1
       exch2_pi(2,3,91)=0
       exch2_pj(1,3,91)=0
       exch2_pj(2,3,91)=1
       exch2_oi(3,91)=0
       exch2_oi_f(3,91)=0
       exch2_oj(3,91)=0
       exch2_oj_f(3,91)=0
       exch2_itlo_c(3,91)=0
       exch2_ithi_c(3,91)=0
       exch2_jtlo_c(3,91)=0
       exch2_jthi_c(3,91)=5
       exch2_opposingSend_record(3,91)=4

       exch2_neighbourId(4,91)=64
       exch2_pi(1,4,91)=1
       exch2_pi(2,4,91)=0
       exch2_pj(1,4,91)=0
       exch2_pj(2,4,91)=1
       exch2_oi(4,91)=-32
       exch2_oi_f(4,91)=-32
       exch2_oj(4,91)=0
       exch2_oj_f(4,91)=0
       exch2_itlo_c(4,91)=9
       exch2_ithi_c(4,91)=9
       exch2_jtlo_c(4,91)=0
       exch2_jthi_c(4,91)=5
       exch2_opposingSend_record(4,91)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_92
C      Topology for tile 92
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(92)=8
       exch2_tny(92)=4
       exch2_tbasex(92)=8
       exch2_tbasey(92)=8
       exch2_txglobalo(92)=105
       exch2_tyglobalo(92)=9
       exch2_isWedge(92)=0
       exch2_isNedge(92)=0
       exch2_isEedge(92)=0
       exch2_isSedge(92)=0
       exch2_myFace(92)=4
       exch2_mydnx(92)=32
       exch2_mydny(92)=32
       exch2_nNeighbours(92)=4

       exch2_neighbourId(1,92)=96
       exch2_pi(1,1,92)=1
       exch2_pi(2,1,92)=0
       exch2_pj(1,1,92)=0
       exch2_pj(2,1,92)=1
       exch2_oi(1,92)=0
       exch2_oi_f(1,92)=0
       exch2_oj(1,92)=0
       exch2_oj_f(1,92)=0
       exch2_itlo_c(1,92)=0
       exch2_ithi_c(1,92)=9
       exch2_jtlo_c(1,92)=0
       exch2_jthi_c(1,92)=0
       exch2_opposingSend_record(1,92)=2

       exch2_neighbourId(2,92)=88
       exch2_pi(1,2,92)=1
       exch2_pi(2,2,92)=0
       exch2_pj(1,2,92)=0
       exch2_pj(2,2,92)=1
       exch2_oi(2,92)=0
       exch2_oi_f(2,92)=0
       exch2_oj(2,92)=0
       exch2_oj_f(2,92)=0
       exch2_itlo_c(2,92)=1
       exch2_ithi_c(2,92)=8
       exch2_jtlo_c(2,92)=5
       exch2_jthi_c(2,92)=5
       exch2_opposingSend_record(2,92)=1

       exch2_neighbourId(3,92)=93
       exch2_pi(1,3,92)=1
       exch2_pi(2,3,92)=0
       exch2_pj(1,3,92)=0
       exch2_pj(2,3,92)=1
       exch2_oi(3,92)=0
       exch2_oi_f(3,92)=0
       exch2_oj(3,92)=0
       exch2_oj_f(3,92)=0
       exch2_itlo_c(3,92)=0
       exch2_ithi_c(3,92)=0
       exch2_jtlo_c(3,92)=0
       exch2_jthi_c(3,92)=5
       exch2_opposingSend_record(3,92)=4

       exch2_neighbourId(4,92)=91
       exch2_pi(1,4,92)=1
       exch2_pi(2,4,92)=0
       exch2_pj(1,4,92)=0
       exch2_pj(2,4,92)=1
       exch2_oi(4,92)=0
       exch2_oi_f(4,92)=0
       exch2_oj(4,92)=0
       exch2_oj_f(4,92)=0
       exch2_itlo_c(4,92)=9
       exch2_ithi_c(4,92)=9
       exch2_jtlo_c(4,92)=0
       exch2_jthi_c(4,92)=5
       exch2_opposingSend_record(4,92)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_93
C      Topology for tile 93
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(93)=8
       exch2_tny(93)=4
       exch2_tbasex(93)=16
       exch2_tbasey(93)=8
       exch2_txglobalo(93)=113
       exch2_tyglobalo(93)=9
       exch2_isWedge(93)=0
       exch2_isNedge(93)=0
       exch2_isEedge(93)=0
       exch2_isSedge(93)=0
       exch2_myFace(93)=4
       exch2_mydnx(93)=32
       exch2_mydny(93)=32
       exch2_nNeighbours(93)=4

       exch2_neighbourId(1,93)=97
       exch2_pi(1,1,93)=1
       exch2_pi(2,1,93)=0
       exch2_pj(1,1,93)=0
       exch2_pj(2,1,93)=1
       exch2_oi(1,93)=0
       exch2_oi_f(1,93)=0
       exch2_oj(1,93)=0
       exch2_oj_f(1,93)=0
       exch2_itlo_c(1,93)=0
       exch2_ithi_c(1,93)=9
       exch2_jtlo_c(1,93)=0
       exch2_jthi_c(1,93)=0
       exch2_opposingSend_record(1,93)=2

       exch2_neighbourId(2,93)=89
       exch2_pi(1,2,93)=1
       exch2_pi(2,2,93)=0
       exch2_pj(1,2,93)=0
       exch2_pj(2,2,93)=1
       exch2_oi(2,93)=0
       exch2_oi_f(2,93)=0
       exch2_oj(2,93)=0
       exch2_oj_f(2,93)=0
       exch2_itlo_c(2,93)=1
       exch2_ithi_c(2,93)=8
       exch2_jtlo_c(2,93)=5
       exch2_jthi_c(2,93)=5
       exch2_opposingSend_record(2,93)=1

       exch2_neighbourId(3,93)=94
       exch2_pi(1,3,93)=1
       exch2_pi(2,3,93)=0
       exch2_pj(1,3,93)=0
       exch2_pj(2,3,93)=1
       exch2_oi(3,93)=0
       exch2_oi_f(3,93)=0
       exch2_oj(3,93)=0
       exch2_oj_f(3,93)=0
       exch2_itlo_c(3,93)=0
       exch2_ithi_c(3,93)=0
       exch2_jtlo_c(3,93)=0
       exch2_jthi_c(3,93)=5
       exch2_opposingSend_record(3,93)=4

       exch2_neighbourId(4,93)=92
       exch2_pi(1,4,93)=1
       exch2_pi(2,4,93)=0
       exch2_pj(1,4,93)=0
       exch2_pj(2,4,93)=1
       exch2_oi(4,93)=0
       exch2_oi_f(4,93)=0
       exch2_oj(4,93)=0
       exch2_oj_f(4,93)=0
       exch2_itlo_c(4,93)=9
       exch2_ithi_c(4,93)=9
       exch2_jtlo_c(4,93)=0
       exch2_jthi_c(4,93)=5
       exch2_opposingSend_record(4,93)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_94
C      Topology for tile 94
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(94)=8
       exch2_tny(94)=4
       exch2_tbasex(94)=24
       exch2_tbasey(94)=8
       exch2_txglobalo(94)=121
       exch2_tyglobalo(94)=9
       exch2_isWedge(94)=0
       exch2_isNedge(94)=0
       exch2_isEedge(94)=1
       exch2_isSedge(94)=0
       exch2_myFace(94)=4
       exch2_mydnx(94)=32
       exch2_mydny(94)=32
       exch2_nNeighbours(94)=4

       exch2_neighbourId(1,94)=98
       exch2_pi(1,1,94)=1
       exch2_pi(2,1,94)=0
       exch2_pj(1,1,94)=0
       exch2_pj(2,1,94)=1
       exch2_oi(1,94)=0
       exch2_oi_f(1,94)=0
       exch2_oj(1,94)=0
       exch2_oj_f(1,94)=0
       exch2_itlo_c(1,94)=0
       exch2_ithi_c(1,94)=9
       exch2_jtlo_c(1,94)=0
       exch2_jthi_c(1,94)=0
       exch2_opposingSend_record(1,94)=2

       exch2_neighbourId(2,94)=90
       exch2_pi(1,2,94)=1
       exch2_pi(2,2,94)=0
       exch2_pj(1,2,94)=0
       exch2_pj(2,2,94)=1
       exch2_oi(2,94)=0
       exch2_oi_f(2,94)=0
       exch2_oj(2,94)=0
       exch2_oj_f(2,94)=0
       exch2_itlo_c(2,94)=1
       exch2_ithi_c(2,94)=8
       exch2_jtlo_c(2,94)=5
       exch2_jthi_c(2,94)=5
       exch2_opposingSend_record(2,94)=1

       exch2_neighbourId(3,94)=147
       exch2_pi(1,3,94)=0
       exch2_pi(2,3,94)=1
       exch2_pj(1,3,94)=-1
       exch2_pj(2,3,94)=0
       exch2_oi(3,94)=32
       exch2_oi_f(3,94)=32
       exch2_oj(3,94)=33
       exch2_oj_f(3,94)=34
       exch2_itlo_c(3,94)=4
       exch2_ithi_c(3,94)=9
       exch2_jtlo_c(3,94)=0
       exch2_jthi_c(3,94)=0
       exch2_opposingSend_record(3,94)=2

       exch2_neighbourId(4,94)=93
       exch2_pi(1,4,94)=1
       exch2_pi(2,4,94)=0
       exch2_pj(1,4,94)=0
       exch2_pj(2,4,94)=1
       exch2_oi(4,94)=0
       exch2_oi_f(4,94)=0
       exch2_oj(4,94)=0
       exch2_oj_f(4,94)=0
       exch2_itlo_c(4,94)=9
       exch2_ithi_c(4,94)=9
       exch2_jtlo_c(4,94)=0
       exch2_jthi_c(4,94)=5
       exch2_opposingSend_record(4,94)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_95
C      Topology for tile 95
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(95)=8
       exch2_tny(95)=4
       exch2_tbasex(95)=0
       exch2_tbasey(95)=12
       exch2_txglobalo(95)=97
       exch2_tyglobalo(95)=13
       exch2_isWedge(95)=1
       exch2_isNedge(95)=0
       exch2_isEedge(95)=0
       exch2_isSedge(95)=0
       exch2_myFace(95)=4
       exch2_mydnx(95)=32
       exch2_mydny(95)=32
       exch2_nNeighbours(95)=4

       exch2_neighbourId(1,95)=99
       exch2_pi(1,1,95)=1
       exch2_pi(2,1,95)=0
       exch2_pj(1,1,95)=0
       exch2_pj(2,1,95)=1
       exch2_oi(1,95)=0
       exch2_oi_f(1,95)=0
       exch2_oj(1,95)=0
       exch2_oj_f(1,95)=0
       exch2_itlo_c(1,95)=0
       exch2_ithi_c(1,95)=9
       exch2_jtlo_c(1,95)=0
       exch2_jthi_c(1,95)=0
       exch2_opposingSend_record(1,95)=2

       exch2_neighbourId(2,95)=91
       exch2_pi(1,2,95)=1
       exch2_pi(2,2,95)=0
       exch2_pj(1,2,95)=0
       exch2_pj(2,2,95)=1
       exch2_oi(2,95)=0
       exch2_oi_f(2,95)=0
       exch2_oj(2,95)=0
       exch2_oj_f(2,95)=0
       exch2_itlo_c(2,95)=1
       exch2_ithi_c(2,95)=8
       exch2_jtlo_c(2,95)=5
       exch2_jthi_c(2,95)=5
       exch2_opposingSend_record(2,95)=1

       exch2_neighbourId(3,95)=96
       exch2_pi(1,3,95)=1
       exch2_pi(2,3,95)=0
       exch2_pj(1,3,95)=0
       exch2_pj(2,3,95)=1
       exch2_oi(3,95)=0
       exch2_oi_f(3,95)=0
       exch2_oj(3,95)=0
       exch2_oj_f(3,95)=0
       exch2_itlo_c(3,95)=0
       exch2_ithi_c(3,95)=0
       exch2_jtlo_c(3,95)=0
       exch2_jthi_c(3,95)=5
       exch2_opposingSend_record(3,95)=4

       exch2_neighbourId(4,95)=68
       exch2_pi(1,4,95)=1
       exch2_pi(2,4,95)=0
       exch2_pj(1,4,95)=0
       exch2_pj(2,4,95)=1
       exch2_oi(4,95)=-32
       exch2_oi_f(4,95)=-32
       exch2_oj(4,95)=0
       exch2_oj_f(4,95)=0
       exch2_itlo_c(4,95)=9
       exch2_ithi_c(4,95)=9
       exch2_jtlo_c(4,95)=0
       exch2_jthi_c(4,95)=5
       exch2_opposingSend_record(4,95)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_96
C      Topology for tile 96
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(96)=8
       exch2_tny(96)=4
       exch2_tbasex(96)=8
       exch2_tbasey(96)=12
       exch2_txglobalo(96)=105
       exch2_tyglobalo(96)=13
       exch2_isWedge(96)=0
       exch2_isNedge(96)=0
       exch2_isEedge(96)=0
       exch2_isSedge(96)=0
       exch2_myFace(96)=4
       exch2_mydnx(96)=32
       exch2_mydny(96)=32
       exch2_nNeighbours(96)=4

       exch2_neighbourId(1,96)=100
       exch2_pi(1,1,96)=1
       exch2_pi(2,1,96)=0
       exch2_pj(1,1,96)=0
       exch2_pj(2,1,96)=1
       exch2_oi(1,96)=0
       exch2_oi_f(1,96)=0
       exch2_oj(1,96)=0
       exch2_oj_f(1,96)=0
       exch2_itlo_c(1,96)=0
       exch2_ithi_c(1,96)=9
       exch2_jtlo_c(1,96)=0
       exch2_jthi_c(1,96)=0
       exch2_opposingSend_record(1,96)=2

       exch2_neighbourId(2,96)=92
       exch2_pi(1,2,96)=1
       exch2_pi(2,2,96)=0
       exch2_pj(1,2,96)=0
       exch2_pj(2,2,96)=1
       exch2_oi(2,96)=0
       exch2_oi_f(2,96)=0
       exch2_oj(2,96)=0
       exch2_oj_f(2,96)=0
       exch2_itlo_c(2,96)=1
       exch2_ithi_c(2,96)=8
       exch2_jtlo_c(2,96)=5
       exch2_jthi_c(2,96)=5
       exch2_opposingSend_record(2,96)=1

       exch2_neighbourId(3,96)=97
       exch2_pi(1,3,96)=1
       exch2_pi(2,3,96)=0
       exch2_pj(1,3,96)=0
       exch2_pj(2,3,96)=1
       exch2_oi(3,96)=0
       exch2_oi_f(3,96)=0
       exch2_oj(3,96)=0
       exch2_oj_f(3,96)=0
       exch2_itlo_c(3,96)=0
       exch2_ithi_c(3,96)=0
       exch2_jtlo_c(3,96)=0
       exch2_jthi_c(3,96)=5
       exch2_opposingSend_record(3,96)=4

       exch2_neighbourId(4,96)=95
       exch2_pi(1,4,96)=1
       exch2_pi(2,4,96)=0
       exch2_pj(1,4,96)=0
       exch2_pj(2,4,96)=1
       exch2_oi(4,96)=0
       exch2_oi_f(4,96)=0
       exch2_oj(4,96)=0
       exch2_oj_f(4,96)=0
       exch2_itlo_c(4,96)=9
       exch2_ithi_c(4,96)=9
       exch2_jtlo_c(4,96)=0
       exch2_jthi_c(4,96)=5
       exch2_opposingSend_record(4,96)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_97
C      Topology for tile 97
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(97)=8
       exch2_tny(97)=4
       exch2_tbasex(97)=16
       exch2_tbasey(97)=12
       exch2_txglobalo(97)=113
       exch2_tyglobalo(97)=13
       exch2_isWedge(97)=0
       exch2_isNedge(97)=0
       exch2_isEedge(97)=0
       exch2_isSedge(97)=0
       exch2_myFace(97)=4
       exch2_mydnx(97)=32
       exch2_mydny(97)=32
       exch2_nNeighbours(97)=4

       exch2_neighbourId(1,97)=101
       exch2_pi(1,1,97)=1
       exch2_pi(2,1,97)=0
       exch2_pj(1,1,97)=0
       exch2_pj(2,1,97)=1
       exch2_oi(1,97)=0
       exch2_oi_f(1,97)=0
       exch2_oj(1,97)=0
       exch2_oj_f(1,97)=0
       exch2_itlo_c(1,97)=0
       exch2_ithi_c(1,97)=9
       exch2_jtlo_c(1,97)=0
       exch2_jthi_c(1,97)=0
       exch2_opposingSend_record(1,97)=2

       exch2_neighbourId(2,97)=93
       exch2_pi(1,2,97)=1
       exch2_pi(2,2,97)=0
       exch2_pj(1,2,97)=0
       exch2_pj(2,2,97)=1
       exch2_oi(2,97)=0
       exch2_oi_f(2,97)=0
       exch2_oj(2,97)=0
       exch2_oj_f(2,97)=0
       exch2_itlo_c(2,97)=1
       exch2_ithi_c(2,97)=8
       exch2_jtlo_c(2,97)=5
       exch2_jthi_c(2,97)=5
       exch2_opposingSend_record(2,97)=1

       exch2_neighbourId(3,97)=98
       exch2_pi(1,3,97)=1
       exch2_pi(2,3,97)=0
       exch2_pj(1,3,97)=0
       exch2_pj(2,3,97)=1
       exch2_oi(3,97)=0
       exch2_oi_f(3,97)=0
       exch2_oj(3,97)=0
       exch2_oj_f(3,97)=0
       exch2_itlo_c(3,97)=0
       exch2_ithi_c(3,97)=0
       exch2_jtlo_c(3,97)=0
       exch2_jthi_c(3,97)=5
       exch2_opposingSend_record(3,97)=4

       exch2_neighbourId(4,97)=96
       exch2_pi(1,4,97)=1
       exch2_pi(2,4,97)=0
       exch2_pj(1,4,97)=0
       exch2_pj(2,4,97)=1
       exch2_oi(4,97)=0
       exch2_oi_f(4,97)=0
       exch2_oj(4,97)=0
       exch2_oj_f(4,97)=0
       exch2_itlo_c(4,97)=9
       exch2_ithi_c(4,97)=9
       exch2_jtlo_c(4,97)=0
       exch2_jthi_c(4,97)=5
       exch2_opposingSend_record(4,97)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_98
C      Topology for tile 98
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(98)=8
       exch2_tny(98)=4
       exch2_tbasex(98)=24
       exch2_tbasey(98)=12
       exch2_txglobalo(98)=121
       exch2_tyglobalo(98)=13
       exch2_isWedge(98)=0
       exch2_isNedge(98)=0
       exch2_isEedge(98)=1
       exch2_isSedge(98)=0
       exch2_myFace(98)=4
       exch2_mydnx(98)=32
       exch2_mydny(98)=32
       exch2_nNeighbours(98)=4

       exch2_neighbourId(1,98)=102
       exch2_pi(1,1,98)=1
       exch2_pi(2,1,98)=0
       exch2_pj(1,1,98)=0
       exch2_pj(2,1,98)=1
       exch2_oi(1,98)=0
       exch2_oi_f(1,98)=0
       exch2_oj(1,98)=0
       exch2_oj_f(1,98)=0
       exch2_itlo_c(1,98)=0
       exch2_ithi_c(1,98)=9
       exch2_jtlo_c(1,98)=0
       exch2_jthi_c(1,98)=0
       exch2_opposingSend_record(1,98)=2

       exch2_neighbourId(2,98)=94
       exch2_pi(1,2,98)=1
       exch2_pi(2,2,98)=0
       exch2_pj(1,2,98)=0
       exch2_pj(2,2,98)=1
       exch2_oi(2,98)=0
       exch2_oi_f(2,98)=0
       exch2_oj(2,98)=0
       exch2_oj_f(2,98)=0
       exch2_itlo_c(2,98)=1
       exch2_ithi_c(2,98)=8
       exch2_jtlo_c(2,98)=5
       exch2_jthi_c(2,98)=5
       exch2_opposingSend_record(2,98)=1

       exch2_neighbourId(3,98)=147
       exch2_pi(1,3,98)=0
       exch2_pi(2,3,98)=1
       exch2_pj(1,3,98)=-1
       exch2_pj(2,3,98)=0
       exch2_oi(3,98)=32
       exch2_oi_f(3,98)=32
       exch2_oj(3,98)=33
       exch2_oj_f(3,98)=34
       exch2_itlo_c(3,98)=0
       exch2_ithi_c(3,98)=5
       exch2_jtlo_c(3,98)=0
       exch2_jthi_c(3,98)=0
       exch2_opposingSend_record(3,98)=3

       exch2_neighbourId(4,98)=97
       exch2_pi(1,4,98)=1
       exch2_pi(2,4,98)=0
       exch2_pj(1,4,98)=0
       exch2_pj(2,4,98)=1
       exch2_oi(4,98)=0
       exch2_oi_f(4,98)=0
       exch2_oj(4,98)=0
       exch2_oj_f(4,98)=0
       exch2_itlo_c(4,98)=9
       exch2_ithi_c(4,98)=9
       exch2_jtlo_c(4,98)=0
       exch2_jthi_c(4,98)=5
       exch2_opposingSend_record(4,98)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_99
C      Topology for tile 99
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(99)=8
       exch2_tny(99)=4
       exch2_tbasex(99)=0
       exch2_tbasey(99)=16
       exch2_txglobalo(99)=97
       exch2_tyglobalo(99)=17
       exch2_isWedge(99)=1
       exch2_isNedge(99)=0
       exch2_isEedge(99)=0
       exch2_isSedge(99)=0
       exch2_myFace(99)=4
       exch2_mydnx(99)=32
       exch2_mydny(99)=32
       exch2_nNeighbours(99)=4

       exch2_neighbourId(1,99)=103
       exch2_pi(1,1,99)=1
       exch2_pi(2,1,99)=0
       exch2_pj(1,1,99)=0
       exch2_pj(2,1,99)=1
       exch2_oi(1,99)=0
       exch2_oi_f(1,99)=0
       exch2_oj(1,99)=0
       exch2_oj_f(1,99)=0
       exch2_itlo_c(1,99)=0
       exch2_ithi_c(1,99)=9
       exch2_jtlo_c(1,99)=0
       exch2_jthi_c(1,99)=0
       exch2_opposingSend_record(1,99)=2

       exch2_neighbourId(2,99)=95
       exch2_pi(1,2,99)=1
       exch2_pi(2,2,99)=0
       exch2_pj(1,2,99)=0
       exch2_pj(2,2,99)=1
       exch2_oi(2,99)=0
       exch2_oi_f(2,99)=0
       exch2_oj(2,99)=0
       exch2_oj_f(2,99)=0
       exch2_itlo_c(2,99)=1
       exch2_ithi_c(2,99)=8
       exch2_jtlo_c(2,99)=5
       exch2_jthi_c(2,99)=5
       exch2_opposingSend_record(2,99)=1

       exch2_neighbourId(3,99)=100
       exch2_pi(1,3,99)=1
       exch2_pi(2,3,99)=0
       exch2_pj(1,3,99)=0
       exch2_pj(2,3,99)=1
       exch2_oi(3,99)=0
       exch2_oi_f(3,99)=0
       exch2_oj(3,99)=0
       exch2_oj_f(3,99)=0
       exch2_itlo_c(3,99)=0
       exch2_ithi_c(3,99)=0
       exch2_jtlo_c(3,99)=0
       exch2_jthi_c(3,99)=5
       exch2_opposingSend_record(3,99)=4

       exch2_neighbourId(4,99)=72
       exch2_pi(1,4,99)=1
       exch2_pi(2,4,99)=0
       exch2_pj(1,4,99)=0
       exch2_pj(2,4,99)=1
       exch2_oi(4,99)=-32
       exch2_oi_f(4,99)=-32
       exch2_oj(4,99)=0
       exch2_oj_f(4,99)=0
       exch2_itlo_c(4,99)=9
       exch2_ithi_c(4,99)=9
       exch2_jtlo_c(4,99)=0
       exch2_jthi_c(4,99)=5
       exch2_opposingSend_record(4,99)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_100
C      Topology for tile 100
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(100)=8
       exch2_tny(100)=4
       exch2_tbasex(100)=8
       exch2_tbasey(100)=16
       exch2_txglobalo(100)=105
       exch2_tyglobalo(100)=17
       exch2_isWedge(100)=0
       exch2_isNedge(100)=0
       exch2_isEedge(100)=0
       exch2_isSedge(100)=0
       exch2_myFace(100)=4
       exch2_mydnx(100)=32
       exch2_mydny(100)=32
       exch2_nNeighbours(100)=4

       exch2_neighbourId(1,100)=104
       exch2_pi(1,1,100)=1
       exch2_pi(2,1,100)=0
       exch2_pj(1,1,100)=0
       exch2_pj(2,1,100)=1
       exch2_oi(1,100)=0
       exch2_oi_f(1,100)=0
       exch2_oj(1,100)=0
       exch2_oj_f(1,100)=0
       exch2_itlo_c(1,100)=0
       exch2_ithi_c(1,100)=9
       exch2_jtlo_c(1,100)=0
       exch2_jthi_c(1,100)=0
       exch2_opposingSend_record(1,100)=2

       exch2_neighbourId(2,100)=96
       exch2_pi(1,2,100)=1
       exch2_pi(2,2,100)=0
       exch2_pj(1,2,100)=0
       exch2_pj(2,2,100)=1
       exch2_oi(2,100)=0
       exch2_oi_f(2,100)=0
       exch2_oj(2,100)=0
       exch2_oj_f(2,100)=0
       exch2_itlo_c(2,100)=1
       exch2_ithi_c(2,100)=8
       exch2_jtlo_c(2,100)=5
       exch2_jthi_c(2,100)=5
       exch2_opposingSend_record(2,100)=1

       exch2_neighbourId(3,100)=101
       exch2_pi(1,3,100)=1
       exch2_pi(2,3,100)=0
       exch2_pj(1,3,100)=0
       exch2_pj(2,3,100)=1
       exch2_oi(3,100)=0
       exch2_oi_f(3,100)=0
       exch2_oj(3,100)=0
       exch2_oj_f(3,100)=0
       exch2_itlo_c(3,100)=0
       exch2_ithi_c(3,100)=0
       exch2_jtlo_c(3,100)=0
       exch2_jthi_c(3,100)=5
       exch2_opposingSend_record(3,100)=4

       exch2_neighbourId(4,100)=99
       exch2_pi(1,4,100)=1
       exch2_pi(2,4,100)=0
       exch2_pj(1,4,100)=0
       exch2_pj(2,4,100)=1
       exch2_oi(4,100)=0
       exch2_oi_f(4,100)=0
       exch2_oj(4,100)=0
       exch2_oj_f(4,100)=0
       exch2_itlo_c(4,100)=9
       exch2_ithi_c(4,100)=9
       exch2_jtlo_c(4,100)=0
       exch2_jthi_c(4,100)=5
       exch2_opposingSend_record(4,100)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_101
C      Topology for tile 101
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(101)=8
       exch2_tny(101)=4
       exch2_tbasex(101)=16
       exch2_tbasey(101)=16
       exch2_txglobalo(101)=113
       exch2_tyglobalo(101)=17
       exch2_isWedge(101)=0
       exch2_isNedge(101)=0
       exch2_isEedge(101)=0
       exch2_isSedge(101)=0
       exch2_myFace(101)=4
       exch2_mydnx(101)=32
       exch2_mydny(101)=32
       exch2_nNeighbours(101)=4

       exch2_neighbourId(1,101)=105
       exch2_pi(1,1,101)=1
       exch2_pi(2,1,101)=0
       exch2_pj(1,1,101)=0
       exch2_pj(2,1,101)=1
       exch2_oi(1,101)=0
       exch2_oi_f(1,101)=0
       exch2_oj(1,101)=0
       exch2_oj_f(1,101)=0
       exch2_itlo_c(1,101)=0
       exch2_ithi_c(1,101)=9
       exch2_jtlo_c(1,101)=0
       exch2_jthi_c(1,101)=0
       exch2_opposingSend_record(1,101)=2

       exch2_neighbourId(2,101)=97
       exch2_pi(1,2,101)=1
       exch2_pi(2,2,101)=0
       exch2_pj(1,2,101)=0
       exch2_pj(2,2,101)=1
       exch2_oi(2,101)=0
       exch2_oi_f(2,101)=0
       exch2_oj(2,101)=0
       exch2_oj_f(2,101)=0
       exch2_itlo_c(2,101)=1
       exch2_ithi_c(2,101)=8
       exch2_jtlo_c(2,101)=5
       exch2_jthi_c(2,101)=5
       exch2_opposingSend_record(2,101)=1

       exch2_neighbourId(3,101)=102
       exch2_pi(1,3,101)=1
       exch2_pi(2,3,101)=0
       exch2_pj(1,3,101)=0
       exch2_pj(2,3,101)=1
       exch2_oi(3,101)=0
       exch2_oi_f(3,101)=0
       exch2_oj(3,101)=0
       exch2_oj_f(3,101)=0
       exch2_itlo_c(3,101)=0
       exch2_ithi_c(3,101)=0
       exch2_jtlo_c(3,101)=0
       exch2_jthi_c(3,101)=5
       exch2_opposingSend_record(3,101)=4

       exch2_neighbourId(4,101)=100
       exch2_pi(1,4,101)=1
       exch2_pi(2,4,101)=0
       exch2_pj(1,4,101)=0
       exch2_pj(2,4,101)=1
       exch2_oi(4,101)=0
       exch2_oi_f(4,101)=0
       exch2_oj(4,101)=0
       exch2_oj_f(4,101)=0
       exch2_itlo_c(4,101)=9
       exch2_ithi_c(4,101)=9
       exch2_jtlo_c(4,101)=0
       exch2_jthi_c(4,101)=5
       exch2_opposingSend_record(4,101)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_102
C      Topology for tile 102
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(102)=8
       exch2_tny(102)=4
       exch2_tbasex(102)=24
       exch2_tbasey(102)=16
       exch2_txglobalo(102)=121
       exch2_tyglobalo(102)=17
       exch2_isWedge(102)=0
       exch2_isNedge(102)=0
       exch2_isEedge(102)=1
       exch2_isSedge(102)=0
       exch2_myFace(102)=4
       exch2_mydnx(102)=32
       exch2_mydny(102)=32
       exch2_nNeighbours(102)=4

       exch2_neighbourId(1,102)=106
       exch2_pi(1,1,102)=1
       exch2_pi(2,1,102)=0
       exch2_pj(1,1,102)=0
       exch2_pj(2,1,102)=1
       exch2_oi(1,102)=0
       exch2_oi_f(1,102)=0
       exch2_oj(1,102)=0
       exch2_oj_f(1,102)=0
       exch2_itlo_c(1,102)=0
       exch2_ithi_c(1,102)=9
       exch2_jtlo_c(1,102)=0
       exch2_jthi_c(1,102)=0
       exch2_opposingSend_record(1,102)=2

       exch2_neighbourId(2,102)=98
       exch2_pi(1,2,102)=1
       exch2_pi(2,2,102)=0
       exch2_pj(1,2,102)=0
       exch2_pj(2,2,102)=1
       exch2_oi(2,102)=0
       exch2_oi_f(2,102)=0
       exch2_oj(2,102)=0
       exch2_oj_f(2,102)=0
       exch2_itlo_c(2,102)=1
       exch2_ithi_c(2,102)=8
       exch2_jtlo_c(2,102)=5
       exch2_jthi_c(2,102)=5
       exch2_opposingSend_record(2,102)=1

       exch2_neighbourId(3,102)=146
       exch2_pi(1,3,102)=0
       exch2_pi(2,3,102)=1
       exch2_pj(1,3,102)=-1
       exch2_pj(2,3,102)=0
       exch2_oi(3,102)=32
       exch2_oi_f(3,102)=32
       exch2_oj(3,102)=33
       exch2_oj_f(3,102)=34
       exch2_itlo_c(3,102)=4
       exch2_ithi_c(3,102)=9
       exch2_jtlo_c(3,102)=0
       exch2_jthi_c(3,102)=0
       exch2_opposingSend_record(3,102)=2

       exch2_neighbourId(4,102)=101
       exch2_pi(1,4,102)=1
       exch2_pi(2,4,102)=0
       exch2_pj(1,4,102)=0
       exch2_pj(2,4,102)=1
       exch2_oi(4,102)=0
       exch2_oi_f(4,102)=0
       exch2_oj(4,102)=0
       exch2_oj_f(4,102)=0
       exch2_itlo_c(4,102)=9
       exch2_ithi_c(4,102)=9
       exch2_jtlo_c(4,102)=0
       exch2_jthi_c(4,102)=5
       exch2_opposingSend_record(4,102)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_103
C      Topology for tile 103
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(103)=8
       exch2_tny(103)=4
       exch2_tbasex(103)=0
       exch2_tbasey(103)=20
       exch2_txglobalo(103)=97
       exch2_tyglobalo(103)=21
       exch2_isWedge(103)=1
       exch2_isNedge(103)=0
       exch2_isEedge(103)=0
       exch2_isSedge(103)=0
       exch2_myFace(103)=4
       exch2_mydnx(103)=32
       exch2_mydny(103)=32
       exch2_nNeighbours(103)=4

       exch2_neighbourId(1,103)=107
       exch2_pi(1,1,103)=1
       exch2_pi(2,1,103)=0
       exch2_pj(1,1,103)=0
       exch2_pj(2,1,103)=1
       exch2_oi(1,103)=0
       exch2_oi_f(1,103)=0
       exch2_oj(1,103)=0
       exch2_oj_f(1,103)=0
       exch2_itlo_c(1,103)=0
       exch2_ithi_c(1,103)=9
       exch2_jtlo_c(1,103)=0
       exch2_jthi_c(1,103)=0
       exch2_opposingSend_record(1,103)=2

       exch2_neighbourId(2,103)=99
       exch2_pi(1,2,103)=1
       exch2_pi(2,2,103)=0
       exch2_pj(1,2,103)=0
       exch2_pj(2,2,103)=1
       exch2_oi(2,103)=0
       exch2_oi_f(2,103)=0
       exch2_oj(2,103)=0
       exch2_oj_f(2,103)=0
       exch2_itlo_c(2,103)=1
       exch2_ithi_c(2,103)=8
       exch2_jtlo_c(2,103)=5
       exch2_jthi_c(2,103)=5
       exch2_opposingSend_record(2,103)=1

       exch2_neighbourId(3,103)=104
       exch2_pi(1,3,103)=1
       exch2_pi(2,3,103)=0
       exch2_pj(1,3,103)=0
       exch2_pj(2,3,103)=1
       exch2_oi(3,103)=0
       exch2_oi_f(3,103)=0
       exch2_oj(3,103)=0
       exch2_oj_f(3,103)=0
       exch2_itlo_c(3,103)=0
       exch2_ithi_c(3,103)=0
       exch2_jtlo_c(3,103)=0
       exch2_jthi_c(3,103)=5
       exch2_opposingSend_record(3,103)=4

       exch2_neighbourId(4,103)=76
       exch2_pi(1,4,103)=1
       exch2_pi(2,4,103)=0
       exch2_pj(1,4,103)=0
       exch2_pj(2,4,103)=1
       exch2_oi(4,103)=-32
       exch2_oi_f(4,103)=-32
       exch2_oj(4,103)=0
       exch2_oj_f(4,103)=0
       exch2_itlo_c(4,103)=9
       exch2_ithi_c(4,103)=9
       exch2_jtlo_c(4,103)=0
       exch2_jthi_c(4,103)=5
       exch2_opposingSend_record(4,103)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_104
C      Topology for tile 104
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(104)=8
       exch2_tny(104)=4
       exch2_tbasex(104)=8
       exch2_tbasey(104)=20
       exch2_txglobalo(104)=105
       exch2_tyglobalo(104)=21
       exch2_isWedge(104)=0
       exch2_isNedge(104)=0
       exch2_isEedge(104)=0
       exch2_isSedge(104)=0
       exch2_myFace(104)=4
       exch2_mydnx(104)=32
       exch2_mydny(104)=32
       exch2_nNeighbours(104)=4

       exch2_neighbourId(1,104)=108
       exch2_pi(1,1,104)=1
       exch2_pi(2,1,104)=0
       exch2_pj(1,1,104)=0
       exch2_pj(2,1,104)=1
       exch2_oi(1,104)=0
       exch2_oi_f(1,104)=0
       exch2_oj(1,104)=0
       exch2_oj_f(1,104)=0
       exch2_itlo_c(1,104)=0
       exch2_ithi_c(1,104)=9
       exch2_jtlo_c(1,104)=0
       exch2_jthi_c(1,104)=0
       exch2_opposingSend_record(1,104)=2

       exch2_neighbourId(2,104)=100
       exch2_pi(1,2,104)=1
       exch2_pi(2,2,104)=0
       exch2_pj(1,2,104)=0
       exch2_pj(2,2,104)=1
       exch2_oi(2,104)=0
       exch2_oi_f(2,104)=0
       exch2_oj(2,104)=0
       exch2_oj_f(2,104)=0
       exch2_itlo_c(2,104)=1
       exch2_ithi_c(2,104)=8
       exch2_jtlo_c(2,104)=5
       exch2_jthi_c(2,104)=5
       exch2_opposingSend_record(2,104)=1

       exch2_neighbourId(3,104)=105
       exch2_pi(1,3,104)=1
       exch2_pi(2,3,104)=0
       exch2_pj(1,3,104)=0
       exch2_pj(2,3,104)=1
       exch2_oi(3,104)=0
       exch2_oi_f(3,104)=0
       exch2_oj(3,104)=0
       exch2_oj_f(3,104)=0
       exch2_itlo_c(3,104)=0
       exch2_ithi_c(3,104)=0
       exch2_jtlo_c(3,104)=0
       exch2_jthi_c(3,104)=5
       exch2_opposingSend_record(3,104)=4

       exch2_neighbourId(4,104)=103
       exch2_pi(1,4,104)=1
       exch2_pi(2,4,104)=0
       exch2_pj(1,4,104)=0
       exch2_pj(2,4,104)=1
       exch2_oi(4,104)=0
       exch2_oi_f(4,104)=0
       exch2_oj(4,104)=0
       exch2_oj_f(4,104)=0
       exch2_itlo_c(4,104)=9
       exch2_ithi_c(4,104)=9
       exch2_jtlo_c(4,104)=0
       exch2_jthi_c(4,104)=5
       exch2_opposingSend_record(4,104)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_105
C      Topology for tile 105
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(105)=8
       exch2_tny(105)=4
       exch2_tbasex(105)=16
       exch2_tbasey(105)=20
       exch2_txglobalo(105)=113
       exch2_tyglobalo(105)=21
       exch2_isWedge(105)=0
       exch2_isNedge(105)=0
       exch2_isEedge(105)=0
       exch2_isSedge(105)=0
       exch2_myFace(105)=4
       exch2_mydnx(105)=32
       exch2_mydny(105)=32
       exch2_nNeighbours(105)=4

       exch2_neighbourId(1,105)=109
       exch2_pi(1,1,105)=1
       exch2_pi(2,1,105)=0
       exch2_pj(1,1,105)=0
       exch2_pj(2,1,105)=1
       exch2_oi(1,105)=0
       exch2_oi_f(1,105)=0
       exch2_oj(1,105)=0
       exch2_oj_f(1,105)=0
       exch2_itlo_c(1,105)=0
       exch2_ithi_c(1,105)=9
       exch2_jtlo_c(1,105)=0
       exch2_jthi_c(1,105)=0
       exch2_opposingSend_record(1,105)=2

       exch2_neighbourId(2,105)=101
       exch2_pi(1,2,105)=1
       exch2_pi(2,2,105)=0
       exch2_pj(1,2,105)=0
       exch2_pj(2,2,105)=1
       exch2_oi(2,105)=0
       exch2_oi_f(2,105)=0
       exch2_oj(2,105)=0
       exch2_oj_f(2,105)=0
       exch2_itlo_c(2,105)=1
       exch2_ithi_c(2,105)=8
       exch2_jtlo_c(2,105)=5
       exch2_jthi_c(2,105)=5
       exch2_opposingSend_record(2,105)=1

       exch2_neighbourId(3,105)=106
       exch2_pi(1,3,105)=1
       exch2_pi(2,3,105)=0
       exch2_pj(1,3,105)=0
       exch2_pj(2,3,105)=1
       exch2_oi(3,105)=0
       exch2_oi_f(3,105)=0
       exch2_oj(3,105)=0
       exch2_oj_f(3,105)=0
       exch2_itlo_c(3,105)=0
       exch2_ithi_c(3,105)=0
       exch2_jtlo_c(3,105)=0
       exch2_jthi_c(3,105)=5
       exch2_opposingSend_record(3,105)=4

       exch2_neighbourId(4,105)=104
       exch2_pi(1,4,105)=1
       exch2_pi(2,4,105)=0
       exch2_pj(1,4,105)=0
       exch2_pj(2,4,105)=1
       exch2_oi(4,105)=0
       exch2_oi_f(4,105)=0
       exch2_oj(4,105)=0
       exch2_oj_f(4,105)=0
       exch2_itlo_c(4,105)=9
       exch2_ithi_c(4,105)=9
       exch2_jtlo_c(4,105)=0
       exch2_jthi_c(4,105)=5
       exch2_opposingSend_record(4,105)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_106
C      Topology for tile 106
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(106)=8
       exch2_tny(106)=4
       exch2_tbasex(106)=24
       exch2_tbasey(106)=20
       exch2_txglobalo(106)=121
       exch2_tyglobalo(106)=21
       exch2_isWedge(106)=0
       exch2_isNedge(106)=0
       exch2_isEedge(106)=1
       exch2_isSedge(106)=0
       exch2_myFace(106)=4
       exch2_mydnx(106)=32
       exch2_mydny(106)=32
       exch2_nNeighbours(106)=4

       exch2_neighbourId(1,106)=110
       exch2_pi(1,1,106)=1
       exch2_pi(2,1,106)=0
       exch2_pj(1,1,106)=0
       exch2_pj(2,1,106)=1
       exch2_oi(1,106)=0
       exch2_oi_f(1,106)=0
       exch2_oj(1,106)=0
       exch2_oj_f(1,106)=0
       exch2_itlo_c(1,106)=0
       exch2_ithi_c(1,106)=9
       exch2_jtlo_c(1,106)=0
       exch2_jthi_c(1,106)=0
       exch2_opposingSend_record(1,106)=2

       exch2_neighbourId(2,106)=102
       exch2_pi(1,2,106)=1
       exch2_pi(2,2,106)=0
       exch2_pj(1,2,106)=0
       exch2_pj(2,2,106)=1
       exch2_oi(2,106)=0
       exch2_oi_f(2,106)=0
       exch2_oj(2,106)=0
       exch2_oj_f(2,106)=0
       exch2_itlo_c(2,106)=1
       exch2_ithi_c(2,106)=8
       exch2_jtlo_c(2,106)=5
       exch2_jthi_c(2,106)=5
       exch2_opposingSend_record(2,106)=1

       exch2_neighbourId(3,106)=146
       exch2_pi(1,3,106)=0
       exch2_pi(2,3,106)=1
       exch2_pj(1,3,106)=-1
       exch2_pj(2,3,106)=0
       exch2_oi(3,106)=32
       exch2_oi_f(3,106)=32
       exch2_oj(3,106)=33
       exch2_oj_f(3,106)=34
       exch2_itlo_c(3,106)=0
       exch2_ithi_c(3,106)=5
       exch2_jtlo_c(3,106)=0
       exch2_jthi_c(3,106)=0
       exch2_opposingSend_record(3,106)=3

       exch2_neighbourId(4,106)=105
       exch2_pi(1,4,106)=1
       exch2_pi(2,4,106)=0
       exch2_pj(1,4,106)=0
       exch2_pj(2,4,106)=1
       exch2_oi(4,106)=0
       exch2_oi_f(4,106)=0
       exch2_oj(4,106)=0
       exch2_oj_f(4,106)=0
       exch2_itlo_c(4,106)=9
       exch2_ithi_c(4,106)=9
       exch2_jtlo_c(4,106)=0
       exch2_jthi_c(4,106)=5
       exch2_opposingSend_record(4,106)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_107
C      Topology for tile 107
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(107)=8
       exch2_tny(107)=4
       exch2_tbasex(107)=0
       exch2_tbasey(107)=24
       exch2_txglobalo(107)=97
       exch2_tyglobalo(107)=25
       exch2_isWedge(107)=1
       exch2_isNedge(107)=0
       exch2_isEedge(107)=0
       exch2_isSedge(107)=0
       exch2_myFace(107)=4
       exch2_mydnx(107)=32
       exch2_mydny(107)=32
       exch2_nNeighbours(107)=4

       exch2_neighbourId(1,107)=111
       exch2_pi(1,1,107)=1
       exch2_pi(2,1,107)=0
       exch2_pj(1,1,107)=0
       exch2_pj(2,1,107)=1
       exch2_oi(1,107)=0
       exch2_oi_f(1,107)=0
       exch2_oj(1,107)=0
       exch2_oj_f(1,107)=0
       exch2_itlo_c(1,107)=0
       exch2_ithi_c(1,107)=9
       exch2_jtlo_c(1,107)=0
       exch2_jthi_c(1,107)=0
       exch2_opposingSend_record(1,107)=2

       exch2_neighbourId(2,107)=103
       exch2_pi(1,2,107)=1
       exch2_pi(2,2,107)=0
       exch2_pj(1,2,107)=0
       exch2_pj(2,2,107)=1
       exch2_oi(2,107)=0
       exch2_oi_f(2,107)=0
       exch2_oj(2,107)=0
       exch2_oj_f(2,107)=0
       exch2_itlo_c(2,107)=1
       exch2_ithi_c(2,107)=8
       exch2_jtlo_c(2,107)=5
       exch2_jthi_c(2,107)=5
       exch2_opposingSend_record(2,107)=1

       exch2_neighbourId(3,107)=108
       exch2_pi(1,3,107)=1
       exch2_pi(2,3,107)=0
       exch2_pj(1,3,107)=0
       exch2_pj(2,3,107)=1
       exch2_oi(3,107)=0
       exch2_oi_f(3,107)=0
       exch2_oj(3,107)=0
       exch2_oj_f(3,107)=0
       exch2_itlo_c(3,107)=0
       exch2_ithi_c(3,107)=0
       exch2_jtlo_c(3,107)=0
       exch2_jthi_c(3,107)=5
       exch2_opposingSend_record(3,107)=4

       exch2_neighbourId(4,107)=79
       exch2_pi(1,4,107)=1
       exch2_pi(2,4,107)=0
       exch2_pj(1,4,107)=0
       exch2_pj(2,4,107)=1
       exch2_oi(4,107)=-32
       exch2_oi_f(4,107)=-32
       exch2_oj(4,107)=0
       exch2_oj_f(4,107)=0
       exch2_itlo_c(4,107)=9
       exch2_ithi_c(4,107)=9
       exch2_jtlo_c(4,107)=0
       exch2_jthi_c(4,107)=5
       exch2_opposingSend_record(4,107)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_108
C      Topology for tile 108
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(108)=8
       exch2_tny(108)=4
       exch2_tbasex(108)=8
       exch2_tbasey(108)=24
       exch2_txglobalo(108)=105
       exch2_tyglobalo(108)=25
       exch2_isWedge(108)=0
       exch2_isNedge(108)=0
       exch2_isEedge(108)=0
       exch2_isSedge(108)=0
       exch2_myFace(108)=4
       exch2_mydnx(108)=32
       exch2_mydny(108)=32
       exch2_nNeighbours(108)=4

       exch2_neighbourId(1,108)=112
       exch2_pi(1,1,108)=1
       exch2_pi(2,1,108)=0
       exch2_pj(1,1,108)=0
       exch2_pj(2,1,108)=1
       exch2_oi(1,108)=0
       exch2_oi_f(1,108)=0
       exch2_oj(1,108)=0
       exch2_oj_f(1,108)=0
       exch2_itlo_c(1,108)=0
       exch2_ithi_c(1,108)=9
       exch2_jtlo_c(1,108)=0
       exch2_jthi_c(1,108)=0
       exch2_opposingSend_record(1,108)=2

       exch2_neighbourId(2,108)=104
       exch2_pi(1,2,108)=1
       exch2_pi(2,2,108)=0
       exch2_pj(1,2,108)=0
       exch2_pj(2,2,108)=1
       exch2_oi(2,108)=0
       exch2_oi_f(2,108)=0
       exch2_oj(2,108)=0
       exch2_oj_f(2,108)=0
       exch2_itlo_c(2,108)=1
       exch2_ithi_c(2,108)=8
       exch2_jtlo_c(2,108)=5
       exch2_jthi_c(2,108)=5
       exch2_opposingSend_record(2,108)=1

       exch2_neighbourId(3,108)=109
       exch2_pi(1,3,108)=1
       exch2_pi(2,3,108)=0
       exch2_pj(1,3,108)=0
       exch2_pj(2,3,108)=1
       exch2_oi(3,108)=0
       exch2_oi_f(3,108)=0
       exch2_oj(3,108)=0
       exch2_oj_f(3,108)=0
       exch2_itlo_c(3,108)=0
       exch2_ithi_c(3,108)=0
       exch2_jtlo_c(3,108)=0
       exch2_jthi_c(3,108)=5
       exch2_opposingSend_record(3,108)=4

       exch2_neighbourId(4,108)=107
       exch2_pi(1,4,108)=1
       exch2_pi(2,4,108)=0
       exch2_pj(1,4,108)=0
       exch2_pj(2,4,108)=1
       exch2_oi(4,108)=0
       exch2_oi_f(4,108)=0
       exch2_oj(4,108)=0
       exch2_oj_f(4,108)=0
       exch2_itlo_c(4,108)=9
       exch2_ithi_c(4,108)=9
       exch2_jtlo_c(4,108)=0
       exch2_jthi_c(4,108)=5
       exch2_opposingSend_record(4,108)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_109
C      Topology for tile 109
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(109)=8
       exch2_tny(109)=4
       exch2_tbasex(109)=16
       exch2_tbasey(109)=24
       exch2_txglobalo(109)=113
       exch2_tyglobalo(109)=25
       exch2_isWedge(109)=0
       exch2_isNedge(109)=0
       exch2_isEedge(109)=0
       exch2_isSedge(109)=0
       exch2_myFace(109)=4
       exch2_mydnx(109)=32
       exch2_mydny(109)=32
       exch2_nNeighbours(109)=4

       exch2_neighbourId(1,109)=113
       exch2_pi(1,1,109)=1
       exch2_pi(2,1,109)=0
       exch2_pj(1,1,109)=0
       exch2_pj(2,1,109)=1
       exch2_oi(1,109)=0
       exch2_oi_f(1,109)=0
       exch2_oj(1,109)=0
       exch2_oj_f(1,109)=0
       exch2_itlo_c(1,109)=0
       exch2_ithi_c(1,109)=9
       exch2_jtlo_c(1,109)=0
       exch2_jthi_c(1,109)=0
       exch2_opposingSend_record(1,109)=2

       exch2_neighbourId(2,109)=105
       exch2_pi(1,2,109)=1
       exch2_pi(2,2,109)=0
       exch2_pj(1,2,109)=0
       exch2_pj(2,2,109)=1
       exch2_oi(2,109)=0
       exch2_oi_f(2,109)=0
       exch2_oj(2,109)=0
       exch2_oj_f(2,109)=0
       exch2_itlo_c(2,109)=1
       exch2_ithi_c(2,109)=8
       exch2_jtlo_c(2,109)=5
       exch2_jthi_c(2,109)=5
       exch2_opposingSend_record(2,109)=1

       exch2_neighbourId(3,109)=110
       exch2_pi(1,3,109)=1
       exch2_pi(2,3,109)=0
       exch2_pj(1,3,109)=0
       exch2_pj(2,3,109)=1
       exch2_oi(3,109)=0
       exch2_oi_f(3,109)=0
       exch2_oj(3,109)=0
       exch2_oj_f(3,109)=0
       exch2_itlo_c(3,109)=0
       exch2_ithi_c(3,109)=0
       exch2_jtlo_c(3,109)=0
       exch2_jthi_c(3,109)=5
       exch2_opposingSend_record(3,109)=4

       exch2_neighbourId(4,109)=108
       exch2_pi(1,4,109)=1
       exch2_pi(2,4,109)=0
       exch2_pj(1,4,109)=0
       exch2_pj(2,4,109)=1
       exch2_oi(4,109)=0
       exch2_oi_f(4,109)=0
       exch2_oj(4,109)=0
       exch2_oj_f(4,109)=0
       exch2_itlo_c(4,109)=9
       exch2_ithi_c(4,109)=9
       exch2_jtlo_c(4,109)=0
       exch2_jthi_c(4,109)=5
       exch2_opposingSend_record(4,109)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_110
C      Topology for tile 110
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(110)=8
       exch2_tny(110)=4
       exch2_tbasex(110)=24
       exch2_tbasey(110)=24
       exch2_txglobalo(110)=121
       exch2_tyglobalo(110)=25
       exch2_isWedge(110)=0
       exch2_isNedge(110)=0
       exch2_isEedge(110)=1
       exch2_isSedge(110)=0
       exch2_myFace(110)=4
       exch2_mydnx(110)=32
       exch2_mydny(110)=32
       exch2_nNeighbours(110)=4

       exch2_neighbourId(1,110)=114
       exch2_pi(1,1,110)=1
       exch2_pi(2,1,110)=0
       exch2_pj(1,1,110)=0
       exch2_pj(2,1,110)=1
       exch2_oi(1,110)=0
       exch2_oi_f(1,110)=0
       exch2_oj(1,110)=0
       exch2_oj_f(1,110)=0
       exch2_itlo_c(1,110)=0
       exch2_ithi_c(1,110)=9
       exch2_jtlo_c(1,110)=0
       exch2_jthi_c(1,110)=0
       exch2_opposingSend_record(1,110)=2

       exch2_neighbourId(2,110)=106
       exch2_pi(1,2,110)=1
       exch2_pi(2,2,110)=0
       exch2_pj(1,2,110)=0
       exch2_pj(2,2,110)=1
       exch2_oi(2,110)=0
       exch2_oi_f(2,110)=0
       exch2_oj(2,110)=0
       exch2_oj_f(2,110)=0
       exch2_itlo_c(2,110)=1
       exch2_ithi_c(2,110)=8
       exch2_jtlo_c(2,110)=5
       exch2_jthi_c(2,110)=5
       exch2_opposingSend_record(2,110)=1

       exch2_neighbourId(3,110)=145
       exch2_pi(1,3,110)=0
       exch2_pi(2,3,110)=1
       exch2_pj(1,3,110)=-1
       exch2_pj(2,3,110)=0
       exch2_oi(3,110)=32
       exch2_oi_f(3,110)=32
       exch2_oj(3,110)=33
       exch2_oj_f(3,110)=34
       exch2_itlo_c(3,110)=4
       exch2_ithi_c(3,110)=9
       exch2_jtlo_c(3,110)=0
       exch2_jthi_c(3,110)=0
       exch2_opposingSend_record(3,110)=2

       exch2_neighbourId(4,110)=109
       exch2_pi(1,4,110)=1
       exch2_pi(2,4,110)=0
       exch2_pj(1,4,110)=0
       exch2_pj(2,4,110)=1
       exch2_oi(4,110)=0
       exch2_oi_f(4,110)=0
       exch2_oj(4,110)=0
       exch2_oj_f(4,110)=0
       exch2_itlo_c(4,110)=9
       exch2_ithi_c(4,110)=9
       exch2_jtlo_c(4,110)=0
       exch2_jthi_c(4,110)=5
       exch2_opposingSend_record(4,110)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_111
C      Topology for tile 111
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(111)=8
       exch2_tny(111)=4
       exch2_tbasex(111)=0
       exch2_tbasey(111)=28
       exch2_txglobalo(111)=97
       exch2_tyglobalo(111)=29
       exch2_isWedge(111)=1
       exch2_isNedge(111)=1
       exch2_isEedge(111)=0
       exch2_isSedge(111)=0
       exch2_myFace(111)=4
       exch2_mydnx(111)=32
       exch2_mydny(111)=32
       exch2_nNeighbours(111)=4

       exch2_neighbourId(1,111)=115
       exch2_pi(1,1,111)=1
       exch2_pi(2,1,111)=0
       exch2_pj(1,1,111)=0
       exch2_pj(2,1,111)=1
       exch2_oi(1,111)=0
       exch2_oi_f(1,111)=0
       exch2_oj(1,111)=32
       exch2_oj_f(1,111)=32
       exch2_itlo_c(1,111)=0
       exch2_ithi_c(1,111)=9
       exch2_jtlo_c(1,111)=0
       exch2_jthi_c(1,111)=0
       exch2_opposingSend_record(1,111)=2

       exch2_neighbourId(2,111)=107
       exch2_pi(1,2,111)=1
       exch2_pi(2,2,111)=0
       exch2_pj(1,2,111)=0
       exch2_pj(2,2,111)=1
       exch2_oi(2,111)=0
       exch2_oi_f(2,111)=0
       exch2_oj(2,111)=0
       exch2_oj_f(2,111)=0
       exch2_itlo_c(2,111)=1
       exch2_ithi_c(2,111)=8
       exch2_jtlo_c(2,111)=5
       exch2_jthi_c(2,111)=5
       exch2_opposingSend_record(2,111)=1

       exch2_neighbourId(3,111)=112
       exch2_pi(1,3,111)=1
       exch2_pi(2,3,111)=0
       exch2_pj(1,3,111)=0
       exch2_pj(2,3,111)=1
       exch2_oi(3,111)=0
       exch2_oi_f(3,111)=0
       exch2_oj(3,111)=0
       exch2_oj_f(3,111)=0
       exch2_itlo_c(3,111)=0
       exch2_ithi_c(3,111)=0
       exch2_jtlo_c(3,111)=0
       exch2_jthi_c(3,111)=5
       exch2_opposingSend_record(3,111)=4

       exch2_neighbourId(4,111)=82
       exch2_pi(1,4,111)=1
       exch2_pi(2,4,111)=0
       exch2_pj(1,4,111)=0
       exch2_pj(2,4,111)=1
       exch2_oi(4,111)=-32
       exch2_oi_f(4,111)=-32
       exch2_oj(4,111)=0
       exch2_oj_f(4,111)=0
       exch2_itlo_c(4,111)=9
       exch2_ithi_c(4,111)=9
       exch2_jtlo_c(4,111)=0
       exch2_jthi_c(4,111)=5
       exch2_opposingSend_record(4,111)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_112
C      Topology for tile 112
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(112)=8
       exch2_tny(112)=4
       exch2_tbasex(112)=8
       exch2_tbasey(112)=28
       exch2_txglobalo(112)=105
       exch2_tyglobalo(112)=29
       exch2_isWedge(112)=0
       exch2_isNedge(112)=1
       exch2_isEedge(112)=0
       exch2_isSedge(112)=0
       exch2_myFace(112)=4
       exch2_mydnx(112)=32
       exch2_mydny(112)=32
       exch2_nNeighbours(112)=4

       exch2_neighbourId(1,112)=116
       exch2_pi(1,1,112)=1
       exch2_pi(2,1,112)=0
       exch2_pj(1,1,112)=0
       exch2_pj(2,1,112)=1
       exch2_oi(1,112)=0
       exch2_oi_f(1,112)=0
       exch2_oj(1,112)=32
       exch2_oj_f(1,112)=32
       exch2_itlo_c(1,112)=0
       exch2_ithi_c(1,112)=9
       exch2_jtlo_c(1,112)=0
       exch2_jthi_c(1,112)=0
       exch2_opposingSend_record(1,112)=2

       exch2_neighbourId(2,112)=108
       exch2_pi(1,2,112)=1
       exch2_pi(2,2,112)=0
       exch2_pj(1,2,112)=0
       exch2_pj(2,2,112)=1
       exch2_oi(2,112)=0
       exch2_oi_f(2,112)=0
       exch2_oj(2,112)=0
       exch2_oj_f(2,112)=0
       exch2_itlo_c(2,112)=1
       exch2_ithi_c(2,112)=8
       exch2_jtlo_c(2,112)=5
       exch2_jthi_c(2,112)=5
       exch2_opposingSend_record(2,112)=1

       exch2_neighbourId(3,112)=113
       exch2_pi(1,3,112)=1
       exch2_pi(2,3,112)=0
       exch2_pj(1,3,112)=0
       exch2_pj(2,3,112)=1
       exch2_oi(3,112)=0
       exch2_oi_f(3,112)=0
       exch2_oj(3,112)=0
       exch2_oj_f(3,112)=0
       exch2_itlo_c(3,112)=0
       exch2_ithi_c(3,112)=0
       exch2_jtlo_c(3,112)=0
       exch2_jthi_c(3,112)=5
       exch2_opposingSend_record(3,112)=4

       exch2_neighbourId(4,112)=111
       exch2_pi(1,4,112)=1
       exch2_pi(2,4,112)=0
       exch2_pj(1,4,112)=0
       exch2_pj(2,4,112)=1
       exch2_oi(4,112)=0
       exch2_oi_f(4,112)=0
       exch2_oj(4,112)=0
       exch2_oj_f(4,112)=0
       exch2_itlo_c(4,112)=9
       exch2_ithi_c(4,112)=9
       exch2_jtlo_c(4,112)=0
       exch2_jthi_c(4,112)=5
       exch2_opposingSend_record(4,112)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_113
C      Topology for tile 113
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(113)=8
       exch2_tny(113)=4
       exch2_tbasex(113)=16
       exch2_tbasey(113)=28
       exch2_txglobalo(113)=113
       exch2_tyglobalo(113)=29
       exch2_isWedge(113)=0
       exch2_isNedge(113)=1
       exch2_isEedge(113)=0
       exch2_isSedge(113)=0
       exch2_myFace(113)=4
       exch2_mydnx(113)=32
       exch2_mydny(113)=32
       exch2_nNeighbours(113)=4

       exch2_neighbourId(1,113)=117
       exch2_pi(1,1,113)=1
       exch2_pi(2,1,113)=0
       exch2_pj(1,1,113)=0
       exch2_pj(2,1,113)=1
       exch2_oi(1,113)=0
       exch2_oi_f(1,113)=0
       exch2_oj(1,113)=32
       exch2_oj_f(1,113)=32
       exch2_itlo_c(1,113)=0
       exch2_ithi_c(1,113)=9
       exch2_jtlo_c(1,113)=0
       exch2_jthi_c(1,113)=0
       exch2_opposingSend_record(1,113)=2

       exch2_neighbourId(2,113)=109
       exch2_pi(1,2,113)=1
       exch2_pi(2,2,113)=0
       exch2_pj(1,2,113)=0
       exch2_pj(2,2,113)=1
       exch2_oi(2,113)=0
       exch2_oi_f(2,113)=0
       exch2_oj(2,113)=0
       exch2_oj_f(2,113)=0
       exch2_itlo_c(2,113)=1
       exch2_ithi_c(2,113)=8
       exch2_jtlo_c(2,113)=5
       exch2_jthi_c(2,113)=5
       exch2_opposingSend_record(2,113)=1

       exch2_neighbourId(3,113)=114
       exch2_pi(1,3,113)=1
       exch2_pi(2,3,113)=0
       exch2_pj(1,3,113)=0
       exch2_pj(2,3,113)=1
       exch2_oi(3,113)=0
       exch2_oi_f(3,113)=0
       exch2_oj(3,113)=0
       exch2_oj_f(3,113)=0
       exch2_itlo_c(3,113)=0
       exch2_ithi_c(3,113)=0
       exch2_jtlo_c(3,113)=0
       exch2_jthi_c(3,113)=5
       exch2_opposingSend_record(3,113)=4

       exch2_neighbourId(4,113)=112
       exch2_pi(1,4,113)=1
       exch2_pi(2,4,113)=0
       exch2_pj(1,4,113)=0
       exch2_pj(2,4,113)=1
       exch2_oi(4,113)=0
       exch2_oi_f(4,113)=0
       exch2_oj(4,113)=0
       exch2_oj_f(4,113)=0
       exch2_itlo_c(4,113)=9
       exch2_ithi_c(4,113)=9
       exch2_jtlo_c(4,113)=0
       exch2_jthi_c(4,113)=5
       exch2_opposingSend_record(4,113)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_114
C      Topology for tile 114
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(114)=8
       exch2_tny(114)=4
       exch2_tbasex(114)=24
       exch2_tbasey(114)=28
       exch2_txglobalo(114)=121
       exch2_tyglobalo(114)=29
       exch2_isWedge(114)=0
       exch2_isNedge(114)=1
       exch2_isEedge(114)=1
       exch2_isSedge(114)=0
       exch2_myFace(114)=4
       exch2_mydnx(114)=32
       exch2_mydny(114)=32
       exch2_nNeighbours(114)=4

       exch2_neighbourId(1,114)=118
       exch2_pi(1,1,114)=1
       exch2_pi(2,1,114)=0
       exch2_pj(1,1,114)=0
       exch2_pj(2,1,114)=1
       exch2_oi(1,114)=0
       exch2_oi_f(1,114)=0
       exch2_oj(1,114)=32
       exch2_oj_f(1,114)=32
       exch2_itlo_c(1,114)=0
       exch2_ithi_c(1,114)=9
       exch2_jtlo_c(1,114)=0
       exch2_jthi_c(1,114)=0
       exch2_opposingSend_record(1,114)=2

       exch2_neighbourId(2,114)=110
       exch2_pi(1,2,114)=1
       exch2_pi(2,2,114)=0
       exch2_pj(1,2,114)=0
       exch2_pj(2,2,114)=1
       exch2_oi(2,114)=0
       exch2_oi_f(2,114)=0
       exch2_oj(2,114)=0
       exch2_oj_f(2,114)=0
       exch2_itlo_c(2,114)=1
       exch2_ithi_c(2,114)=8
       exch2_jtlo_c(2,114)=5
       exch2_jthi_c(2,114)=5
       exch2_opposingSend_record(2,114)=1

       exch2_neighbourId(3,114)=145
       exch2_pi(1,3,114)=0
       exch2_pi(2,3,114)=1
       exch2_pj(1,3,114)=-1
       exch2_pj(2,3,114)=0
       exch2_oi(3,114)=32
       exch2_oi_f(3,114)=32
       exch2_oj(3,114)=33
       exch2_oj_f(3,114)=34
       exch2_itlo_c(3,114)=0
       exch2_ithi_c(3,114)=5
       exch2_jtlo_c(3,114)=0
       exch2_jthi_c(3,114)=0
       exch2_opposingSend_record(3,114)=3

       exch2_neighbourId(4,114)=113
       exch2_pi(1,4,114)=1
       exch2_pi(2,4,114)=0
       exch2_pj(1,4,114)=0
       exch2_pj(2,4,114)=1
       exch2_oi(4,114)=0
       exch2_oi_f(4,114)=0
       exch2_oj(4,114)=0
       exch2_oj_f(4,114)=0
       exch2_itlo_c(4,114)=9
       exch2_ithi_c(4,114)=9
       exch2_jtlo_c(4,114)=0
       exch2_jthi_c(4,114)=5
       exch2_opposingSend_record(4,114)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_115
C      Topology for tile 115
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(115)=8
       exch2_tny(115)=4
       exch2_tbasex(115)=0
       exch2_tbasey(115)=0
       exch2_txglobalo(115)=129
       exch2_tyglobalo(115)=1
       exch2_isWedge(115)=1
       exch2_isNedge(115)=0
       exch2_isEedge(115)=0
       exch2_isSedge(115)=1
       exch2_myFace(115)=5
       exch2_mydnx(115)=32
       exch2_mydny(115)=32
       exch2_nNeighbours(115)=4

       exch2_neighbourId(1,115)=119
       exch2_pi(1,1,115)=1
       exch2_pi(2,1,115)=0
       exch2_pj(1,1,115)=0
       exch2_pj(2,1,115)=1
       exch2_oi(1,115)=0
       exch2_oi_f(1,115)=0
       exch2_oj(1,115)=0
       exch2_oj_f(1,115)=0
       exch2_itlo_c(1,115)=0
       exch2_ithi_c(1,115)=9
       exch2_jtlo_c(1,115)=0
       exch2_jthi_c(1,115)=0
       exch2_opposingSend_record(1,115)=2

       exch2_neighbourId(2,115)=111
       exch2_pi(1,2,115)=1
       exch2_pi(2,2,115)=0
       exch2_pj(1,2,115)=0
       exch2_pj(2,2,115)=1
       exch2_oi(2,115)=0
       exch2_oi_f(2,115)=0
       exch2_oj(2,115)=-32
       exch2_oj_f(2,115)=-32
       exch2_itlo_c(2,115)=0
       exch2_ithi_c(2,115)=9
       exch2_jtlo_c(2,115)=5
       exch2_jthi_c(2,115)=5
       exch2_opposingSend_record(2,115)=1

       exch2_neighbourId(3,115)=116
       exch2_pi(1,3,115)=1
       exch2_pi(2,3,115)=0
       exch2_pj(1,3,115)=0
       exch2_pj(2,3,115)=1
       exch2_oi(3,115)=0
       exch2_oi_f(3,115)=0
       exch2_oj(3,115)=0
       exch2_oj_f(3,115)=0
       exch2_itlo_c(3,115)=0
       exch2_ithi_c(3,115)=0
       exch2_jtlo_c(3,115)=0
       exch2_jthi_c(3,115)=5
       exch2_opposingSend_record(3,115)=4

       exch2_neighbourId(4,115)=82
       exch2_pi(1,4,115)=0
       exch2_pi(2,4,115)=1
       exch2_pj(1,4,115)=-1
       exch2_pj(2,4,115)=0
       exch2_oi(4,115)=-32
       exch2_oi_f(4,115)=-32
       exch2_oj(4,115)=33
       exch2_oj_f(4,115)=34
       exch2_itlo_c(4,115)=4
       exch2_ithi_c(4,115)=9
       exch2_jtlo_c(4,115)=5
       exch2_jthi_c(4,115)=5
       exch2_opposingSend_record(4,115)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_116
C      Topology for tile 116
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(116)=8
       exch2_tny(116)=4
       exch2_tbasex(116)=8
       exch2_tbasey(116)=0
       exch2_txglobalo(116)=137
       exch2_tyglobalo(116)=1
       exch2_isWedge(116)=0
       exch2_isNedge(116)=0
       exch2_isEedge(116)=0
       exch2_isSedge(116)=1
       exch2_myFace(116)=5
       exch2_mydnx(116)=32
       exch2_mydny(116)=32
       exch2_nNeighbours(116)=4

       exch2_neighbourId(1,116)=120
       exch2_pi(1,1,116)=1
       exch2_pi(2,1,116)=0
       exch2_pj(1,1,116)=0
       exch2_pj(2,1,116)=1
       exch2_oi(1,116)=0
       exch2_oi_f(1,116)=0
       exch2_oj(1,116)=0
       exch2_oj_f(1,116)=0
       exch2_itlo_c(1,116)=0
       exch2_ithi_c(1,116)=9
       exch2_jtlo_c(1,116)=0
       exch2_jthi_c(1,116)=0
       exch2_opposingSend_record(1,116)=2

       exch2_neighbourId(2,116)=112
       exch2_pi(1,2,116)=1
       exch2_pi(2,2,116)=0
       exch2_pj(1,2,116)=0
       exch2_pj(2,2,116)=1
       exch2_oi(2,116)=0
       exch2_oi_f(2,116)=0
       exch2_oj(2,116)=-32
       exch2_oj_f(2,116)=-32
       exch2_itlo_c(2,116)=0
       exch2_ithi_c(2,116)=9
       exch2_jtlo_c(2,116)=5
       exch2_jthi_c(2,116)=5
       exch2_opposingSend_record(2,116)=1

       exch2_neighbourId(3,116)=117
       exch2_pi(1,3,116)=1
       exch2_pi(2,3,116)=0
       exch2_pj(1,3,116)=0
       exch2_pj(2,3,116)=1
       exch2_oi(3,116)=0
       exch2_oi_f(3,116)=0
       exch2_oj(3,116)=0
       exch2_oj_f(3,116)=0
       exch2_itlo_c(3,116)=0
       exch2_ithi_c(3,116)=0
       exch2_jtlo_c(3,116)=0
       exch2_jthi_c(3,116)=5
       exch2_opposingSend_record(3,116)=4

       exch2_neighbourId(4,116)=115
       exch2_pi(1,4,116)=1
       exch2_pi(2,4,116)=0
       exch2_pj(1,4,116)=0
       exch2_pj(2,4,116)=1
       exch2_oi(4,116)=0
       exch2_oi_f(4,116)=0
       exch2_oj(4,116)=0
       exch2_oj_f(4,116)=0
       exch2_itlo_c(4,116)=9
       exch2_ithi_c(4,116)=9
       exch2_jtlo_c(4,116)=0
       exch2_jthi_c(4,116)=5
       exch2_opposingSend_record(4,116)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_117
C      Topology for tile 117
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(117)=8
       exch2_tny(117)=4
       exch2_tbasex(117)=16
       exch2_tbasey(117)=0
       exch2_txglobalo(117)=145
       exch2_tyglobalo(117)=1
       exch2_isWedge(117)=0
       exch2_isNedge(117)=0
       exch2_isEedge(117)=0
       exch2_isSedge(117)=1
       exch2_myFace(117)=5
       exch2_mydnx(117)=32
       exch2_mydny(117)=32
       exch2_nNeighbours(117)=4

       exch2_neighbourId(1,117)=121
       exch2_pi(1,1,117)=1
       exch2_pi(2,1,117)=0
       exch2_pj(1,1,117)=0
       exch2_pj(2,1,117)=1
       exch2_oi(1,117)=0
       exch2_oi_f(1,117)=0
       exch2_oj(1,117)=0
       exch2_oj_f(1,117)=0
       exch2_itlo_c(1,117)=0
       exch2_ithi_c(1,117)=9
       exch2_jtlo_c(1,117)=0
       exch2_jthi_c(1,117)=0
       exch2_opposingSend_record(1,117)=2

       exch2_neighbourId(2,117)=113
       exch2_pi(1,2,117)=1
       exch2_pi(2,2,117)=0
       exch2_pj(1,2,117)=0
       exch2_pj(2,2,117)=1
       exch2_oi(2,117)=0
       exch2_oi_f(2,117)=0
       exch2_oj(2,117)=-32
       exch2_oj_f(2,117)=-32
       exch2_itlo_c(2,117)=0
       exch2_ithi_c(2,117)=9
       exch2_jtlo_c(2,117)=5
       exch2_jthi_c(2,117)=5
       exch2_opposingSend_record(2,117)=1

       exch2_neighbourId(3,117)=118
       exch2_pi(1,3,117)=1
       exch2_pi(2,3,117)=0
       exch2_pj(1,3,117)=0
       exch2_pj(2,3,117)=1
       exch2_oi(3,117)=0
       exch2_oi_f(3,117)=0
       exch2_oj(3,117)=0
       exch2_oj_f(3,117)=0
       exch2_itlo_c(3,117)=0
       exch2_ithi_c(3,117)=0
       exch2_jtlo_c(3,117)=0
       exch2_jthi_c(3,117)=5
       exch2_opposingSend_record(3,117)=4

       exch2_neighbourId(4,117)=116
       exch2_pi(1,4,117)=1
       exch2_pi(2,4,117)=0
       exch2_pj(1,4,117)=0
       exch2_pj(2,4,117)=1
       exch2_oi(4,117)=0
       exch2_oi_f(4,117)=0
       exch2_oj(4,117)=0
       exch2_oj_f(4,117)=0
       exch2_itlo_c(4,117)=9
       exch2_ithi_c(4,117)=9
       exch2_jtlo_c(4,117)=0
       exch2_jthi_c(4,117)=5
       exch2_opposingSend_record(4,117)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_118
C      Topology for tile 118
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(118)=8
       exch2_tny(118)=4
       exch2_tbasex(118)=24
       exch2_tbasey(118)=0
       exch2_txglobalo(118)=153
       exch2_tyglobalo(118)=1
       exch2_isWedge(118)=0
       exch2_isNedge(118)=0
       exch2_isEedge(118)=1
       exch2_isSedge(118)=1
       exch2_myFace(118)=5
       exch2_mydnx(118)=32
       exch2_mydny(118)=32
       exch2_nNeighbours(118)=4

       exch2_neighbourId(1,118)=122
       exch2_pi(1,1,118)=1
       exch2_pi(2,1,118)=0
       exch2_pj(1,1,118)=0
       exch2_pj(2,1,118)=1
       exch2_oi(1,118)=0
       exch2_oi_f(1,118)=0
       exch2_oj(1,118)=0
       exch2_oj_f(1,118)=0
       exch2_itlo_c(1,118)=0
       exch2_ithi_c(1,118)=9
       exch2_jtlo_c(1,118)=0
       exch2_jthi_c(1,118)=0
       exch2_opposingSend_record(1,118)=2

       exch2_neighbourId(2,118)=114
       exch2_pi(1,2,118)=1
       exch2_pi(2,2,118)=0
       exch2_pj(1,2,118)=0
       exch2_pj(2,2,118)=1
       exch2_oi(2,118)=0
       exch2_oi_f(2,118)=0
       exch2_oj(2,118)=-32
       exch2_oj_f(2,118)=-32
       exch2_itlo_c(2,118)=0
       exch2_ithi_c(2,118)=9
       exch2_jtlo_c(2,118)=5
       exch2_jthi_c(2,118)=5
       exch2_opposingSend_record(2,118)=1

       exch2_neighbourId(3,118)=145
       exch2_pi(1,3,118)=1
       exch2_pi(2,3,118)=0
       exch2_pj(1,3,118)=0
       exch2_pj(2,3,118)=1
       exch2_oi(3,118)=32
       exch2_oi_f(3,118)=32
       exch2_oj(3,118)=0
       exch2_oj_f(3,118)=0
       exch2_itlo_c(3,118)=0
       exch2_ithi_c(3,118)=0
       exch2_jtlo_c(3,118)=0
       exch2_jthi_c(3,118)=5
       exch2_opposingSend_record(3,118)=5

       exch2_neighbourId(4,118)=117
       exch2_pi(1,4,118)=1
       exch2_pi(2,4,118)=0
       exch2_pj(1,4,118)=0
       exch2_pj(2,4,118)=1
       exch2_oi(4,118)=0
       exch2_oi_f(4,118)=0
       exch2_oj(4,118)=0
       exch2_oj_f(4,118)=0
       exch2_itlo_c(4,118)=9
       exch2_ithi_c(4,118)=9
       exch2_jtlo_c(4,118)=0
       exch2_jthi_c(4,118)=5
       exch2_opposingSend_record(4,118)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_119
C      Topology for tile 119
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(119)=8
       exch2_tny(119)=4
       exch2_tbasex(119)=0
       exch2_tbasey(119)=4
       exch2_txglobalo(119)=129
       exch2_tyglobalo(119)=5
       exch2_isWedge(119)=1
       exch2_isNedge(119)=0
       exch2_isEedge(119)=0
       exch2_isSedge(119)=0
       exch2_myFace(119)=5
       exch2_mydnx(119)=32
       exch2_mydny(119)=32
       exch2_nNeighbours(119)=4

       exch2_neighbourId(1,119)=123
       exch2_pi(1,1,119)=1
       exch2_pi(2,1,119)=0
       exch2_pj(1,1,119)=0
       exch2_pj(2,1,119)=1
       exch2_oi(1,119)=0
       exch2_oi_f(1,119)=0
       exch2_oj(1,119)=0
       exch2_oj_f(1,119)=0
       exch2_itlo_c(1,119)=0
       exch2_ithi_c(1,119)=9
       exch2_jtlo_c(1,119)=0
       exch2_jthi_c(1,119)=0
       exch2_opposingSend_record(1,119)=2

       exch2_neighbourId(2,119)=115
       exch2_pi(1,2,119)=1
       exch2_pi(2,2,119)=0
       exch2_pj(1,2,119)=0
       exch2_pj(2,2,119)=1
       exch2_oi(2,119)=0
       exch2_oi_f(2,119)=0
       exch2_oj(2,119)=0
       exch2_oj_f(2,119)=0
       exch2_itlo_c(2,119)=1
       exch2_ithi_c(2,119)=8
       exch2_jtlo_c(2,119)=5
       exch2_jthi_c(2,119)=5
       exch2_opposingSend_record(2,119)=1

       exch2_neighbourId(3,119)=120
       exch2_pi(1,3,119)=1
       exch2_pi(2,3,119)=0
       exch2_pj(1,3,119)=0
       exch2_pj(2,3,119)=1
       exch2_oi(3,119)=0
       exch2_oi_f(3,119)=0
       exch2_oj(3,119)=0
       exch2_oj_f(3,119)=0
       exch2_itlo_c(3,119)=0
       exch2_ithi_c(3,119)=0
       exch2_jtlo_c(3,119)=0
       exch2_jthi_c(3,119)=5
       exch2_opposingSend_record(3,119)=4

       exch2_neighbourId(4,119)=82
       exch2_pi(1,4,119)=0
       exch2_pi(2,4,119)=1
       exch2_pj(1,4,119)=-1
       exch2_pj(2,4,119)=0
       exch2_oi(4,119)=-32
       exch2_oi_f(4,119)=-32
       exch2_oj(4,119)=33
       exch2_oj_f(4,119)=34
       exch2_itlo_c(4,119)=0
       exch2_ithi_c(4,119)=5
       exch2_jtlo_c(4,119)=5
       exch2_jthi_c(4,119)=5
       exch2_opposingSend_record(4,119)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_120
C      Topology for tile 120
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(120)=8
       exch2_tny(120)=4
       exch2_tbasex(120)=8
       exch2_tbasey(120)=4
       exch2_txglobalo(120)=137
       exch2_tyglobalo(120)=5
       exch2_isWedge(120)=0
       exch2_isNedge(120)=0
       exch2_isEedge(120)=0
       exch2_isSedge(120)=0
       exch2_myFace(120)=5
       exch2_mydnx(120)=32
       exch2_mydny(120)=32
       exch2_nNeighbours(120)=4

       exch2_neighbourId(1,120)=124
       exch2_pi(1,1,120)=1
       exch2_pi(2,1,120)=0
       exch2_pj(1,1,120)=0
       exch2_pj(2,1,120)=1
       exch2_oi(1,120)=0
       exch2_oi_f(1,120)=0
       exch2_oj(1,120)=0
       exch2_oj_f(1,120)=0
       exch2_itlo_c(1,120)=0
       exch2_ithi_c(1,120)=9
       exch2_jtlo_c(1,120)=0
       exch2_jthi_c(1,120)=0
       exch2_opposingSend_record(1,120)=2

       exch2_neighbourId(2,120)=116
       exch2_pi(1,2,120)=1
       exch2_pi(2,2,120)=0
       exch2_pj(1,2,120)=0
       exch2_pj(2,2,120)=1
       exch2_oi(2,120)=0
       exch2_oi_f(2,120)=0
       exch2_oj(2,120)=0
       exch2_oj_f(2,120)=0
       exch2_itlo_c(2,120)=1
       exch2_ithi_c(2,120)=8
       exch2_jtlo_c(2,120)=5
       exch2_jthi_c(2,120)=5
       exch2_opposingSend_record(2,120)=1

       exch2_neighbourId(3,120)=121
       exch2_pi(1,3,120)=1
       exch2_pi(2,3,120)=0
       exch2_pj(1,3,120)=0
       exch2_pj(2,3,120)=1
       exch2_oi(3,120)=0
       exch2_oi_f(3,120)=0
       exch2_oj(3,120)=0
       exch2_oj_f(3,120)=0
       exch2_itlo_c(3,120)=0
       exch2_ithi_c(3,120)=0
       exch2_jtlo_c(3,120)=0
       exch2_jthi_c(3,120)=5
       exch2_opposingSend_record(3,120)=4

       exch2_neighbourId(4,120)=119
       exch2_pi(1,4,120)=1
       exch2_pi(2,4,120)=0
       exch2_pj(1,4,120)=0
       exch2_pj(2,4,120)=1
       exch2_oi(4,120)=0
       exch2_oi_f(4,120)=0
       exch2_oj(4,120)=0
       exch2_oj_f(4,120)=0
       exch2_itlo_c(4,120)=9
       exch2_ithi_c(4,120)=9
       exch2_jtlo_c(4,120)=0
       exch2_jthi_c(4,120)=5
       exch2_opposingSend_record(4,120)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_121
C      Topology for tile 121
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(121)=8
       exch2_tny(121)=4
       exch2_tbasex(121)=16
       exch2_tbasey(121)=4
       exch2_txglobalo(121)=145
       exch2_tyglobalo(121)=5
       exch2_isWedge(121)=0
       exch2_isNedge(121)=0
       exch2_isEedge(121)=0
       exch2_isSedge(121)=0
       exch2_myFace(121)=5
       exch2_mydnx(121)=32
       exch2_mydny(121)=32
       exch2_nNeighbours(121)=4

       exch2_neighbourId(1,121)=125
       exch2_pi(1,1,121)=1
       exch2_pi(2,1,121)=0
       exch2_pj(1,1,121)=0
       exch2_pj(2,1,121)=1
       exch2_oi(1,121)=0
       exch2_oi_f(1,121)=0
       exch2_oj(1,121)=0
       exch2_oj_f(1,121)=0
       exch2_itlo_c(1,121)=0
       exch2_ithi_c(1,121)=9
       exch2_jtlo_c(1,121)=0
       exch2_jthi_c(1,121)=0
       exch2_opposingSend_record(1,121)=2

       exch2_neighbourId(2,121)=117
       exch2_pi(1,2,121)=1
       exch2_pi(2,2,121)=0
       exch2_pj(1,2,121)=0
       exch2_pj(2,2,121)=1
       exch2_oi(2,121)=0
       exch2_oi_f(2,121)=0
       exch2_oj(2,121)=0
       exch2_oj_f(2,121)=0
       exch2_itlo_c(2,121)=1
       exch2_ithi_c(2,121)=8
       exch2_jtlo_c(2,121)=5
       exch2_jthi_c(2,121)=5
       exch2_opposingSend_record(2,121)=1

       exch2_neighbourId(3,121)=122
       exch2_pi(1,3,121)=1
       exch2_pi(2,3,121)=0
       exch2_pj(1,3,121)=0
       exch2_pj(2,3,121)=1
       exch2_oi(3,121)=0
       exch2_oi_f(3,121)=0
       exch2_oj(3,121)=0
       exch2_oj_f(3,121)=0
       exch2_itlo_c(3,121)=0
       exch2_ithi_c(3,121)=0
       exch2_jtlo_c(3,121)=0
       exch2_jthi_c(3,121)=5
       exch2_opposingSend_record(3,121)=4

       exch2_neighbourId(4,121)=120
       exch2_pi(1,4,121)=1
       exch2_pi(2,4,121)=0
       exch2_pj(1,4,121)=0
       exch2_pj(2,4,121)=1
       exch2_oi(4,121)=0
       exch2_oi_f(4,121)=0
       exch2_oj(4,121)=0
       exch2_oj_f(4,121)=0
       exch2_itlo_c(4,121)=9
       exch2_ithi_c(4,121)=9
       exch2_jtlo_c(4,121)=0
       exch2_jthi_c(4,121)=5
       exch2_opposingSend_record(4,121)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_122
C      Topology for tile 122
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(122)=8
       exch2_tny(122)=4
       exch2_tbasex(122)=24
       exch2_tbasey(122)=4
       exch2_txglobalo(122)=153
       exch2_tyglobalo(122)=5
       exch2_isWedge(122)=0
       exch2_isNedge(122)=0
       exch2_isEedge(122)=1
       exch2_isSedge(122)=0
       exch2_myFace(122)=5
       exch2_mydnx(122)=32
       exch2_mydny(122)=32
       exch2_nNeighbours(122)=4

       exch2_neighbourId(1,122)=126
       exch2_pi(1,1,122)=1
       exch2_pi(2,1,122)=0
       exch2_pj(1,1,122)=0
       exch2_pj(2,1,122)=1
       exch2_oi(1,122)=0
       exch2_oi_f(1,122)=0
       exch2_oj(1,122)=0
       exch2_oj_f(1,122)=0
       exch2_itlo_c(1,122)=0
       exch2_ithi_c(1,122)=9
       exch2_jtlo_c(1,122)=0
       exch2_jthi_c(1,122)=0
       exch2_opposingSend_record(1,122)=2

       exch2_neighbourId(2,122)=118
       exch2_pi(1,2,122)=1
       exch2_pi(2,2,122)=0
       exch2_pj(1,2,122)=0
       exch2_pj(2,2,122)=1
       exch2_oi(2,122)=0
       exch2_oi_f(2,122)=0
       exch2_oj(2,122)=0
       exch2_oj_f(2,122)=0
       exch2_itlo_c(2,122)=1
       exch2_ithi_c(2,122)=8
       exch2_jtlo_c(2,122)=5
       exch2_jthi_c(2,122)=5
       exch2_opposingSend_record(2,122)=1

       exch2_neighbourId(3,122)=149
       exch2_pi(1,3,122)=1
       exch2_pi(2,3,122)=0
       exch2_pj(1,3,122)=0
       exch2_pj(2,3,122)=1
       exch2_oi(3,122)=32
       exch2_oi_f(3,122)=32
       exch2_oj(3,122)=0
       exch2_oj_f(3,122)=0
       exch2_itlo_c(3,122)=0
       exch2_ithi_c(3,122)=0
       exch2_jtlo_c(3,122)=0
       exch2_jthi_c(3,122)=5
       exch2_opposingSend_record(3,122)=4

       exch2_neighbourId(4,122)=121
       exch2_pi(1,4,122)=1
       exch2_pi(2,4,122)=0
       exch2_pj(1,4,122)=0
       exch2_pj(2,4,122)=1
       exch2_oi(4,122)=0
       exch2_oi_f(4,122)=0
       exch2_oj(4,122)=0
       exch2_oj_f(4,122)=0
       exch2_itlo_c(4,122)=9
       exch2_ithi_c(4,122)=9
       exch2_jtlo_c(4,122)=0
       exch2_jthi_c(4,122)=5
       exch2_opposingSend_record(4,122)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_123
C      Topology for tile 123
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(123)=8
       exch2_tny(123)=4
       exch2_tbasex(123)=0
       exch2_tbasey(123)=8
       exch2_txglobalo(123)=129
       exch2_tyglobalo(123)=9
       exch2_isWedge(123)=1
       exch2_isNedge(123)=0
       exch2_isEedge(123)=0
       exch2_isSedge(123)=0
       exch2_myFace(123)=5
       exch2_mydnx(123)=32
       exch2_mydny(123)=32
       exch2_nNeighbours(123)=3

       exch2_neighbourId(1,123)=127
       exch2_pi(1,1,123)=1
       exch2_pi(2,1,123)=0
       exch2_pj(1,1,123)=0
       exch2_pj(2,1,123)=1
       exch2_oi(1,123)=0
       exch2_oi_f(1,123)=0
       exch2_oj(1,123)=0
       exch2_oj_f(1,123)=0
       exch2_itlo_c(1,123)=0
       exch2_ithi_c(1,123)=9
       exch2_jtlo_c(1,123)=0
       exch2_jthi_c(1,123)=0
       exch2_opposingSend_record(1,123)=2

       exch2_neighbourId(2,123)=119
       exch2_pi(1,2,123)=1
       exch2_pi(2,2,123)=0
       exch2_pj(1,2,123)=0
       exch2_pj(2,2,123)=1
       exch2_oi(2,123)=0
       exch2_oi_f(2,123)=0
       exch2_oj(2,123)=0
       exch2_oj_f(2,123)=0
       exch2_itlo_c(2,123)=1
       exch2_ithi_c(2,123)=8
       exch2_jtlo_c(2,123)=5
       exch2_jthi_c(2,123)=5
       exch2_opposingSend_record(2,123)=1

       exch2_neighbourId(3,123)=124
       exch2_pi(1,3,123)=1
       exch2_pi(2,3,123)=0
       exch2_pj(1,3,123)=0
       exch2_pj(2,3,123)=1
       exch2_oi(3,123)=0
       exch2_oi_f(3,123)=0
       exch2_oj(3,123)=0
       exch2_oj_f(3,123)=0
       exch2_itlo_c(3,123)=0
       exch2_ithi_c(3,123)=0
       exch2_jtlo_c(3,123)=0
       exch2_jthi_c(3,123)=5
       exch2_opposingSend_record(3,123)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_124
C      Topology for tile 124
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(124)=8
       exch2_tny(124)=4
       exch2_tbasex(124)=8
       exch2_tbasey(124)=8
       exch2_txglobalo(124)=137
       exch2_tyglobalo(124)=9
       exch2_isWedge(124)=0
       exch2_isNedge(124)=0
       exch2_isEedge(124)=0
       exch2_isSedge(124)=0
       exch2_myFace(124)=5
       exch2_mydnx(124)=32
       exch2_mydny(124)=32
       exch2_nNeighbours(124)=4

       exch2_neighbourId(1,124)=128
       exch2_pi(1,1,124)=1
       exch2_pi(2,1,124)=0
       exch2_pj(1,1,124)=0
       exch2_pj(2,1,124)=1
       exch2_oi(1,124)=0
       exch2_oi_f(1,124)=0
       exch2_oj(1,124)=0
       exch2_oj_f(1,124)=0
       exch2_itlo_c(1,124)=0
       exch2_ithi_c(1,124)=9
       exch2_jtlo_c(1,124)=0
       exch2_jthi_c(1,124)=0
       exch2_opposingSend_record(1,124)=2

       exch2_neighbourId(2,124)=120
       exch2_pi(1,2,124)=1
       exch2_pi(2,2,124)=0
       exch2_pj(1,2,124)=0
       exch2_pj(2,2,124)=1
       exch2_oi(2,124)=0
       exch2_oi_f(2,124)=0
       exch2_oj(2,124)=0
       exch2_oj_f(2,124)=0
       exch2_itlo_c(2,124)=1
       exch2_ithi_c(2,124)=8
       exch2_jtlo_c(2,124)=5
       exch2_jthi_c(2,124)=5
       exch2_opposingSend_record(2,124)=1

       exch2_neighbourId(3,124)=125
       exch2_pi(1,3,124)=1
       exch2_pi(2,3,124)=0
       exch2_pj(1,3,124)=0
       exch2_pj(2,3,124)=1
       exch2_oi(3,124)=0
       exch2_oi_f(3,124)=0
       exch2_oj(3,124)=0
       exch2_oj_f(3,124)=0
       exch2_itlo_c(3,124)=0
       exch2_ithi_c(3,124)=0
       exch2_jtlo_c(3,124)=0
       exch2_jthi_c(3,124)=5
       exch2_opposingSend_record(3,124)=4

       exch2_neighbourId(4,124)=123
       exch2_pi(1,4,124)=1
       exch2_pi(2,4,124)=0
       exch2_pj(1,4,124)=0
       exch2_pj(2,4,124)=1
       exch2_oi(4,124)=0
       exch2_oi_f(4,124)=0
       exch2_oj(4,124)=0
       exch2_oj_f(4,124)=0
       exch2_itlo_c(4,124)=9
       exch2_ithi_c(4,124)=9
       exch2_jtlo_c(4,124)=0
       exch2_jthi_c(4,124)=5
       exch2_opposingSend_record(4,124)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_125
C      Topology for tile 125
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(125)=8
       exch2_tny(125)=4
       exch2_tbasex(125)=16
       exch2_tbasey(125)=8
       exch2_txglobalo(125)=145
       exch2_tyglobalo(125)=9
       exch2_isWedge(125)=0
       exch2_isNedge(125)=0
       exch2_isEedge(125)=0
       exch2_isSedge(125)=0
       exch2_myFace(125)=5
       exch2_mydnx(125)=32
       exch2_mydny(125)=32
       exch2_nNeighbours(125)=4

       exch2_neighbourId(1,125)=129
       exch2_pi(1,1,125)=1
       exch2_pi(2,1,125)=0
       exch2_pj(1,1,125)=0
       exch2_pj(2,1,125)=1
       exch2_oi(1,125)=0
       exch2_oi_f(1,125)=0
       exch2_oj(1,125)=0
       exch2_oj_f(1,125)=0
       exch2_itlo_c(1,125)=0
       exch2_ithi_c(1,125)=9
       exch2_jtlo_c(1,125)=0
       exch2_jthi_c(1,125)=0
       exch2_opposingSend_record(1,125)=2

       exch2_neighbourId(2,125)=121
       exch2_pi(1,2,125)=1
       exch2_pi(2,2,125)=0
       exch2_pj(1,2,125)=0
       exch2_pj(2,2,125)=1
       exch2_oi(2,125)=0
       exch2_oi_f(2,125)=0
       exch2_oj(2,125)=0
       exch2_oj_f(2,125)=0
       exch2_itlo_c(2,125)=1
       exch2_ithi_c(2,125)=8
       exch2_jtlo_c(2,125)=5
       exch2_jthi_c(2,125)=5
       exch2_opposingSend_record(2,125)=1

       exch2_neighbourId(3,125)=126
       exch2_pi(1,3,125)=1
       exch2_pi(2,3,125)=0
       exch2_pj(1,3,125)=0
       exch2_pj(2,3,125)=1
       exch2_oi(3,125)=0
       exch2_oi_f(3,125)=0
       exch2_oj(3,125)=0
       exch2_oj_f(3,125)=0
       exch2_itlo_c(3,125)=0
       exch2_ithi_c(3,125)=0
       exch2_jtlo_c(3,125)=0
       exch2_jthi_c(3,125)=5
       exch2_opposingSend_record(3,125)=4

       exch2_neighbourId(4,125)=124
       exch2_pi(1,4,125)=1
       exch2_pi(2,4,125)=0
       exch2_pj(1,4,125)=0
       exch2_pj(2,4,125)=1
       exch2_oi(4,125)=0
       exch2_oi_f(4,125)=0
       exch2_oj(4,125)=0
       exch2_oj_f(4,125)=0
       exch2_itlo_c(4,125)=9
       exch2_ithi_c(4,125)=9
       exch2_jtlo_c(4,125)=0
       exch2_jthi_c(4,125)=5
       exch2_opposingSend_record(4,125)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_126
C      Topology for tile 126
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(126)=8
       exch2_tny(126)=4
       exch2_tbasex(126)=24
       exch2_tbasey(126)=8
       exch2_txglobalo(126)=153
       exch2_tyglobalo(126)=9
       exch2_isWedge(126)=0
       exch2_isNedge(126)=0
       exch2_isEedge(126)=1
       exch2_isSedge(126)=0
       exch2_myFace(126)=5
       exch2_mydnx(126)=32
       exch2_mydny(126)=32
       exch2_nNeighbours(126)=4

       exch2_neighbourId(1,126)=130
       exch2_pi(1,1,126)=1
       exch2_pi(2,1,126)=0
       exch2_pj(1,1,126)=0
       exch2_pj(2,1,126)=1
       exch2_oi(1,126)=0
       exch2_oi_f(1,126)=0
       exch2_oj(1,126)=0
       exch2_oj_f(1,126)=0
       exch2_itlo_c(1,126)=0
       exch2_ithi_c(1,126)=9
       exch2_jtlo_c(1,126)=0
       exch2_jthi_c(1,126)=0
       exch2_opposingSend_record(1,126)=2

       exch2_neighbourId(2,126)=122
       exch2_pi(1,2,126)=1
       exch2_pi(2,2,126)=0
       exch2_pj(1,2,126)=0
       exch2_pj(2,2,126)=1
       exch2_oi(2,126)=0
       exch2_oi_f(2,126)=0
       exch2_oj(2,126)=0
       exch2_oj_f(2,126)=0
       exch2_itlo_c(2,126)=1
       exch2_ithi_c(2,126)=8
       exch2_jtlo_c(2,126)=5
       exch2_jthi_c(2,126)=5
       exch2_opposingSend_record(2,126)=1

       exch2_neighbourId(3,126)=153
       exch2_pi(1,3,126)=1
       exch2_pi(2,3,126)=0
       exch2_pj(1,3,126)=0
       exch2_pj(2,3,126)=1
       exch2_oi(3,126)=32
       exch2_oi_f(3,126)=32
       exch2_oj(3,126)=0
       exch2_oj_f(3,126)=0
       exch2_itlo_c(3,126)=0
       exch2_ithi_c(3,126)=0
       exch2_jtlo_c(3,126)=0
       exch2_jthi_c(3,126)=5
       exch2_opposingSend_record(3,126)=4

       exch2_neighbourId(4,126)=125
       exch2_pi(1,4,126)=1
       exch2_pi(2,4,126)=0
       exch2_pj(1,4,126)=0
       exch2_pj(2,4,126)=1
       exch2_oi(4,126)=0
       exch2_oi_f(4,126)=0
       exch2_oj(4,126)=0
       exch2_oj_f(4,126)=0
       exch2_itlo_c(4,126)=9
       exch2_ithi_c(4,126)=9
       exch2_jtlo_c(4,126)=0
       exch2_jthi_c(4,126)=5
       exch2_opposingSend_record(4,126)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_127
C      Topology for tile 127
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(127)=8
       exch2_tny(127)=4
       exch2_tbasex(127)=0
       exch2_tbasey(127)=12
       exch2_txglobalo(127)=129
       exch2_tyglobalo(127)=13
       exch2_isWedge(127)=1
       exch2_isNedge(127)=0
       exch2_isEedge(127)=0
       exch2_isSedge(127)=0
       exch2_myFace(127)=5
       exch2_mydnx(127)=32
       exch2_mydny(127)=32
       exch2_nNeighbours(127)=3

       exch2_neighbourId(1,127)=131
       exch2_pi(1,1,127)=1
       exch2_pi(2,1,127)=0
       exch2_pj(1,1,127)=0
       exch2_pj(2,1,127)=1
       exch2_oi(1,127)=0
       exch2_oi_f(1,127)=0
       exch2_oj(1,127)=0
       exch2_oj_f(1,127)=0
       exch2_itlo_c(1,127)=0
       exch2_ithi_c(1,127)=9
       exch2_jtlo_c(1,127)=0
       exch2_jthi_c(1,127)=0
       exch2_opposingSend_record(1,127)=2

       exch2_neighbourId(2,127)=123
       exch2_pi(1,2,127)=1
       exch2_pi(2,2,127)=0
       exch2_pj(1,2,127)=0
       exch2_pj(2,2,127)=1
       exch2_oi(2,127)=0
       exch2_oi_f(2,127)=0
       exch2_oj(2,127)=0
       exch2_oj_f(2,127)=0
       exch2_itlo_c(2,127)=1
       exch2_ithi_c(2,127)=8
       exch2_jtlo_c(2,127)=5
       exch2_jthi_c(2,127)=5
       exch2_opposingSend_record(2,127)=1

       exch2_neighbourId(3,127)=128
       exch2_pi(1,3,127)=1
       exch2_pi(2,3,127)=0
       exch2_pj(1,3,127)=0
       exch2_pj(2,3,127)=1
       exch2_oi(3,127)=0
       exch2_oi_f(3,127)=0
       exch2_oj(3,127)=0
       exch2_oj_f(3,127)=0
       exch2_itlo_c(3,127)=0
       exch2_ithi_c(3,127)=0
       exch2_jtlo_c(3,127)=0
       exch2_jthi_c(3,127)=5
       exch2_opposingSend_record(3,127)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_128
C      Topology for tile 128
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(128)=8
       exch2_tny(128)=4
       exch2_tbasex(128)=8
       exch2_tbasey(128)=12
       exch2_txglobalo(128)=137
       exch2_tyglobalo(128)=13
       exch2_isWedge(128)=0
       exch2_isNedge(128)=0
       exch2_isEedge(128)=0
       exch2_isSedge(128)=0
       exch2_myFace(128)=5
       exch2_mydnx(128)=32
       exch2_mydny(128)=32
       exch2_nNeighbours(128)=4

       exch2_neighbourId(1,128)=132
       exch2_pi(1,1,128)=1
       exch2_pi(2,1,128)=0
       exch2_pj(1,1,128)=0
       exch2_pj(2,1,128)=1
       exch2_oi(1,128)=0
       exch2_oi_f(1,128)=0
       exch2_oj(1,128)=0
       exch2_oj_f(1,128)=0
       exch2_itlo_c(1,128)=0
       exch2_ithi_c(1,128)=9
       exch2_jtlo_c(1,128)=0
       exch2_jthi_c(1,128)=0
       exch2_opposingSend_record(1,128)=2

       exch2_neighbourId(2,128)=124
       exch2_pi(1,2,128)=1
       exch2_pi(2,2,128)=0
       exch2_pj(1,2,128)=0
       exch2_pj(2,2,128)=1
       exch2_oi(2,128)=0
       exch2_oi_f(2,128)=0
       exch2_oj(2,128)=0
       exch2_oj_f(2,128)=0
       exch2_itlo_c(2,128)=1
       exch2_ithi_c(2,128)=8
       exch2_jtlo_c(2,128)=5
       exch2_jthi_c(2,128)=5
       exch2_opposingSend_record(2,128)=1

       exch2_neighbourId(3,128)=129
       exch2_pi(1,3,128)=1
       exch2_pi(2,3,128)=0
       exch2_pj(1,3,128)=0
       exch2_pj(2,3,128)=1
       exch2_oi(3,128)=0
       exch2_oi_f(3,128)=0
       exch2_oj(3,128)=0
       exch2_oj_f(3,128)=0
       exch2_itlo_c(3,128)=0
       exch2_ithi_c(3,128)=0
       exch2_jtlo_c(3,128)=0
       exch2_jthi_c(3,128)=5
       exch2_opposingSend_record(3,128)=4

       exch2_neighbourId(4,128)=127
       exch2_pi(1,4,128)=1
       exch2_pi(2,4,128)=0
       exch2_pj(1,4,128)=0
       exch2_pj(2,4,128)=1
       exch2_oi(4,128)=0
       exch2_oi_f(4,128)=0
       exch2_oj(4,128)=0
       exch2_oj_f(4,128)=0
       exch2_itlo_c(4,128)=9
       exch2_ithi_c(4,128)=9
       exch2_jtlo_c(4,128)=0
       exch2_jthi_c(4,128)=5
       exch2_opposingSend_record(4,128)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_129
C      Topology for tile 129
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(129)=8
       exch2_tny(129)=4
       exch2_tbasex(129)=16
       exch2_tbasey(129)=12
       exch2_txglobalo(129)=145
       exch2_tyglobalo(129)=13
       exch2_isWedge(129)=0
       exch2_isNedge(129)=0
       exch2_isEedge(129)=0
       exch2_isSedge(129)=0
       exch2_myFace(129)=5
       exch2_mydnx(129)=32
       exch2_mydny(129)=32
       exch2_nNeighbours(129)=4

       exch2_neighbourId(1,129)=133
       exch2_pi(1,1,129)=1
       exch2_pi(2,1,129)=0
       exch2_pj(1,1,129)=0
       exch2_pj(2,1,129)=1
       exch2_oi(1,129)=0
       exch2_oi_f(1,129)=0
       exch2_oj(1,129)=0
       exch2_oj_f(1,129)=0
       exch2_itlo_c(1,129)=0
       exch2_ithi_c(1,129)=9
       exch2_jtlo_c(1,129)=0
       exch2_jthi_c(1,129)=0
       exch2_opposingSend_record(1,129)=2

       exch2_neighbourId(2,129)=125
       exch2_pi(1,2,129)=1
       exch2_pi(2,2,129)=0
       exch2_pj(1,2,129)=0
       exch2_pj(2,2,129)=1
       exch2_oi(2,129)=0
       exch2_oi_f(2,129)=0
       exch2_oj(2,129)=0
       exch2_oj_f(2,129)=0
       exch2_itlo_c(2,129)=1
       exch2_ithi_c(2,129)=8
       exch2_jtlo_c(2,129)=5
       exch2_jthi_c(2,129)=5
       exch2_opposingSend_record(2,129)=1

       exch2_neighbourId(3,129)=130
       exch2_pi(1,3,129)=1
       exch2_pi(2,3,129)=0
       exch2_pj(1,3,129)=0
       exch2_pj(2,3,129)=1
       exch2_oi(3,129)=0
       exch2_oi_f(3,129)=0
       exch2_oj(3,129)=0
       exch2_oj_f(3,129)=0
       exch2_itlo_c(3,129)=0
       exch2_ithi_c(3,129)=0
       exch2_jtlo_c(3,129)=0
       exch2_jthi_c(3,129)=5
       exch2_opposingSend_record(3,129)=4

       exch2_neighbourId(4,129)=128
       exch2_pi(1,4,129)=1
       exch2_pi(2,4,129)=0
       exch2_pj(1,4,129)=0
       exch2_pj(2,4,129)=1
       exch2_oi(4,129)=0
       exch2_oi_f(4,129)=0
       exch2_oj(4,129)=0
       exch2_oj_f(4,129)=0
       exch2_itlo_c(4,129)=9
       exch2_ithi_c(4,129)=9
       exch2_jtlo_c(4,129)=0
       exch2_jthi_c(4,129)=5
       exch2_opposingSend_record(4,129)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_130
C      Topology for tile 130
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(130)=8
       exch2_tny(130)=4
       exch2_tbasex(130)=24
       exch2_tbasey(130)=12
       exch2_txglobalo(130)=153
       exch2_tyglobalo(130)=13
       exch2_isWedge(130)=0
       exch2_isNedge(130)=0
       exch2_isEedge(130)=1
       exch2_isSedge(130)=0
       exch2_myFace(130)=5
       exch2_mydnx(130)=32
       exch2_mydny(130)=32
       exch2_nNeighbours(130)=4

       exch2_neighbourId(1,130)=134
       exch2_pi(1,1,130)=1
       exch2_pi(2,1,130)=0
       exch2_pj(1,1,130)=0
       exch2_pj(2,1,130)=1
       exch2_oi(1,130)=0
       exch2_oi_f(1,130)=0
       exch2_oj(1,130)=0
       exch2_oj_f(1,130)=0
       exch2_itlo_c(1,130)=0
       exch2_ithi_c(1,130)=9
       exch2_jtlo_c(1,130)=0
       exch2_jthi_c(1,130)=0
       exch2_opposingSend_record(1,130)=2

       exch2_neighbourId(2,130)=126
       exch2_pi(1,2,130)=1
       exch2_pi(2,2,130)=0
       exch2_pj(1,2,130)=0
       exch2_pj(2,2,130)=1
       exch2_oi(2,130)=0
       exch2_oi_f(2,130)=0
       exch2_oj(2,130)=0
       exch2_oj_f(2,130)=0
       exch2_itlo_c(2,130)=1
       exch2_ithi_c(2,130)=8
       exch2_jtlo_c(2,130)=5
       exch2_jthi_c(2,130)=5
       exch2_opposingSend_record(2,130)=1

       exch2_neighbourId(3,130)=157
       exch2_pi(1,3,130)=1
       exch2_pi(2,3,130)=0
       exch2_pj(1,3,130)=0
       exch2_pj(2,3,130)=1
       exch2_oi(3,130)=32
       exch2_oi_f(3,130)=32
       exch2_oj(3,130)=0
       exch2_oj_f(3,130)=0
       exch2_itlo_c(3,130)=0
       exch2_ithi_c(3,130)=0
       exch2_jtlo_c(3,130)=0
       exch2_jthi_c(3,130)=5
       exch2_opposingSend_record(3,130)=4

       exch2_neighbourId(4,130)=129
       exch2_pi(1,4,130)=1
       exch2_pi(2,4,130)=0
       exch2_pj(1,4,130)=0
       exch2_pj(2,4,130)=1
       exch2_oi(4,130)=0
       exch2_oi_f(4,130)=0
       exch2_oj(4,130)=0
       exch2_oj_f(4,130)=0
       exch2_itlo_c(4,130)=9
       exch2_ithi_c(4,130)=9
       exch2_jtlo_c(4,130)=0
       exch2_jthi_c(4,130)=5
       exch2_opposingSend_record(4,130)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_131
C      Topology for tile 131
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(131)=8
       exch2_tny(131)=4
       exch2_tbasex(131)=0
       exch2_tbasey(131)=16
       exch2_txglobalo(131)=129
       exch2_tyglobalo(131)=17
       exch2_isWedge(131)=1
       exch2_isNedge(131)=0
       exch2_isEedge(131)=0
       exch2_isSedge(131)=0
       exch2_myFace(131)=5
       exch2_mydnx(131)=32
       exch2_mydny(131)=32
       exch2_nNeighbours(131)=4

       exch2_neighbourId(1,131)=135
       exch2_pi(1,1,131)=1
       exch2_pi(2,1,131)=0
       exch2_pj(1,1,131)=0
       exch2_pj(2,1,131)=1
       exch2_oi(1,131)=0
       exch2_oi_f(1,131)=0
       exch2_oj(1,131)=0
       exch2_oj_f(1,131)=0
       exch2_itlo_c(1,131)=0
       exch2_ithi_c(1,131)=9
       exch2_jtlo_c(1,131)=0
       exch2_jthi_c(1,131)=0
       exch2_opposingSend_record(1,131)=2

       exch2_neighbourId(2,131)=127
       exch2_pi(1,2,131)=1
       exch2_pi(2,2,131)=0
       exch2_pj(1,2,131)=0
       exch2_pj(2,2,131)=1
       exch2_oi(2,131)=0
       exch2_oi_f(2,131)=0
       exch2_oj(2,131)=0
       exch2_oj_f(2,131)=0
       exch2_itlo_c(2,131)=1
       exch2_ithi_c(2,131)=8
       exch2_jtlo_c(2,131)=5
       exch2_jthi_c(2,131)=5
       exch2_opposingSend_record(2,131)=1

       exch2_neighbourId(3,131)=132
       exch2_pi(1,3,131)=1
       exch2_pi(2,3,131)=0
       exch2_pj(1,3,131)=0
       exch2_pj(2,3,131)=1
       exch2_oi(3,131)=0
       exch2_oi_f(3,131)=0
       exch2_oj(3,131)=0
       exch2_oj_f(3,131)=0
       exch2_itlo_c(3,131)=0
       exch2_ithi_c(3,131)=0
       exch2_jtlo_c(3,131)=0
       exch2_jthi_c(3,131)=5
       exch2_opposingSend_record(3,131)=4

       exch2_neighbourId(4,131)=81
       exch2_pi(1,4,131)=0
       exch2_pi(2,4,131)=1
       exch2_pj(1,4,131)=-1
       exch2_pj(2,4,131)=0
       exch2_oi(4,131)=-32
       exch2_oi_f(4,131)=-32
       exch2_oj(4,131)=33
       exch2_oj_f(4,131)=34
       exch2_itlo_c(4,131)=4
       exch2_ithi_c(4,131)=9
       exch2_jtlo_c(4,131)=5
       exch2_jthi_c(4,131)=5
       exch2_opposingSend_record(4,131)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_132
C      Topology for tile 132
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(132)=8
       exch2_tny(132)=4
       exch2_tbasex(132)=8
       exch2_tbasey(132)=16
       exch2_txglobalo(132)=137
       exch2_tyglobalo(132)=17
       exch2_isWedge(132)=0
       exch2_isNedge(132)=0
       exch2_isEedge(132)=0
       exch2_isSedge(132)=0
       exch2_myFace(132)=5
       exch2_mydnx(132)=32
       exch2_mydny(132)=32
       exch2_nNeighbours(132)=4

       exch2_neighbourId(1,132)=136
       exch2_pi(1,1,132)=1
       exch2_pi(2,1,132)=0
       exch2_pj(1,1,132)=0
       exch2_pj(2,1,132)=1
       exch2_oi(1,132)=0
       exch2_oi_f(1,132)=0
       exch2_oj(1,132)=0
       exch2_oj_f(1,132)=0
       exch2_itlo_c(1,132)=0
       exch2_ithi_c(1,132)=9
       exch2_jtlo_c(1,132)=0
       exch2_jthi_c(1,132)=0
       exch2_opposingSend_record(1,132)=2

       exch2_neighbourId(2,132)=128
       exch2_pi(1,2,132)=1
       exch2_pi(2,2,132)=0
       exch2_pj(1,2,132)=0
       exch2_pj(2,2,132)=1
       exch2_oi(2,132)=0
       exch2_oi_f(2,132)=0
       exch2_oj(2,132)=0
       exch2_oj_f(2,132)=0
       exch2_itlo_c(2,132)=1
       exch2_ithi_c(2,132)=8
       exch2_jtlo_c(2,132)=5
       exch2_jthi_c(2,132)=5
       exch2_opposingSend_record(2,132)=1

       exch2_neighbourId(3,132)=133
       exch2_pi(1,3,132)=1
       exch2_pi(2,3,132)=0
       exch2_pj(1,3,132)=0
       exch2_pj(2,3,132)=1
       exch2_oi(3,132)=0
       exch2_oi_f(3,132)=0
       exch2_oj(3,132)=0
       exch2_oj_f(3,132)=0
       exch2_itlo_c(3,132)=0
       exch2_ithi_c(3,132)=0
       exch2_jtlo_c(3,132)=0
       exch2_jthi_c(3,132)=5
       exch2_opposingSend_record(3,132)=4

       exch2_neighbourId(4,132)=131
       exch2_pi(1,4,132)=1
       exch2_pi(2,4,132)=0
       exch2_pj(1,4,132)=0
       exch2_pj(2,4,132)=1
       exch2_oi(4,132)=0
       exch2_oi_f(4,132)=0
       exch2_oj(4,132)=0
       exch2_oj_f(4,132)=0
       exch2_itlo_c(4,132)=9
       exch2_ithi_c(4,132)=9
       exch2_jtlo_c(4,132)=0
       exch2_jthi_c(4,132)=5
       exch2_opposingSend_record(4,132)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_133
C      Topology for tile 133
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(133)=8
       exch2_tny(133)=4
       exch2_tbasex(133)=16
       exch2_tbasey(133)=16
       exch2_txglobalo(133)=145
       exch2_tyglobalo(133)=17
       exch2_isWedge(133)=0
       exch2_isNedge(133)=0
       exch2_isEedge(133)=0
       exch2_isSedge(133)=0
       exch2_myFace(133)=5
       exch2_mydnx(133)=32
       exch2_mydny(133)=32
       exch2_nNeighbours(133)=4

       exch2_neighbourId(1,133)=137
       exch2_pi(1,1,133)=1
       exch2_pi(2,1,133)=0
       exch2_pj(1,1,133)=0
       exch2_pj(2,1,133)=1
       exch2_oi(1,133)=0
       exch2_oi_f(1,133)=0
       exch2_oj(1,133)=0
       exch2_oj_f(1,133)=0
       exch2_itlo_c(1,133)=0
       exch2_ithi_c(1,133)=9
       exch2_jtlo_c(1,133)=0
       exch2_jthi_c(1,133)=0
       exch2_opposingSend_record(1,133)=1

       exch2_neighbourId(2,133)=129
       exch2_pi(1,2,133)=1
       exch2_pi(2,2,133)=0
       exch2_pj(1,2,133)=0
       exch2_pj(2,2,133)=1
       exch2_oi(2,133)=0
       exch2_oi_f(2,133)=0
       exch2_oj(2,133)=0
       exch2_oj_f(2,133)=0
       exch2_itlo_c(2,133)=1
       exch2_ithi_c(2,133)=8
       exch2_jtlo_c(2,133)=5
       exch2_jthi_c(2,133)=5
       exch2_opposingSend_record(2,133)=1

       exch2_neighbourId(3,133)=134
       exch2_pi(1,3,133)=1
       exch2_pi(2,3,133)=0
       exch2_pj(1,3,133)=0
       exch2_pj(2,3,133)=1
       exch2_oi(3,133)=0
       exch2_oi_f(3,133)=0
       exch2_oj(3,133)=0
       exch2_oj_f(3,133)=0
       exch2_itlo_c(3,133)=0
       exch2_ithi_c(3,133)=0
       exch2_jtlo_c(3,133)=0
       exch2_jthi_c(3,133)=5
       exch2_opposingSend_record(3,133)=4

       exch2_neighbourId(4,133)=132
       exch2_pi(1,4,133)=1
       exch2_pi(2,4,133)=0
       exch2_pj(1,4,133)=0
       exch2_pj(2,4,133)=1
       exch2_oi(4,133)=0
       exch2_oi_f(4,133)=0
       exch2_oj(4,133)=0
       exch2_oj_f(4,133)=0
       exch2_itlo_c(4,133)=9
       exch2_ithi_c(4,133)=9
       exch2_jtlo_c(4,133)=0
       exch2_jthi_c(4,133)=5
       exch2_opposingSend_record(4,133)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_134
C      Topology for tile 134
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(134)=8
       exch2_tny(134)=4
       exch2_tbasex(134)=24
       exch2_tbasey(134)=16
       exch2_txglobalo(134)=153
       exch2_tyglobalo(134)=17
       exch2_isWedge(134)=0
       exch2_isNedge(134)=0
       exch2_isEedge(134)=1
       exch2_isSedge(134)=0
       exch2_myFace(134)=5
       exch2_mydnx(134)=32
       exch2_mydny(134)=32
       exch2_nNeighbours(134)=4

       exch2_neighbourId(1,134)=138
       exch2_pi(1,1,134)=1
       exch2_pi(2,1,134)=0
       exch2_pj(1,1,134)=0
       exch2_pj(2,1,134)=1
       exch2_oi(1,134)=0
       exch2_oi_f(1,134)=0
       exch2_oj(1,134)=0
       exch2_oj_f(1,134)=0
       exch2_itlo_c(1,134)=0
       exch2_ithi_c(1,134)=9
       exch2_jtlo_c(1,134)=0
       exch2_jthi_c(1,134)=0
       exch2_opposingSend_record(1,134)=2

       exch2_neighbourId(2,134)=130
       exch2_pi(1,2,134)=1
       exch2_pi(2,2,134)=0
       exch2_pj(1,2,134)=0
       exch2_pj(2,2,134)=1
       exch2_oi(2,134)=0
       exch2_oi_f(2,134)=0
       exch2_oj(2,134)=0
       exch2_oj_f(2,134)=0
       exch2_itlo_c(2,134)=1
       exch2_ithi_c(2,134)=8
       exch2_jtlo_c(2,134)=5
       exch2_jthi_c(2,134)=5
       exch2_opposingSend_record(2,134)=1

       exch2_neighbourId(3,134)=161
       exch2_pi(1,3,134)=1
       exch2_pi(2,3,134)=0
       exch2_pj(1,3,134)=0
       exch2_pj(2,3,134)=1
       exch2_oi(3,134)=32
       exch2_oi_f(3,134)=32
       exch2_oj(3,134)=0
       exch2_oj_f(3,134)=0
       exch2_itlo_c(3,134)=0
       exch2_ithi_c(3,134)=0
       exch2_jtlo_c(3,134)=0
       exch2_jthi_c(3,134)=5
       exch2_opposingSend_record(3,134)=4

       exch2_neighbourId(4,134)=133
       exch2_pi(1,4,134)=1
       exch2_pi(2,4,134)=0
       exch2_pj(1,4,134)=0
       exch2_pj(2,4,134)=1
       exch2_oi(4,134)=0
       exch2_oi_f(4,134)=0
       exch2_oj(4,134)=0
       exch2_oj_f(4,134)=0
       exch2_itlo_c(4,134)=9
       exch2_ithi_c(4,134)=9
       exch2_jtlo_c(4,134)=0
       exch2_jthi_c(4,134)=5
       exch2_opposingSend_record(4,134)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_135
C      Topology for tile 135
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(135)=8
       exch2_tny(135)=4
       exch2_tbasex(135)=0
       exch2_tbasey(135)=20
       exch2_txglobalo(135)=129
       exch2_tyglobalo(135)=21
       exch2_isWedge(135)=1
       exch2_isNedge(135)=0
       exch2_isEedge(135)=0
       exch2_isSedge(135)=0
       exch2_myFace(135)=5
       exch2_mydnx(135)=32
       exch2_mydny(135)=32
       exch2_nNeighbours(135)=4

       exch2_neighbourId(1,135)=139
       exch2_pi(1,1,135)=1
       exch2_pi(2,1,135)=0
       exch2_pj(1,1,135)=0
       exch2_pj(2,1,135)=1
       exch2_oi(1,135)=0
       exch2_oi_f(1,135)=0
       exch2_oj(1,135)=0
       exch2_oj_f(1,135)=0
       exch2_itlo_c(1,135)=0
       exch2_ithi_c(1,135)=9
       exch2_jtlo_c(1,135)=0
       exch2_jthi_c(1,135)=0
       exch2_opposingSend_record(1,135)=2

       exch2_neighbourId(2,135)=131
       exch2_pi(1,2,135)=1
       exch2_pi(2,2,135)=0
       exch2_pj(1,2,135)=0
       exch2_pj(2,2,135)=1
       exch2_oi(2,135)=0
       exch2_oi_f(2,135)=0
       exch2_oj(2,135)=0
       exch2_oj_f(2,135)=0
       exch2_itlo_c(2,135)=1
       exch2_ithi_c(2,135)=8
       exch2_jtlo_c(2,135)=5
       exch2_jthi_c(2,135)=5
       exch2_opposingSend_record(2,135)=1

       exch2_neighbourId(3,135)=136
       exch2_pi(1,3,135)=1
       exch2_pi(2,3,135)=0
       exch2_pj(1,3,135)=0
       exch2_pj(2,3,135)=1
       exch2_oi(3,135)=0
       exch2_oi_f(3,135)=0
       exch2_oj(3,135)=0
       exch2_oj_f(3,135)=0
       exch2_itlo_c(3,135)=0
       exch2_ithi_c(3,135)=0
       exch2_jtlo_c(3,135)=0
       exch2_jthi_c(3,135)=5
       exch2_opposingSend_record(3,135)=4

       exch2_neighbourId(4,135)=81
       exch2_pi(1,4,135)=0
       exch2_pi(2,4,135)=1
       exch2_pj(1,4,135)=-1
       exch2_pj(2,4,135)=0
       exch2_oi(4,135)=-32
       exch2_oi_f(4,135)=-32
       exch2_oj(4,135)=33
       exch2_oj_f(4,135)=34
       exch2_itlo_c(4,135)=0
       exch2_ithi_c(4,135)=5
       exch2_jtlo_c(4,135)=5
       exch2_jthi_c(4,135)=5
       exch2_opposingSend_record(4,135)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_136
C      Topology for tile 136
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(136)=8
       exch2_tny(136)=4
       exch2_tbasex(136)=8
       exch2_tbasey(136)=20
       exch2_txglobalo(136)=137
       exch2_tyglobalo(136)=21
       exch2_isWedge(136)=0
       exch2_isNedge(136)=0
       exch2_isEedge(136)=0
       exch2_isSedge(136)=0
       exch2_myFace(136)=5
       exch2_mydnx(136)=32
       exch2_mydny(136)=32
       exch2_nNeighbours(136)=4

       exch2_neighbourId(1,136)=140
       exch2_pi(1,1,136)=1
       exch2_pi(2,1,136)=0
       exch2_pj(1,1,136)=0
       exch2_pj(2,1,136)=1
       exch2_oi(1,136)=0
       exch2_oi_f(1,136)=0
       exch2_oj(1,136)=0
       exch2_oj_f(1,136)=0
       exch2_itlo_c(1,136)=0
       exch2_ithi_c(1,136)=9
       exch2_jtlo_c(1,136)=0
       exch2_jthi_c(1,136)=0
       exch2_opposingSend_record(1,136)=2

       exch2_neighbourId(2,136)=132
       exch2_pi(1,2,136)=1
       exch2_pi(2,2,136)=0
       exch2_pj(1,2,136)=0
       exch2_pj(2,2,136)=1
       exch2_oi(2,136)=0
       exch2_oi_f(2,136)=0
       exch2_oj(2,136)=0
       exch2_oj_f(2,136)=0
       exch2_itlo_c(2,136)=1
       exch2_ithi_c(2,136)=8
       exch2_jtlo_c(2,136)=5
       exch2_jthi_c(2,136)=5
       exch2_opposingSend_record(2,136)=1

       exch2_neighbourId(3,136)=137
       exch2_pi(1,3,136)=1
       exch2_pi(2,3,136)=0
       exch2_pj(1,3,136)=0
       exch2_pj(2,3,136)=1
       exch2_oi(3,136)=0
       exch2_oi_f(3,136)=0
       exch2_oj(3,136)=0
       exch2_oj_f(3,136)=0
       exch2_itlo_c(3,136)=0
       exch2_ithi_c(3,136)=0
       exch2_jtlo_c(3,136)=0
       exch2_jthi_c(3,136)=5
       exch2_opposingSend_record(3,136)=3

       exch2_neighbourId(4,136)=135
       exch2_pi(1,4,136)=1
       exch2_pi(2,4,136)=0
       exch2_pj(1,4,136)=0
       exch2_pj(2,4,136)=1
       exch2_oi(4,136)=0
       exch2_oi_f(4,136)=0
       exch2_oj(4,136)=0
       exch2_oj_f(4,136)=0
       exch2_itlo_c(4,136)=9
       exch2_ithi_c(4,136)=9
       exch2_jtlo_c(4,136)=0
       exch2_jthi_c(4,136)=5
       exch2_opposingSend_record(4,136)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_137
C      Topology for tile 137
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(137)=8
       exch2_tny(137)=4
       exch2_tbasex(137)=16
       exch2_tbasey(137)=20
       exch2_txglobalo(137)=145
       exch2_tyglobalo(137)=21
       exch2_isWedge(137)=0
       exch2_isNedge(137)=0
       exch2_isEedge(137)=0
       exch2_isSedge(137)=0
       exch2_myFace(137)=5
       exch2_mydnx(137)=32
       exch2_mydny(137)=32
       exch2_nNeighbours(137)=3

       exch2_neighbourId(1,137)=133
       exch2_pi(1,1,137)=1
       exch2_pi(2,1,137)=0
       exch2_pj(1,1,137)=0
       exch2_pj(2,1,137)=1
       exch2_oi(1,137)=0
       exch2_oi_f(1,137)=0
       exch2_oj(1,137)=0
       exch2_oj_f(1,137)=0
       exch2_itlo_c(1,137)=1
       exch2_ithi_c(1,137)=8
       exch2_jtlo_c(1,137)=5
       exch2_jthi_c(1,137)=5
       exch2_opposingSend_record(1,137)=1

       exch2_neighbourId(2,137)=138
       exch2_pi(1,2,137)=1
       exch2_pi(2,2,137)=0
       exch2_pj(1,2,137)=0
       exch2_pj(2,2,137)=1
       exch2_oi(2,137)=0
       exch2_oi_f(2,137)=0
       exch2_oj(2,137)=0
       exch2_oj_f(2,137)=0
       exch2_itlo_c(2,137)=0
       exch2_ithi_c(2,137)=0
       exch2_jtlo_c(2,137)=0
       exch2_jthi_c(2,137)=5
       exch2_opposingSend_record(2,137)=4

       exch2_neighbourId(3,137)=136
       exch2_pi(1,3,137)=1
       exch2_pi(2,3,137)=0
       exch2_pj(1,3,137)=0
       exch2_pj(2,3,137)=1
       exch2_oi(3,137)=0
       exch2_oi_f(3,137)=0
       exch2_oj(3,137)=0
       exch2_oj_f(3,137)=0
       exch2_itlo_c(3,137)=9
       exch2_ithi_c(3,137)=9
       exch2_jtlo_c(3,137)=0
       exch2_jthi_c(3,137)=5
       exch2_opposingSend_record(3,137)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_138
C      Topology for tile 138
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(138)=8
       exch2_tny(138)=4
       exch2_tbasex(138)=24
       exch2_tbasey(138)=20
       exch2_txglobalo(138)=153
       exch2_tyglobalo(138)=21
       exch2_isWedge(138)=0
       exch2_isNedge(138)=0
       exch2_isEedge(138)=1
       exch2_isSedge(138)=0
       exch2_myFace(138)=5
       exch2_mydnx(138)=32
       exch2_mydny(138)=32
       exch2_nNeighbours(138)=4

       exch2_neighbourId(1,138)=141
       exch2_pi(1,1,138)=1
       exch2_pi(2,1,138)=0
       exch2_pj(1,1,138)=0
       exch2_pj(2,1,138)=1
       exch2_oi(1,138)=0
       exch2_oi_f(1,138)=0
       exch2_oj(1,138)=0
       exch2_oj_f(1,138)=0
       exch2_itlo_c(1,138)=0
       exch2_ithi_c(1,138)=9
       exch2_jtlo_c(1,138)=0
       exch2_jthi_c(1,138)=0
       exch2_opposingSend_record(1,138)=2

       exch2_neighbourId(2,138)=134
       exch2_pi(1,2,138)=1
       exch2_pi(2,2,138)=0
       exch2_pj(1,2,138)=0
       exch2_pj(2,2,138)=1
       exch2_oi(2,138)=0
       exch2_oi_f(2,138)=0
       exch2_oj(2,138)=0
       exch2_oj_f(2,138)=0
       exch2_itlo_c(2,138)=1
       exch2_ithi_c(2,138)=8
       exch2_jtlo_c(2,138)=5
       exch2_jthi_c(2,138)=5
       exch2_opposingSend_record(2,138)=1

       exch2_neighbourId(3,138)=165
       exch2_pi(1,3,138)=1
       exch2_pi(2,3,138)=0
       exch2_pj(1,3,138)=0
       exch2_pj(2,3,138)=1
       exch2_oi(3,138)=32
       exch2_oi_f(3,138)=32
       exch2_oj(3,138)=0
       exch2_oj_f(3,138)=0
       exch2_itlo_c(3,138)=0
       exch2_ithi_c(3,138)=0
       exch2_jtlo_c(3,138)=0
       exch2_jthi_c(3,138)=5
       exch2_opposingSend_record(3,138)=4

       exch2_neighbourId(4,138)=137
       exch2_pi(1,4,138)=1
       exch2_pi(2,4,138)=0
       exch2_pj(1,4,138)=0
       exch2_pj(2,4,138)=1
       exch2_oi(4,138)=0
       exch2_oi_f(4,138)=0
       exch2_oj(4,138)=0
       exch2_oj_f(4,138)=0
       exch2_itlo_c(4,138)=9
       exch2_ithi_c(4,138)=9
       exch2_jtlo_c(4,138)=0
       exch2_jthi_c(4,138)=5
       exch2_opposingSend_record(4,138)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_139
C      Topology for tile 139
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(139)=8
       exch2_tny(139)=4
       exch2_tbasex(139)=0
       exch2_tbasey(139)=24
       exch2_txglobalo(139)=129
       exch2_tyglobalo(139)=25
       exch2_isWedge(139)=1
       exch2_isNedge(139)=0
       exch2_isEedge(139)=0
       exch2_isSedge(139)=0
       exch2_myFace(139)=5
       exch2_mydnx(139)=32
       exch2_mydny(139)=32
       exch2_nNeighbours(139)=4

       exch2_neighbourId(1,139)=142
       exch2_pi(1,1,139)=1
       exch2_pi(2,1,139)=0
       exch2_pj(1,1,139)=0
       exch2_pj(2,1,139)=1
       exch2_oi(1,139)=0
       exch2_oi_f(1,139)=0
       exch2_oj(1,139)=0
       exch2_oj_f(1,139)=0
       exch2_itlo_c(1,139)=0
       exch2_ithi_c(1,139)=9
       exch2_jtlo_c(1,139)=0
       exch2_jthi_c(1,139)=0
       exch2_opposingSend_record(1,139)=3

       exch2_neighbourId(2,139)=135
       exch2_pi(1,2,139)=1
       exch2_pi(2,2,139)=0
       exch2_pj(1,2,139)=0
       exch2_pj(2,2,139)=1
       exch2_oi(2,139)=0
       exch2_oi_f(2,139)=0
       exch2_oj(2,139)=0
       exch2_oj_f(2,139)=0
       exch2_itlo_c(2,139)=1
       exch2_ithi_c(2,139)=8
       exch2_jtlo_c(2,139)=5
       exch2_jthi_c(2,139)=5
       exch2_opposingSend_record(2,139)=1

       exch2_neighbourId(3,139)=140
       exch2_pi(1,3,139)=1
       exch2_pi(2,3,139)=0
       exch2_pj(1,3,139)=0
       exch2_pj(2,3,139)=1
       exch2_oi(3,139)=0
       exch2_oi_f(3,139)=0
       exch2_oj(3,139)=0
       exch2_oj_f(3,139)=0
       exch2_itlo_c(3,139)=0
       exch2_ithi_c(3,139)=0
       exch2_jtlo_c(3,139)=0
       exch2_jthi_c(3,139)=5
       exch2_opposingSend_record(3,139)=3

       exch2_neighbourId(4,139)=80
       exch2_pi(1,4,139)=0
       exch2_pi(2,4,139)=1
       exch2_pj(1,4,139)=-1
       exch2_pj(2,4,139)=0
       exch2_oi(4,139)=-32
       exch2_oi_f(4,139)=-32
       exch2_oj(4,139)=33
       exch2_oj_f(4,139)=34
       exch2_itlo_c(4,139)=4
       exch2_ithi_c(4,139)=9
       exch2_jtlo_c(4,139)=5
       exch2_jthi_c(4,139)=5
       exch2_opposingSend_record(4,139)=1
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_140
C      Topology for tile 140
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(140)=8
       exch2_tny(140)=4
       exch2_tbasex(140)=8
       exch2_tbasey(140)=24
       exch2_txglobalo(140)=137
       exch2_tyglobalo(140)=25
       exch2_isWedge(140)=0
       exch2_isNedge(140)=0
       exch2_isEedge(140)=0
       exch2_isSedge(140)=0
       exch2_myFace(140)=5
       exch2_mydnx(140)=32
       exch2_mydny(140)=32
       exch2_nNeighbours(140)=3

       exch2_neighbourId(1,140)=143
       exch2_pi(1,1,140)=1
       exch2_pi(2,1,140)=0
       exch2_pj(1,1,140)=0
       exch2_pj(2,1,140)=1
       exch2_oi(1,140)=0
       exch2_oi_f(1,140)=0
       exch2_oj(1,140)=0
       exch2_oj_f(1,140)=0
       exch2_itlo_c(1,140)=0
       exch2_ithi_c(1,140)=9
       exch2_jtlo_c(1,140)=0
       exch2_jthi_c(1,140)=0
       exch2_opposingSend_record(1,140)=3

       exch2_neighbourId(2,140)=136
       exch2_pi(1,2,140)=1
       exch2_pi(2,2,140)=0
       exch2_pj(1,2,140)=0
       exch2_pj(2,2,140)=1
       exch2_oi(2,140)=0
       exch2_oi_f(2,140)=0
       exch2_oj(2,140)=0
       exch2_oj_f(2,140)=0
       exch2_itlo_c(2,140)=1
       exch2_ithi_c(2,140)=8
       exch2_jtlo_c(2,140)=5
       exch2_jthi_c(2,140)=5
       exch2_opposingSend_record(2,140)=1

       exch2_neighbourId(3,140)=139
       exch2_pi(1,3,140)=1
       exch2_pi(2,3,140)=0
       exch2_pj(1,3,140)=0
       exch2_pj(2,3,140)=1
       exch2_oi(3,140)=0
       exch2_oi_f(3,140)=0
       exch2_oj(3,140)=0
       exch2_oj_f(3,140)=0
       exch2_itlo_c(3,140)=9
       exch2_ithi_c(3,140)=9
       exch2_jtlo_c(3,140)=0
       exch2_jthi_c(3,140)=5
       exch2_opposingSend_record(3,140)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_141
C      Topology for tile 141
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(141)=8
       exch2_tny(141)=4
       exch2_tbasex(141)=24
       exch2_tbasey(141)=24
       exch2_txglobalo(141)=153
       exch2_tyglobalo(141)=25
       exch2_isWedge(141)=0
       exch2_isNedge(141)=0
       exch2_isEedge(141)=1
       exch2_isSedge(141)=0
       exch2_myFace(141)=5
       exch2_mydnx(141)=32
       exch2_mydny(141)=32
       exch2_nNeighbours(141)=3

       exch2_neighbourId(1,141)=144
       exch2_pi(1,1,141)=1
       exch2_pi(2,1,141)=0
       exch2_pj(1,1,141)=0
       exch2_pj(2,1,141)=1
       exch2_oi(1,141)=0
       exch2_oi_f(1,141)=0
       exch2_oj(1,141)=0
       exch2_oj_f(1,141)=0
       exch2_itlo_c(1,141)=0
       exch2_ithi_c(1,141)=9
       exch2_jtlo_c(1,141)=0
       exch2_jthi_c(1,141)=0
       exch2_opposingSend_record(1,141)=3

       exch2_neighbourId(2,141)=138
       exch2_pi(1,2,141)=1
       exch2_pi(2,2,141)=0
       exch2_pj(1,2,141)=0
       exch2_pj(2,2,141)=1
       exch2_oi(2,141)=0
       exch2_oi_f(2,141)=0
       exch2_oj(2,141)=0
       exch2_oj_f(2,141)=0
       exch2_itlo_c(2,141)=1
       exch2_ithi_c(2,141)=8
       exch2_jtlo_c(2,141)=5
       exch2_jthi_c(2,141)=5
       exch2_opposingSend_record(2,141)=1

       exch2_neighbourId(3,141)=169
       exch2_pi(1,3,141)=1
       exch2_pi(2,3,141)=0
       exch2_pj(1,3,141)=0
       exch2_pj(2,3,141)=1
       exch2_oi(3,141)=32
       exch2_oi_f(3,141)=32
       exch2_oj(3,141)=0
       exch2_oj_f(3,141)=0
       exch2_itlo_c(3,141)=0
       exch2_ithi_c(3,141)=0
       exch2_jtlo_c(3,141)=0
       exch2_jthi_c(3,141)=5
       exch2_opposingSend_record(3,141)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_142
C      Topology for tile 142
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(142)=8
       exch2_tny(142)=4
       exch2_tbasex(142)=0
       exch2_tbasey(142)=28
       exch2_txglobalo(142)=129
       exch2_tyglobalo(142)=29
       exch2_isWedge(142)=1
       exch2_isNedge(142)=1
       exch2_isEedge(142)=0
       exch2_isSedge(142)=0
       exch2_myFace(142)=5
       exch2_mydnx(142)=32
       exch2_mydny(142)=32
       exch2_nNeighbours(142)=5

       exch2_neighbourId(1,142)=23
       exch2_pi(1,1,142)=0
       exch2_pi(2,1,142)=-1
       exch2_pj(1,1,142)=1
       exch2_pj(2,1,142)=0
       exch2_oi(1,142)=33
       exch2_oi_f(1,142)=34
       exch2_oj(1,142)=32
       exch2_oj_f(1,142)=32
       exch2_itlo_c(1,142)=0
       exch2_ithi_c(1,142)=0
       exch2_jtlo_c(1,142)=0
       exch2_jthi_c(1,142)=5
       exch2_opposingSend_record(1,142)=4

       exch2_neighbourId(2,142)=27
       exch2_pi(1,2,142)=0
       exch2_pi(2,2,142)=-1
       exch2_pj(1,2,142)=1
       exch2_pj(2,2,142)=0
       exch2_oi(2,142)=33
       exch2_oi_f(2,142)=34
       exch2_oj(2,142)=32
       exch2_oj_f(2,142)=32
       exch2_itlo_c(2,142)=0
       exch2_ithi_c(2,142)=0
       exch2_jtlo_c(2,142)=0
       exch2_jthi_c(2,142)=5
       exch2_opposingSend_record(2,142)=5

       exch2_neighbourId(3,142)=139
       exch2_pi(1,3,142)=1
       exch2_pi(2,3,142)=0
       exch2_pj(1,3,142)=0
       exch2_pj(2,3,142)=1
       exch2_oi(3,142)=0
       exch2_oi_f(3,142)=0
       exch2_oj(3,142)=0
       exch2_oj_f(3,142)=0
       exch2_itlo_c(3,142)=1
       exch2_ithi_c(3,142)=8
       exch2_jtlo_c(3,142)=5
       exch2_jthi_c(3,142)=5
       exch2_opposingSend_record(3,142)=1

       exch2_neighbourId(4,142)=143
       exch2_pi(1,4,142)=1
       exch2_pi(2,4,142)=0
       exch2_pj(1,4,142)=0
       exch2_pj(2,4,142)=1
       exch2_oi(4,142)=0
       exch2_oi_f(4,142)=0
       exch2_oj(4,142)=0
       exch2_oj_f(4,142)=0
       exch2_itlo_c(4,142)=0
       exch2_ithi_c(4,142)=0
       exch2_jtlo_c(4,142)=0
       exch2_jthi_c(4,142)=5
       exch2_opposingSend_record(4,142)=4

       exch2_neighbourId(5,142)=80
       exch2_pi(1,5,142)=0
       exch2_pi(2,5,142)=1
       exch2_pj(1,5,142)=-1
       exch2_pj(2,5,142)=0
       exch2_oi(5,142)=-32
       exch2_oi_f(5,142)=-32
       exch2_oj(5,142)=33
       exch2_oj_f(5,142)=34
       exch2_itlo_c(5,142)=0
       exch2_ithi_c(5,142)=5
       exch2_jtlo_c(5,142)=5
       exch2_jthi_c(5,142)=5
       exch2_opposingSend_record(5,142)=2
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_143
C      Topology for tile 143
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(143)=8
       exch2_tny(143)=4
       exch2_tbasex(143)=8
       exch2_tbasey(143)=28
       exch2_txglobalo(143)=137
       exch2_tyglobalo(143)=29
       exch2_isWedge(143)=0
       exch2_isNedge(143)=1
       exch2_isEedge(143)=0
       exch2_isSedge(143)=0
       exch2_myFace(143)=5
       exch2_mydnx(143)=32
       exch2_mydny(143)=32
       exch2_nNeighbours(143)=4

       exch2_neighbourId(1,143)=17
       exch2_pi(1,1,143)=0
       exch2_pi(2,1,143)=-1
       exch2_pj(1,1,143)=1
       exch2_pj(2,1,143)=0
       exch2_oi(1,143)=33
       exch2_oi_f(1,143)=34
       exch2_oj(1,143)=32
       exch2_oj_f(1,143)=32
       exch2_itlo_c(1,143)=0
       exch2_ithi_c(1,143)=0
       exch2_jtlo_c(1,143)=0
       exch2_jthi_c(1,143)=5
       exch2_opposingSend_record(1,143)=4

       exch2_neighbourId(2,143)=20
       exch2_pi(1,2,143)=0
       exch2_pi(2,2,143)=-1
       exch2_pj(1,2,143)=1
       exch2_pj(2,2,143)=0
       exch2_oi(2,143)=33
       exch2_oi_f(2,143)=34
       exch2_oj(2,143)=32
       exch2_oj_f(2,143)=32
       exch2_itlo_c(2,143)=0
       exch2_ithi_c(2,143)=0
       exch2_jtlo_c(2,143)=0
       exch2_jthi_c(2,143)=5
       exch2_opposingSend_record(2,143)=4

       exch2_neighbourId(3,143)=140
       exch2_pi(1,3,143)=1
       exch2_pi(2,3,143)=0
       exch2_pj(1,3,143)=0
       exch2_pj(2,3,143)=1
       exch2_oi(3,143)=0
       exch2_oi_f(3,143)=0
       exch2_oj(3,143)=0
       exch2_oj_f(3,143)=0
       exch2_itlo_c(3,143)=1
       exch2_ithi_c(3,143)=8
       exch2_jtlo_c(3,143)=5
       exch2_jthi_c(3,143)=5
       exch2_opposingSend_record(3,143)=1

       exch2_neighbourId(4,143)=142
       exch2_pi(1,4,143)=1
       exch2_pi(2,4,143)=0
       exch2_pj(1,4,143)=0
       exch2_pj(2,4,143)=1
       exch2_oi(4,143)=0
       exch2_oi_f(4,143)=0
       exch2_oj(4,143)=0
       exch2_oj_f(4,143)=0
       exch2_itlo_c(4,143)=9
       exch2_ithi_c(4,143)=9
       exch2_jtlo_c(4,143)=0
       exch2_jthi_c(4,143)=5
       exch2_opposingSend_record(4,143)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_144
C      Topology for tile 144
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(144)=8
       exch2_tny(144)=4
       exch2_tbasex(144)=24
       exch2_tbasey(144)=28
       exch2_txglobalo(144)=153
       exch2_tyglobalo(144)=29
       exch2_isWedge(144)=0
       exch2_isNedge(144)=1
       exch2_isEedge(144)=1
       exch2_isSedge(144)=0
       exch2_myFace(144)=5
       exch2_mydnx(144)=32
       exch2_mydny(144)=32
       exch2_nNeighbours(144)=4

       exch2_neighbourId(1,144)=1
       exch2_pi(1,1,144)=0
       exch2_pi(2,1,144)=-1
       exch2_pj(1,1,144)=1
       exch2_pj(2,1,144)=0
       exch2_oi(1,144)=33
       exch2_oi_f(1,144)=34
       exch2_oj(1,144)=32
       exch2_oj_f(1,144)=32
       exch2_itlo_c(1,144)=0
       exch2_ithi_c(1,144)=0
       exch2_jtlo_c(1,144)=0
       exch2_jthi_c(1,144)=5
       exch2_opposingSend_record(1,144)=4

       exch2_neighbourId(2,144)=5
       exch2_pi(1,2,144)=0
       exch2_pi(2,2,144)=-1
       exch2_pj(1,2,144)=1
       exch2_pj(2,2,144)=0
       exch2_oi(2,144)=33
       exch2_oi_f(2,144)=34
       exch2_oj(2,144)=32
       exch2_oj_f(2,144)=32
       exch2_itlo_c(2,144)=0
       exch2_ithi_c(2,144)=0
       exch2_jtlo_c(2,144)=0
       exch2_jthi_c(2,144)=5
       exch2_opposingSend_record(2,144)=4

       exch2_neighbourId(3,144)=141
       exch2_pi(1,3,144)=1
       exch2_pi(2,3,144)=0
       exch2_pj(1,3,144)=0
       exch2_pj(2,3,144)=1
       exch2_oi(3,144)=0
       exch2_oi_f(3,144)=0
       exch2_oj(3,144)=0
       exch2_oj_f(3,144)=0
       exch2_itlo_c(3,144)=1
       exch2_ithi_c(3,144)=8
       exch2_jtlo_c(3,144)=5
       exch2_jthi_c(3,144)=5
       exch2_opposingSend_record(3,144)=1

       exch2_neighbourId(4,144)=173
       exch2_pi(1,4,144)=1
       exch2_pi(2,4,144)=0
       exch2_pj(1,4,144)=0
       exch2_pj(2,4,144)=1
       exch2_oi(4,144)=32
       exch2_oi_f(4,144)=32
       exch2_oj(4,144)=0
       exch2_oj_f(4,144)=0
       exch2_itlo_c(4,144)=0
       exch2_ithi_c(4,144)=0
       exch2_jtlo_c(4,144)=0
       exch2_jthi_c(4,144)=5
       exch2_opposingSend_record(4,144)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_145
C      Topology for tile 145
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(145)=8
       exch2_tny(145)=4
       exch2_tbasex(145)=0
       exch2_tbasey(145)=0
       exch2_txglobalo(145)=161
       exch2_tyglobalo(145)=1
       exch2_isWedge(145)=1
       exch2_isNedge(145)=0
       exch2_isEedge(145)=0
       exch2_isSedge(145)=1
       exch2_myFace(145)=6
       exch2_mydnx(145)=32
       exch2_mydny(145)=32
       exch2_nNeighbours(145)=5

       exch2_neighbourId(1,145)=149
       exch2_pi(1,1,145)=1
       exch2_pi(2,1,145)=0
       exch2_pj(1,1,145)=0
       exch2_pj(2,1,145)=1
       exch2_oi(1,145)=0
       exch2_oi_f(1,145)=0
       exch2_oj(1,145)=0
       exch2_oj_f(1,145)=0
       exch2_itlo_c(1,145)=0
       exch2_ithi_c(1,145)=9
       exch2_jtlo_c(1,145)=0
       exch2_jthi_c(1,145)=0
       exch2_opposingSend_record(1,145)=2

       exch2_neighbourId(2,145)=110
       exch2_pi(1,2,145)=0
       exch2_pi(2,2,145)=-1
       exch2_pj(1,2,145)=1
       exch2_pj(2,2,145)=0
       exch2_oi(2,145)=33
       exch2_oi_f(2,145)=34
       exch2_oj(2,145)=-32
       exch2_oj_f(2,145)=-32
       exch2_itlo_c(2,145)=9
       exch2_ithi_c(2,145)=9
       exch2_jtlo_c(2,145)=0
       exch2_jthi_c(2,145)=5
       exch2_opposingSend_record(2,145)=3

       exch2_neighbourId(3,145)=114
       exch2_pi(1,3,145)=0
       exch2_pi(2,3,145)=-1
       exch2_pj(1,3,145)=1
       exch2_pj(2,3,145)=0
       exch2_oi(3,145)=33
       exch2_oi_f(3,145)=34
       exch2_oj(3,145)=-32
       exch2_oj_f(3,145)=-32
       exch2_itlo_c(3,145)=9
       exch2_ithi_c(3,145)=9
       exch2_jtlo_c(3,145)=0
       exch2_jthi_c(3,145)=5
       exch2_opposingSend_record(3,145)=3

       exch2_neighbourId(4,145)=146
       exch2_pi(1,4,145)=1
       exch2_pi(2,4,145)=0
       exch2_pj(1,4,145)=0
       exch2_pj(2,4,145)=1
       exch2_oi(4,145)=0
       exch2_oi_f(4,145)=0
       exch2_oj(4,145)=0
       exch2_oj_f(4,145)=0
       exch2_itlo_c(4,145)=0
       exch2_ithi_c(4,145)=0
       exch2_jtlo_c(4,145)=0
       exch2_jthi_c(4,145)=5
       exch2_opposingSend_record(4,145)=5

       exch2_neighbourId(5,145)=118
       exch2_pi(1,5,145)=1
       exch2_pi(2,5,145)=0
       exch2_pj(1,5,145)=0
       exch2_pj(2,5,145)=1
       exch2_oi(5,145)=-32
       exch2_oi_f(5,145)=-32
       exch2_oj(5,145)=0
       exch2_oj_f(5,145)=0
       exch2_itlo_c(5,145)=9
       exch2_ithi_c(5,145)=9
       exch2_jtlo_c(5,145)=0
       exch2_jthi_c(5,145)=5
       exch2_opposingSend_record(5,145)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_146
C      Topology for tile 146
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(146)=8
       exch2_tny(146)=4
       exch2_tbasex(146)=8
       exch2_tbasey(146)=0
       exch2_txglobalo(146)=169
       exch2_tyglobalo(146)=1
       exch2_isWedge(146)=0
       exch2_isNedge(146)=0
       exch2_isEedge(146)=0
       exch2_isSedge(146)=1
       exch2_myFace(146)=6
       exch2_mydnx(146)=32
       exch2_mydny(146)=32
       exch2_nNeighbours(146)=5

       exch2_neighbourId(1,146)=150
       exch2_pi(1,1,146)=1
       exch2_pi(2,1,146)=0
       exch2_pj(1,1,146)=0
       exch2_pj(2,1,146)=1
       exch2_oi(1,146)=0
       exch2_oi_f(1,146)=0
       exch2_oj(1,146)=0
       exch2_oj_f(1,146)=0
       exch2_itlo_c(1,146)=0
       exch2_ithi_c(1,146)=9
       exch2_jtlo_c(1,146)=0
       exch2_jthi_c(1,146)=0
       exch2_opposingSend_record(1,146)=2

       exch2_neighbourId(2,146)=102
       exch2_pi(1,2,146)=0
       exch2_pi(2,2,146)=-1
       exch2_pj(1,2,146)=1
       exch2_pj(2,2,146)=0
       exch2_oi(2,146)=33
       exch2_oi_f(2,146)=34
       exch2_oj(2,146)=-32
       exch2_oj_f(2,146)=-32
       exch2_itlo_c(2,146)=9
       exch2_ithi_c(2,146)=9
       exch2_jtlo_c(2,146)=0
       exch2_jthi_c(2,146)=5
       exch2_opposingSend_record(2,146)=3

       exch2_neighbourId(3,146)=106
       exch2_pi(1,3,146)=0
       exch2_pi(2,3,146)=-1
       exch2_pj(1,3,146)=1
       exch2_pj(2,3,146)=0
       exch2_oi(3,146)=33
       exch2_oi_f(3,146)=34
       exch2_oj(3,146)=-32
       exch2_oj_f(3,146)=-32
       exch2_itlo_c(3,146)=9
       exch2_ithi_c(3,146)=9
       exch2_jtlo_c(3,146)=0
       exch2_jthi_c(3,146)=5
       exch2_opposingSend_record(3,146)=3

       exch2_neighbourId(4,146)=147
       exch2_pi(1,4,146)=1
       exch2_pi(2,4,146)=0
       exch2_pj(1,4,146)=0
       exch2_pj(2,4,146)=1
       exch2_oi(4,146)=0
       exch2_oi_f(4,146)=0
       exch2_oj(4,146)=0
       exch2_oj_f(4,146)=0
       exch2_itlo_c(4,146)=0
       exch2_ithi_c(4,146)=0
       exch2_jtlo_c(4,146)=0
       exch2_jthi_c(4,146)=5
       exch2_opposingSend_record(4,146)=5

       exch2_neighbourId(5,146)=145
       exch2_pi(1,5,146)=1
       exch2_pi(2,5,146)=0
       exch2_pj(1,5,146)=0
       exch2_pj(2,5,146)=1
       exch2_oi(5,146)=0
       exch2_oi_f(5,146)=0
       exch2_oj(5,146)=0
       exch2_oj_f(5,146)=0
       exch2_itlo_c(5,146)=9
       exch2_ithi_c(5,146)=9
       exch2_jtlo_c(5,146)=0
       exch2_jthi_c(5,146)=5
       exch2_opposingSend_record(5,146)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_147
C      Topology for tile 147
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(147)=8
       exch2_tny(147)=4
       exch2_tbasex(147)=16
       exch2_tbasey(147)=0
       exch2_txglobalo(147)=177
       exch2_tyglobalo(147)=1
       exch2_isWedge(147)=0
       exch2_isNedge(147)=0
       exch2_isEedge(147)=0
       exch2_isSedge(147)=1
       exch2_myFace(147)=6
       exch2_mydnx(147)=32
       exch2_mydny(147)=32
       exch2_nNeighbours(147)=5

       exch2_neighbourId(1,147)=151
       exch2_pi(1,1,147)=1
       exch2_pi(2,1,147)=0
       exch2_pj(1,1,147)=0
       exch2_pj(2,1,147)=1
       exch2_oi(1,147)=0
       exch2_oi_f(1,147)=0
       exch2_oj(1,147)=0
       exch2_oj_f(1,147)=0
       exch2_itlo_c(1,147)=0
       exch2_ithi_c(1,147)=9
       exch2_jtlo_c(1,147)=0
       exch2_jthi_c(1,147)=0
       exch2_opposingSend_record(1,147)=2

       exch2_neighbourId(2,147)=94
       exch2_pi(1,2,147)=0
       exch2_pi(2,2,147)=-1
       exch2_pj(1,2,147)=1
       exch2_pj(2,2,147)=0
       exch2_oi(2,147)=33
       exch2_oi_f(2,147)=34
       exch2_oj(2,147)=-32
       exch2_oj_f(2,147)=-32
       exch2_itlo_c(2,147)=9
       exch2_ithi_c(2,147)=9
       exch2_jtlo_c(2,147)=0
       exch2_jthi_c(2,147)=5
       exch2_opposingSend_record(2,147)=3

       exch2_neighbourId(3,147)=98
       exch2_pi(1,3,147)=0
       exch2_pi(2,3,147)=-1
       exch2_pj(1,3,147)=1
       exch2_pj(2,3,147)=0
       exch2_oi(3,147)=33
       exch2_oi_f(3,147)=34
       exch2_oj(3,147)=-32
       exch2_oj_f(3,147)=-32
       exch2_itlo_c(3,147)=9
       exch2_ithi_c(3,147)=9
       exch2_jtlo_c(3,147)=0
       exch2_jthi_c(3,147)=5
       exch2_opposingSend_record(3,147)=3

       exch2_neighbourId(4,147)=148
       exch2_pi(1,4,147)=1
       exch2_pi(2,4,147)=0
       exch2_pj(1,4,147)=0
       exch2_pj(2,4,147)=1
       exch2_oi(4,147)=0
       exch2_oi_f(4,147)=0
       exch2_oj(4,147)=0
       exch2_oj_f(4,147)=0
       exch2_itlo_c(4,147)=0
       exch2_ithi_c(4,147)=0
       exch2_jtlo_c(4,147)=0
       exch2_jthi_c(4,147)=5
       exch2_opposingSend_record(4,147)=5

       exch2_neighbourId(5,147)=146
       exch2_pi(1,5,147)=1
       exch2_pi(2,5,147)=0
       exch2_pj(1,5,147)=0
       exch2_pj(2,5,147)=1
       exch2_oi(5,147)=0
       exch2_oi_f(5,147)=0
       exch2_oj(5,147)=0
       exch2_oj_f(5,147)=0
       exch2_itlo_c(5,147)=9
       exch2_ithi_c(5,147)=9
       exch2_jtlo_c(5,147)=0
       exch2_jthi_c(5,147)=5
       exch2_opposingSend_record(5,147)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_148
C      Topology for tile 148
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(148)=8
       exch2_tny(148)=4
       exch2_tbasex(148)=24
       exch2_tbasey(148)=0
       exch2_txglobalo(148)=185
       exch2_tyglobalo(148)=1
       exch2_isWedge(148)=0
       exch2_isNedge(148)=0
       exch2_isEedge(148)=1
       exch2_isSedge(148)=1
       exch2_myFace(148)=6
       exch2_mydnx(148)=32
       exch2_mydny(148)=32
       exch2_nNeighbours(148)=5

       exch2_neighbourId(1,148)=152
       exch2_pi(1,1,148)=1
       exch2_pi(2,1,148)=0
       exch2_pj(1,1,148)=0
       exch2_pj(2,1,148)=1
       exch2_oi(1,148)=0
       exch2_oi_f(1,148)=0
       exch2_oj(1,148)=0
       exch2_oj_f(1,148)=0
       exch2_itlo_c(1,148)=0
       exch2_ithi_c(1,148)=9
       exch2_jtlo_c(1,148)=0
       exch2_jthi_c(1,148)=0
       exch2_opposingSend_record(1,148)=2

       exch2_neighbourId(2,148)=86
       exch2_pi(1,2,148)=0
       exch2_pi(2,2,148)=-1
       exch2_pj(1,2,148)=1
       exch2_pj(2,2,148)=0
       exch2_oi(2,148)=33
       exch2_oi_f(2,148)=34
       exch2_oj(2,148)=-32
       exch2_oj_f(2,148)=-32
       exch2_itlo_c(2,148)=9
       exch2_ithi_c(2,148)=9
       exch2_jtlo_c(2,148)=0
       exch2_jthi_c(2,148)=5
       exch2_opposingSend_record(2,148)=3

       exch2_neighbourId(3,148)=90
       exch2_pi(1,3,148)=0
       exch2_pi(2,3,148)=-1
       exch2_pj(1,3,148)=1
       exch2_pj(2,3,148)=0
       exch2_oi(3,148)=33
       exch2_oi_f(3,148)=34
       exch2_oj(3,148)=-32
       exch2_oj_f(3,148)=-32
       exch2_itlo_c(3,148)=9
       exch2_ithi_c(3,148)=9
       exch2_jtlo_c(3,148)=0
       exch2_jthi_c(3,148)=5
       exch2_opposingSend_record(3,148)=3

       exch2_neighbourId(4,148)=34
       exch2_pi(1,4,148)=0
       exch2_pi(2,4,148)=1
       exch2_pj(1,4,148)=-1
       exch2_pj(2,4,148)=0
       exch2_oi(4,148)=32
       exch2_oi_f(4,148)=32
       exch2_oj(4,148)=33
       exch2_oj_f(4,148)=34
       exch2_itlo_c(4,148)=4
       exch2_ithi_c(4,148)=9
       exch2_jtlo_c(4,148)=0
       exch2_jthi_c(4,148)=0
       exch2_opposingSend_record(4,148)=1

       exch2_neighbourId(5,148)=147
       exch2_pi(1,5,148)=1
       exch2_pi(2,5,148)=0
       exch2_pj(1,5,148)=0
       exch2_pj(2,5,148)=1
       exch2_oi(5,148)=0
       exch2_oi_f(5,148)=0
       exch2_oj(5,148)=0
       exch2_oj_f(5,148)=0
       exch2_itlo_c(5,148)=9
       exch2_ithi_c(5,148)=9
       exch2_jtlo_c(5,148)=0
       exch2_jthi_c(5,148)=5
       exch2_opposingSend_record(5,148)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_149
C      Topology for tile 149
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(149)=8
       exch2_tny(149)=4
       exch2_tbasex(149)=0
       exch2_tbasey(149)=4
       exch2_txglobalo(149)=161
       exch2_tyglobalo(149)=5
       exch2_isWedge(149)=1
       exch2_isNedge(149)=0
       exch2_isEedge(149)=0
       exch2_isSedge(149)=0
       exch2_myFace(149)=6
       exch2_mydnx(149)=32
       exch2_mydny(149)=32
       exch2_nNeighbours(149)=4

       exch2_neighbourId(1,149)=153
       exch2_pi(1,1,149)=1
       exch2_pi(2,1,149)=0
       exch2_pj(1,1,149)=0
       exch2_pj(2,1,149)=1
       exch2_oi(1,149)=0
       exch2_oi_f(1,149)=0
       exch2_oj(1,149)=0
       exch2_oj_f(1,149)=0
       exch2_itlo_c(1,149)=0
       exch2_ithi_c(1,149)=9
       exch2_jtlo_c(1,149)=0
       exch2_jthi_c(1,149)=0
       exch2_opposingSend_record(1,149)=2

       exch2_neighbourId(2,149)=145
       exch2_pi(1,2,149)=1
       exch2_pi(2,2,149)=0
       exch2_pj(1,2,149)=0
       exch2_pj(2,2,149)=1
       exch2_oi(2,149)=0
       exch2_oi_f(2,149)=0
       exch2_oj(2,149)=0
       exch2_oj_f(2,149)=0
       exch2_itlo_c(2,149)=1
       exch2_ithi_c(2,149)=8
       exch2_jtlo_c(2,149)=5
       exch2_jthi_c(2,149)=5
       exch2_opposingSend_record(2,149)=1

       exch2_neighbourId(3,149)=150
       exch2_pi(1,3,149)=1
       exch2_pi(2,3,149)=0
       exch2_pj(1,3,149)=0
       exch2_pj(2,3,149)=1
       exch2_oi(3,149)=0
       exch2_oi_f(3,149)=0
       exch2_oj(3,149)=0
       exch2_oj_f(3,149)=0
       exch2_itlo_c(3,149)=0
       exch2_ithi_c(3,149)=0
       exch2_jtlo_c(3,149)=0
       exch2_jthi_c(3,149)=5
       exch2_opposingSend_record(3,149)=4

       exch2_neighbourId(4,149)=122
       exch2_pi(1,4,149)=1
       exch2_pi(2,4,149)=0
       exch2_pj(1,4,149)=0
       exch2_pj(2,4,149)=1
       exch2_oi(4,149)=-32
       exch2_oi_f(4,149)=-32
       exch2_oj(4,149)=0
       exch2_oj_f(4,149)=0
       exch2_itlo_c(4,149)=9
       exch2_ithi_c(4,149)=9
       exch2_jtlo_c(4,149)=0
       exch2_jthi_c(4,149)=5
       exch2_opposingSend_record(4,149)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_150
C      Topology for tile 150
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(150)=8
       exch2_tny(150)=4
       exch2_tbasex(150)=8
       exch2_tbasey(150)=4
       exch2_txglobalo(150)=169
       exch2_tyglobalo(150)=5
       exch2_isWedge(150)=0
       exch2_isNedge(150)=0
       exch2_isEedge(150)=0
       exch2_isSedge(150)=0
       exch2_myFace(150)=6
       exch2_mydnx(150)=32
       exch2_mydny(150)=32
       exch2_nNeighbours(150)=4

       exch2_neighbourId(1,150)=154
       exch2_pi(1,1,150)=1
       exch2_pi(2,1,150)=0
       exch2_pj(1,1,150)=0
       exch2_pj(2,1,150)=1
       exch2_oi(1,150)=0
       exch2_oi_f(1,150)=0
       exch2_oj(1,150)=0
       exch2_oj_f(1,150)=0
       exch2_itlo_c(1,150)=0
       exch2_ithi_c(1,150)=9
       exch2_jtlo_c(1,150)=0
       exch2_jthi_c(1,150)=0
       exch2_opposingSend_record(1,150)=2

       exch2_neighbourId(2,150)=146
       exch2_pi(1,2,150)=1
       exch2_pi(2,2,150)=0
       exch2_pj(1,2,150)=0
       exch2_pj(2,2,150)=1
       exch2_oi(2,150)=0
       exch2_oi_f(2,150)=0
       exch2_oj(2,150)=0
       exch2_oj_f(2,150)=0
       exch2_itlo_c(2,150)=1
       exch2_ithi_c(2,150)=8
       exch2_jtlo_c(2,150)=5
       exch2_jthi_c(2,150)=5
       exch2_opposingSend_record(2,150)=1

       exch2_neighbourId(3,150)=151
       exch2_pi(1,3,150)=1
       exch2_pi(2,3,150)=0
       exch2_pj(1,3,150)=0
       exch2_pj(2,3,150)=1
       exch2_oi(3,150)=0
       exch2_oi_f(3,150)=0
       exch2_oj(3,150)=0
       exch2_oj_f(3,150)=0
       exch2_itlo_c(3,150)=0
       exch2_ithi_c(3,150)=0
       exch2_jtlo_c(3,150)=0
       exch2_jthi_c(3,150)=5
       exch2_opposingSend_record(3,150)=4

       exch2_neighbourId(4,150)=149
       exch2_pi(1,4,150)=1
       exch2_pi(2,4,150)=0
       exch2_pj(1,4,150)=0
       exch2_pj(2,4,150)=1
       exch2_oi(4,150)=0
       exch2_oi_f(4,150)=0
       exch2_oj(4,150)=0
       exch2_oj_f(4,150)=0
       exch2_itlo_c(4,150)=9
       exch2_ithi_c(4,150)=9
       exch2_jtlo_c(4,150)=0
       exch2_jthi_c(4,150)=5
       exch2_opposingSend_record(4,150)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_151
C      Topology for tile 151
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(151)=8
       exch2_tny(151)=4
       exch2_tbasex(151)=16
       exch2_tbasey(151)=4
       exch2_txglobalo(151)=177
       exch2_tyglobalo(151)=5
       exch2_isWedge(151)=0
       exch2_isNedge(151)=0
       exch2_isEedge(151)=0
       exch2_isSedge(151)=0
       exch2_myFace(151)=6
       exch2_mydnx(151)=32
       exch2_mydny(151)=32
       exch2_nNeighbours(151)=4

       exch2_neighbourId(1,151)=155
       exch2_pi(1,1,151)=1
       exch2_pi(2,1,151)=0
       exch2_pj(1,1,151)=0
       exch2_pj(2,1,151)=1
       exch2_oi(1,151)=0
       exch2_oi_f(1,151)=0
       exch2_oj(1,151)=0
       exch2_oj_f(1,151)=0
       exch2_itlo_c(1,151)=0
       exch2_ithi_c(1,151)=9
       exch2_jtlo_c(1,151)=0
       exch2_jthi_c(1,151)=0
       exch2_opposingSend_record(1,151)=2

       exch2_neighbourId(2,151)=147
       exch2_pi(1,2,151)=1
       exch2_pi(2,2,151)=0
       exch2_pj(1,2,151)=0
       exch2_pj(2,2,151)=1
       exch2_oi(2,151)=0
       exch2_oi_f(2,151)=0
       exch2_oj(2,151)=0
       exch2_oj_f(2,151)=0
       exch2_itlo_c(2,151)=1
       exch2_ithi_c(2,151)=8
       exch2_jtlo_c(2,151)=5
       exch2_jthi_c(2,151)=5
       exch2_opposingSend_record(2,151)=1

       exch2_neighbourId(3,151)=152
       exch2_pi(1,3,151)=1
       exch2_pi(2,3,151)=0
       exch2_pj(1,3,151)=0
       exch2_pj(2,3,151)=1
       exch2_oi(3,151)=0
       exch2_oi_f(3,151)=0
       exch2_oj(3,151)=0
       exch2_oj_f(3,151)=0
       exch2_itlo_c(3,151)=0
       exch2_ithi_c(3,151)=0
       exch2_jtlo_c(3,151)=0
       exch2_jthi_c(3,151)=5
       exch2_opposingSend_record(3,151)=4

       exch2_neighbourId(4,151)=150
       exch2_pi(1,4,151)=1
       exch2_pi(2,4,151)=0
       exch2_pj(1,4,151)=0
       exch2_pj(2,4,151)=1
       exch2_oi(4,151)=0
       exch2_oi_f(4,151)=0
       exch2_oj(4,151)=0
       exch2_oj_f(4,151)=0
       exch2_itlo_c(4,151)=9
       exch2_ithi_c(4,151)=9
       exch2_jtlo_c(4,151)=0
       exch2_jthi_c(4,151)=5
       exch2_opposingSend_record(4,151)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_152
C      Topology for tile 152
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(152)=8
       exch2_tny(152)=4
       exch2_tbasex(152)=24
       exch2_tbasey(152)=4
       exch2_txglobalo(152)=185
       exch2_tyglobalo(152)=5
       exch2_isWedge(152)=0
       exch2_isNedge(152)=0
       exch2_isEedge(152)=1
       exch2_isSedge(152)=0
       exch2_myFace(152)=6
       exch2_mydnx(152)=32
       exch2_mydny(152)=32
       exch2_nNeighbours(152)=4

       exch2_neighbourId(1,152)=156
       exch2_pi(1,1,152)=1
       exch2_pi(2,1,152)=0
       exch2_pj(1,1,152)=0
       exch2_pj(2,1,152)=1
       exch2_oi(1,152)=0
       exch2_oi_f(1,152)=0
       exch2_oj(1,152)=0
       exch2_oj_f(1,152)=0
       exch2_itlo_c(1,152)=0
       exch2_ithi_c(1,152)=9
       exch2_jtlo_c(1,152)=0
       exch2_jthi_c(1,152)=0
       exch2_opposingSend_record(1,152)=2

       exch2_neighbourId(2,152)=148
       exch2_pi(1,2,152)=1
       exch2_pi(2,2,152)=0
       exch2_pj(1,2,152)=0
       exch2_pj(2,2,152)=1
       exch2_oi(2,152)=0
       exch2_oi_f(2,152)=0
       exch2_oj(2,152)=0
       exch2_oj_f(2,152)=0
       exch2_itlo_c(2,152)=1
       exch2_ithi_c(2,152)=8
       exch2_jtlo_c(2,152)=5
       exch2_jthi_c(2,152)=5
       exch2_opposingSend_record(2,152)=1

       exch2_neighbourId(3,152)=34
       exch2_pi(1,3,152)=0
       exch2_pi(2,3,152)=1
       exch2_pj(1,3,152)=-1
       exch2_pj(2,3,152)=0
       exch2_oi(3,152)=32
       exch2_oi_f(3,152)=32
       exch2_oj(3,152)=33
       exch2_oj_f(3,152)=34
       exch2_itlo_c(3,152)=0
       exch2_ithi_c(3,152)=5
       exch2_jtlo_c(3,152)=0
       exch2_jthi_c(3,152)=0
       exch2_opposingSend_record(3,152)=2

       exch2_neighbourId(4,152)=151
       exch2_pi(1,4,152)=1
       exch2_pi(2,4,152)=0
       exch2_pj(1,4,152)=0
       exch2_pj(2,4,152)=1
       exch2_oi(4,152)=0
       exch2_oi_f(4,152)=0
       exch2_oj(4,152)=0
       exch2_oj_f(4,152)=0
       exch2_itlo_c(4,152)=9
       exch2_ithi_c(4,152)=9
       exch2_jtlo_c(4,152)=0
       exch2_jthi_c(4,152)=5
       exch2_opposingSend_record(4,152)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_153
C      Topology for tile 153
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(153)=8
       exch2_tny(153)=4
       exch2_tbasex(153)=0
       exch2_tbasey(153)=8
       exch2_txglobalo(153)=161
       exch2_tyglobalo(153)=9
       exch2_isWedge(153)=1
       exch2_isNedge(153)=0
       exch2_isEedge(153)=0
       exch2_isSedge(153)=0
       exch2_myFace(153)=6
       exch2_mydnx(153)=32
       exch2_mydny(153)=32
       exch2_nNeighbours(153)=4

       exch2_neighbourId(1,153)=157
       exch2_pi(1,1,153)=1
       exch2_pi(2,1,153)=0
       exch2_pj(1,1,153)=0
       exch2_pj(2,1,153)=1
       exch2_oi(1,153)=0
       exch2_oi_f(1,153)=0
       exch2_oj(1,153)=0
       exch2_oj_f(1,153)=0
       exch2_itlo_c(1,153)=0
       exch2_ithi_c(1,153)=9
       exch2_jtlo_c(1,153)=0
       exch2_jthi_c(1,153)=0
       exch2_opposingSend_record(1,153)=2

       exch2_neighbourId(2,153)=149
       exch2_pi(1,2,153)=1
       exch2_pi(2,2,153)=0
       exch2_pj(1,2,153)=0
       exch2_pj(2,2,153)=1
       exch2_oi(2,153)=0
       exch2_oi_f(2,153)=0
       exch2_oj(2,153)=0
       exch2_oj_f(2,153)=0
       exch2_itlo_c(2,153)=1
       exch2_ithi_c(2,153)=8
       exch2_jtlo_c(2,153)=5
       exch2_jthi_c(2,153)=5
       exch2_opposingSend_record(2,153)=1

       exch2_neighbourId(3,153)=154
       exch2_pi(1,3,153)=1
       exch2_pi(2,3,153)=0
       exch2_pj(1,3,153)=0
       exch2_pj(2,3,153)=1
       exch2_oi(3,153)=0
       exch2_oi_f(3,153)=0
       exch2_oj(3,153)=0
       exch2_oj_f(3,153)=0
       exch2_itlo_c(3,153)=0
       exch2_ithi_c(3,153)=0
       exch2_jtlo_c(3,153)=0
       exch2_jthi_c(3,153)=5
       exch2_opposingSend_record(3,153)=4

       exch2_neighbourId(4,153)=126
       exch2_pi(1,4,153)=1
       exch2_pi(2,4,153)=0
       exch2_pj(1,4,153)=0
       exch2_pj(2,4,153)=1
       exch2_oi(4,153)=-32
       exch2_oi_f(4,153)=-32
       exch2_oj(4,153)=0
       exch2_oj_f(4,153)=0
       exch2_itlo_c(4,153)=9
       exch2_ithi_c(4,153)=9
       exch2_jtlo_c(4,153)=0
       exch2_jthi_c(4,153)=5
       exch2_opposingSend_record(4,153)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_154
C      Topology for tile 154
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(154)=8
       exch2_tny(154)=4
       exch2_tbasex(154)=8
       exch2_tbasey(154)=8
       exch2_txglobalo(154)=169
       exch2_tyglobalo(154)=9
       exch2_isWedge(154)=0
       exch2_isNedge(154)=0
       exch2_isEedge(154)=0
       exch2_isSedge(154)=0
       exch2_myFace(154)=6
       exch2_mydnx(154)=32
       exch2_mydny(154)=32
       exch2_nNeighbours(154)=4

       exch2_neighbourId(1,154)=158
       exch2_pi(1,1,154)=1
       exch2_pi(2,1,154)=0
       exch2_pj(1,1,154)=0
       exch2_pj(2,1,154)=1
       exch2_oi(1,154)=0
       exch2_oi_f(1,154)=0
       exch2_oj(1,154)=0
       exch2_oj_f(1,154)=0
       exch2_itlo_c(1,154)=0
       exch2_ithi_c(1,154)=9
       exch2_jtlo_c(1,154)=0
       exch2_jthi_c(1,154)=0
       exch2_opposingSend_record(1,154)=2

       exch2_neighbourId(2,154)=150
       exch2_pi(1,2,154)=1
       exch2_pi(2,2,154)=0
       exch2_pj(1,2,154)=0
       exch2_pj(2,2,154)=1
       exch2_oi(2,154)=0
       exch2_oi_f(2,154)=0
       exch2_oj(2,154)=0
       exch2_oj_f(2,154)=0
       exch2_itlo_c(2,154)=1
       exch2_ithi_c(2,154)=8
       exch2_jtlo_c(2,154)=5
       exch2_jthi_c(2,154)=5
       exch2_opposingSend_record(2,154)=1

       exch2_neighbourId(3,154)=155
       exch2_pi(1,3,154)=1
       exch2_pi(2,3,154)=0
       exch2_pj(1,3,154)=0
       exch2_pj(2,3,154)=1
       exch2_oi(3,154)=0
       exch2_oi_f(3,154)=0
       exch2_oj(3,154)=0
       exch2_oj_f(3,154)=0
       exch2_itlo_c(3,154)=0
       exch2_ithi_c(3,154)=0
       exch2_jtlo_c(3,154)=0
       exch2_jthi_c(3,154)=5
       exch2_opposingSend_record(3,154)=4

       exch2_neighbourId(4,154)=153
       exch2_pi(1,4,154)=1
       exch2_pi(2,4,154)=0
       exch2_pj(1,4,154)=0
       exch2_pj(2,4,154)=1
       exch2_oi(4,154)=0
       exch2_oi_f(4,154)=0
       exch2_oj(4,154)=0
       exch2_oj_f(4,154)=0
       exch2_itlo_c(4,154)=9
       exch2_ithi_c(4,154)=9
       exch2_jtlo_c(4,154)=0
       exch2_jthi_c(4,154)=5
       exch2_opposingSend_record(4,154)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_155
C      Topology for tile 155
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(155)=8
       exch2_tny(155)=4
       exch2_tbasex(155)=16
       exch2_tbasey(155)=8
       exch2_txglobalo(155)=177
       exch2_tyglobalo(155)=9
       exch2_isWedge(155)=0
       exch2_isNedge(155)=0
       exch2_isEedge(155)=0
       exch2_isSedge(155)=0
       exch2_myFace(155)=6
       exch2_mydnx(155)=32
       exch2_mydny(155)=32
       exch2_nNeighbours(155)=4

       exch2_neighbourId(1,155)=159
       exch2_pi(1,1,155)=1
       exch2_pi(2,1,155)=0
       exch2_pj(1,1,155)=0
       exch2_pj(2,1,155)=1
       exch2_oi(1,155)=0
       exch2_oi_f(1,155)=0
       exch2_oj(1,155)=0
       exch2_oj_f(1,155)=0
       exch2_itlo_c(1,155)=0
       exch2_ithi_c(1,155)=9
       exch2_jtlo_c(1,155)=0
       exch2_jthi_c(1,155)=0
       exch2_opposingSend_record(1,155)=2

       exch2_neighbourId(2,155)=151
       exch2_pi(1,2,155)=1
       exch2_pi(2,2,155)=0
       exch2_pj(1,2,155)=0
       exch2_pj(2,2,155)=1
       exch2_oi(2,155)=0
       exch2_oi_f(2,155)=0
       exch2_oj(2,155)=0
       exch2_oj_f(2,155)=0
       exch2_itlo_c(2,155)=1
       exch2_ithi_c(2,155)=8
       exch2_jtlo_c(2,155)=5
       exch2_jthi_c(2,155)=5
       exch2_opposingSend_record(2,155)=1

       exch2_neighbourId(3,155)=156
       exch2_pi(1,3,155)=1
       exch2_pi(2,3,155)=0
       exch2_pj(1,3,155)=0
       exch2_pj(2,3,155)=1
       exch2_oi(3,155)=0
       exch2_oi_f(3,155)=0
       exch2_oj(3,155)=0
       exch2_oj_f(3,155)=0
       exch2_itlo_c(3,155)=0
       exch2_ithi_c(3,155)=0
       exch2_jtlo_c(3,155)=0
       exch2_jthi_c(3,155)=5
       exch2_opposingSend_record(3,155)=4

       exch2_neighbourId(4,155)=154
       exch2_pi(1,4,155)=1
       exch2_pi(2,4,155)=0
       exch2_pj(1,4,155)=0
       exch2_pj(2,4,155)=1
       exch2_oi(4,155)=0
       exch2_oi_f(4,155)=0
       exch2_oj(4,155)=0
       exch2_oj_f(4,155)=0
       exch2_itlo_c(4,155)=9
       exch2_ithi_c(4,155)=9
       exch2_jtlo_c(4,155)=0
       exch2_jthi_c(4,155)=5
       exch2_opposingSend_record(4,155)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_156
C      Topology for tile 156
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(156)=8
       exch2_tny(156)=4
       exch2_tbasex(156)=24
       exch2_tbasey(156)=8
       exch2_txglobalo(156)=185
       exch2_tyglobalo(156)=9
       exch2_isWedge(156)=0
       exch2_isNedge(156)=0
       exch2_isEedge(156)=1
       exch2_isSedge(156)=0
       exch2_myFace(156)=6
       exch2_mydnx(156)=32
       exch2_mydny(156)=32
       exch2_nNeighbours(156)=4

       exch2_neighbourId(1,156)=160
       exch2_pi(1,1,156)=1
       exch2_pi(2,1,156)=0
       exch2_pj(1,1,156)=0
       exch2_pj(2,1,156)=1
       exch2_oi(1,156)=0
       exch2_oi_f(1,156)=0
       exch2_oj(1,156)=0
       exch2_oj_f(1,156)=0
       exch2_itlo_c(1,156)=0
       exch2_ithi_c(1,156)=9
       exch2_jtlo_c(1,156)=0
       exch2_jthi_c(1,156)=0
       exch2_opposingSend_record(1,156)=2

       exch2_neighbourId(2,156)=152
       exch2_pi(1,2,156)=1
       exch2_pi(2,2,156)=0
       exch2_pj(1,2,156)=0
       exch2_pj(2,2,156)=1
       exch2_oi(2,156)=0
       exch2_oi_f(2,156)=0
       exch2_oj(2,156)=0
       exch2_oj_f(2,156)=0
       exch2_itlo_c(2,156)=1
       exch2_ithi_c(2,156)=8
       exch2_jtlo_c(2,156)=5
       exch2_jthi_c(2,156)=5
       exch2_opposingSend_record(2,156)=1

       exch2_neighbourId(3,156)=33
       exch2_pi(1,3,156)=0
       exch2_pi(2,3,156)=1
       exch2_pj(1,3,156)=-1
       exch2_pj(2,3,156)=0
       exch2_oi(3,156)=32
       exch2_oi_f(3,156)=32
       exch2_oj(3,156)=33
       exch2_oj_f(3,156)=34
       exch2_itlo_c(3,156)=4
       exch2_ithi_c(3,156)=9
       exch2_jtlo_c(3,156)=0
       exch2_jthi_c(3,156)=0
       exch2_opposingSend_record(3,156)=2

       exch2_neighbourId(4,156)=155
       exch2_pi(1,4,156)=1
       exch2_pi(2,4,156)=0
       exch2_pj(1,4,156)=0
       exch2_pj(2,4,156)=1
       exch2_oi(4,156)=0
       exch2_oi_f(4,156)=0
       exch2_oj(4,156)=0
       exch2_oj_f(4,156)=0
       exch2_itlo_c(4,156)=9
       exch2_ithi_c(4,156)=9
       exch2_jtlo_c(4,156)=0
       exch2_jthi_c(4,156)=5
       exch2_opposingSend_record(4,156)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_157
C      Topology for tile 157
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(157)=8
       exch2_tny(157)=4
       exch2_tbasex(157)=0
       exch2_tbasey(157)=12
       exch2_txglobalo(157)=161
       exch2_tyglobalo(157)=13
       exch2_isWedge(157)=1
       exch2_isNedge(157)=0
       exch2_isEedge(157)=0
       exch2_isSedge(157)=0
       exch2_myFace(157)=6
       exch2_mydnx(157)=32
       exch2_mydny(157)=32
       exch2_nNeighbours(157)=4

       exch2_neighbourId(1,157)=161
       exch2_pi(1,1,157)=1
       exch2_pi(2,1,157)=0
       exch2_pj(1,1,157)=0
       exch2_pj(2,1,157)=1
       exch2_oi(1,157)=0
       exch2_oi_f(1,157)=0
       exch2_oj(1,157)=0
       exch2_oj_f(1,157)=0
       exch2_itlo_c(1,157)=0
       exch2_ithi_c(1,157)=9
       exch2_jtlo_c(1,157)=0
       exch2_jthi_c(1,157)=0
       exch2_opposingSend_record(1,157)=2

       exch2_neighbourId(2,157)=153
       exch2_pi(1,2,157)=1
       exch2_pi(2,2,157)=0
       exch2_pj(1,2,157)=0
       exch2_pj(2,2,157)=1
       exch2_oi(2,157)=0
       exch2_oi_f(2,157)=0
       exch2_oj(2,157)=0
       exch2_oj_f(2,157)=0
       exch2_itlo_c(2,157)=1
       exch2_ithi_c(2,157)=8
       exch2_jtlo_c(2,157)=5
       exch2_jthi_c(2,157)=5
       exch2_opposingSend_record(2,157)=1

       exch2_neighbourId(3,157)=158
       exch2_pi(1,3,157)=1
       exch2_pi(2,3,157)=0
       exch2_pj(1,3,157)=0
       exch2_pj(2,3,157)=1
       exch2_oi(3,157)=0
       exch2_oi_f(3,157)=0
       exch2_oj(3,157)=0
       exch2_oj_f(3,157)=0
       exch2_itlo_c(3,157)=0
       exch2_ithi_c(3,157)=0
       exch2_jtlo_c(3,157)=0
       exch2_jthi_c(3,157)=5
       exch2_opposingSend_record(3,157)=4

       exch2_neighbourId(4,157)=130
       exch2_pi(1,4,157)=1
       exch2_pi(2,4,157)=0
       exch2_pj(1,4,157)=0
       exch2_pj(2,4,157)=1
       exch2_oi(4,157)=-32
       exch2_oi_f(4,157)=-32
       exch2_oj(4,157)=0
       exch2_oj_f(4,157)=0
       exch2_itlo_c(4,157)=9
       exch2_ithi_c(4,157)=9
       exch2_jtlo_c(4,157)=0
       exch2_jthi_c(4,157)=5
       exch2_opposingSend_record(4,157)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_158
C      Topology for tile 158
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(158)=8
       exch2_tny(158)=4
       exch2_tbasex(158)=8
       exch2_tbasey(158)=12
       exch2_txglobalo(158)=169
       exch2_tyglobalo(158)=13
       exch2_isWedge(158)=0
       exch2_isNedge(158)=0
       exch2_isEedge(158)=0
       exch2_isSedge(158)=0
       exch2_myFace(158)=6
       exch2_mydnx(158)=32
       exch2_mydny(158)=32
       exch2_nNeighbours(158)=4

       exch2_neighbourId(1,158)=162
       exch2_pi(1,1,158)=1
       exch2_pi(2,1,158)=0
       exch2_pj(1,1,158)=0
       exch2_pj(2,1,158)=1
       exch2_oi(1,158)=0
       exch2_oi_f(1,158)=0
       exch2_oj(1,158)=0
       exch2_oj_f(1,158)=0
       exch2_itlo_c(1,158)=0
       exch2_ithi_c(1,158)=9
       exch2_jtlo_c(1,158)=0
       exch2_jthi_c(1,158)=0
       exch2_opposingSend_record(1,158)=2

       exch2_neighbourId(2,158)=154
       exch2_pi(1,2,158)=1
       exch2_pi(2,2,158)=0
       exch2_pj(1,2,158)=0
       exch2_pj(2,2,158)=1
       exch2_oi(2,158)=0
       exch2_oi_f(2,158)=0
       exch2_oj(2,158)=0
       exch2_oj_f(2,158)=0
       exch2_itlo_c(2,158)=1
       exch2_ithi_c(2,158)=8
       exch2_jtlo_c(2,158)=5
       exch2_jthi_c(2,158)=5
       exch2_opposingSend_record(2,158)=1

       exch2_neighbourId(3,158)=159
       exch2_pi(1,3,158)=1
       exch2_pi(2,3,158)=0
       exch2_pj(1,3,158)=0
       exch2_pj(2,3,158)=1
       exch2_oi(3,158)=0
       exch2_oi_f(3,158)=0
       exch2_oj(3,158)=0
       exch2_oj_f(3,158)=0
       exch2_itlo_c(3,158)=0
       exch2_ithi_c(3,158)=0
       exch2_jtlo_c(3,158)=0
       exch2_jthi_c(3,158)=5
       exch2_opposingSend_record(3,158)=4

       exch2_neighbourId(4,158)=157
       exch2_pi(1,4,158)=1
       exch2_pi(2,4,158)=0
       exch2_pj(1,4,158)=0
       exch2_pj(2,4,158)=1
       exch2_oi(4,158)=0
       exch2_oi_f(4,158)=0
       exch2_oj(4,158)=0
       exch2_oj_f(4,158)=0
       exch2_itlo_c(4,158)=9
       exch2_ithi_c(4,158)=9
       exch2_jtlo_c(4,158)=0
       exch2_jthi_c(4,158)=5
       exch2_opposingSend_record(4,158)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_159
C      Topology for tile 159
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(159)=8
       exch2_tny(159)=4
       exch2_tbasex(159)=16
       exch2_tbasey(159)=12
       exch2_txglobalo(159)=177
       exch2_tyglobalo(159)=13
       exch2_isWedge(159)=0
       exch2_isNedge(159)=0
       exch2_isEedge(159)=0
       exch2_isSedge(159)=0
       exch2_myFace(159)=6
       exch2_mydnx(159)=32
       exch2_mydny(159)=32
       exch2_nNeighbours(159)=4

       exch2_neighbourId(1,159)=163
       exch2_pi(1,1,159)=1
       exch2_pi(2,1,159)=0
       exch2_pj(1,1,159)=0
       exch2_pj(2,1,159)=1
       exch2_oi(1,159)=0
       exch2_oi_f(1,159)=0
       exch2_oj(1,159)=0
       exch2_oj_f(1,159)=0
       exch2_itlo_c(1,159)=0
       exch2_ithi_c(1,159)=9
       exch2_jtlo_c(1,159)=0
       exch2_jthi_c(1,159)=0
       exch2_opposingSend_record(1,159)=2

       exch2_neighbourId(2,159)=155
       exch2_pi(1,2,159)=1
       exch2_pi(2,2,159)=0
       exch2_pj(1,2,159)=0
       exch2_pj(2,2,159)=1
       exch2_oi(2,159)=0
       exch2_oi_f(2,159)=0
       exch2_oj(2,159)=0
       exch2_oj_f(2,159)=0
       exch2_itlo_c(2,159)=1
       exch2_ithi_c(2,159)=8
       exch2_jtlo_c(2,159)=5
       exch2_jthi_c(2,159)=5
       exch2_opposingSend_record(2,159)=1

       exch2_neighbourId(3,159)=160
       exch2_pi(1,3,159)=1
       exch2_pi(2,3,159)=0
       exch2_pj(1,3,159)=0
       exch2_pj(2,3,159)=1
       exch2_oi(3,159)=0
       exch2_oi_f(3,159)=0
       exch2_oj(3,159)=0
       exch2_oj_f(3,159)=0
       exch2_itlo_c(3,159)=0
       exch2_ithi_c(3,159)=0
       exch2_jtlo_c(3,159)=0
       exch2_jthi_c(3,159)=5
       exch2_opposingSend_record(3,159)=4

       exch2_neighbourId(4,159)=158
       exch2_pi(1,4,159)=1
       exch2_pi(2,4,159)=0
       exch2_pj(1,4,159)=0
       exch2_pj(2,4,159)=1
       exch2_oi(4,159)=0
       exch2_oi_f(4,159)=0
       exch2_oj(4,159)=0
       exch2_oj_f(4,159)=0
       exch2_itlo_c(4,159)=9
       exch2_ithi_c(4,159)=9
       exch2_jtlo_c(4,159)=0
       exch2_jthi_c(4,159)=5
       exch2_opposingSend_record(4,159)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_160
C      Topology for tile 160
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(160)=8
       exch2_tny(160)=4
       exch2_tbasex(160)=24
       exch2_tbasey(160)=12
       exch2_txglobalo(160)=185
       exch2_tyglobalo(160)=13
       exch2_isWedge(160)=0
       exch2_isNedge(160)=0
       exch2_isEedge(160)=1
       exch2_isSedge(160)=0
       exch2_myFace(160)=6
       exch2_mydnx(160)=32
       exch2_mydny(160)=32
       exch2_nNeighbours(160)=4

       exch2_neighbourId(1,160)=164
       exch2_pi(1,1,160)=1
       exch2_pi(2,1,160)=0
       exch2_pj(1,1,160)=0
       exch2_pj(2,1,160)=1
       exch2_oi(1,160)=0
       exch2_oi_f(1,160)=0
       exch2_oj(1,160)=0
       exch2_oj_f(1,160)=0
       exch2_itlo_c(1,160)=0
       exch2_ithi_c(1,160)=9
       exch2_jtlo_c(1,160)=0
       exch2_jthi_c(1,160)=0
       exch2_opposingSend_record(1,160)=2

       exch2_neighbourId(2,160)=156
       exch2_pi(1,2,160)=1
       exch2_pi(2,2,160)=0
       exch2_pj(1,2,160)=0
       exch2_pj(2,2,160)=1
       exch2_oi(2,160)=0
       exch2_oi_f(2,160)=0
       exch2_oj(2,160)=0
       exch2_oj_f(2,160)=0
       exch2_itlo_c(2,160)=1
       exch2_ithi_c(2,160)=8
       exch2_jtlo_c(2,160)=5
       exch2_jthi_c(2,160)=5
       exch2_opposingSend_record(2,160)=1

       exch2_neighbourId(3,160)=33
       exch2_pi(1,3,160)=0
       exch2_pi(2,3,160)=1
       exch2_pj(1,3,160)=-1
       exch2_pj(2,3,160)=0
       exch2_oi(3,160)=32
       exch2_oi_f(3,160)=32
       exch2_oj(3,160)=33
       exch2_oj_f(3,160)=34
       exch2_itlo_c(3,160)=0
       exch2_ithi_c(3,160)=5
       exch2_jtlo_c(3,160)=0
       exch2_jthi_c(3,160)=0
       exch2_opposingSend_record(3,160)=3

       exch2_neighbourId(4,160)=159
       exch2_pi(1,4,160)=1
       exch2_pi(2,4,160)=0
       exch2_pj(1,4,160)=0
       exch2_pj(2,4,160)=1
       exch2_oi(4,160)=0
       exch2_oi_f(4,160)=0
       exch2_oj(4,160)=0
       exch2_oj_f(4,160)=0
       exch2_itlo_c(4,160)=9
       exch2_ithi_c(4,160)=9
       exch2_jtlo_c(4,160)=0
       exch2_jthi_c(4,160)=5
       exch2_opposingSend_record(4,160)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_161
C      Topology for tile 161
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(161)=8
       exch2_tny(161)=4
       exch2_tbasex(161)=0
       exch2_tbasey(161)=16
       exch2_txglobalo(161)=161
       exch2_tyglobalo(161)=17
       exch2_isWedge(161)=1
       exch2_isNedge(161)=0
       exch2_isEedge(161)=0
       exch2_isSedge(161)=0
       exch2_myFace(161)=6
       exch2_mydnx(161)=32
       exch2_mydny(161)=32
       exch2_nNeighbours(161)=4

       exch2_neighbourId(1,161)=165
       exch2_pi(1,1,161)=1
       exch2_pi(2,1,161)=0
       exch2_pj(1,1,161)=0
       exch2_pj(2,1,161)=1
       exch2_oi(1,161)=0
       exch2_oi_f(1,161)=0
       exch2_oj(1,161)=0
       exch2_oj_f(1,161)=0
       exch2_itlo_c(1,161)=0
       exch2_ithi_c(1,161)=9
       exch2_jtlo_c(1,161)=0
       exch2_jthi_c(1,161)=0
       exch2_opposingSend_record(1,161)=2

       exch2_neighbourId(2,161)=157
       exch2_pi(1,2,161)=1
       exch2_pi(2,2,161)=0
       exch2_pj(1,2,161)=0
       exch2_pj(2,2,161)=1
       exch2_oi(2,161)=0
       exch2_oi_f(2,161)=0
       exch2_oj(2,161)=0
       exch2_oj_f(2,161)=0
       exch2_itlo_c(2,161)=1
       exch2_ithi_c(2,161)=8
       exch2_jtlo_c(2,161)=5
       exch2_jthi_c(2,161)=5
       exch2_opposingSend_record(2,161)=1

       exch2_neighbourId(3,161)=162
       exch2_pi(1,3,161)=1
       exch2_pi(2,3,161)=0
       exch2_pj(1,3,161)=0
       exch2_pj(2,3,161)=1
       exch2_oi(3,161)=0
       exch2_oi_f(3,161)=0
       exch2_oj(3,161)=0
       exch2_oj_f(3,161)=0
       exch2_itlo_c(3,161)=0
       exch2_ithi_c(3,161)=0
       exch2_jtlo_c(3,161)=0
       exch2_jthi_c(3,161)=5
       exch2_opposingSend_record(3,161)=4

       exch2_neighbourId(4,161)=134
       exch2_pi(1,4,161)=1
       exch2_pi(2,4,161)=0
       exch2_pj(1,4,161)=0
       exch2_pj(2,4,161)=1
       exch2_oi(4,161)=-32
       exch2_oi_f(4,161)=-32
       exch2_oj(4,161)=0
       exch2_oj_f(4,161)=0
       exch2_itlo_c(4,161)=9
       exch2_ithi_c(4,161)=9
       exch2_jtlo_c(4,161)=0
       exch2_jthi_c(4,161)=5
       exch2_opposingSend_record(4,161)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_162
C      Topology for tile 162
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(162)=8
       exch2_tny(162)=4
       exch2_tbasex(162)=8
       exch2_tbasey(162)=16
       exch2_txglobalo(162)=169
       exch2_tyglobalo(162)=17
       exch2_isWedge(162)=0
       exch2_isNedge(162)=0
       exch2_isEedge(162)=0
       exch2_isSedge(162)=0
       exch2_myFace(162)=6
       exch2_mydnx(162)=32
       exch2_mydny(162)=32
       exch2_nNeighbours(162)=4

       exch2_neighbourId(1,162)=166
       exch2_pi(1,1,162)=1
       exch2_pi(2,1,162)=0
       exch2_pj(1,1,162)=0
       exch2_pj(2,1,162)=1
       exch2_oi(1,162)=0
       exch2_oi_f(1,162)=0
       exch2_oj(1,162)=0
       exch2_oj_f(1,162)=0
       exch2_itlo_c(1,162)=0
       exch2_ithi_c(1,162)=9
       exch2_jtlo_c(1,162)=0
       exch2_jthi_c(1,162)=0
       exch2_opposingSend_record(1,162)=2

       exch2_neighbourId(2,162)=158
       exch2_pi(1,2,162)=1
       exch2_pi(2,2,162)=0
       exch2_pj(1,2,162)=0
       exch2_pj(2,2,162)=1
       exch2_oi(2,162)=0
       exch2_oi_f(2,162)=0
       exch2_oj(2,162)=0
       exch2_oj_f(2,162)=0
       exch2_itlo_c(2,162)=1
       exch2_ithi_c(2,162)=8
       exch2_jtlo_c(2,162)=5
       exch2_jthi_c(2,162)=5
       exch2_opposingSend_record(2,162)=1

       exch2_neighbourId(3,162)=163
       exch2_pi(1,3,162)=1
       exch2_pi(2,3,162)=0
       exch2_pj(1,3,162)=0
       exch2_pj(2,3,162)=1
       exch2_oi(3,162)=0
       exch2_oi_f(3,162)=0
       exch2_oj(3,162)=0
       exch2_oj_f(3,162)=0
       exch2_itlo_c(3,162)=0
       exch2_ithi_c(3,162)=0
       exch2_jtlo_c(3,162)=0
       exch2_jthi_c(3,162)=5
       exch2_opposingSend_record(3,162)=4

       exch2_neighbourId(4,162)=161
       exch2_pi(1,4,162)=1
       exch2_pi(2,4,162)=0
       exch2_pj(1,4,162)=0
       exch2_pj(2,4,162)=1
       exch2_oi(4,162)=0
       exch2_oi_f(4,162)=0
       exch2_oj(4,162)=0
       exch2_oj_f(4,162)=0
       exch2_itlo_c(4,162)=9
       exch2_ithi_c(4,162)=9
       exch2_jtlo_c(4,162)=0
       exch2_jthi_c(4,162)=5
       exch2_opposingSend_record(4,162)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_163
C      Topology for tile 163
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(163)=8
       exch2_tny(163)=4
       exch2_tbasex(163)=16
       exch2_tbasey(163)=16
       exch2_txglobalo(163)=177
       exch2_tyglobalo(163)=17
       exch2_isWedge(163)=0
       exch2_isNedge(163)=0
       exch2_isEedge(163)=0
       exch2_isSedge(163)=0
       exch2_myFace(163)=6
       exch2_mydnx(163)=32
       exch2_mydny(163)=32
       exch2_nNeighbours(163)=4

       exch2_neighbourId(1,163)=167
       exch2_pi(1,1,163)=1
       exch2_pi(2,1,163)=0
       exch2_pj(1,1,163)=0
       exch2_pj(2,1,163)=1
       exch2_oi(1,163)=0
       exch2_oi_f(1,163)=0
       exch2_oj(1,163)=0
       exch2_oj_f(1,163)=0
       exch2_itlo_c(1,163)=0
       exch2_ithi_c(1,163)=9
       exch2_jtlo_c(1,163)=0
       exch2_jthi_c(1,163)=0
       exch2_opposingSend_record(1,163)=2

       exch2_neighbourId(2,163)=159
       exch2_pi(1,2,163)=1
       exch2_pi(2,2,163)=0
       exch2_pj(1,2,163)=0
       exch2_pj(2,2,163)=1
       exch2_oi(2,163)=0
       exch2_oi_f(2,163)=0
       exch2_oj(2,163)=0
       exch2_oj_f(2,163)=0
       exch2_itlo_c(2,163)=1
       exch2_ithi_c(2,163)=8
       exch2_jtlo_c(2,163)=5
       exch2_jthi_c(2,163)=5
       exch2_opposingSend_record(2,163)=1

       exch2_neighbourId(3,163)=164
       exch2_pi(1,3,163)=1
       exch2_pi(2,3,163)=0
       exch2_pj(1,3,163)=0
       exch2_pj(2,3,163)=1
       exch2_oi(3,163)=0
       exch2_oi_f(3,163)=0
       exch2_oj(3,163)=0
       exch2_oj_f(3,163)=0
       exch2_itlo_c(3,163)=0
       exch2_ithi_c(3,163)=0
       exch2_jtlo_c(3,163)=0
       exch2_jthi_c(3,163)=5
       exch2_opposingSend_record(3,163)=4

       exch2_neighbourId(4,163)=162
       exch2_pi(1,4,163)=1
       exch2_pi(2,4,163)=0
       exch2_pj(1,4,163)=0
       exch2_pj(2,4,163)=1
       exch2_oi(4,163)=0
       exch2_oi_f(4,163)=0
       exch2_oj(4,163)=0
       exch2_oj_f(4,163)=0
       exch2_itlo_c(4,163)=9
       exch2_ithi_c(4,163)=9
       exch2_jtlo_c(4,163)=0
       exch2_jthi_c(4,163)=5
       exch2_opposingSend_record(4,163)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_164
C      Topology for tile 164
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(164)=8
       exch2_tny(164)=4
       exch2_tbasex(164)=24
       exch2_tbasey(164)=16
       exch2_txglobalo(164)=185
       exch2_tyglobalo(164)=17
       exch2_isWedge(164)=0
       exch2_isNedge(164)=0
       exch2_isEedge(164)=1
       exch2_isSedge(164)=0
       exch2_myFace(164)=6
       exch2_mydnx(164)=32
       exch2_mydny(164)=32
       exch2_nNeighbours(164)=4

       exch2_neighbourId(1,164)=168
       exch2_pi(1,1,164)=1
       exch2_pi(2,1,164)=0
       exch2_pj(1,1,164)=0
       exch2_pj(2,1,164)=1
       exch2_oi(1,164)=0
       exch2_oi_f(1,164)=0
       exch2_oj(1,164)=0
       exch2_oj_f(1,164)=0
       exch2_itlo_c(1,164)=0
       exch2_ithi_c(1,164)=9
       exch2_jtlo_c(1,164)=0
       exch2_jthi_c(1,164)=0
       exch2_opposingSend_record(1,164)=2

       exch2_neighbourId(2,164)=160
       exch2_pi(1,2,164)=1
       exch2_pi(2,2,164)=0
       exch2_pj(1,2,164)=0
       exch2_pj(2,2,164)=1
       exch2_oi(2,164)=0
       exch2_oi_f(2,164)=0
       exch2_oj(2,164)=0
       exch2_oj_f(2,164)=0
       exch2_itlo_c(2,164)=1
       exch2_ithi_c(2,164)=8
       exch2_jtlo_c(2,164)=5
       exch2_jthi_c(2,164)=5
       exch2_opposingSend_record(2,164)=1

       exch2_neighbourId(3,164)=32
       exch2_pi(1,3,164)=0
       exch2_pi(2,3,164)=1
       exch2_pj(1,3,164)=-1
       exch2_pj(2,3,164)=0
       exch2_oi(3,164)=32
       exch2_oi_f(3,164)=32
       exch2_oj(3,164)=33
       exch2_oj_f(3,164)=34
       exch2_itlo_c(3,164)=4
       exch2_ithi_c(3,164)=9
       exch2_jtlo_c(3,164)=0
       exch2_jthi_c(3,164)=0
       exch2_opposingSend_record(3,164)=2

       exch2_neighbourId(4,164)=163
       exch2_pi(1,4,164)=1
       exch2_pi(2,4,164)=0
       exch2_pj(1,4,164)=0
       exch2_pj(2,4,164)=1
       exch2_oi(4,164)=0
       exch2_oi_f(4,164)=0
       exch2_oj(4,164)=0
       exch2_oj_f(4,164)=0
       exch2_itlo_c(4,164)=9
       exch2_ithi_c(4,164)=9
       exch2_jtlo_c(4,164)=0
       exch2_jthi_c(4,164)=5
       exch2_opposingSend_record(4,164)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_165
C      Topology for tile 165
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(165)=8
       exch2_tny(165)=4
       exch2_tbasex(165)=0
       exch2_tbasey(165)=20
       exch2_txglobalo(165)=161
       exch2_tyglobalo(165)=21
       exch2_isWedge(165)=1
       exch2_isNedge(165)=0
       exch2_isEedge(165)=0
       exch2_isSedge(165)=0
       exch2_myFace(165)=6
       exch2_mydnx(165)=32
       exch2_mydny(165)=32
       exch2_nNeighbours(165)=4

       exch2_neighbourId(1,165)=169
       exch2_pi(1,1,165)=1
       exch2_pi(2,1,165)=0
       exch2_pj(1,1,165)=0
       exch2_pj(2,1,165)=1
       exch2_oi(1,165)=0
       exch2_oi_f(1,165)=0
       exch2_oj(1,165)=0
       exch2_oj_f(1,165)=0
       exch2_itlo_c(1,165)=0
       exch2_ithi_c(1,165)=9
       exch2_jtlo_c(1,165)=0
       exch2_jthi_c(1,165)=0
       exch2_opposingSend_record(1,165)=2

       exch2_neighbourId(2,165)=161
       exch2_pi(1,2,165)=1
       exch2_pi(2,2,165)=0
       exch2_pj(1,2,165)=0
       exch2_pj(2,2,165)=1
       exch2_oi(2,165)=0
       exch2_oi_f(2,165)=0
       exch2_oj(2,165)=0
       exch2_oj_f(2,165)=0
       exch2_itlo_c(2,165)=1
       exch2_ithi_c(2,165)=8
       exch2_jtlo_c(2,165)=5
       exch2_jthi_c(2,165)=5
       exch2_opposingSend_record(2,165)=1

       exch2_neighbourId(3,165)=166
       exch2_pi(1,3,165)=1
       exch2_pi(2,3,165)=0
       exch2_pj(1,3,165)=0
       exch2_pj(2,3,165)=1
       exch2_oi(3,165)=0
       exch2_oi_f(3,165)=0
       exch2_oj(3,165)=0
       exch2_oj_f(3,165)=0
       exch2_itlo_c(3,165)=0
       exch2_ithi_c(3,165)=0
       exch2_jtlo_c(3,165)=0
       exch2_jthi_c(3,165)=5
       exch2_opposingSend_record(3,165)=4

       exch2_neighbourId(4,165)=138
       exch2_pi(1,4,165)=1
       exch2_pi(2,4,165)=0
       exch2_pj(1,4,165)=0
       exch2_pj(2,4,165)=1
       exch2_oi(4,165)=-32
       exch2_oi_f(4,165)=-32
       exch2_oj(4,165)=0
       exch2_oj_f(4,165)=0
       exch2_itlo_c(4,165)=9
       exch2_ithi_c(4,165)=9
       exch2_jtlo_c(4,165)=0
       exch2_jthi_c(4,165)=5
       exch2_opposingSend_record(4,165)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_166
C      Topology for tile 166
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(166)=8
       exch2_tny(166)=4
       exch2_tbasex(166)=8
       exch2_tbasey(166)=20
       exch2_txglobalo(166)=169
       exch2_tyglobalo(166)=21
       exch2_isWedge(166)=0
       exch2_isNedge(166)=0
       exch2_isEedge(166)=0
       exch2_isSedge(166)=0
       exch2_myFace(166)=6
       exch2_mydnx(166)=32
       exch2_mydny(166)=32
       exch2_nNeighbours(166)=4

       exch2_neighbourId(1,166)=170
       exch2_pi(1,1,166)=1
       exch2_pi(2,1,166)=0
       exch2_pj(1,1,166)=0
       exch2_pj(2,1,166)=1
       exch2_oi(1,166)=0
       exch2_oi_f(1,166)=0
       exch2_oj(1,166)=0
       exch2_oj_f(1,166)=0
       exch2_itlo_c(1,166)=0
       exch2_ithi_c(1,166)=9
       exch2_jtlo_c(1,166)=0
       exch2_jthi_c(1,166)=0
       exch2_opposingSend_record(1,166)=2

       exch2_neighbourId(2,166)=162
       exch2_pi(1,2,166)=1
       exch2_pi(2,2,166)=0
       exch2_pj(1,2,166)=0
       exch2_pj(2,2,166)=1
       exch2_oi(2,166)=0
       exch2_oi_f(2,166)=0
       exch2_oj(2,166)=0
       exch2_oj_f(2,166)=0
       exch2_itlo_c(2,166)=1
       exch2_ithi_c(2,166)=8
       exch2_jtlo_c(2,166)=5
       exch2_jthi_c(2,166)=5
       exch2_opposingSend_record(2,166)=1

       exch2_neighbourId(3,166)=167
       exch2_pi(1,3,166)=1
       exch2_pi(2,3,166)=0
       exch2_pj(1,3,166)=0
       exch2_pj(2,3,166)=1
       exch2_oi(3,166)=0
       exch2_oi_f(3,166)=0
       exch2_oj(3,166)=0
       exch2_oj_f(3,166)=0
       exch2_itlo_c(3,166)=0
       exch2_ithi_c(3,166)=0
       exch2_jtlo_c(3,166)=0
       exch2_jthi_c(3,166)=5
       exch2_opposingSend_record(3,166)=4

       exch2_neighbourId(4,166)=165
       exch2_pi(1,4,166)=1
       exch2_pi(2,4,166)=0
       exch2_pj(1,4,166)=0
       exch2_pj(2,4,166)=1
       exch2_oi(4,166)=0
       exch2_oi_f(4,166)=0
       exch2_oj(4,166)=0
       exch2_oj_f(4,166)=0
       exch2_itlo_c(4,166)=9
       exch2_ithi_c(4,166)=9
       exch2_jtlo_c(4,166)=0
       exch2_jthi_c(4,166)=5
       exch2_opposingSend_record(4,166)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_167
C      Topology for tile 167
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(167)=8
       exch2_tny(167)=4
       exch2_tbasex(167)=16
       exch2_tbasey(167)=20
       exch2_txglobalo(167)=177
       exch2_tyglobalo(167)=21
       exch2_isWedge(167)=0
       exch2_isNedge(167)=0
       exch2_isEedge(167)=0
       exch2_isSedge(167)=0
       exch2_myFace(167)=6
       exch2_mydnx(167)=32
       exch2_mydny(167)=32
       exch2_nNeighbours(167)=4

       exch2_neighbourId(1,167)=171
       exch2_pi(1,1,167)=1
       exch2_pi(2,1,167)=0
       exch2_pj(1,1,167)=0
       exch2_pj(2,1,167)=1
       exch2_oi(1,167)=0
       exch2_oi_f(1,167)=0
       exch2_oj(1,167)=0
       exch2_oj_f(1,167)=0
       exch2_itlo_c(1,167)=0
       exch2_ithi_c(1,167)=9
       exch2_jtlo_c(1,167)=0
       exch2_jthi_c(1,167)=0
       exch2_opposingSend_record(1,167)=2

       exch2_neighbourId(2,167)=163
       exch2_pi(1,2,167)=1
       exch2_pi(2,2,167)=0
       exch2_pj(1,2,167)=0
       exch2_pj(2,2,167)=1
       exch2_oi(2,167)=0
       exch2_oi_f(2,167)=0
       exch2_oj(2,167)=0
       exch2_oj_f(2,167)=0
       exch2_itlo_c(2,167)=1
       exch2_ithi_c(2,167)=8
       exch2_jtlo_c(2,167)=5
       exch2_jthi_c(2,167)=5
       exch2_opposingSend_record(2,167)=1

       exch2_neighbourId(3,167)=168
       exch2_pi(1,3,167)=1
       exch2_pi(2,3,167)=0
       exch2_pj(1,3,167)=0
       exch2_pj(2,3,167)=1
       exch2_oi(3,167)=0
       exch2_oi_f(3,167)=0
       exch2_oj(3,167)=0
       exch2_oj_f(3,167)=0
       exch2_itlo_c(3,167)=0
       exch2_ithi_c(3,167)=0
       exch2_jtlo_c(3,167)=0
       exch2_jthi_c(3,167)=5
       exch2_opposingSend_record(3,167)=4

       exch2_neighbourId(4,167)=166
       exch2_pi(1,4,167)=1
       exch2_pi(2,4,167)=0
       exch2_pj(1,4,167)=0
       exch2_pj(2,4,167)=1
       exch2_oi(4,167)=0
       exch2_oi_f(4,167)=0
       exch2_oj(4,167)=0
       exch2_oj_f(4,167)=0
       exch2_itlo_c(4,167)=9
       exch2_ithi_c(4,167)=9
       exch2_jtlo_c(4,167)=0
       exch2_jthi_c(4,167)=5
       exch2_opposingSend_record(4,167)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_168
C      Topology for tile 168
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(168)=8
       exch2_tny(168)=4
       exch2_tbasex(168)=24
       exch2_tbasey(168)=20
       exch2_txglobalo(168)=185
       exch2_tyglobalo(168)=21
       exch2_isWedge(168)=0
       exch2_isNedge(168)=0
       exch2_isEedge(168)=1
       exch2_isSedge(168)=0
       exch2_myFace(168)=6
       exch2_mydnx(168)=32
       exch2_mydny(168)=32
       exch2_nNeighbours(168)=4

       exch2_neighbourId(1,168)=172
       exch2_pi(1,1,168)=1
       exch2_pi(2,1,168)=0
       exch2_pj(1,1,168)=0
       exch2_pj(2,1,168)=1
       exch2_oi(1,168)=0
       exch2_oi_f(1,168)=0
       exch2_oj(1,168)=0
       exch2_oj_f(1,168)=0
       exch2_itlo_c(1,168)=0
       exch2_ithi_c(1,168)=9
       exch2_jtlo_c(1,168)=0
       exch2_jthi_c(1,168)=0
       exch2_opposingSend_record(1,168)=2

       exch2_neighbourId(2,168)=164
       exch2_pi(1,2,168)=1
       exch2_pi(2,2,168)=0
       exch2_pj(1,2,168)=0
       exch2_pj(2,2,168)=1
       exch2_oi(2,168)=0
       exch2_oi_f(2,168)=0
       exch2_oj(2,168)=0
       exch2_oj_f(2,168)=0
       exch2_itlo_c(2,168)=1
       exch2_ithi_c(2,168)=8
       exch2_jtlo_c(2,168)=5
       exch2_jthi_c(2,168)=5
       exch2_opposingSend_record(2,168)=1

       exch2_neighbourId(3,168)=32
       exch2_pi(1,3,168)=0
       exch2_pi(2,3,168)=1
       exch2_pj(1,3,168)=-1
       exch2_pj(2,3,168)=0
       exch2_oi(3,168)=32
       exch2_oi_f(3,168)=32
       exch2_oj(3,168)=33
       exch2_oj_f(3,168)=34
       exch2_itlo_c(3,168)=0
       exch2_ithi_c(3,168)=5
       exch2_jtlo_c(3,168)=0
       exch2_jthi_c(3,168)=0
       exch2_opposingSend_record(3,168)=3

       exch2_neighbourId(4,168)=167
       exch2_pi(1,4,168)=1
       exch2_pi(2,4,168)=0
       exch2_pj(1,4,168)=0
       exch2_pj(2,4,168)=1
       exch2_oi(4,168)=0
       exch2_oi_f(4,168)=0
       exch2_oj(4,168)=0
       exch2_oj_f(4,168)=0
       exch2_itlo_c(4,168)=9
       exch2_ithi_c(4,168)=9
       exch2_jtlo_c(4,168)=0
       exch2_jthi_c(4,168)=5
       exch2_opposingSend_record(4,168)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_169
C      Topology for tile 169
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(169)=8
       exch2_tny(169)=4
       exch2_tbasex(169)=0
       exch2_tbasey(169)=24
       exch2_txglobalo(169)=161
       exch2_tyglobalo(169)=25
       exch2_isWedge(169)=1
       exch2_isNedge(169)=0
       exch2_isEedge(169)=0
       exch2_isSedge(169)=0
       exch2_myFace(169)=6
       exch2_mydnx(169)=32
       exch2_mydny(169)=32
       exch2_nNeighbours(169)=4

       exch2_neighbourId(1,169)=173
       exch2_pi(1,1,169)=1
       exch2_pi(2,1,169)=0
       exch2_pj(1,1,169)=0
       exch2_pj(2,1,169)=1
       exch2_oi(1,169)=0
       exch2_oi_f(1,169)=0
       exch2_oj(1,169)=0
       exch2_oj_f(1,169)=0
       exch2_itlo_c(1,169)=0
       exch2_ithi_c(1,169)=9
       exch2_jtlo_c(1,169)=0
       exch2_jthi_c(1,169)=0
       exch2_opposingSend_record(1,169)=2

       exch2_neighbourId(2,169)=165
       exch2_pi(1,2,169)=1
       exch2_pi(2,2,169)=0
       exch2_pj(1,2,169)=0
       exch2_pj(2,2,169)=1
       exch2_oi(2,169)=0
       exch2_oi_f(2,169)=0
       exch2_oj(2,169)=0
       exch2_oj_f(2,169)=0
       exch2_itlo_c(2,169)=1
       exch2_ithi_c(2,169)=8
       exch2_jtlo_c(2,169)=5
       exch2_jthi_c(2,169)=5
       exch2_opposingSend_record(2,169)=1

       exch2_neighbourId(3,169)=170
       exch2_pi(1,3,169)=1
       exch2_pi(2,3,169)=0
       exch2_pj(1,3,169)=0
       exch2_pj(2,3,169)=1
       exch2_oi(3,169)=0
       exch2_oi_f(3,169)=0
       exch2_oj(3,169)=0
       exch2_oj_f(3,169)=0
       exch2_itlo_c(3,169)=0
       exch2_ithi_c(3,169)=0
       exch2_jtlo_c(3,169)=0
       exch2_jthi_c(3,169)=5
       exch2_opposingSend_record(3,169)=4

       exch2_neighbourId(4,169)=141
       exch2_pi(1,4,169)=1
       exch2_pi(2,4,169)=0
       exch2_pj(1,4,169)=0
       exch2_pj(2,4,169)=1
       exch2_oi(4,169)=-32
       exch2_oi_f(4,169)=-32
       exch2_oj(4,169)=0
       exch2_oj_f(4,169)=0
       exch2_itlo_c(4,169)=9
       exch2_ithi_c(4,169)=9
       exch2_jtlo_c(4,169)=0
       exch2_jthi_c(4,169)=5
       exch2_opposingSend_record(4,169)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_170
C      Topology for tile 170
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(170)=8
       exch2_tny(170)=4
       exch2_tbasex(170)=8
       exch2_tbasey(170)=24
       exch2_txglobalo(170)=169
       exch2_tyglobalo(170)=25
       exch2_isWedge(170)=0
       exch2_isNedge(170)=0
       exch2_isEedge(170)=0
       exch2_isSedge(170)=0
       exch2_myFace(170)=6
       exch2_mydnx(170)=32
       exch2_mydny(170)=32
       exch2_nNeighbours(170)=4

       exch2_neighbourId(1,170)=174
       exch2_pi(1,1,170)=1
       exch2_pi(2,1,170)=0
       exch2_pj(1,1,170)=0
       exch2_pj(2,1,170)=1
       exch2_oi(1,170)=0
       exch2_oi_f(1,170)=0
       exch2_oj(1,170)=0
       exch2_oj_f(1,170)=0
       exch2_itlo_c(1,170)=0
       exch2_ithi_c(1,170)=9
       exch2_jtlo_c(1,170)=0
       exch2_jthi_c(1,170)=0
       exch2_opposingSend_record(1,170)=2

       exch2_neighbourId(2,170)=166
       exch2_pi(1,2,170)=1
       exch2_pi(2,2,170)=0
       exch2_pj(1,2,170)=0
       exch2_pj(2,2,170)=1
       exch2_oi(2,170)=0
       exch2_oi_f(2,170)=0
       exch2_oj(2,170)=0
       exch2_oj_f(2,170)=0
       exch2_itlo_c(2,170)=1
       exch2_ithi_c(2,170)=8
       exch2_jtlo_c(2,170)=5
       exch2_jthi_c(2,170)=5
       exch2_opposingSend_record(2,170)=1

       exch2_neighbourId(3,170)=171
       exch2_pi(1,3,170)=1
       exch2_pi(2,3,170)=0
       exch2_pj(1,3,170)=0
       exch2_pj(2,3,170)=1
       exch2_oi(3,170)=0
       exch2_oi_f(3,170)=0
       exch2_oj(3,170)=0
       exch2_oj_f(3,170)=0
       exch2_itlo_c(3,170)=0
       exch2_ithi_c(3,170)=0
       exch2_jtlo_c(3,170)=0
       exch2_jthi_c(3,170)=5
       exch2_opposingSend_record(3,170)=4

       exch2_neighbourId(4,170)=169
       exch2_pi(1,4,170)=1
       exch2_pi(2,4,170)=0
       exch2_pj(1,4,170)=0
       exch2_pj(2,4,170)=1
       exch2_oi(4,170)=0
       exch2_oi_f(4,170)=0
       exch2_oj(4,170)=0
       exch2_oj_f(4,170)=0
       exch2_itlo_c(4,170)=9
       exch2_ithi_c(4,170)=9
       exch2_jtlo_c(4,170)=0
       exch2_jthi_c(4,170)=5
       exch2_opposingSend_record(4,170)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_171
C      Topology for tile 171
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(171)=8
       exch2_tny(171)=4
       exch2_tbasex(171)=16
       exch2_tbasey(171)=24
       exch2_txglobalo(171)=177
       exch2_tyglobalo(171)=25
       exch2_isWedge(171)=0
       exch2_isNedge(171)=0
       exch2_isEedge(171)=0
       exch2_isSedge(171)=0
       exch2_myFace(171)=6
       exch2_mydnx(171)=32
       exch2_mydny(171)=32
       exch2_nNeighbours(171)=4

       exch2_neighbourId(1,171)=175
       exch2_pi(1,1,171)=1
       exch2_pi(2,1,171)=0
       exch2_pj(1,1,171)=0
       exch2_pj(2,1,171)=1
       exch2_oi(1,171)=0
       exch2_oi_f(1,171)=0
       exch2_oj(1,171)=0
       exch2_oj_f(1,171)=0
       exch2_itlo_c(1,171)=0
       exch2_ithi_c(1,171)=9
       exch2_jtlo_c(1,171)=0
       exch2_jthi_c(1,171)=0
       exch2_opposingSend_record(1,171)=2

       exch2_neighbourId(2,171)=167
       exch2_pi(1,2,171)=1
       exch2_pi(2,2,171)=0
       exch2_pj(1,2,171)=0
       exch2_pj(2,2,171)=1
       exch2_oi(2,171)=0
       exch2_oi_f(2,171)=0
       exch2_oj(2,171)=0
       exch2_oj_f(2,171)=0
       exch2_itlo_c(2,171)=1
       exch2_ithi_c(2,171)=8
       exch2_jtlo_c(2,171)=5
       exch2_jthi_c(2,171)=5
       exch2_opposingSend_record(2,171)=1

       exch2_neighbourId(3,171)=172
       exch2_pi(1,3,171)=1
       exch2_pi(2,3,171)=0
       exch2_pj(1,3,171)=0
       exch2_pj(2,3,171)=1
       exch2_oi(3,171)=0
       exch2_oi_f(3,171)=0
       exch2_oj(3,171)=0
       exch2_oj_f(3,171)=0
       exch2_itlo_c(3,171)=0
       exch2_ithi_c(3,171)=0
       exch2_jtlo_c(3,171)=0
       exch2_jthi_c(3,171)=5
       exch2_opposingSend_record(3,171)=4

       exch2_neighbourId(4,171)=170
       exch2_pi(1,4,171)=1
       exch2_pi(2,4,171)=0
       exch2_pj(1,4,171)=0
       exch2_pj(2,4,171)=1
       exch2_oi(4,171)=0
       exch2_oi_f(4,171)=0
       exch2_oj(4,171)=0
       exch2_oj_f(4,171)=0
       exch2_itlo_c(4,171)=9
       exch2_ithi_c(4,171)=9
       exch2_jtlo_c(4,171)=0
       exch2_jthi_c(4,171)=5
       exch2_opposingSend_record(4,171)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_172
C      Topology for tile 172
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(172)=8
       exch2_tny(172)=4
       exch2_tbasex(172)=24
       exch2_tbasey(172)=24
       exch2_txglobalo(172)=185
       exch2_tyglobalo(172)=25
       exch2_isWedge(172)=0
       exch2_isNedge(172)=0
       exch2_isEedge(172)=1
       exch2_isSedge(172)=0
       exch2_myFace(172)=6
       exch2_mydnx(172)=32
       exch2_mydny(172)=32
       exch2_nNeighbours(172)=4

       exch2_neighbourId(1,172)=176
       exch2_pi(1,1,172)=1
       exch2_pi(2,1,172)=0
       exch2_pj(1,1,172)=0
       exch2_pj(2,1,172)=1
       exch2_oi(1,172)=0
       exch2_oi_f(1,172)=0
       exch2_oj(1,172)=0
       exch2_oj_f(1,172)=0
       exch2_itlo_c(1,172)=0
       exch2_ithi_c(1,172)=9
       exch2_jtlo_c(1,172)=0
       exch2_jthi_c(1,172)=0
       exch2_opposingSend_record(1,172)=2

       exch2_neighbourId(2,172)=168
       exch2_pi(1,2,172)=1
       exch2_pi(2,2,172)=0
       exch2_pj(1,2,172)=0
       exch2_pj(2,2,172)=1
       exch2_oi(2,172)=0
       exch2_oi_f(2,172)=0
       exch2_oj(2,172)=0
       exch2_oj_f(2,172)=0
       exch2_itlo_c(2,172)=1
       exch2_ithi_c(2,172)=8
       exch2_jtlo_c(2,172)=5
       exch2_jthi_c(2,172)=5
       exch2_opposingSend_record(2,172)=1

       exch2_neighbourId(3,172)=31
       exch2_pi(1,3,172)=0
       exch2_pi(2,3,172)=1
       exch2_pj(1,3,172)=-1
       exch2_pj(2,3,172)=0
       exch2_oi(3,172)=32
       exch2_oi_f(3,172)=32
       exch2_oj(3,172)=33
       exch2_oj_f(3,172)=34
       exch2_itlo_c(3,172)=4
       exch2_ithi_c(3,172)=9
       exch2_jtlo_c(3,172)=0
       exch2_jthi_c(3,172)=0
       exch2_opposingSend_record(3,172)=2

       exch2_neighbourId(4,172)=171
       exch2_pi(1,4,172)=1
       exch2_pi(2,4,172)=0
       exch2_pj(1,4,172)=0
       exch2_pj(2,4,172)=1
       exch2_oi(4,172)=0
       exch2_oi_f(4,172)=0
       exch2_oj(4,172)=0
       exch2_oj_f(4,172)=0
       exch2_itlo_c(4,172)=9
       exch2_ithi_c(4,172)=9
       exch2_jtlo_c(4,172)=0
       exch2_jthi_c(4,172)=5
       exch2_opposingSend_record(4,172)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_173
C      Topology for tile 173
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(173)=8
       exch2_tny(173)=4
       exch2_tbasex(173)=0
       exch2_tbasey(173)=28
       exch2_txglobalo(173)=161
       exch2_tyglobalo(173)=29
       exch2_isWedge(173)=1
       exch2_isNedge(173)=1
       exch2_isEedge(173)=0
       exch2_isSedge(173)=0
       exch2_myFace(173)=6
       exch2_mydnx(173)=32
       exch2_mydny(173)=32
       exch2_nNeighbours(173)=4

       exch2_neighbourId(1,173)=1
       exch2_pi(1,1,173)=1
       exch2_pi(2,1,173)=0
       exch2_pj(1,1,173)=0
       exch2_pj(2,1,173)=1
       exch2_oi(1,173)=0
       exch2_oi_f(1,173)=0
       exch2_oj(1,173)=32
       exch2_oj_f(1,173)=32
       exch2_itlo_c(1,173)=0
       exch2_ithi_c(1,173)=9
       exch2_jtlo_c(1,173)=0
       exch2_jthi_c(1,173)=0
       exch2_opposingSend_record(1,173)=2

       exch2_neighbourId(2,173)=169
       exch2_pi(1,2,173)=1
       exch2_pi(2,2,173)=0
       exch2_pj(1,2,173)=0
       exch2_pj(2,2,173)=1
       exch2_oi(2,173)=0
       exch2_oi_f(2,173)=0
       exch2_oj(2,173)=0
       exch2_oj_f(2,173)=0
       exch2_itlo_c(2,173)=1
       exch2_ithi_c(2,173)=8
       exch2_jtlo_c(2,173)=5
       exch2_jthi_c(2,173)=5
       exch2_opposingSend_record(2,173)=1

       exch2_neighbourId(3,173)=174
       exch2_pi(1,3,173)=1
       exch2_pi(2,3,173)=0
       exch2_pj(1,3,173)=0
       exch2_pj(2,3,173)=1
       exch2_oi(3,173)=0
       exch2_oi_f(3,173)=0
       exch2_oj(3,173)=0
       exch2_oj_f(3,173)=0
       exch2_itlo_c(3,173)=0
       exch2_ithi_c(3,173)=0
       exch2_jtlo_c(3,173)=0
       exch2_jthi_c(3,173)=5
       exch2_opposingSend_record(3,173)=4

       exch2_neighbourId(4,173)=144
       exch2_pi(1,4,173)=1
       exch2_pi(2,4,173)=0
       exch2_pj(1,4,173)=0
       exch2_pj(2,4,173)=1
       exch2_oi(4,173)=-32
       exch2_oi_f(4,173)=-32
       exch2_oj(4,173)=0
       exch2_oj_f(4,173)=0
       exch2_itlo_c(4,173)=9
       exch2_ithi_c(4,173)=9
       exch2_jtlo_c(4,173)=0
       exch2_jthi_c(4,173)=5
       exch2_opposingSend_record(4,173)=4
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_174
C      Topology for tile 174
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(174)=8
       exch2_tny(174)=4
       exch2_tbasex(174)=8
       exch2_tbasey(174)=28
       exch2_txglobalo(174)=169
       exch2_tyglobalo(174)=29
       exch2_isWedge(174)=0
       exch2_isNedge(174)=1
       exch2_isEedge(174)=0
       exch2_isSedge(174)=0
       exch2_myFace(174)=6
       exch2_mydnx(174)=32
       exch2_mydny(174)=32
       exch2_nNeighbours(174)=4

       exch2_neighbourId(1,174)=2
       exch2_pi(1,1,174)=1
       exch2_pi(2,1,174)=0
       exch2_pj(1,1,174)=0
       exch2_pj(2,1,174)=1
       exch2_oi(1,174)=0
       exch2_oi_f(1,174)=0
       exch2_oj(1,174)=32
       exch2_oj_f(1,174)=32
       exch2_itlo_c(1,174)=0
       exch2_ithi_c(1,174)=9
       exch2_jtlo_c(1,174)=0
       exch2_jthi_c(1,174)=0
       exch2_opposingSend_record(1,174)=2

       exch2_neighbourId(2,174)=170
       exch2_pi(1,2,174)=1
       exch2_pi(2,2,174)=0
       exch2_pj(1,2,174)=0
       exch2_pj(2,2,174)=1
       exch2_oi(2,174)=0
       exch2_oi_f(2,174)=0
       exch2_oj(2,174)=0
       exch2_oj_f(2,174)=0
       exch2_itlo_c(2,174)=1
       exch2_ithi_c(2,174)=8
       exch2_jtlo_c(2,174)=5
       exch2_jthi_c(2,174)=5
       exch2_opposingSend_record(2,174)=1

       exch2_neighbourId(3,174)=175
       exch2_pi(1,3,174)=1
       exch2_pi(2,3,174)=0
       exch2_pj(1,3,174)=0
       exch2_pj(2,3,174)=1
       exch2_oi(3,174)=0
       exch2_oi_f(3,174)=0
       exch2_oj(3,174)=0
       exch2_oj_f(3,174)=0
       exch2_itlo_c(3,174)=0
       exch2_ithi_c(3,174)=0
       exch2_jtlo_c(3,174)=0
       exch2_jthi_c(3,174)=5
       exch2_opposingSend_record(3,174)=4

       exch2_neighbourId(4,174)=173
       exch2_pi(1,4,174)=1
       exch2_pi(2,4,174)=0
       exch2_pj(1,4,174)=0
       exch2_pj(2,4,174)=1
       exch2_oi(4,174)=0
       exch2_oi_f(4,174)=0
       exch2_oj(4,174)=0
       exch2_oj_f(4,174)=0
       exch2_itlo_c(4,174)=9
       exch2_ithi_c(4,174)=9
       exch2_jtlo_c(4,174)=0
       exch2_jthi_c(4,174)=5
       exch2_opposingSend_record(4,174)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_175
C      Topology for tile 175
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(175)=8
       exch2_tny(175)=4
       exch2_tbasex(175)=16
       exch2_tbasey(175)=28
       exch2_txglobalo(175)=177
       exch2_tyglobalo(175)=29
       exch2_isWedge(175)=0
       exch2_isNedge(175)=1
       exch2_isEedge(175)=0
       exch2_isSedge(175)=0
       exch2_myFace(175)=6
       exch2_mydnx(175)=32
       exch2_mydny(175)=32
       exch2_nNeighbours(175)=4

       exch2_neighbourId(1,175)=3
       exch2_pi(1,1,175)=1
       exch2_pi(2,1,175)=0
       exch2_pj(1,1,175)=0
       exch2_pj(2,1,175)=1
       exch2_oi(1,175)=0
       exch2_oi_f(1,175)=0
       exch2_oj(1,175)=32
       exch2_oj_f(1,175)=32
       exch2_itlo_c(1,175)=0
       exch2_ithi_c(1,175)=9
       exch2_jtlo_c(1,175)=0
       exch2_jthi_c(1,175)=0
       exch2_opposingSend_record(1,175)=2

       exch2_neighbourId(2,175)=171
       exch2_pi(1,2,175)=1
       exch2_pi(2,2,175)=0
       exch2_pj(1,2,175)=0
       exch2_pj(2,2,175)=1
       exch2_oi(2,175)=0
       exch2_oi_f(2,175)=0
       exch2_oj(2,175)=0
       exch2_oj_f(2,175)=0
       exch2_itlo_c(2,175)=1
       exch2_ithi_c(2,175)=8
       exch2_jtlo_c(2,175)=5
       exch2_jthi_c(2,175)=5
       exch2_opposingSend_record(2,175)=1

       exch2_neighbourId(3,175)=176
       exch2_pi(1,3,175)=1
       exch2_pi(2,3,175)=0
       exch2_pj(1,3,175)=0
       exch2_pj(2,3,175)=1
       exch2_oi(3,175)=0
       exch2_oi_f(3,175)=0
       exch2_oj(3,175)=0
       exch2_oj_f(3,175)=0
       exch2_itlo_c(3,175)=0
       exch2_ithi_c(3,175)=0
       exch2_jtlo_c(3,175)=0
       exch2_jthi_c(3,175)=5
       exch2_opposingSend_record(3,175)=4

       exch2_neighbourId(4,175)=174
       exch2_pi(1,4,175)=1
       exch2_pi(2,4,175)=0
       exch2_pj(1,4,175)=0
       exch2_pj(2,4,175)=1
       exch2_oi(4,175)=0
       exch2_oi_f(4,175)=0
       exch2_oj(4,175)=0
       exch2_oj_f(4,175)=0
       exch2_itlo_c(4,175)=9
       exch2_ithi_c(4,175)=9
       exch2_jtlo_c(4,175)=0
       exch2_jthi_c(4,175)=5
       exch2_opposingSend_record(4,175)=3
       RETURN
       END
                                                  
       SUBROUTINE W2_E2SETUP_176
C      Topology for tile 176
#include "W2_EXCH2_TOPOLOGY.h"
       exch2_tnx(176)=8
       exch2_tny(176)=4
       exch2_tbasex(176)=24
       exch2_tbasey(176)=28
       exch2_txglobalo(176)=185
       exch2_tyglobalo(176)=29
       exch2_isWedge(176)=0
       exch2_isNedge(176)=1
       exch2_isEedge(176)=1
       exch2_isSedge(176)=0
       exch2_myFace(176)=6
       exch2_mydnx(176)=32
       exch2_mydny(176)=32
       exch2_nNeighbours(176)=4

       exch2_neighbourId(1,176)=4
       exch2_pi(1,1,176)=1
       exch2_pi(2,1,176)=0
       exch2_pj(1,1,176)=0
       exch2_pj(2,1,176)=1
       exch2_oi(1,176)=0
       exch2_oi_f(1,176)=0
       exch2_oj(1,176)=32
       exch2_oj_f(1,176)=32
       exch2_itlo_c(1,176)=0
       exch2_ithi_c(1,176)=9
       exch2_jtlo_c(1,176)=0
       exch2_jthi_c(1,176)=0
       exch2_opposingSend_record(1,176)=2

       exch2_neighbourId(2,176)=172
       exch2_pi(1,2,176)=1
       exch2_pi(2,2,176)=0
       exch2_pj(1,2,176)=0
       exch2_pj(2,2,176)=1
       exch2_oi(2,176)=0
       exch2_oi_f(2,176)=0
       exch2_oj(2,176)=0
       exch2_oj_f(2,176)=0
       exch2_itlo_c(2,176)=1
       exch2_ithi_c(2,176)=8
       exch2_jtlo_c(2,176)=5
       exch2_jthi_c(2,176)=5
       exch2_opposingSend_record(2,176)=1

       exch2_neighbourId(3,176)=31
       exch2_pi(1,3,176)=0
       exch2_pi(2,3,176)=1
       exch2_pj(1,3,176)=-1
       exch2_pj(2,3,176)=0
       exch2_oi(3,176)=32
       exch2_oi_f(3,176)=32
       exch2_oj(3,176)=33
       exch2_oj_f(3,176)=34
       exch2_itlo_c(3,176)=0
       exch2_ithi_c(3,176)=5
       exch2_jtlo_c(3,176)=0
       exch2_jthi_c(3,176)=0
       exch2_opposingSend_record(3,176)=3

       exch2_neighbourId(4,176)=175
       exch2_pi(1,4,176)=1
       exch2_pi(2,4,176)=0
       exch2_pj(1,4,176)=0
       exch2_pj(2,4,176)=1
       exch2_oi(4,176)=0
       exch2_oi_f(4,176)=0
       exch2_oj(4,176)=0
       exch2_oj_f(4,176)=0
       exch2_itlo_c(4,176)=9
       exch2_ithi_c(4,176)=9
       exch2_jtlo_c(4,176)=0
       exch2_jthi_c(4,176)=5
       exch2_opposingSend_record(4,176)=3
       RETURN
       END
                                                  
